

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 100%;

}
/* ------------------------------- 3. Slider Styles ------------------------------- */

#fwslider {
    position: relative;
    width:100%;
}

#fwslider .slide {
    display: none;
    position: absolute;
    top:0;
    left:0;
    z-index: 0;
    width:100%;
}

#fwslider .slide img {
    width:100%;
	border-top:1px solid #222222;
	border-bottom:1px solid #222222;
}

#fwslider .slidePrev {
    background:#000;
    width:50px;
    height:50px;
    position: absolute;
    top:50%;
    left:-50px;
    opacity:0.5;
    z-index: 10;
}

#fwslider .slidePrev span {
	background-image: url("../images/arrows.png");
	width: 45px;
	height: 45px;
	float: left;
	background-position: -10% 50%;
	background-repeat: no-repeat;
	cursor: pointer;
}
#fwslider .slideNext {
    background:#000;
    width:50px;
    height:50px;
    position: absolute;
    top:50%;
    right:-50px;
    opacity:0.5;
    z-index: 10;
}

#fwslider .slideNext span {
    background-image:url("../images/arrows.png");
    width:45px;
    height:45px;
    float:left;
    background-position:90% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

#fwslider .timers {
    height:3px;
    position: absolute;
    bottom:15px;
    right:0;
    z-index: 3;
}

#fwslider .timer {
    height:3px;
    width:35px;
    background-color: #000;
    float:left;
    margin-right: 7px;
}

#fwslider .progress {
    height:3px;
    width:0%;
    background-color: #3366cc;
    float:left;
}

#fwslider .slide_content {
    top:0;
    left:0;
    position: absolute;
    width:100%;
    height:100%;
}

#fwslider .slide_content_wrap { /* Slider Text Content Container Style */
    max-width:1280px;
    margin:5% auto;
}

#fwslider .title {  /* Slider Title Style */
	background: url("../images/brass3b.jpg");
    border-top: 1px solid #999999;
	border-bottom: 1px solid #4f4f4f;
	border-left: 1px solid #777777;
	border-right: 1px solid #555555;
	margin-left:4%;
	margin-top:-4.5%;
	font-family: 'Belleza', serif;
	text-transform: capitalize;
	opacity: 0;
	color: #000000;
	font-size: 2.0em;
	text-shadow: 2px 2px 2px rgba(0,0,0, 0.4);
	padding: 11px 20px;
	float: left;
	font-style: normal;
	font-weight: 400;
	letter-spacing:1px;
	-webkit-text-stroke: 0px;
	border-radius:12px;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	-o-border-radius:12px;
	-webkit-box-shadow: 14px 9px 9px 1px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 14px 9px 9px 1px rgba(0, 0, 0, 0.50);
    box-shadow: 14px 9px 9px 1px rgba(0, 0, 0, 0.50);
}

#fwslider .description { /* Slider Description Style */
	margin-left:4%;
    opacity: 0;
    color:#222222;
    font-size:1.1em;
	text-shadow: 2px 2px 3px rgba(0,0,0, 0.0);
    background-image: url("../images/textureBG_white.jpg");
    padding:6px 22px;
    clear:both;
    float:left;
    margin-top:15px;
    line-height:24px;
    font-style: normal;
    font-weight: 400;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #4f4f4f;
	border-left: 1px solid #777777;
	border-right: 1px solid #555555;
	border-radius:12px;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	-o-border-radius:12px;
	-webkit-box-shadow: 14px 9px 9px 1px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 14px 9px 9px 1px rgba(0, 0, 0, 0.50);
    box-shadow: 14px 9px 9px 1px rgba(0, 0, 0, 0.50);
}
/* ------------------------------- 4. Media Query Max Width 1300, Min Width 720 ------------------------------- */
@media only screen and (min-width:720px) and (max-width: 1300px) {

    #fwslider .slide_content_wrap { margin-left:50px; margin-top:5%;}
    #fwslider .title { font-size:2.0em; }
    #fwslider .description {  font-size:1.1em;}

}

/* ------------------------------- 5. Media Query Max Width 719 ------------------------------- */

@media only screen and (max-width:719px) {

    #fwslider .slide_content_wrap { display:none; }
    #fwslider .timers { display:none; }
    #fwslider .slide_content {cursor: pointer;}

}