
.bodyBG {
		background-image: -ms-radial-gradient(center top, ellipse farthest-corner, #F0F0F0 0%, #c0c0c0 50%, #6B6d80 100%);
		background-image: -moz-radial-gradient(center top, ellipse farthest-corner, #F0F0F0 0%, #c0c0c0 50%, #6B6d80 100%);
		background-image: -o-radial-gradient(center top, ellipse farthest-corner, #F0F0F0 0%, #c0c0c0 50%, #6B6d80 100%);
		background-image: -webkit-gradient(radial, center top, 0, center top, 509, color-stop(0, #F0F0F0), color-stop(.5, #c0c0c0), color-stop(1, #6B6d80));
		background-image: -webkit-radial-gradient(center top, ellipse farthest-corner, #F0F0F0 0%, #c0c0c0 50%, #6B6d80 100%);
		background-image: radial-gradient(ellipse farthest-corner at center top, #F0F0F0 0%, #c0c0c0 50%, #6B6d80 100%);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
	}

.mtFooter {
		margin-top:8px;
		padding-left:20px;
	}
	
.nix {
		background-color:#ffffff;
		border:0px;
}
	
.bubble {
		margin-right:10px;
		margin-left:10px;
		width:33px;
		padding:7px;
		border:1px solid #888888;
		background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
		background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
		background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
		background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(35, #FFFFFF), color-stop(100, #F2F0Ef ));
		background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
		background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 35%, #F2F0Ef  100%);
		border-radius:50%;
		-webkit-border-radius:50%;
		-moz-border-radius:50%;
		-o-border-radius:50%;
		box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
    	-webkit-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
    	-moz-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
    	-o-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
		
	}

.fa-spin {
  -webkit-animation: fa-spin 5s linear;
  animation: fa-spin 5s linear;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(719deg);
    transform: rotate(719deg);
  }
}

.bump {
	font-size: 3.0em;
	margin:7px;
}

.cent {
	text-align:center;
}

.dltred {
	color:#aa6633;
	font-size: 1.3em;
}

.navbar-toggle {
  	position: relative;
  	float: right;
  	padding: 9px 10px;
  	margin-top: 8px;
  	margin-right: 15px;
  	margin-bottom: 8px;
  	background-color: transparent;
  	background-image: none;
  	border: 1px solid transparent;
  	border-radius: 5px;
}

.rcs   {
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		-o-border-radius:5px;
		box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
    	-webkit-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
    	-moz-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
    	-o-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
	}

h1	{	font-family: 'Architects Daughter', cursive;
		font-size: 3.0em;	
		letter-spacing: 0px;
		margin-top:14px;
		margin-bottom:15px;
		color:#3366aa;
		text-shadow: 2px 2px 3px rgba(0,0,0, 0.3);
	}

.tab-pane h1	{
		font-size: 2.2em;	
		letter-spacing: 0px;
		margin-top:14px;
		color:#3366aa;
		text-shadow: 2px 2px 3px rgba(0,0,0, 0.3);
	}

h2	{	font-size: 1.8em;
		margin-top:20px;
		color:#3366aa;
	}

h3	{	font-family: 'Architects Daughter', cursive;
		font-size: 2em;
		color:#3366aa;
	}

h4	{	margin-top:24px;
		color:#3366aa;
	}

h2, h3, h4	{border-bottom:1px solid #bbccdd;
		color:#3366aa;
	}

.quicks	{
		text-align: center;
		vertical-align: top;
		text-shadow: 3px 4px 4px rgba(0,0,0, 0.3);
		display:inline-block;
		width:110px;
		height:90px;
}

.star { text-shadow: 3px 4px 4px rgba(0,0,0, 0.3);
		font-size:0.9em;
		color:#ee4433;
		margin:8px;
}

.photo {
		margin-left:0px;
		margin-bottom:0px;
		padding:9px;
		border:1px solid #aaaaaa;
		background-image: -ms-linear-gradient(top, #c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
		background-image: -moz-linear-gradient(top, #c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
		background-image: -o-linear-gradient(top, ##c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c1c5c7), color-stop(35, #edeff6), color-stop(100, #c1c5c7));
		background-image: -webkit-linear-gradient(top, #c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
		background-image: linear-gradient(to bottom, #c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
		border-radius:11px;
		-webkit-border-radius:11px;
		-moz-border-radius:11px;
		-o-border-radius:11px;
		box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.30);
    	-webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.30);
    	-moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.30);
    	-o-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.30);
	}

.photo3 {
		margin-right:1px;
		margin-bottom:15px;
		padding:3px;
		width:100%;
		max-width: 165px;
		border:1px solid #c3c4c5;
		background-color: #ffffff;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		-o-border-radius:5px;
		box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.30);
    	-webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.30);
    	-moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.30);
    	-o-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.30);
	}

.photoPage {
		margin-left:20px;
		margin-bottom:20px;
		padding:8px;
		border:1px solid #aaaaaa;
		background-image: -ms-linear-gradient(top, #c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
		background-image: -moz-linear-gradient(top, #c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
		background-image: -o-linear-gradient(top, ##c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c1c5c7), color-stop(35, #edeff6), color-stop(100, #c1c5c7));
		background-image: -webkit-linear-gradient(top, #c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
		background-image: linear-gradient(to bottom, #c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
		border-radius:11px;
		-webkit-border-radius:11px;
		-moz-border-radius:11px;
		-o-border-radius:11px;
		box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.30);
    	-webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.30);
    	-moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.30);
    	-o-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.30);
	}

.well2 {
		background: #eeeeee;
		background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
		background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
		background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
		background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(35, #FFFFFF), color-stop(100, #F2F0Ef ));
		background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
		background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 35%, #F2F0Ef  100%);
		box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-webkit-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-moz-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-o-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
	}

.well3 {
		background: #eeeeee url("../images/textureBG_white.jpg");
		border:1px solid #999999;
		box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-webkit-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-moz-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-o-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
	}

.slideBg	{
		background-image: -ms-radial-gradient(center top, ellipse farthest-corner, #F0F0F0 0%, #c0c0c0 50%, #6B6d80 100%);
		background-image: -moz-radial-gradient(center top, ellipse farthest-corner, #F0F0F0 0%, #c0c0c0 50%, #6B6d80 100%);
		background-image: -o-radial-gradient(center top, ellipse farthest-corner, #F0F0F0 0%, #c0c0c0 50%, #6B6d80 100%);
		background-image: -webkit-gradient(radial, center top, 0, center top, 509, color-stop(0, #F0F0F0), color-stop(.5, #c0c0c0), color-stop(1, #6B6d80));
		background-image: -webkit-radial-gradient(center top, ellipse farthest-corner, #F0F0F0 0%, #c0c0c0 50%, #6B6d80 100%);
		background-image: radial-gradient(ellipse farthest-corner at center top, #F0F0F0 0%, #c0c0c0 50%, #6B6d80 100%);
		width:100%;
		border:1px solid #999999;
}

.row well2 {
		background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
		background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
		background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
		background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(35, #FFFFFF), color-stop(100, #F2F0Ef ));
		background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
		background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 35%, #F2F0Ef  100%);
		box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-webkit-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-moz-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-o-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
	}

.logo {
		width:230px;
		height:168px;
		background: url("../images/membersites-logo-glow2png");
		margin-top:-15px;
	}

.mtFooter {
		margin-top:8px;
		padding-left:20px;
	}

.header-bar {
		height:25px;
		background-image: -ms-linear-gradient(top, #b1b5b7 0%, #eaecf3 35%, #b1b5b7 100%);
		background-image: -moz-linear-gradient(top, #b1b5b7 0%, #eaecf3 35%, #b1b5b7 100%);
		background-image: -o-linear-gradient(top, ##b1b5b7 0%, #eaecf3 35%, #b1b5b7 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b1b5b7), color-stop(35, #eaecf3), color-stop(100, #b1b5b7));
		background-image: -webkit-linear-gradient(top, #b1b5b7 0%, #eaecf3 35%, #b1b5b7 100%);
		background-image: linear-gradient(to bottom, #b1b5b7 0%, #eaecf3 35%, #b1b5b7 100%);
		border:1px solid #999c9e;
	}


.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 10px;
  border: 1px solid transparent;
	}

.navbar-inner {
		background-image: -ms-linear-gradient(top, #212527 0%, #3a3c43 35%, #212527 100%);
		background-image: -moz-linear-gradient(top, #212527 0%, #3a3c43 35%, #212527 100%);
		background-image: -o-linear-gradient(top, ##212527 0%, #3a3c43 35%, #212527 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #212527), color-stop(35, #3a3c43), color-stop(100, #212527));
		background-image: -webkit-linear-gradient(top, #212527 0%, #3a3c43 35%, #212527 100%);
		background-image: linear-gradient(to bottom, #212527 0%, #3a3c43 35%, #212527 100%);
		box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-webkit-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-moz-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-o-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
		margin: 0px 0px;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		-o-border-radius:5px;
		border:1px solid #222229;
	}

.navbar-inverse .navbar-text {
  		color: #999;
	}
.navbar-inverse .navbar-nav > li > a {
  		padding:10px;
  		color: #6ad;

  		background-image: -ms-radial-gradient(center, ellipse farthest-corner, #242629 35%, #141619  100%);
		background-image: -moz-radial-gradient(center, ellipse farthest-corner, #242629 35%, #141619  100%);
		background-image: -o-radial-gradient(center, ellipse farthest-corner, #242629 35%, #141619  100%);
		background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(35, #242629), color-stop(100, #141619 ));
		background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #242629 35%, #141619  100%);
		background-image: radial-gradient(ellipse farthest-corner at center, #242629 35%, #141619  100%);
  		text-shadow: 2px 2px 3px rgba(0,0,0, 0.5);
  		border-top:1px solid #545454;
		border-bottom:1px solid #010101;
		border-left:1px solid #424242;
		border-right:1px solid #191919;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		-o-border-radius:5px;
		margin-bottom:3px;
		margin-right:3px;
		margin-left:0px;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;
	}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  		color: #fff;
  		background-image: -ms-radial-gradient(center, ellipse farthest-corner, #445577 35%, #333336  100%);
		background-image: -moz-radial-gradient(center, ellipse farthest-corner, #445577 35%, #333336  100%);
		background-image: -o-radial-gradient(center, ellipse farthest-corner, #445577 35%, #333336  100%);
		background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(35, #445577), color-stop(100, #333336 ));
		background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #445577 35%, #333336  100%);
		background-image: radial-gradient(ellipse farthest-corner at center, #445577 35%, #333336  100%);
	}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  		color: #fff;
  		background-color: #080808;
	}

.nav-pills > li > a {
		font-size: 1.1em;
		font-weight: bold;
		letter-spacing: .2px;
		padding:7px;
		background-image: -ms-radial-gradient(center, ellipse farthest-corner, #eef1f4 35%, #e0e6e9  100%);
		background-image: -moz-radial-gradient(center, ellipse farthest-corner, #eef1f4 35%, #e0e6e9  100%);
		background-image: -o-radial-gradient(center, ellipse farthest-corner, #eef1f4 35%, #e0e6e9  100%);
		background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(35, #eef1f4), color-stop(100, #e0e6e9 ));
		background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #eef1f4 35%, #e0e6e9  100%);
		background-image: radial-gradient(ellipse farthest-corner at center, #eef1f4 35%, #e0e6e9  100%);
	
		border:1px solid #babfd9;
		border-radius: 5px;
		color:#3366aa;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;
}
.nav-pills > li > a:hover {
  		color:#334466;
  		border:1px solid #c1c6cf;
  		background-image: -ms-radial-gradient(center, ellipse farthest-corner, #ffffff 35%, #e0e6ef  100%);
		background-image: -moz-radial-gradient(center, ellipse farthest-corner, #ffffff 35%, #e0e6ef  100%);
		background-image: -o-radial-gradient(center, ellipse farthest-corner, #ffffff 35%, #e0e6ef  100%);
		background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(35, #ffffff), color-stop(100, #e0e6ef ));
		background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #ffffff 35%, #e0e6ef  100%);
		background-image: radial-gradient(ellipse farthest-corner at center, #ffffff 35%, #e0e6ef  100%);
		box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
    	-webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
    	-moz-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
    	-o-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
	}

.nav-pills > li + li {
  		margin-left: 2px;
  		margin-bottom:2px;
	}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  		color:#334466;
  		background-color:#e0e6ef;
  		background-image: -ms-radial-gradient(center, ellipse farthest-corner, #ffffff 35%, #e1e6ef  100%);
		background-image: -moz-radial-gradient(center, ellipse farthest-corner, #ffffff 35%, #e1e6ef  100%);
		background-image: -o-radial-gradient(center, ellipse farthest-corner, #ffffff 35%, #e1e6ef  100%);
		background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(35, #ffffff), color-stop(100, #e1e6ef ));
		background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #ffffff 35%, #e1e6ef  100%);
		background-image: radial-gradient(ellipse farthest-corner at center, #ffffff 35%, #e1e6ef  100%);
		box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
    	-webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
    	-moz-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
    	-o-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
	}

.messageBar {
		background-image: -ms-linear-gradient(top, #c1c5c7 0%, #dddfe6 35%, #c1c5c7 100%);
		background-image: -moz-linear-gradient(top, #c1c5c7 0%, #dddfe6 35%, #c1c5c7 100%);
		background-image: -o-linear-gradient(top, ##c1c5c7 0%, #dddfe6 35%, #c1c5c7 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c1c5c7), color-stop(35, #dddfe6), color-stop(100, #c1c5c7));
		background-image: -webkit-linear-gradient(top, #c1c5c7 0%, #dddfe6 35%, #c1c5c7 100%);
		background-image: linear-gradient(to bottom, #c1c5c7 0%, #dddfe6 35%, #c1c5c7 100%);
		font-size: 0.88em;
		font-weight: bold;
		color:#324252;
		text-shadow: 1px 1px 2px rgba(233,233,233, 0.9);
		margin-bottom:5px;
		margin-top:-14px;
		padding-top:1px;
		padding-bottom:1px;
		border:1px solid #999a9c;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		-o-border-radius:4px;
		box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
    	-webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
    	-moz-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
    	-o-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
	}

.silver {
		background-image: -ms-linear-gradient(top, #c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
		background-image: -moz-linear-gradient(top, #c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
		background-image: -o-linear-gradient(top, ##c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c1c5c7), color-stop(35, #edeff6), color-stop(100, #c1c5c7));
		background-image: -webkit-linear-gradient(top, #c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
		background-image: linear-gradient(to bottom, #c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
	}