
.bodyBG {
		background: url("../images/textureBG_white.jpg");
	}
	
table {
	border:1px solid #aaaaaa;
	box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.20);
    -webkit-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.20);
    -o-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.20);
	}

thead {
		font-size:1em;
		background-color:#ccddee;
	}
	
.rt {
		text-align:right;
	}
	
.mtFooter {
		margin-top:8px;
		padding-left:20px;
	}
	
.nix {
		background-color:#ffffff;
		border:0px;
}
	
.bubble {
		margin-right:5px;
		width:33px;
		padding:7px;
		border:1px solid #888888;
		border-radius:50%;
		-webkit-border-radius:50%;
		-moz-border-radius:50%;
		-o-border-radius:50%;
		box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.20);
    	-webkit-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.20);
    	-moz-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.20);
    	-o-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.20);
		background:#ffffff;
	}
	
	
.dh-small {
		background-color:#dcecf6;
		line-height:1.0;
		margin-bottom:3px;
		margin-top:10px;
		color:#222222;
		border-top:1px solid #aaaaaa;
		border-bottom:1px solid #999999;
  		font-style: italic;
	}

.nU	a:hover {text-decoration:none;
	}

.row-hilite:hover {background-color:#ffeecc;
	}

h1, h2, h3, h4	{border-bottom:1px solid #bbccdd;
	}
	
p	{ text-indent:0px;
	}

.lgIcon	{font-size:1em;
	}


.tabsbar2 {
		margin-top: -15px;
}
.nav-bottom {
		margin-bottom:20px;
}
	
.navbar-inner {
		background-image: -ms-linear-gradient(top, #d1d5d7 0%, #fafafd 35%, #d1d5d7 100%);
		background-image: -moz-linear-gradient(top, #d1d5d7 0%, #fafafd 35%, #d1d5d7 100%);
		background-image: -o-linear-gradient(top, #d1d5d7 0%, #fafafd 35%, #d1d5d7 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d1d5d7), color-stop(35, #fafafd), color-stop(100, #d1d5d7));
		background-image: -webkit-linear-gradient(top, #d1d5d7 0%, #fafafd 35%, #d1d5d7 100%);
		background-image: linear-gradient(to bottom, #d1d5d7 0%, #fafafd 35%, #d1d5d7 100%);
		box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.50);
    	-webkit-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.50);
    	-moz-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.50);
    	-o-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.50);
		text-shadow: 2px 2px 3px rgba(0,0,0, 0.5);
		margin: 0px 7px;
		border-radius:9px;
		-webkit-border-radius:9px;
		-moz-border-radius:9px;
		-o-border-radius:9px;
		border-top:1px solid #999999;
		border-bottom:1px solid #666666;
		border-left:1px solid #888888;
		border-right:1px solid #777777;
	}
	
.navbar-inner2 {
		background-image: -ms-linear-gradient(top, #1E2226 0%, #343B42 50%, #1E2226 100%);
		background-image: -moz-linear-gradient(top, #1E2226 0%, #343B42 50%, #1E2226 100%);
		background-image: -o-linear-gradient(top, #1E2226 0%, #343B42 50%, #1E2226 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1E2226), color-stop(50, #343B42), color-stop(100, #1E2226));
		background-image: -webkit-linear-gradient(top, #1E2226 0%, #343B42 50%, #1E2226 100%);
		background-image: linear-gradient(to bottom, #1E2226 0%, #343B42 50%, #1E2226 100%);
		box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.50);
    	-webkit-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.50);
    	-moz-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.50);
    	-o-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.50);
		text-shadow: 2px 2px 3px rgba(0,0,0, 0.5);
		margin: 0px 9px;
		border-radius:9px;
		-webkit-border-radius:9px;
		-moz-border-radius:9px;
		-o-border-radius:9px;
		border-top:1px solid #999999;
		border-bottom:1px solid #666666;
		border-left:1px solid #888888;
		border-right:1px solid #777777;
	}
	
.navbar-12 {
		background-image: -ms-linear-gradient(top, #d1d5d7 0%, #fafafd 45%, #d1d5d7 100%);
		background-image: -moz-linear-gradient(top, #d1d5d7 0%, #fafafd 45%, #d1d5d7 100%);
		background-image: -o-linear-gradient(top, #d1d5d7 0%, #fafafd 45%, #d1d5d7 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d1d5d7), color-stop(45, #fafafd), color-stop(100, #d1d5d7));
		background-image: -webkit-linear-gradient(top, #d1d5d7 0%, #fafafd 45%, #d1d5d7 100%);
		background-image: linear-gradient(to bottom, #d1d5d7 0%, #fafafd 45%, #d1d5d7 100%);
		box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.50);
    	-webkit-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.50);
    	-moz-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.50);
    	-o-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.50);
		text-shadow: 2px 2px 3px rgba(0,0,0, 0.5);
		margin: 0px 7px;
		border-radius:9px;
		-webkit-border-radius:9px;
		-moz-border-radius:9px;
		-o-border-radius:9px;
		border-top:1px solid #999999;
		border-bottom:1px solid #666666;
		border-left:1px solid #888888;
		border-right:1px solid #777777;
		
	}
	
.logo {
		width:230px;
		height:68px;
		background: url("../images/membersites-logo-glow.png");
		margin-top:-15px;
	}
	
.starch {
		width:330px;
		height:68px;
		margin-top:-15px;
	}	

	
.rcs, rcs a:link  {
		margin:3px;
		background-color:#efefef;
		color:#fafafa;
		border:1px solid #999999;
		text-shadow: 2px 2px 3px rgba(0,0,0, 0.3);
		border-radius:7px;
		-webkit-border-radius:7px;
		-moz-border-radius:7px;
		-o-border-radius:7px;
		box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
    	-webkit-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
    	-moz-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
    	-o-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;
	}
	
.rcs a:active {
		color:#ffddaa;
		background-color:#efefef;
		border-radius:12px;
		-webkit-border-radius:12px;
		-moz-border-radius:12px;
		-o-border-radius:12px;
}
	
.rcs li > a:hover {
		color:#ffffff;
		background-image: -ms-radial-gradient(center, ellipse farthest-corner, #3A5Ca7 0%, #3A5C77 30%, #1E2226 100%);
		background-image: -moz-radial-gradient(center, ellipse farthest-corner, #3A5Ca7 0%, #3A5C77 30%, #1E2226 100%);
		background-image: -o-radial-gradient(center, ellipse farthest-corner, #3A5Ca7 0%, #3A5C77 30%, #1E2226 100%);
		background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #3A5Ca7), color-stop(30, #3A5C77), color-stop(100, #1E2226));
		background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #3A5Ca7 0%, #3A5C77 30%, #1E2226 100%);
		background-image: radial-gradient(ellipse farthest-corner at center, #3A5Ca7 0%, #3A5C77 30%, #1E2226 100%);
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:74px;
		-o-border-radius:4px;
	}
	

	
.sideNavBG {
		background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
		background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
		background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
		background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(35, #FFFFFF), color-stop(100, #F2F0Ef ));
		background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
		background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 35%, #F2F0Ef  100%);
		box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-webkit-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-moz-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-o-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
}
	

	
.nav nav-pills nav-pills-sm { border:1px solid #999999;
}

.navbar-nav > li > a:link a:visited {

		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		-o-border-radius:4px;
}
.navbar-nav > li > a:hover {
		color:#ffffff;
		
		border-radius:7px;
		-webkit-border-radius:7px;
		-moz-border-radius:7px;
		-o-border-radius:7px;
}
.navbar-nav > li > a:active {
		border-radius:7px;
		-webkit-border-radius:7px;
		-moz-border-radius:7px;
		-o-border-radius:7px;
}

.dropdown-menu a {
		text-shadow:none;
	}

.dropdown-menu a:hover {
		background:#cfdfef;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		-o-border-radius:4px;
	}
	
.rounds {
		border-radius:7px;
		-webkit-border-radius:7px;
		-moz-border-radius:7px;
		-o-border-radius:7px;
	}
	
.rcs2 a {
		border:1px solid #bbbbbb;
		padding:4px;
		text-shadow: none;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		-o-border-radius:4px;
		box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
    	-webkit-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
    	-moz-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
    	-o-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
	}
	
.rcs2 a:hover {
		text-shadow: none;
		border:1px solid #bbbbbb;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		-o-border-radius:4px;
		box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
    	-webkit-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
    	-moz-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
    	-o-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
	}

.rcs3 a:link {
		border:1px solid #bbbbbb;
		margin:0px;
		text-shadow: none;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		-o-border-radius:4px;
		box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
    	-webkit-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
    	-moz-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
    	-o-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
	}
	
.rcs3 a:hover {
		border:1px solid #bbbbbb;
		margin:0px;
		text-shadow: none;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		-o-border-radius:4px;
		box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
    	-webkit-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
    	-moz-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
    	-o-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
	}
	

	
.well2 {
		background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
		background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
		background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
		background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(35, #FFFFFF), color-stop(100, #F2F0Ef ));
		background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
		background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 35%, #F2F0Ef  100%);
		box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-webkit-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-moz-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-o-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
	}
	
.well3 {
		background-color:#ffffff;
		box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.20);
    	-webkit-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.20);
    	-moz-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.20);
    	-o-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.20);
	}
	
.imgr	{
	background-color:#ffffff;
	padding:7px;
	border-radius:7px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	-o-border-radius:7px;
	border-top:1px solid #999999;
	border-bottom:1px solid #666666;
	border-left:1px solid #888888;
	border-right:1px solid #777777;
	-webkit-box-shadow: 3px 4px 7px 1px rgba(0, 0, 0, 0.40);
    -moz-box-shadow: 3px 4px 7px 1px rgba(0, 0, 0, 0.40);
    box-shadow: 3px 4px 7px 1px rgba(0, 0, 0, 0.40);
	float:right;
	margin:0 0 15px 15px;
	clear:right;
	}
	
.imgl	{
	border:1px solid #aaaaaa;
	background-color:#22222c;
	float:left; 
	margin:0 15px 15px 0; 
	clear:left;}

.bindingTest	{
	width:100%;
	border:1px solid #aaaaaa;
	box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.20);
    -webkit-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.20);
    -o-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.20);
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	}

#map-canvas { 
	height: 350px;
	border-radius:7px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	-o-border-radius:7px;
	border-top:1px solid #999999;
	border-bottom:1px solid #666666;
	border-left:1px solid #888888;
	border-right:1px solid #777777;
	-webkit-box-shadow: 3px 4px 7px 1px rgba(0, 0, 0, 0.40);
    -moz-box-shadow: 3px 4px 7px 1px rgba(0, 0, 0, 0.40);
    box-shadow: 3px 4px 7px 1px rgba(0, 0, 0, 0.40);
	}
	
.calFrame {
	width: 100%;
	height: 350px;
	border-radius:7px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	-o-border-radius:7px;
	border-top:1px solid #999999;
	border-bottom:1px solid #666666;
	border-left:1px solid #888888;
	border-right:1px solid #777777;
	-webkit-box-shadow: 3px 4px 7px 1px rgba(0, 0, 0, 0.40);
    -moz-box-shadow: 3px 4px 7px 1px rgba(0, 0, 0, 0.40);
    box-shadow: 3px 4px 7px 1px rgba(0, 0, 0, 0.40);
	}