			
		
  <div class="container">
    <div class="row" style="margin-top:0px;">
      <div class="col-md-12">
        <div class="well well2 planks">

			<h1 style="margin-left:1px;margin-top:5px;color:#ffffff;"><i class="fa fa-spin fa-heart star"></i>About Us</h1>
             

            <div class="row">
              <div class="col-md-12">
                <div class="well well2">
                  <img src="common/images/buy-local2.png" style="width:40%;max-width:165px;" class="pull-right" alt="" >
                	<h3>MemberSites</h3>
                    
                     <p>Established in 2009, this website is provided and maintained by MemberSites, LLC as a free service to the community and is located in Cashiers, North Carolina. All local business are allowed to participate free of charge and have a free business listing and MemberSite. If your business is not listed here then sign up now!</p>
                     <p>Thank you for your interest. Please use the form on the Contact Us page with questions or suggestions.</p> 

                     <p><a href="#/contact"><button type="submit" class="btn btn-primary rcs" style="margin-top:5px;">Contact Us</button></a>&nbsp;<a href="#/signup"><button type="submit" class="btn btn-success rcs" style="margin-top:5px;">Go To Sign Up Page</button></a></p>

                     

                </div>
              </div>
            </div> 

            <div class="row"> 
                <div class="col-md-12">
                  <div class="well well2">

                  <h3>Thank You For Your Support!</h3>

                      <p class="storeText">We would like to thank the following businesses for supporting this site:</p>
                      <div class="row">
                      
                      <div class="col-md-6 col-sm-6 col-xs-12 storeText">
                      <ul>
                        <li>High Hampton Inn &amp; Resort</li>
                        <li>Lonesome Valley</li>
                        <li>Re/Max Summit Properties</li>
                        <li>The Laurel Magazine</li>
                        <li>Dovetail Antiques</li>
                        <li>The Classics</li>
                        <li>Pebble Creek Village</li>
                        <li>JJ's Eatery &amp; Canteen</li>
                        <li>Holley Heating &amp; Air Conditioning</li>
                        <li>Mica's Restaurant</li>
                        <li>Blue Ridge Public Safety</li>
                      </ul>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 storeText">
                      <ul>
                        <li>Landmark Realty Group</li>
                        <li>Cashiers-Highlands Humane Society</li>
                        <li>Macon Bank</li>
                        <li>Hampton Inn &amp; Suites</li>
                        <li>The Orchard Restaurant</li>
                        <li>Luxury Lakefront Cabins</li>
                        <li>The Laurelwood Inn</li>
                        <li>Sapphire National Golf Club</li>
                        <li>CashiersGolfing.com</li>
                        <li>Glenville Plumbing</li>
                        
                      </ul>
                    </div>
                  </div>
                      
                      <h3>Credits</h3>
                     <p class="storeText">&copy; 2009-2015 <a href="http://www.membersites.net" target="_blank">MemberSites, LLC</a> &bull; All Rights Reserved</p>
                     <p class="storeText">Website application, design and programming by <a href="http://www.stevenjohannessen.com" target="_blank">Steve Johannessen</a> and <a href="http://www.webserviceswest.com" target="_blank">Jim Brewer</a>.</p>
                     
                     <br />
                    </div>
                </div>
            </div> 

            </div>  
            
        </div>
      </div>
    </div>
