			
		
  <div class="container">

    <div class="row" style="margin-top:0px;">
      <div class="col-md-12">
        <div class="well well2 planks">
          <span class="pull-right" style='display:block !important; width: 170px; margin-top:0px; margin-right:-11px;text-align: center; font-family: sans-serif; font-size: 12px;'><a href='http://www.wunderground.com/cgi-bin/findweather/getForecast?query=Cashiers, NC' title='Cashiers, NC Weather Forecast'><img src='http://weathersticker.wunderground.com/weathersticker/miniDial/language/english/US/NC/Cashiers.gif' class='rcs' alt='Find more about Weather in Cashiers, NC' /></a></span>

			     <h1 style="margin-left:1px;margin-top:5px;color:#ffffff;"><i class="fa fa-spin fa-heart star"></i>Activities</h1>

              <div class="row"> 
                <div class="col-md-2"> 
                    
                      <center>
                        <img src="common/images/buy-local2.png" style="width:100%;max-width:165px;" alt="" >
                        <a href="http://cashiersgolfing.com" target="_blank"><img src="common/images/bannerAds/cashiers_golfing_anim2.gif" class="photo3"></a>
                        <a href="http://highhamptoninn.com" target="_blank"><img src="common/images/bannerAds/high-hampton-ad1.jpg" class="photo3"></a>
                        <a href="https://www.facebook.com/pages/JJs-Canteen-Eatery/110135502348908?fref=ts" target="_blank"><img src="common/images/bannerAds/jjs-GP-ad-2015v3.gif" class="photo3"> </a>                     
                        <a href="http://www.thelaurelmagazine.com" target="_blank"><img src="common/images/bannerAds/LAURELchamberad.jpg" class="photo3"></a>
                        <a href="http://stevenjohannessen.com/classics" target="_blank"><img src="common/images/bannerAds/steveAd-2015-anim3.gif" class="photo3"></a>
                        <a href="http://www.theorchardcashiers.com" target="_blank"><img src="common/images/bannerAds/orchard.gif" class="photo3"> </a>
                         
                        
                      <br />
                      </center>
                </div>
                
                <div class="col-md-8"> 
                  

                  <div class="well well2">
                      <img src="common/images/sidebar1.jpg" class="photoPage pull-right rcs" alt="" >
                      <h3><i class="fa fa-heart star"></i>Welcome to Cashiers!</h3>
                      <p><b>Surrounding our village are many opportunities for outdoor enthusiasts, including hiking trails, camping, national, state and local parks, dramatic mountains, many waterfalls, fishing, boating and whitewater rafting, lakes, rivers, nationally-ranked golf courses, bicycling, skiing (water and snow), and horseback riding, just to name a few. Welcome to Cashiers, the Heart of the Blue Ridge Mountains!</b></p>
                      <br />
                      <h3><i class="fa fa-thumb-tack tree"></i>Waterfalls &amp; Hiking</h3>
                      <p>Cashiers is unique in the southeastern US in that we are actually a rain forest. The annual rainfall can reach 100 inches in a year. Because of this and our rock mountain topography we have a lot of waterfalls! Our lush green foresta and moss covered rocks all create a magical experience here on the plateau.</p>
                      <p>There many wonderful and exciting trails to explore in our area designed for all types of hikers. Climb a mountain, stroll along a stream or witness quiet valleys with entire rhodendron forests in bloom. We have many opportunities for exploration in the many trails in the area. Have a look at the Waterfall &amp; Trails Guide  - click on the link here.</p>
                      <p><a href="#/waterfalls" class="btn btn-primary rcs" style="margin:4px;">Waterfall &amp; Trails Guide</a></p>

                      <h3><i class="fa fa-thumb-tack tree"></i>Fishing</h3>
                      <p>World-class fly fishing awaits you in the cool streams and lakes in our area. Hire a guide or find your own favorite spot. The fly fishing map here is on the flyfishingtrail.com website where you can find more information about fishing in the area.</p>
                      <p><a href="http://www.flyfishingtrail.com/clients/862376/File/New%202014%20fly%20fishing%20map.pdf" target="_blank" class="btn btn-primary rcs" style="margin:4px;">Download Fly Fishing Guide</a></p>


                      <img src="common/images/sidebar7-1.jpg" class="photoPage pull-right rcs" alt="" >
                      
                      <h3><i class="fa fa-thumb-tack tree"></i>Golfing</h3>
                      <p>Cashiers is fast becoming a golfing mecca drawing golfers and second-home owners to the area from around the US. The 2013 PGA Senior Masters Tournament was held at one of our courses here to rave reviews. There are fourteen private clubs and three public clubs on the plateau. The area courses specialize in mountain golfing featuring dramatic views, spectacular fairways and outstanding amenities. Also, most of these courses are surrounded by greenspaces containing beautiful homes, many of them featured in prominent designer magazines. Visit CashiersGolfing.com to explore the opportunities available in one of our golfing communities.</p>
                      <p><a href="http://cashiersgolfing.com" target="_blank" class="btn btn-primary rcs" style="margin:4px;">Visit CashiersGolfing.com</a></p>

                      <h3><i class="fa fa-thumb-tack tree"></i>Boating and Rafting</h3>
                      <p>With all the water here you will find a lot of family fun and opportunities for play here in the mountains. Lake Glenville is just a few miles from the center of Cashiers on Hwy 107 North. Lake Glenville is the highest altitude lake in the eastern US and is surrounded by vacation homes and amenities. Rent a boat and spend the day with your family on the lake swimming or skiing or spend your time on one of the lake's beaches. There are many rental opportunities available for all kinds of budgets.</p>
                      <p>Whitewater rafting is popular here with several special outflows planned each year. There are rafting companies that gan guide you through the challenging trips available. A trip down the river through our rainforests is not to be missed!</p>
                      
                      <h3><i class="fa fa-thumb-tack tree"></i>Camping</h3>
                      <p>Lots of fresh air up here! There are many campsites available in the area to choose from. Many of the state and regional parks feature campgrounds with limited amenities. Most will require prior reservations during the busy season. As always we are at least 20 degrees cooler than the surrounding areas off the mountain, so prepare to dress for cool nights - AND - bring rain gear just in case we get a summer shower!</p>

                  </div>
                     
                </div>
                <div class="col-md-2"> 
                    <center>
                      
                      <a href="http://www.blueridgemtnshotel.com" target="_blank"><img src="common/images/bannerAds/hampton-inn-ad2.jpg" class="photo3"></a>
                      <a href="http://www.cashiersnc.com" target="_blank"><img src="common/images/bannerAds/luxury-lakefront-properties2.gif" class="photo3"></a>
                      <a href="http://dovetail-antiques.com" target="_blank"><img src="common/images/bannerAds/dovetail-ad-001.jpg" class="photo3"></a> 
                      <a href="http://www.lonesomevalley.com" target="_blank"><img src="common/images/bannerAds/LV-ad.jpg" class="photo3"></a>
                      <a href="http://www.martyjonesrealty.com" target="_blank"><img src="common/images/bannerAds/summit-properties-ad1.jpg" class="photo3"></a>
                      <a href="http://sapphirenational.com" target="_blank"><img src="common/images/bannerAds/sapphire-national.JPG" class="photo3"></a>
                      <a href="http://chhumanesociety.org" target="_blank"><img src="common/images/bannerAds/chhs-web-ad1.jpg" class="photo3"></a>


                      
                      <br />
                    <center>
                </div>
                
            </div> 
            <div ng-include="'public/partials/quickLinks.html'"></div>
            

            
             
        </div>
      </div>
    </div>