      
    
  <div class="container">
    <!--<div ng-include="'common/partials/innerfade.html'"></div>-->
    <div class="row" style="margin-top:0px;">
      <div class="col-md-12">
        <div class="well well2 planks">
          <span class="pull-right" style='display:block !important; width: 170px; margin-top:0px; margin-right:-11px;text-align: center; font-family: sans-serif; font-size: 12px;'><a href='http://www.wunderground.com/cgi-bin/findweather/getForecast?query=Cashiers, NC' title='Cashiers, NC Weather Forecast'><img src='http://weathersticker.wunderground.com/weathersticker/miniDial/language/english/US/NC/Cashiers.gif' class='rcs' alt='Find more about Weather in Cashiers, NC' /></a></span>

           <h1 style="margin-left:1px;margin-top:5px;color:#ffffff;"><i class="fa fa-spin fa-heart star"></i>Local Area & Business Calendars</h1>

              <div class="row"> 
                <div class="col-md-2"> 
                    
                      <center>
                        <img src="common/images/buy-local2.png" style="width:100%;max-width:165px;" alt="" >
                        <a href="http://dovetail-antiques.com" target="_blank"><img src="common/images/bannerAds/dovetail-ad-001.jpg" class="photo3"></a> 
                        <a href="http://cashiersgolfing.com" target="_blank"><img src="common/images/bannerAds/cashiers_golfing_anim2.gif" class="photo3"></a>
                        <a href="http://highhamptoninn.com" target="_blank"><img src="common/images/bannerAds/high-hampton-ad1.jpg" class="photo3"></a>
                        <a href="https://www.blueridgepublicsafety.com" target="_blank"><img src="common/images/bannerAds/blue-ridge-public-safety.jpg" class="photo3"></a>

                      <br />
                      </center>
                </div>
                
                <div class="col-md-8"> 
                  

                    <div class="row">

                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="well well2">
                          <h4 class="headerX"><i class="fa fa-thumb-tack tree"></i>The Laurel Magazine</h4>
                          <p>The Laurel Magazine provides a wealth of information on the activities and events on our plateau.</p>

                        <p><a href="http://highlands-cashierscalendar.com" target="_blank" class="btn btn-primary rcs" style="margin:4px;">Visit The Laurel Magazine Calendar</a></p>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="well well2">
                          <h4 class="headerX"><i class="fa fa-thumb-tack tree"></i>The Crossroads Chronicle</h4>
                          <p>The Crossroads Chronicle is our local newspaper and brings the community all the local news and events.</p>

                        <p><a href="http://crossroadschronicle.com" target="_blank" class="btn btn-primary rcs" style="margin:4px;">Visit The Crossroads Chronicle</a></p>
                        </div>
                      </div>

                    </div>

                    <div class="row">

                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="well well2">
                          <h4 class="headerX"><i class="fa fa-thumb-tack tree"></i>The Cashiers Chamber of Commerce</h4>
                          <p>The Cashiers Chamber of Commerce provides an events calendar for the western NC region.</p>

                        <p><a href="http://cashiers411.com" target="_blank" class="btn btn-primary rcs" style="margin:4px;">Visit The Chamber Calendar</a></p>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="well well2">
                          <h4 class="headerX"><i class="fa fa-thumb-tack tree"></i>The GCAMA Calendar</h4>
                          <p>The Greater Cashiers Area Merchants Association represents many of the retail and tourism businesses in our region.</p>

                        <p><a href="http://visitcashiersvalley.com/events/calendar-of-events/" target="_blank" class="btn btn-primary rcs" style="margin:4px;">Visit The GCAMA Calendar</a></p>
                        </div>
                      </div>

                    </div>

                    <div class="row">

                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="well well2">
                          <h4 class="headerX"><i class="fa fa-thumb-tack tree"></i>The Highlands Chamber of Commerce</h4>
                          <p>The Highlands Chamber of Commerce provides a calendar of member events and activities.</p>

                        <p><a href="http://highlandschamber.org" target="_blank" class="btn btn-primary rcs" style="margin:4px;">Visit Highlands Chamber Website</a></p>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="well well2">
                          <h4 class="headerX"><i class="fa fa-thumb-tack tree"></i>Sapphire Valley Resort</h4>
                          <p>Sapphire Valley boasts skiing, golf, and many other activities and events happening all year long. </p>

                        <p><a href="http://sapphirevalley.com/events.php" target="_blank" class="btn btn-primary rcs" style="margin:4px;">Visit The Sapphire Valley Calendar</a></p>
                        </div>
                      </div>

                      

                    </div>


                  <div ng-include="'public/partials/quickLinks.html'"></div>
                  
                </div>
                <div class="col-md-2"> 
                    <center>
                      <a href="http://www.cashiersnc.com" target="_blank"><img src="common/images/bannerAds/luxury-lakefront-properties2.gif" class="photo3"></a>
                      <a href="http://www.theorchardcashiers.com" target="_blank"><img src="common/images/bannerAds/orchard.gif" class="photo3"> </a> 
                      <a href="http://stevenjohannessen.com/classics/schedule.htm" target="_blank"><img src="common/images/bannerAds/steveAd-2015-anim.gif" class="photo3"></a>
                      <img src="common/images/buy-local2.png" style="width:100%;max-width:165px;" alt="" >
                      
                      <br />
                    <center>
                </div>
                
            </div> 

            

            
             
        </div>
      </div>
    </div>