

    <div id="myCarousel" class="carousel slide" data-interval="5000" data-ride="carousel">
    	<!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>   
       <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
            	<img src="common/images/headers/header4.jpg" width="100%" alt="" />
                
            </div>
            <div class="item">
            	<img src="common/images/headers/header2.jpg" width="100%" alt="" />
                
            </div>
            <div class="item">
            	<img src="common/images/headers/header1.jpg" width="100%" alt="" />
                
            </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
