              <div class="row">
                <div class="col-md-12"> 
                  <div class="well well3">
                      
                      <h3 style="margin-top:-10px;"><i class="fa fa-heart star"></i>Welcome to the Cashiers Country Store</h3>
                      <img src="common/images/country-store7.png" class="pull-right" style="margin-left:20px;margin-top:3px;margin-bottom:15px;margin-right:0px;" alt="" >
                      <p>Think Local - Shop Local - Buy Local.
                      <br />
                      Welcome, y'all! Come on in and have a look around. We're starting small and are growing! This website supports our community by providing all local businesses with an online marketplace for promoting their products and services. Lots of good stuff here!</p>
                      <a href="#/store" class="btn btn-primary rcs" style="margin:5px;">Visit The Cashiers Country Store</a>

                  </div>
                </div>
              </div>

