      
    
  <div class="container">
    <div class="row" style="margin-top:0px;">
      <div class="col-md-12">
        <div class="well well2 planks">
          
          <span class="pull-right" style='display:block !important; width: 170px; margin-top:0px; margin-right:-11px;text-align: center; font-family: sans-serif; font-size: 12px;'><a href='http://www.wunderground.com/cgi-bin/findweather/getForecast?query=Cashiers, NC' title='Cashiers, NC Weather Forecast'><img src='http://weathersticker.wunderground.com/weathersticker/miniDial/language/english/US/NC/Cashiers.gif' class='rcs' alt='Find more about Weather in Cashiers, NC' /></a></span>

          <h1 style="margin-left:1px;margin-top:5px;color:#ffffff;"><i class="fa fa-spin fa-heart star"></i>Entertainment Calendar</h1>

            <div class="row"> 
              <div class="col-md-2"> 
                <center>
                  <a href="https://www.facebook.com/pages/JJs-Canteen-Eatery/110135502348908?fref=ts" target="_blank"><img src="common/images/bannerAds/jjs-GP-ad-2015v3.gif" class="photo3"> </a>
                  <a href="http://www.thelaurelmagazine.com" target="_blank"><img src="common/images/bannerAds/LAURELchamberad.jpg" class="photo3"></a>
                  <a href="http://stevenjohannessen.com/classics" target="_blank"><img src="common/images/bannerAds/steveAd-2015-anim2.gif" class="photo3"></a>

                </center>
                <br />
              </div>
                
              <div class="col-md-8"> 
                <div class="well well2">

                  <iframe src="https://www.google.com/calendar/embed?title=Cashiers%20Area%20Entertainment%20Calendar&amp;showTitle=0&amp;height=450&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%232F6309&amp;ctz=America%2FNew_York" style=" border-width:0 " width="100%" height="450" frameborder="0" scrolling="no"></iframe>

                </div>
                <div ng-include="'public/partials/quickLinks.html'"></div>
              </div>
              <div class="col-md-2"> 
                <center>

                  
                  <a href="https://www.facebook.com/pages/Micas-Restaurant-Pub/112241462130709" target="_blank"><img src="common/images/bannerAds/micas-2015.gif" class="photo3"></a>
                  <a href="http://www.theorchardcashiers.com" target="_blank"><img src="common/images/bannerAds/orchard.gif" class="photo3"> </a> 
                  <a href="http://cashiersgolfing.com" target="_blank"><img src="common/images/bannerAds/cashiers_golfing_anim2.gif" class="photo3"></a>
                  

                <center>
              </div>
            </div> 

        </div>
      </div>
    </div>
  </div>