			
		
  <div class="container">
    <div class="row" style="margin-top:0px;">
      <div class="col-md-12">
        <div class="well well2 planks">
          <span class="pull-right" style='display:block !important; width: 170px; margin-top:0px; margin-right:-11px;text-align: center; font-family: sans-serif; font-size: 12px;'><a href='http://www.wunderground.com/cgi-bin/findweather/getForecast?query=Cashiers, NC' title='Cashiers, NC Weather Forecast'><img src='http://weathersticker.wunderground.com/weathersticker/miniDial/language/english/US/NC/Cashiers.gif' class='rcs' alt='Find more about Weather in Cashiers, NC' /></a></span>

			     <h1 style="margin-left:1px;margin-top:5px;color:#ffffff;"><i class="fa fa-spin fa-heart star"></i>Annual Events</h1>

              <div class="row"> 

                
                <div class="col-md-10 col-sm-9 col-xs-12"> 
                  <div class="well well2 well3">
                    <h3><i class="fa fa-heart star"></i>An Event For Everyone!</h3>
                    <p><b>We have many events for the entire family going on throughout the year. Welcome to Cashiers, North Carolina, the Heart of the Blue Ridge Mountains!</b></p>
                   <div><a class="btn btn-primary rcs" data-toggle="collapse" data-target="#pageMgrAdd">Show Event List</a></div>

<div id="pageMgrAdd" class="collapse">
                    <span style="font-weight:bold;">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12"> 
                        <a class="btn btn-primary btn-xs rcs pull-right" data-toggle="collapse" data-target="#pageMgrAdd">Hide List&nbsp;<i class="fa fa-times"></i></a><br /><br />
                      </div>
                        <div class="col-md-4">
                          <ul>
                            
                            <li><a href="#/events#2">Groovin On The Green</a></li>
                            <li><a href="#/events#3">Cashiers Leaf Festival</a></li>
                            <li><a href="#/events#4">Cashiers Christmas Parade</a></li>
                            <li><a href="#/events#1">Cashiers Designer Show House</a></li>
                            
                          </ul>
                        </div>
                        <div class="col-md-4">
                          <ul>
                            <li><a href="#/events#5">Rotary Club Arts &amp; Crafts Fair</a></li>
                            <li><a href="#/events#6">Tour de Cashiers</a></li>
                            <li><a href="#/events#7">Joy Garden Tour</a></li>
                            <li><a href="#/events#8">Arts On The Green</a></li>
                            
                          </ul>
                        </div>
                        <div class="col-md-4">
                          <ul>
                            <li><a href="#/events#9">Summer Colors Fine Art Show</a></li>
                            <li><a href="#/events#10">Cashiers Cares Christmas Lunch</a></li>
                            <li><a href="#/events#13">Christmas On The Green</a></li>
                            <!--<li><a href="#/events#11">Firemen's Country Breakfast</a></li>-->
                            <li><a href="#/events#12">The Sapphire Outhouse Race</a></li>
                          </ul>
                        </div>

                    </div>
                  </span>
                </div>
                  </div>
                  <div>
                    <img src="common/images/bannerAds/rotary-banner2015v4.gif" class="rcs" style="width:100%;margin-bottom:20px;" alt="" >
                  </div>

<a name="2"></a>
                  <div class="well well2 well3 eventWell">

                        <img src="common/images/Hurricane-Creek.jpg" class="photoPage photoMargin pull-right rcs" alt="" >

                        <h3><i class="fa fa-thumb-tack tree"></i>Groovin' On The Green</h3>
                        <p>Groovin' On The Green concerts are scheduled for most Friday nights on the Village Commons during the summer months. This series of free concerts showcases music from around western North Carolina. The events are open to anyone, so grab your chairs and coolers and join us for a fun-filled evening of music. The events start between 5:30 and 6:30PM. This series of concerts are presented by the Greater Cashiers Area Merchants Association and member businesses for the entire community.</p>

                        <p><a href="http://visitcashiersvalley.com/groovin/" target="_blank" class="btn btn-primary rcs" style="margin:4px;">Groovin On The Green Schedule</a></p>
                        <!--<p><a href="http://visitcashiersvalley.com" target="_blank" class="btn btn-primary rcs" style="margin:4px;">Visit The GCAMA Website</a></p>-->
                  </div>
<a name="3"></a>
                  <div class="well well2 well3 eventWell">
                    
                      <img src="common/images/fall-lake.jpg" class="photoPage photoMargin pull-right rcs" alt="" >

                      <h3><i class="fa fa-thumb-tack tree"></i>The Cashiers Valley Leaf Festival</h3>
                      <p>The Leaf Festival is held each year the first weekend in October. The 2015 Leaf Festival is on October 9-11 and features music, shopping, dining and a whole lot of fun for the whole family. This festival is presented by the Greater Cashiers Area Merchants Association for the entire community. Event Schedules are available from the event planners and participating GCAMA merchants. Contact the Greater Cashiers Area Merchants Association to find out more about this annual event!</p>
 
                      <p><a href="http://visitcashiersvalley.com/events/event-calendar/schedule-2013/" target="_blank" class="btn btn-primary rcs" style="margin:4px;">GCAMA Leaf Festival Website</a></p>
                      <!--<p><a href="http://visitcashiersvalley.com" target="_blank" class="btn btn-primary rcs" style="margin:4px;">Visit The GCAMA Website</a></p>-->

                  </div>

<a name="5"></a>                  
                  <div class="well well2 well3 eventWell">
                    
                      <img src="common/images/rotary.jpg" class="photoPage photoMargin pull-right rcs" alt="" >

                      <h3><i class="fa fa-thumb-tack tree"></i>Cashiers Rotary Club Arts &amp; Crafts Fair</h3>
                      <p>The Rotary Club of Cashiers Valley presents two Arts & Crafts Fairs every year - one on Memorial Day weekend and the other on Labor Day weekend. The Arts and Crafts Fairs are held on the Cashiers Village Green at the crossorads of Hwy. 107 and Hwy. 64. With over 80 vendors this year there is sure to be something for everyone at this event. All of the items here are made by the craftspeople, are of the highest quality, and represent unique and diverse tastes. The Rotary Club of Cashiers Valley Spring and Fall Arts & Crafts Fair is a must attend event open to the public. Contact the Rotary Club of Cashiers Valley to find out more about this exciting twice-a-year event!</p>

                      <p><a href="http://cashiersrotary.org" target="_blank" class="btn btn-primary rcs" style="margin:4px;">Visit the Cashiers Rotary Website</a></p>

                  </div>

<a name="1"></a>
                  <div class="well well2 well3 eventWell">
                    
                    

                        <img src="common/images/showhouse.jpg" class="photoPage photoMargin pull-right rcs" alt="" >

                        <h3><i class="fa fa-thumb-tack tree"></i>The Cashiers Historical Society Designer Showhouse</h3>
                        <p>The Showhouse event draws designers from around the southeast and nationally. Featuring a different home each year, each Showhouse selected represents the finest in mountain living on the Cashiers Plateau. Tickets are available from the event planners and the Historical Society. Contact the Cashiers Historical Society to find out more about this annual event!</p>

                        <p><a href="http://cashiershistoricalsociety.org" target="_blank" class="btn btn-primary rcs" style="margin:4px;">Visit The CHS Showhouse Website</a></p>

                  </div>

<a name="6"></a>
                  <div class="well well2 well3 eventWell">
                    
                      <img src="common/images/TDC.jpg" class="photoPage photoMargin pull-right rcs" alt="" >

                      <h3><i class="fa fa-thumb-tack tree"></i>The Tour de Cashiers Mountain Bicycle Ride</h3>
                      <p>Early Spring in our mountains is a time of cool mornings, warm afternoons, wild flowers and flowering shrubs, and dramatic differences in leafing at different elevations – which our riders will experience along their courses. Summer residents begin returning, and the stores and restaurants are reopened. But the pace (and traffic) are at a lower level than in mid-Summer. In short, an ideal time for a solid, supported bike ride in the mountains, and for any non-riding family members to come visit also. All rides are through low-traffic rural and mountain landscapes. On Saturday May 2nd this year The Tour de Cashiers, sponsored by the Cashiers Chamber of Commerce, provides a weekend of mountain immersion – great training for whatever else may be in your season’s riding plans, or just a wonderful time enjoying Spring in the mountains, up close on a bicycle. The different length courses )100 mile, 62 mile and 25 mile) are suitable for all types of riders. Last year more than 300 riders participated in one of the most beautiful rides in the US. All riders depart the Village Green at the Cashiers Crossroads at 9:00AM, Saturday, May 2, 2015. Contact the Cashiers Chamber for more information.</p>


                      <p><a href="http://tourdecashiers.com" target="_blank" class="btn btn-primary rcs" target="_blank" style="margin:4px;">Visit the Tour de Cashiers Website</a></p>
                      <!--<p><a href="http://cashiersareachamber.com" target="_blank" class="btn btn-primary rcs" style="margin:4px;">Visit The Cashiers Chamber Website</a></p>-->

                  </div>
<a name="7"></a>
                  <div class="well well2 well3 eventWell">
                    
                      <img src="common/images/dahlias.jpg" class="photoPage photoMargin pull-right rcs" alt="" >

                      <h3><i class="fa fa-thumb-tack tree"></i>Joy Garden Tour</h3>
                      <p>Sponsored by The Village Green, the Joy Garden Tour is a biannual event to raise financial support for The Village Green. The tour inspires gardeners of every level of experience and enthusiasm. The Joy Garden Tour features a guest speaker event, a special patron party and garden shops with 35 vendors offering plants, garden related merchandise, unique gifts, antiques and more. The highlight is a day spent touring select and stunning private gardens in the Cashiers area. Noted Plein Air Artists will paint in these gardens with the paintings available for purchase. Plans also include Saturday activities. Tickets are available from the event planners and the Village Green.</p>

                      <p><a href="http://villagegreencashiersnc.com/events/joy-garden-tour.php" target="_blank" class="btn btn-primary rcs" target="_blank" style="margin:4px;">Visit The Joy Garden Tour Website</a></p>

                  </div>
<a name="8"></a>
                  <div class="well well2 well3 eventWell">
                    
                      <img src="common/images/sculpture.jpg" class="photoPage photoMargin pull-right rcs" alt="" >

                      <h3><i class="fa fa-thumb-tack tree"></i>Arts On The Green</h3>
                      <p>Arts On The Green is held every other year in mid-July. Sponsored by The Village Green, the event showcases plein air artists from around the area and the region. Each artist comes here to paint an area subject in one day which is then on display the following day. Tickets are available from the event planners and the Village Green.</p>

                      <p><a href="http://villagegreencashiersnc.com/events/arts-on-green.php" target="_blank" class="btn btn-primary rcs" style="margin:4px;">Visit The Arts On The Green Website</a></p>

                  </div>

<a name="9"></a>
                  <div class="well well2 well3 eventWell">
                    
                      <img src="common/images/LATE-SUMMER-FIELD.jpg" class="photoPage photoMargin pull-right rcs" alt="" >

                      <h3><i class="fa fa-thumb-tack tree"></i>Summer Colors Fine Art Show</h3>
                      <p>The Art League of Highlands-Cashiers holds its "Summer Colors Fine Art Show" indoors at the Sapphire Valley Community Center, approximately two miles east of the Crossroads in the Sapphire Valley Resort. Works in oil, watercolor, acrylics, dry media and mixed media will be on display and for sale, as well as photographs, sculpture, glass, one-of-a-kind jewelry and woodturnings. All work is original. Those who have attended previous Art League shows are appreciative of the high quality and variety of the pieces on display. Virtually all of the artists have received recognition for their work, and their creations may be found in public and private collections throughout the Southeast and beyond.</p>
                      <p>For Information call (828)743-7663</p>

                  </div>



<a name="13"></a>
                  <div class="well well2 well3 eventWell">
                    
                      <img src="common/images/santa.jpg" class="photoPage photoMargin pull-right rcs" alt="" >

                      <h3><i class="fa fa-thumb-tack tree"></i>Christmas On the Green</h3>
                      <p>Visitors to The Village Green enjoy twinkling light displays and festive decorations from Thanksgiving Weekend until New Year's Day. On November 28 the park becomes a winter wonderland and the Cashiers Christmas Tree is lit! The Festival of Trees celebrates one of the area's greatest industries and showcases local businesses. A visit from Santa is expected... After the holiday season, the evergreen trees are planted in The Village Green for continued enjoyment. Contact the Village Green to find out more about this annual event!</p>

                      <p><a href="http://villagegreencashiersnc.com/events/christmas-on-green.php" target="_blank" class="btn btn-primary rcs" style="margin:4px;">Visit Christmas On The Green Website</a></p>

                  </div>

<a name="10"></a>
                  <div class="well well2 well3 eventWell">
                    
                      <img src="common/images/cashiers-cares.jpg" class="photoPage photoMargin pull-right rcs" alt="" >

                      <h3><i class="fa fa-thumb-tack tree"></i>Cashiers Cares Christmas Lunch</h3>
                      <p>After the annual Christmas Parade parade participants and friends can have a hot lunch provided by Cashiers Cares, a local organization whose purpose is to raise awareness of all of the charitable organizations in the area. Santa stops by for photos with the kids!</p>
                      
                  </div>

                  <!--<div class="well well2 well3 eventWell">
                    <a name="11"></a>
                      <img src="common/images/four-golfers.jpg" class="photoPage photoMargin pull-right rcs" alt="" >

                      <h3>Firemens Country Breakfast</h3>
                      <p>The scenery isn't the only thing unique about the area. Cashiers is also a really great place to live. Our quiet village boasts world-class accommodations, great restaurants and shopping, coupled with a good dose of mountain friendliness and charm. Once you visit you won't want to leave! The population of Cashiers, North Carolina is officially listed as 1,974, but from about Memorial Day until the end of October’s fall leaf season, part-time residents and visitors are estimated to bump that number up to about 10,000-15,000. For locals with children, Cashiers is home to some of the state’s finest schools, and our churches and civic organizations are among the most philanthropic you’ll ever see.</p>
                      <span class="pull-right"><a href="#/events">TOP <i class="fa fa-arrow-up"></i></a><br /><br /></span>

                  </div>-->
<a name="12"></a>
                  <div class="well well2 well3 eventWell">
                    
                      <img src="common/images/outhouse-race.jpg" class="photoPage photoMargin pull-right rcs" alt="" >

                      <h3><i class="fa fa-thumb-tack tree"></i>The Sapphire Outhouse Race</h3>
                      <p>This super-fun annual event has to be seen to be believed! Competitors build outhouses on skis complete with seat and toilet paper! Businesses and teams throughout the region compete for bragging rights each year. This is an event to raise funds to sponsor ski scholarships for children that don’t have the opportunity to attend our after school ski programs. The event is accompanied with live music and barbeque.</p>
                      <p><a href="http://sapphirevalley.com" target="_blank" class="btn btn-primary rcs" style="margin:4px;">Visit The Sapphire Valley Website</a></p>
                      
                  </div>

                  
                  
                </div>
                <div class="col-md-2 col-sm-3 col-xs-12"> 
                    <center>
                      <img src="common/images/buy-local2.png" style="width:100%;max-width:165px;" alt="" >
                      <a href="http://cashiersrotary.org" target="_blank"><img src="common/images/bannerAds/rotary.jpg" class="photo3"></a>
                      <a href="https://www.maconbank.com" target="_blank"><img src="common/images/bannerAds/maconbank.jpg" class="photo3"></a>
                      <a href="http://www.thelaurelmagazine.com" target="_blank"><img src="common/images/bannerAds/LAURELchamberad.jpg" class="photo3"></a>
                      <a href="http://stevenjohannessen.com/classics" target="_blank"><img src="common/images/bannerAds/steveAd-2015-anim2.gif" class="photo3"></a>
                      <a href="https://www.blueridgepublicsafety.com" target="_blank"><img src="common/images/bannerAds/blue-ridge-public-safety.jpg" class="photo3"></a>
                      <a href="http://cashiersgolfing.com" target="_blank"><img src="common/images/bannerAds/cashiers_golfing_anim2.gif" class="photo3"></a>
                      <a href="http://www.holleyheating.com" target="_blank"><img src="common/images/bannerAds/holley1.gif" class="photo3"></a>
                      <a href="http://www.blueridgemtnshotel.com" target="_blank"><img src="common/images/bannerAds/hampton-inn-ad2.jpg" class="photo3"></a>
                      <a href="http://www.cashiersnc.com" target="_blank"><img src="common/images/bannerAds/luxury-lakefront-properties2.gif" class="photo3"></a>
                      <a href="http://highhamptoninn.com" target="_blank"><img src="common/images/bannerAds/high-hampton-ad1.jpg" class="photo3"></a>
                      <a href="http://www.lonesomevalley.com" target="_blank"><img src="common/images/bannerAds/LV-ad.jpg" class="photo3"></a>
                      <a href="http://dovetail-antiques.com" target="_blank"><img src="common/images/bannerAds/dovetail-ad-001.jpg" class="photo3"></a> 
                      <a href="http://www.theorchardcashiers.com" target="_blank"><img src="common/images/bannerAds/orchard.gif" class="photo3"> </a> 
                      <a href="http://www.laurelwoodinncashiers.com" target="_blank"><img src="common/images/bannerAds/laurelwoodInn.gif" class="photo3"> </a>
                      <!--<a href="http://www.landmarkrg.com" target="_blank"><img src="common/images/bannerAds/landmark-medium.jpg" class="photo3"></a>
                       <a href="http://www.pebble-creek.com" target="_blank"><img src="common/images/bannerAds/pebble-creek-village3.jpg" class="photo3"></a>
                      <a href="http://chhumanesociety.org" target="_blank"><img src="common/images/bannerAds/chhs-web-ad1.jpg" class="photo3"></a>
                      <a href="http://sapphirenational.com" target="_blank"><img src="common/images/bannerAds/brewpub1.jpg" class="photo3"></a>-->
                      
                     <!-- <img src="common/images/bannerAds/library-ad.jpg" class="photo3">-->
                      
                      <br />
                    <center>
                </div>
                
            </div> 

            <div ng-include="'public/partials/hotbrm.html'"></div>

            <div ng-include="'public/partials/quickLinks.html'"></div>
            

            
             
        </div>
      </div>
    </div>