<div class="container" style="margin-top:-10px;">
  <div class="navbar navbar-bottom navbar-inverse navbar-inner rcs"  style="margin-bottom:5px;">
    
        <div class="row" style="margin-top:0px;">
          <div class="col-md-6 col-sm-6 col-xs-12 mtFooter">
            <a href="#/contact"><button type="submit" class="btn btn-primary rcs" style="margin-right:5px;margin-left:10px;">Contact Us</button></a>
            <a href="#/about"><button type="submit" class="btn btn-primary rcs" style="margin-right:5px;">About Us</button></a>
             <a href="#/jobs"><button type="submit" class="btn btn-primary rcs" style="margin-right:5px;">Jobs</button></a>
            
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 mtFooter">
            <span style="margin-top:2px;margin-bottom:10px;" class="pull-left">
            <a href="#"><i class="fa fa-facebook fa-lg bubble fa-spin"></i></a>
            <!--<a href="#"><i class="fa fa-twitter fa-lg bubble fa-spin"></i></a>-->
            <a href="#"><i class="fa fa-linkedin fa-lg bubble fa-spin"></i></a>
            </span>
            <span class="pull-right">
            <a href="http://membersites.net" title="Visit Our Website! &copy;2009-2015 MemberSites, LLC" target="_blank"><img src="../../../common/images/membersites-logo-3.png" style="margin-right:10px;margin-top:2px;"></a>
            </span>
          </div>

        </div>

        <!--<div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 text-left">
            <span class="copyright">&copy; 2009-2015 MemberSites LLC All Rights Reserved</span>
          </div>

        </div>-->
  </div>

</div> 