<div class="container">
  <div class="row" style="margin-top:0px;">
    <div class="col-md-12">
      <div class="well well2 planks">
        <span class="pull-right" style='display:block !important; width: 170px; margin-top:0px; margin-right:-11px;text-align: center; font-family: sans-serif; font-size: 12px;'>
            <a href='http://www.wunderground.com/cgi-bin/findweather/getForecast?query=Cashiers, NC' title='Cashiers, NC Weather Forecast'><img src='http://weathersticker.wunderground.com/weathersticker/miniDial/language/english/US/NC/Cashiers.gif' class='rcs' alt='Find more about Weather in Cashiers, NC' /></a>
        </span>

        <h1 style="margin-left:1px;margin-top:5px;color:#ffffff;"><i class="fa fa-spin fa-heart star"></i>Public/Private Golfing</h1>
              

        <div class="row"> 
          <div class="col-md-2"> 
                    
                <center>
                  <img src="common/images/bannerAds/high-hampton-ad1.jpg" class="photo3">
                  <img src="common/images/bannerAds/sapphire-national.JPG" class="photo3">
                  <img src="common/images/bannerAds/cashiers_golfing_anim2.gif" class="photo3">

                <br />
                </center>
          </div>
                
          <div class="col-md-10"> 
            <div class="well well2">
              <div class="well well2">
                <h3>Golfing Search</h3>
               
                <!-- ***** ContextPageCtrl ******************* -->
                <div ng-controller="ContextListPageCtrl"  class="userpaging-controller" style="border:0px;">

                  <div class="row">
                    <div class="col-md-12">
                      <div class="well well2">
                        <div class="row">
                          <div class="col-md-6">

                              <label>Search Qualifiers</label>
                              <input type="text" id="fetchContextValue" class="form-control" ng-model="fetchBy.fetchContextValue" placeholder="Enter Search Quailifiers" >

                          </div>
                           <div class="col-md-6">
                            <!-- <label>First Name</label>
                              <input type="text" id="fetchFirstName" class="form-control" ng-model="fetchBy.fetchFirstName" placeholder="First Name" > -->
                              <input type="button" class="btn btn-primary rcs pull-right" style="margin-top:8px;" value="Search" ng-click="fetchContextPages('Mbrsite','golfing')"> 
                          </div>
                                  
                        </div>
                      </div>
                                
                    </div> 
                  </div>
                            

                  <div class="row">
                    <div class="col-md-12" style="margin-top:10px;">
                      <h6>Search Results</h6>
                      <div class="row">
                        <div class="col-md-9 col-sm-8">
                            <span class="searchResults">Please Enter A Search Term</span>
                        </div>
                      <div class="col-md-3 col-sm-4">
                        <div class="dropdown pull-right" style="margin-bottom:30px;margin-top:5px;">
                          <button class="btn btn-primary btn-sm dropdown-toggle rcs" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            <b>Results per Page</b>
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation" style="width:100%;"><a role="menuitem" tabindex="-1" href="#">10</a></li>
                            <li role="presentation" style="width:100%;"><a role="menuitem" tabindex="-1" href="#">25</a></li>
                            <li role="presentation" style="width:100%;"><a role="menuitem" tabindex="-1" href="#">50</a></li>
                          </ul>

                      </div>
                    </div>
                  </div>

                          <table width="100%">   
                          <tr dir-paginate="contextListItem in contextList |  itemsPerPage: pageSize: 'golfingListSelect'" total-items="contextTotalPossible" current-page="currentPage" pagination-id="golfingListSelect" >
                            <td style="padding:5px;">
                              <div class="row well well5" ng-class-odd="'odd'" ng-class-even="'even'">
                                
                                <div class="col-md-3 col-sm-6 pad lal busTitle">
                                  <span ng-bind="contextListItem.name"></span>
                                </div>

                                <div class="col-md-2 col-sm-6 pad lal">
                                  <span ng-bind="contextListItem.firstName"></span>
                                </div>

                                <div class="col-md-3 col-sm-6 pad lal">
                                  <span ng-bind="contextListItem.city"></span>, <span ng-bind="contextListItem.state"></span> <span ng-bind="contextListItem.zipcode"></span>
                                </div>

                                <div class="col-md-2 col-sm-6 pad lal">
                                  <b><span ng-bind="contextListItem.contactphone"></span></b>
                                </div>

                                <div class="col-md-1 col-sm-6 pad">
                                  <!--<a href="#" name="View" style="text-decoration:none;" class="btn-danger btn-sm rcs">Edit</a>   ::: usersEditItem="{{usersList[$index]}}"-->
                                <!--  <usermodal  name='UserEditForm' instance_template="user-admin-edit" usersEditItem="{{usersList[$index]}}" use_ctrl="UserModalCtrl" class="btn-danger btn-sm rcs">
                                    <span ng-click="getSelectedUser( $index )" style="color:#ffffff;text-decoration a:hover:none;">Edit - {{ $index }}</span>
                                  </usermodal> -->
                                </div>

                              </div>
                            </td>
                          </tr>
                        </table>
                        
                        <div  class="userpaging-controller" style="border:0px;margin-top:10px;">                              
                        <div class="text-center">
                           <dir-pagination-controls pagination-id="golfingListSelect" boundary-links="true" on-page-change="fetchContextPages('Mbrsite','golfing')" template-url="public/partials/dirPagination.html"></dir-pagination-controls>
                                      <!--paging controller users list-->
                        </div>
                                                                      
                      </div> 
                    </div>
                  </div>
                </div>    
                <!--end page list ctrl -->
                      
          </div>

          <div ng-include="'public/partials/quickLinks.html'"></div>
        </div>              

      </div> 
    </div>
  </div>
</div>