			
		
  <div class="container">
    <div class="row" style="margin-top:0px;margin-bottom:0px;">
      <div class="col-md-12">
        <div class="well well2" style="padding:5px;">
          <img src="common/images/web-tech.jpg" style="width:100%;"/>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:-10px;">
      <div class="col-md-12">
        <div class="well well2">
			<h1 style="margin-left:16px;">Welcome To MemberSites!</h1>
              <div class="row"> 
                <div class="col-md-12"> 
                  <div class="well well2">
                    <img src="common/bootstrap/images/customer_service2.jpg" class="photoPage pull-right rcs" alt="" >
                    <h2>Sample Title</h2>
                      
                      <p>Etiam sit amet leo nec nunc auctor convallis vel at est. Aenean at metus id nisl posuere varius. In vel ipsum eu risus iaculis volutpat in ut metus. Integer eget sem eu massa pharetra vehicula ut id elit. Nam sagittis malesuada est, ut tempus diam ultricies eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla urna libero, finibus in metus mollis, aliquam interdum elit. Phasellus at sagittis lectus. Vestibulum scelerisque libero eget efficitur venenatis. Etiam nunc magna, maximus vel vehicula eget, bibendum eu urna. Phasellus quis turpis id lacus mollis dictum. Ut dui elit, efficitur vel orci eu, elementum interdum erat. Cras at leo volutpat, commodo metus in, dictum justo. Cras id vulputate ex. Nullam et aliquet arcu, id elementum magna. Phasellus faucibus sapien at dolor ultrices pellentesque.</p>
                      
                  </div>
                </div>
              </div>
              <div class="row"> 
                <div class="col-md-2"> 
                    
                      <center>
                      <img src="common/images/bannerAds/cashiers_golfing_anim2.gif" class="photo3">
                      <img src="common/images/bannerAds/high-hampton-ad1.jpg" class="photo3">
                      <!--<img src="common/images/bannerAds/Hampton_Inn.jpg" class="photo3">-->
                      <img src="common/images/bannerAds/classics-web-ad-2.gif" class="photo3">
                      <br />
                      </center>
                </div>
                
                <div class="col-md-8"> 
                  <div class="well">
                      <img src="common/bootstrap/images/customer_service.jpg" class="photoPage pull-right rcs" alt="" >
                      <h3>Sample Title</h3>
                      <p>Etiam sit amet leo nec nunc auctor convallis vel at est. Aenean at metus id nisl posuere varius. In vel ipsum eu risus iaculis volutpat in ut metus. Integer eget sem eu massa pharetra vehicula ut id elit. Nam sagittis malesuada est, ut tempus diam ultricies eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla urna libero, finibus in metus mollis, aliquam interdum elit. Phasellus at sagittis lectus. Vestibulum scelerisque libero eget efficitur venenatis. Etiam nunc magna, maximus vel vehicula eget, bibendum eu urna. Phasellus quis turpis id lacus mollis dictum. Ut dui elit, efficitur vel orci eu, elementum interdum erat. Cras at leo volutpat, commodo metus in, dictum justo. Cras id vulputate ex. Nullam et aliquet arcu, id elementum magna. Phasellus faucibus sapien at dolor ultrices pellentesque.</p>
                      
                      <h4>Subtitle</h4>
                      <p>Donec blandit suscipit ante, quis viverra urna ornare vitae. Vestibulum dolor ligula, scelerisque at lectus in, suscipit lobortis enim. Nunc at mattis sapien, quis mollis dolor. Donec blandit diam velit, quis pellentesque ante lobortis a. Aliquam et diam eget nibh tempus vulputate non ut tellus. Mauris sagittis vehicula dapibus. Maecenas quam libero, luctus eu maximus eget, dictum in leo. Nunc in metus tellus. In lacinia varius sem vitae venenatis. Aenean mi odio, imperdiet eu enim vel, convallis lobortis nibh. In et faucibus purus, quis aliquet dui.</p>
                      <img src="common/bootstrap/images/customer_service2.jpg" class="photoPage pull-right rcs" alt="" >
                      <h4>Subtitle</h4>
                      <p>Aenean a quam ut nisl sollicitudin fringilla eu faucibus massa. Duis cursus augue at sapien tempus, vitae ornare tortor euismod. Maecenas pharetra tincidunt felis non consectetur. Maecenas condimentum mi sit amet nibh tempor accumsan. In hac habitasse platea dictumst. Duis accumsan, metus dictum fringilla facilisis, purus magna dictum lacus, eget consequat erat purus sit amet quam. Nam luctus ac ipsum non rhoncus. Maecenas quam libero, luctus eu maximus eget, dictum in leo. Nunc in metus tellus. In lacinia varius sem vitae venenatis. Aenean mi odio, imperdiet eu enim vel, convallis lobortis nibh. In et faucibus purus, quis aliquet dui. Fusce elementum, erat vitae gravida tincidunt, justo lorem maximus leo, a iaculis purus risus sit amet felis. Donec a lorem sagittis massa consequat tristique.</p>

                  </div>
                </div>
                <div class="col-md-2"> 
                    
                      <center>
                      <img src="common/images/bannerAds/srebalus1.gif" class="photo3">
                      <!--<img src="common/images/bannerAds/dovetail-bonjour-web.jpg" class="photo3">-->
                      <img src="common/images/bannerAds/luxury-lakefront-properties2.gif" class="photo3">
                      <img src="common/images/bannerAds/forest-edge-ad.jpg" class="photo3">
                      <br />
                      <center>
                </div>
                
            </div> 
            <div class="row"> 
                
                <div class="col-md-6"> 
                  <div class="well">
                      <h3>News</h3>
                      <p>Etiam sit amet leo nec nunc auctor convallis vel at est. Aenean at metus id nisl posuere varius. In vel ipsum eu risus iaculis volutpat in ut metus. Integer eget sem eu massa pharetra vehicula ut id elit. Nam sagittis malesuada est, ut tempus diam ultricies eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla urna libero, finibus in metus mollis, aliquam interdum elit. Phasellus at sagittis lectus. Vestibulum scelerisque libero eget efficitur venenatis. Etiam nunc magna, maximus vel vehicula eget, bibendum eu urna. Phasellus quis turpis id lacus mollis dictum. Ut dui elit, efficitur vel orci eu, elementum interdum erat. Cras at leo volutpat, commodo metus in, dictum justo. Cras id vulputate ex. Nullam et aliquet arcu, id elementum magna. Phasellus faucibus 

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="well">
                  <h4>Subtitle</h4>
                      <p>Aenean a quam ut nisl sollicitudin fringilla eu faucibus massa. Duis cursus augue at sapien tempus, vitae ornare tortor euismod. Maecenas pharetra tincidunt felis non consectetur. Maecenas condimentum mi sit amet nibh tempor accumsan. In hac habitasse platea dictumst. Duis accumsan, metus dictum fringilla facilisis, purus magna dictum lacus, eget consequat erat purus sit amet quam. Nam luctus ac ipsum non rhoncus. Maecenas quam libero, luctus eu maximus eget, dictum in leo. Nunc in metus tellus. In lacinia varius sem vitae venenatis. Aenean mi odio, imperdiet eu enim vel, convallis lobortis nibh. In et faucibus purus, quis aliquet dui. Fusce elementum, erat vitae gravida tincidunt, justo lorem maximus leo, a iaculis purus risus sit amet felis. Donec a lorem sagittis massa consequat tristique.</p>
                    </div>
                </div>
            </div>  
        </div>
      </div>
    </div>      