			
		
  <div class="container">
    <div class="row" style="margin-top:0px;">
      <div class="col-md-12">
        <div class="well well2 planks">
          <div style="margin-bottom:10px;">
            <img src="common/images/headers/header3.jpg" class="switch2bb switch3 slideshowImage" width="100%" alt="" />
            <ng-include src="'public/partials/carousel3.html'"></ng-include>



          </div>
          <span class="pull-right" style='display:block !important; width: 170px; margin-top:0px; margin-right:-11px;text-align: center; font-family: sans-serif; font-size: 12px;'><a href='http://www.wunderground.com/cgi-bin/findweather/getForecast?query=Cashiers, NC' title='Cashiers, NC Weather Forecast'><img src='http://weathersticker.wunderground.com/weathersticker/miniDial/language/english/US/NC/Cashiers.gif' class='rcs' alt='Find more about Weather in Cashiers, NC' /></a></span>

			     <h1 style="margin-left:1px;margin-top:5px;color:#ffffff;"><i class="fa fa-spin fa-heart star"></i>Welcome To Cashiers!</h1>
              <div class="row"> 
                <div class="col-md-12"> 
                  <div class="well well2">
                    <img src="common/images/stream-and-waterfall.jpg" class="photoPage pull-right rcs" alt="" >
                    <h3>Cashiers, North Carolina - The Heart Of The Blue Ridge Mountains</h3>
                      
                      <p>Cashiers, a beautiful village in western North Carolina known as "The Heart Of The Blue Ridge Mountains", is located in the southern end of Jackson County. Sitting at 3,487 feet in elevation at the crossroads of Highways 107 and 64, there is a little bit of everything here to enjoy for native families, visitors, and part-time residents alike. Our singularly unique geography boasts hundreds of waterfalls, quiet lakes, stone mountains and amazingly beautiful forests. With four distinct and wonderful seasons this is a truly magical place!</p>

                      <p>This area is uniquely and spectacularly beautiful, and is unlike any other place in the world. Cashiers is located on the highest plateau in the Blue Ridge Mountains. The highest peak in the area rises to 5,127 at Yellow Mountain, yet drops to 1,020 feet along the Horsepasture River. Our elevation coupled with the abundant rainfall combine to create a lush, green rain forest filled with rhododendrons, laurels, mossy rocks, ferns and pine trees. For hundreds of years the Cherokee Indians walked and cherished these mountains, hunting bear and deer, and fishing the streams, and when the sun went down, they would gather around the fire and tell stories about their ancestors. These mountains are some of the oldest in the world and have abundant hiking trails, gorgeous scenery and intriguing legends.</p><br />

                      <p class="well"><i class="fa fa-thumb-tack tree"></i>Fun Facts: Weather is generally cooler up here, regardless of the season! Because of it's unique geography and altitude the climate on the Cashiers plateau is generally about 20 degrees cooler during the summer months than just about anywhere else in the southeastern US! Temperatures average a high of 80 degrees in July, and 40 degrees in January. Recently, Cashiers has received over 100 inches of rain per year.

                        <br />

                      <a href="http://en.wikipedia.org/wiki/Cashiers,_North_Carolina" target="_blank"><button type="submit" class="btn btn-primary rcs" style="margin:10px;">Read Wikipedia Overview</button></a></p>
                     
                      <p>Please look through this site to see all of the many choices there are for you to stay and play. We are closer than you think! Come on up for a weekend or a week. Bring your family for a reunion or wedding. Find that second home you have always dreamed of or kick back in one of the greatest places to retire anywhere - only in Cashiers, North Carolina, the Heart of the Blue Ridge Mountains.</p>
                  </div>
                </div>
              </div>
              <span class="switch1b"><div ng-include="'public/partials/country-store-insert.html'"></div></span>
              <div class="row"> 
                <div class="col-md-2"> 
                      <center>
                      <a href="http://highhamptoninn.com" target="_blank"><img src="common/images/bannerAds/high-hampton-ad1.jpg" class="photo3"></a>
                      <a href="http://www.lonesomevalley.com" target="_blank"><img src="common/images/bannerAds/LV-ad.jpg" class="photo3"></a>
                      <a href="http://dovetail-antiques.com" target="_blank"><img src="common/images/bannerAds/dovetail-ad-001.jpg" class="photo3"></a> 
                      <a href="http://cashiersgolfing.com" target="_blank"><img src="common/images/bannerAds/cashiers_golfing_anim2.gif" class="photo3"></a>
                      <a href="http://www.martyjonesrealty.com" target="_blank"><img src="common/images/bannerAds/summit-properties-ad1.jpg" class="photo3"></a>
                      <a href="http://www.landmarkrg.com" target="_blank"><img src="common/images/bannerAds/landmark.gif" class="photo3"></a>
                      
                      <a href="https://www.blueridgepublicsafety.com" target="_blank"><img src="common/images/bannerAds/blue-ridge-public-safety.jpg" class="photo3"></a>
                      <a href="http://stevenjohannessen.com/classics" target="_blank"><img src="common/images/bannerAds/steveAd-2015-anim3.gif" class="photo3"></a>
                      <br />
                      </center>
                </div>
                
                <div class="col-md-8"> 

                  <span class="switch1"><div ng-include="'public/partials/country-store-insert.html'"></div></span>
                  <a href="http://cashiersrotary.org" target="_blank"><img src="common/images/bannerAds/rotary-banner2015v4.gif" class="rcs" style="width:100%;margin-bottom:20px;" alt="" ></a>

                  <div class="well well2">
                      <img src="common/images/waterfall_family.jpg" class="photoPage pull-right rcs" alt="" >

                      <h3>A Wonderful Place To Live</h3>
                      <p>The scenery isn't the only thing unique about the area. Cashiers is also a really great place to live. Life in this mountain community is as multifaceted as its landscape. Our quiet village boasts world-class accommodations, great restaurants and shopping, coupled with a good dose of mountain friendliness and charm. People you run into around Cashiers vary from local mountain folk who have lived here their entire lives, to retired doctors and lawyers, to the avid traveler just stopping for a refreshing hike or a plate full of barbecue. Once you visit you won't want to leave!</p>
 
                      <p>The population of Cashiers, North Carolina is officially listed as 1,974, but from about Memorial Day until the end of October’s fall leaf season, part-time residents and visitors are estimated to bump that number up to about 10,000-15,000. For locals with children, Cashiers is home to some of the state’s finest schools, and our churches and civic organizations are among the most philanthropic you’ll ever see.</p>
                      
                      <p>Village life includes access to unique stores and businesses, which accentuate the lifestyle created by the Village Green and Commons park in the center of town. Other staples of the crossroads are the Albert Carlton-Cashiers Community Library, the Cashiers Community Center, the new Cashiers Recreation Center, the Cashiers Area Chamber of Commerce, new pathways to navigate your way around town, and much, much more. Have a look at Cashiers real estate opportunities while you are here.</p>

                      <h3>Events &amp; Activities</h3>
                      <p>"The Heart Of The Blue Ridge Mountains" is also home to many exciting events throughout the year, many of which benefit a charity or non-profit in the area. Popular annual events include the Leaf Festival, the Rotary Arts &amp; Crafts Fairs on Memorial Day and Labor Day weekends, weekly Groovin’ on the Green events on Friday evenings during the busy season, the Cashiers Designer Showhouse, Cashiers Benefit Antique Show, the Church of the Good Shepherd Auction and Bazaar, the Tour de Cashiers, Car Shows, The Annual Christmas Parade, and so much more.</p>
                      
                      <p>Surrounding the village are many opportunities for outdoor enthusiasts, including hiking trails, camping opportunities, parks, mountains, waterfalls, fishing, boating, lakes, rivers, nationally-ranked golf courses, bicycling, skiing (water and snow), and horseback riding, just to name a few.</p>

                      <p>Regardless of who you are, or the length of your stay, one thing is for sure, you won’t be disappointed in what Cashiers has to offer!</p>

                      <p><i>by Kelly Donaldson and Steve Johannessen</i></p>

                      <div class="row" style="min-height:40px;">
                        <span style="pull-right">
                          <a href="#/events" class="btn btn-primary rcs pull-right" style="margin:5px;">Go To Events Page</a>
                          <a href="#/waterfalls" class="btn btn-primary rcs pull-right" style="margin:5px;">Go To Waterfall &amp; Trails Guide</a>
                          <a href="#/activities" class="btn btn-primary rcs pull-right" style="margin:5px;">Go To Activities Page</a>
                        </span>
                      </div>


                  </div>

               <div class="row">
                    <div class="col-md-12">

                    
                    <center>
                      <a href="http://cashiersrotary.org" target="_blank"><img src="common/images/bannerAds/rotary.jpg" class="photo3"></a>

                      <a href="http://www.pebble-creek.com" target="_blank"><img src="common/images/bannerAds/pebble-creek.gif" class="photo3"></a>
                      <a href="http://www.thelaurelmagazine.com" target="_blank"><img src="common/images/bannerAds/LAURELchamberad.jpg" class="photo3"></a>
                      <a href="http://www.holleyheating.com" target="_blank"><img src="common/images/bannerAds/holley1.gif" class="photo3"></a>
                      <a href="https://www.maconbank.com" target="_blank"><img src="common/images/bannerAds/maconbank.jpg" class="photo3"></a>
                      <a href="http://www.schieleconstruction.com" target="_blank"><img src="common/images/bannerAds/schiele-construction.gif" class="photo3"></a>
                      
                      <a href="http://sapphirenational.com" target="_blank"><img src="common/images/bannerAds/sapphire-national.JPG" class="photo3"></a>
                      <a href="https://www.facebook.com/pages/Micas-Restaurant-Pub/112241462130709" target="_blank"><img src="common/images/bannerAds/micas-2015.gif" class="photo3"></a>
                      <!--<img src="common/images/bannerAds/chhs-web-ad1.jpg" class="photo3">
                      <img src="common/images/bannerAds/rotary-ad1.gif" class="photo3">
                      <img src="common/images/bannerAds/library-ad.jpg" class="photo3">-->
                    </center> 
                    <span class="switch1">
                    <div ng-include="'public/partials/quickLinks.html'"></div>
                    </span>
                  </div>
                </div>   
  
                  
                </div>
                <div class="col-md-2"> 
                    <center>
                      <img src="common/images/buy-local2.png" style="width:100%;max-width:165px;" alt="" >
                      <a href="http://www.blueridgemtnshotel.com" target="_blank"><img src="common/images/bannerAds/hampton-inn-ad2.jpg" class="photo3"></a>
                      <a href="http://www.cashiersnc.com" target="_blank"><img src="common/images/bannerAds/luxury-lakefront-properties2.gif" class="photo3"></a>
                      <a href="http://www.laurelwoodinncashiers.com" target="_blank"><img src="common/images/bannerAds/laurelwoodInn.gif" class="photo3"> </a>                    
                      <a href="http://srebalusconstruction.com" target="_blank"><img src="common/images/bannerAds/srebalus1.gif" class="photo3"></a>
                      <a href="https://www.facebook.com/pages/JJs-Canteen-Eatery/110135502348908?fref=ts" target="_blank"><img src="common/images/bannerAds/jjs-GP-ad-2015v3.gif" class="photo3"> </a>
                      
                      <a href="http://www.theorchardcashiers.com" target="_blank"><img src="common/images/bannerAds/orchard.gif" class="photo3"> </a>   
                      <a href="http://forestedgeequestrianfarm.com" target="_blank"><img src="common/images/bannerAds/forest-edge-ad.jpg" class="photo3"></a>
                      <a href="http://chhumanesociety.org" target="_blank"><img src="common/images/bannerAds/chhs-web-ad1.jpg" class="photo3"></a>

                      
                      
                      <br />
                    <center>
                </div>
                
            </div> 
            <span class="switch1b"><div ng-include="'public/partials/quickLinks.html'"></div></span>
            <div ng-include="'public/partials/hotbrm.html'"></div>
            

            <div class="row"> 
                <div class="col-md-6 col-sm-12 col-xs-12"> 
                  <div class="well well3" style="margin-bottom:20px; margin-top:0px; background-color:#ffffff; border:1px solid #aaaaaa;">
                       
                      <h3>Helicopter Video Over Cashiers and Highlands</h3>
                      
                      <p>Fly with us and see the beauty of our area in this YouTube video! See Cashiers, Highlands and the surrounding mountains. Lake Glenville, Lake Toxaway, Whiteside Mountain, Whitewater Falls and much more are here. Fly over Wade Hampton Golf Club, High Hampton Inn and Resort, Country Club of Sapphire Valley and Trillium Golf communities.</p>
                    
                      <iframe height="480" src="//www.youtube.com/embed/lPwPFClkLTo" frameborder="0" allowfullscreen class="videoFrame"></iframe>
                          
                   </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12"> 
                  <div class="well well3" style="margin-bottom:20px; margin-top:0px; background-color:#ffffff; border:1px solid #aaaaaa;">
                        
                        <h3>Local Businesses Get Your FREE MemberSite Listing!</h3>
                        <a href="#/signup" class="btn btn-primary rcs pull-right" style="margin:15px;">Click Here To Sign Up!</a>
                        
                        <ul style="font-weight:bold;margin-left:-10px;line-height:1.8;">
                          <li>Sign up now and begin using your FREE MemberSite Expanded Business Listing from any device!<br /><br /></li>

                          <li>Be one of over 535 businesses currently listed on this website.<br /><br /></li>
                          <li>In 2014 there were over 180,000 <u>unique visitors</u> to this website from the United States and countries around the world with over 850,000 page views.<br /><br /></li>
                          <li>Be seen and get results on the number one website serving the Cashiers-Highlands area and the Blue Ridge Plateau.<br /><br /></li>
                          <li>This free offer is only available to local businesses in the Cashiers, Highlands, Glenville, Sapphire and Toxaway communities.<br /><br /></li>
                          <li>What are you waiting for? Sign up now!</li>
                        </ul>
                          
                   </div>
                </div>
                
              </div>


              

            <div class="row"> 
                
                <div class="col-md-6"> 
                  <div class="well well2">
                      <h3><i class="fa fa-heart star"></i>Website News</h3>
                      <h4>CashiersGolfing.com Celebrates One Year!</h4>
                      <p>Now in our second year the Cashiers Golfing website has attracted a lot of attention and web traffic. Now you can find out more about all of the golf clubs in our area and see these beautiful courses. Featuring the golf, tennis and croquet communities in the Cashiers, Highlands, Sapphire and Toxaway areas. Each community or club listed has information about the course, pro, photos, directions and other information of interest.</p>

                      <p><a href="http://cashiersgolfing.com" target="_blank"><button type="submit" class="btn btn-primary rcs">Visit CashiersGolfing.com</button></a></p>
                      
                      <h4>CashiersNorthCarolina.org is #1 on Internet Searches!</h4>

                      <p>Our website has been #1 in the Google, Yahoo and Bing search engines for three years in a row! A HUGE thank you goes out to all those businesses and individuals who participated from the beginning to make this happen. Our website continues to be the top website on the plateau for web traffic. With the acquisition of the cashiersnorthcarolina.com domain (now pointed to cashiersnorthcarolina.org) the site traffic will only increase.</p>
                     <br />

                      <h3>Advertising on This Website</h3>

                      <p>Advertising space is available on this site. We provide the best value advertising on the plateau. Please contact us for more information. Call us about putting your ad up here on the community website. There are a limited number of spaces on the site so don't delay!</p> 
                      <p><a href="common/Cashiers-Community-Website-ad-rates-2015.pdf" class="btn btn-primary rcs" target="_blank">Find Out More</a></p>
                      <br />
                      <p>Also, take advantage of your FREE MemberSite Expanded Business Listing(TM). This is an extremely valuable tool that your business can use to market your business to customers locally and on the web. This greatly enhances the ablilty of visitors to find and locate your establishment within our community. Take advantage of this amazing offer and sign up for FREE now!</p>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="well well2">
                  <h3 style="margin-top:30px;">More News</h3>
                      <h4>MemberSite Training Classes at the Cashiers Library</h4>

                      <p>The free classes are held at the Albert-Carlton Cashiers Library in Cashiers. Stop by after work and get signed up or ask questions. A MemberSite will be demonstrated and members will learn how to work with and create their own MemberSite, use the shopping events calendar and more. Bring your laptop if you have one! As always the class is free to everyone.</p>
                      <p><b>Next scheduled class date will be in June</b></p>

                      <p><b>Don't Have Time to Attend?</b> Call (828)743-7543 to schedule a visit to your place of business and get help setting up your MemberSite. Don't wait to take advantage of this!</p>
                      <p><a href="#/contact" class="btn btn-primary rcs">Contact Us for an Appointment</a></p>
                      <br />
                      <h4>MemberSite 4G Community Web Software Is Now Available</h4>

                      <p>Now more powerful than ever MemberSites is a cloud based suite of web applications designed for communities and membership organizations of all sizes.  MemberSites Generation 4 enables all devices - from laptop to tablet to cell phone - to access and modify their MemberSite easily. <b>ALL community businesses are eligible to sign up for their own FREE searchable MemberSite business listing. This includes services, professionals and independent contractors.</b> As a business listed on this website you will have a free multi-page MemberSite Expanded Business Listing(TM) with your images and text and your business calendar. You will have control over your website text and graphics, and you can log in and make these changes from any browser anywhere at any time. Your changes will appear instantly on your MemberSite pages. With your MemberSite you will have your very own events calendar that shows special event dates and details that can be posted to the community shopping calendar. You can also participate in the Cashiers Country Store if you want!</p>

                      <p><a href="#/signup" class="btn btn-primary rcs">Sign Up Now</a></p>

                    </div>
                </div>
            </div> 
            
        </div>
      </div>
    </div>