              <div class="row">
                <div class="col-md-12"> 
                  <div class="well well2">
                    <img src="common/images/photo-kids.jpg" class="photoPage pull-right rcs" alt="" >
                      <h3 style="margin-top:0px;"><i class="fa fa-heart star"></i>The Heart Of The Blue Ridge Mountains</h3>

                      <p>Cashiers, North Carolina is a very tight-knit and giving community and we look after our own! Our new website listing local area charities has been created to be a resource for you!  You can now find information about contacting and participating in the many volunteer and philanthropic opportunities in the Cashiers area.</p>

                      <h4>Find Out How You Can Help!</h4>

                      <p>Everyone has knowledge, experience or skills to contribute. There are many organizations in the area that focus on the general welfare of the community as well those that are more specifically targeted. Take a look through the list and see if one or more are a good fit for your talents. Your participation will be appreciated and recognized!</p>

                      <p><a href="http://TheHeartOfTheBlueRidgeMountains.org" target="_blank"><button type="submit" class="btn btn-primary rcs">More Information</button></a></p>

                  </div>
                </div>
              </div>