<div class="row" style="margin-top:0px;margin-bottom:0px;">
    <div class="col-md-12">
        <div class="well planks rcs2" style="padding:15px;">
        	<img src="common/images/header35.jpg" width="100%" class="slideshowImage" alt="" />
        	<!--<ul id="rotation">
				<li><img src="common/images/header4.jpg" width="100%" alt="" /></li>
				<li><img src="common/images/header35.jpg" width="100%" alt="" /></li>
				<li><img src="common/images/header45.jpg" width="100%" alt="" /></li>
				<li><img src="common/images/header2.jpg" width="100%" alt="" /></li>
				<li><img src="common/images/header37.jpg" width="100%" alt="" /></li>
			</ul>-->

        </div>
    </div>
 </div>