			
		
  <div class="container">
    <div class="row" style="margin-top:0px;">
      <div class="col-md-12">
        <div class="well well2 planks">

			<h1 style="margin-left:1px;margin-top:5px;color:#ffffff;"><i class="fa fa-spin fa-heart star"></i>Job Openings</h1>
             

            <div class="row">
              <div class="col-md-12">

                 <div  ng-controller="UserProfileCtrl" class="row"> 
      

            <div class="col-md-12"> 
                <div class="well well2">
          
                

                      <h4>Posted Jobs</h4>
                      <div class="row well well5" style="margin-bottom:5px;">

                          <div class="col-md-4 col-sm-4 col-xs-12 pad bolder">
                              Job Title
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                              City
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                              Posting Date
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                              Full Time
                          </div>
                         
                          <div class="col-md-4 col-sm-4 col-xs-6 pad">
                              Phone
                         </div>
                          
                          <div class="col-md-4 col-sm-4 col-xs-6 pad">
                            <span class="pull-right"><button class="btn btn-success btn-sm rcs">View Details</button></span>
                          </div>

                      </div>


                      <div class="row well well5" style="margin-bottom:5px;">

                          <div class="col-md-4 col-sm-4 col-xs-12 pad bolder">
                              Job Title
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                              City
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                              Posting Date
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                              Full Time
                          </div>
                         
                          <div class="col-md-4 col-sm-4 col-xs-6 pad">
                              Phone
                         </div>
                          
                          <div class="col-md-4 col-sm-4 col-xs-6 pad">
                            <span class="pull-right"><button class="btn btn-success btn-sm rcs">View Details</button></span>
                          </div>

                      </div>
              
              </div>

      </div>

  </div >

               
              </div>
            </div> 
            </div>  
            
        </div>
      </div>
    </div>
