			
		
  <div class="container">
    <!--<div ng-include="'common/partials/innerfade.html'"></div>-->
    <div class="row" style="margin-top:0px;">
      <div class="col-md-12">
        <div class="well well2 planks">
          <span class="pull-right" style='display:block !important; width: 170px; margin-top:0px; margin-right:-11px;text-align: center; font-family: sans-serif; font-size: 12px;'><a href='http://www.wunderground.com/cgi-bin/findweather/getForecast?query=Cashiers, NC' title='Cashiers, NC Weather Forecast'><img src='http://weathersticker.wunderground.com/weathersticker/miniDial/language/english/US/NC/Cashiers.gif' class='rcs' alt='Find more about Weather in Cashiers, NC' /></a></span>

			     <h1 style="margin-left:1px;margin-top:5px;color:#ffffff;"><i class="fa fa-spin fa-heart star"></i>Cashiers Area Map</h1>

              <div class="row"> 
                
                <div class="col-md-12"> 
                  <div class="well well3">
                    
                    <iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="border: 1px solid #aabbcc; background-color:#ffffff;padding:3px;" src="https://www.google.com/maps?t=m&amp;sll=35.112417,-83.0978629&amp;sspn=0.0269616,0.0439464&amp;q=Cashiers,+NC&amp;ie=UTF8&amp;hq=&amp;hnear=Cashiers,+North+Carolina&amp;ll=35.111906,-83.099635&amp;spn=0.038826,0.09553&amp;z=14&amp;output=embed" class="rcs"></iframe>  
                                      
                  </div>
                </div>
              </div>
              <div class="row"> 
                <div class="col-md-12">
                  <div class="well well3">
                  <h3>How Long to Drive Here?</h3>
                  <p>These are approximate drive times from various major regional areas to the Cashiers area. Use the handy Google map above to plan your drive to Cashiers, North Carolina, The Heart Of The Blue Ridge Mountains!</p>
                  <br />
                  <div class="well well2">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <h4>Traveling From:</h4>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <ul>
                      <li>Atlanta, GA - 2.5 Hrs</li>
                      <li>Asheville, NC - 1.5 Hrs</li>
                      <li>Charlotte, NC - 2.5 Hrs</li>
                      <li>Highlands, NC - 30 Min</li>
                      <li>Hendersonville, NC - 1.0 Hrs</li>
                      <li>Sylva, NC - 30 Min</li>

                    </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <ul>
                        <li>Greenville, SC - 1.5 Hrs</li>
                        <li>Clemson, SC - 1.0 Hrs</li>
                        <li>Clayton, GA - 45 Min</li>
                        <li>Nashville, TN - 5.5 Hrs</li>
                        <li>Knoxville, TN - 3.0 Hrs</li>
                        <li>Chattanooga, TN - 3.5 Hrs</li>
                      </ul>
                    </div>

                   </div>  
                 </div>
                    </div>
                </div>
            </div> 

            

            
             
        </div>
      </div>
    </div>