<div class="container">
	
	<div class="navbar navbar-inverse navbar-top navbar-inner rcs" role="navigation"  ng-controller="NavCtrl"  style="margin-bottom:10px;margin-top:3px;">
		<div class="row" style="height:80px;">
			<div class="col-md-10 col-sm-10 col-xs-10">
				<a href="#/home" class="navbar-brand" style="margin-top:-8px;margin-left:-1px;">
				<img src="../../../common/images/logo-9h.png" class="logo-header" alt="Cashiers North Carolina - The Heart Of The Blue Ridge Mountains"></a>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-2">
				<span class="pull-right"><a href="#/searchX"><button type="submit" class="btn btn-primary btn-xs rcs" style="margin-top:11px; margin-right:12px;text-shadow: 3px 4px 4px rgba(0,0,0, 0.3);"><i class="fa fa-search" style="font-size:1.7em; margin-top:3px;"></i><br /><span style="font-size:.8em;">SEARCH</span></button></a></span>
			</div>
		</div>

		<div class="navbar-header">
		  	<button type="button" class="navbar-toggle rcs" style="margin-top:10px;" data-toggle="collapse" data-target=".navbar-collapse">
            	<span class="sr-only rcs">Toggle navigation</span>
            	<span class="icon-bar rcs"></span>
            	<span class="icon-bar rcs"></span>
            	<span class="icon-bar rcs"></span>
          	</button>
        </div>

		<div class="collapse navbar-collapse navHeaderCollapse" >
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#/home"><i class="fa fa-heart star" style="margin-left:-1px;margin-right:5px;margin-top:0px;margin-bottom:0px;"></i>Home</a></li>
				
				<li class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown">Find A Business <b class="caret"></b></a>
					<ul class="dropdown-menu rcs">
						<li><a href="#/locator"><i class="fa fa-heart star" style="margin-left:-7px;margin-right:5px;"></i>Find A Business</a></li>
						<li><a href="#/lodging">Where To Stay</a></li>
						<li><a href="#/dining">Restaurants</a></li>
						<li><a href="#/realEstate">Real Estate</a></li>
						<li><a href="#/golfing">Golf Courses</a></li>
						<li><a href="#/recreation">Recreation</a></li>
						<li><a href="#/public-services">Public/Emergency Services</a></li>
						<li><a href="#/map">Cashiers Area Map</a></li>
						<li><a href="#/store"><i class="fa fa-heart star" style="margin-left:-7px;margin-right:5px;"></i>Cashiers Country Store</a></li>
					</ul>
				</li>
				
				<li><a href="#/events">Events</a></li>

				<li class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown">Activities <b class="caret"></b></a>
					<ul class="dropdown-menu rcs">
						<li><a href="#/activities">Area Activities</a></li>
						<li><a href="#/waterfalls">Waterfalls &amp; Trails</a></li>
					</ul>
				</li>
				
				<li class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown">Calendars <b class="caret"></b></a>
					<ul class="dropdown-menu rcs">
						<li><a href="#/entertainment">Live Entertainment</a></li>
						<!--<li><a href="#/shopping">Shopping</a></li>-->
						<li><a href="#/calendars">Local Calendars</a></li>
					</ul>
				</li>

				<li><a href="#/signup">Sign Up</a></li>

				<li ng-hide="signedIn()"><a class="active" href="#/users/login">Login</a></li>
				<!-- Controlled access -->
                <!-- <li ng-show="signedIn()" class="dropdown rcs"> -->
                	
	            <li ng-repeat="menu in menus" class="dropdown"  ng-show="signedIn()">
	          		<a ng-class="{'dropdown-toggle': menu.menus}" data-toggle="dropdown">{{menu.title}} <span class="caret"></span></a>
	          			<ul ng-if="menu.menus" class="dropdown-menu">
	            			<li ng-repeat="menu in menu.menus" ng-class="{'dropdown-toggle': menu.menus}"> <a href="{{menu.action}}">{{menu.title}}</a> </li>
	            		</ul>
	            </li>
	    		<!-- </li> -->		
	    		<li ng-show="signedIn()"><a class="active" href="#/users/adminhome">Admin</a></li>	
                <li ng-show="signedIn()"><a class="active" href="#/home" ng-click="logout()" >Logout</a></li>
                <!--<span ng-bind="whichUser()"></span>-->
			</ul>
		</div>
	</div>
</div>	

