			
		
  <div class="container">
    <div class="row" style="margin-top:0px;">
      <div class="col-md-12">
        <div class="well well2 planks">

			<h1 style="margin-left:1px;margin-top:5px;color:#ffffff;"><i class="fa fa-spin fa-heart star"></i>Public and Emergency Services</h1>
             

            <div class="row"> 
                <div class="col-md-12">
                    <div class="well well2">

                        
                          <div class="row">
                          
                            <div class="col-md-6 col-sm-6 col-xs-12 storeText">
                              <h2><i class="fa fa-thumb-tack tree"></i>Cashiers</h2>
                              <div class="row rowBottom">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p>Fire</p>
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Cashiers-Glenville Fire Department
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-586-1911
                                  </div>
                              </div>
                              <div class="row rowBottom">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p>Ambulance</p>
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Glenville-Cashiers Rescue Squad
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-586-1911
                                  </div>
                              </div>
                              <div class="row rowBottom">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p>Hospital</p>
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Highlands-Cashiers Hospital
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-586-1911
                                  </div>
                              </div>
                              <div class="row rowBottom">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p>Police/Security</p>
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Jackson County Sherriff
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-586-8901
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Blue Ridge Public Safety
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-743-2199
                                   </div>
                              </div>
                              <div class="row rowBottom">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p>Utilities</p>
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Duke Power
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Frontier Communication
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Northland Cable
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Freeman Gas
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-743-9927
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Wilson Gas
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-743-1715
                                  </div>
                              </div>
                              <div class="row rowBottom">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p>Other Services</p>
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    The Trash Company
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-
                                  </div>
                              </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 storeText">
                              <h2><i class="fa fa-thumb-tack tree"></i>Glenville</h2>
                              <div class="row rowBottom">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p>Fire</p>
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Cashiers-Glenville Fire Department
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-586-1911
                                  </div>
                              </div>
                              <div class="row rowBottom">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p>Ambulance</p>
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Glenville-Cashiers Rescue Squad
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-586-1911
                                  </div>
                              </div>
                              <div class="row rowBottom">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p>Hospital</p>
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Highlands-Cashiers Hospital
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-586-1911
                                  </div>
                              </div>
                              <div class="row rowBottom">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p>Police/Security</p>
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Jackson County Sherriff
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-586-8901
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Blue Ridge Public Safety
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-743-2199
                                   </div>
                              </div>
                              <div class="row rowBottom">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p>Utilities</p>
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Duke Power
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Frontier Communication
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Northland Cable
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Freeman Gas
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-743-9927
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Wilson Gas
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-743-1715
                                  </div>
                              </div>
                              <div class="row rowBottom">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p>Other Services</p>
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    The Trash Company
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-
                                  </div>
                              </div>

                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 storeText">
                              <h2><i class="fa fa-thumb-tack tree"></i>Highlands</h2>
                              <div class="row rowBottom">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p>Fire</p>
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Cashiers-Glenville Fire Department
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-586-1911
                                  </div>
                              </div>
                              <div class="row rowBottom">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p>Ambulance</p>
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Glenville-Cashiers Rescue Squad
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-586-1911
                                  </div>
                              </div>
                              <div class="row rowBottom">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p>Hospital</p>
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Highlands-Cashiers Hospital
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-586-1911
                                  </div>
                              </div>
                              <div class="row rowBottom">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p>Police/Security</p>
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Jackson County Sherriff
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-586-8901
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Blue Ridge Public Safety
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-743-2199
                                   </div>
                              </div>
                              <div class="row rowBottom">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p>Utilities</p>
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Duke Power
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Frontier Communication
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Northland Cable
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Freeman Gas
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-526-0040
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Wilson Gas
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-526-2568
                                  </div>
                              </div>
                              <div class="row rowBottom">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p>Other Services</p>
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    The Trash Company
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-
                                  </div>
                              </div>

                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 storeText">
                              <h2><i class="fa fa-thumb-tack tree"></i>Sapphire</h2>
                              <div class="row rowBottom">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p>Fire</p>
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Cashiers-Glenville Fire Department
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-586-1911
                                  </div>
                              </div>
                              <div class="row rowBottom">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p>Ambulance</p>
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Glenville-Cashiers Rescue Squad
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-586-1911
                                  </div>
                              </div>
                              <div class="row rowBottom">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p>Hospital</p>
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Highlands-Cashiers Hospital
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-586-1911
                                  </div>
                              </div>
                              <div class="row rowBottom">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p>Police/Security</p>
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Jackson County Sherriff
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-586-8901
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Blue Ridge Public Safety
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-743-2199
                                   </div>
                              </div>
                              <div class="row rowBottom">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p>Utilities</p>
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Duke Power
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Frontier Communication
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Northland Cable
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Freeman Gas
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-743-9927
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Wilson Gas
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-743-1715
                                  </div>
                              </div>
                              <div class="row rowBottom">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p>Other Services</p>
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    The Trash Company
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-
                                  </div>
                              </div>

                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 storeText">
                              <h2><i class="fa fa-thumb-tack tree"></i>Toxaway</h2>
                              <div class="row rowBottom">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p>Fire</p>
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Cashiers-Glenville Fire Department
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-586-1911
                                  </div>
                              </div>
                              <div class="row rowBottom">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p>Ambulance</p>
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Glenville-Cashiers Rescue Squad
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-586-1911
                                  </div>
                              </div>
                              <div class="row rowBottom">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p>Hospital</p>
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Highlands-Cashiers Hospital
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-586-1911
                                  </div>
                              </div>
                              <div class="row rowBottom">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p>Police/Security</p>
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Jackson County Sherriff
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-586-8901
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Blue Ridge Public Safety
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-743-2199
                                   </div>
                              </div>
                              <div class="row rowBottom">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p>Utilities</p>
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Duke Power
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Frontier Communication
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Northland Cable
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Freeman Gas
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-743-9927
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    Wilson Gas
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-743-1715
                                  </div>
                              </div>
                              <div class="row rowBottom">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p>Other Services</p>
                                  </div>
                                  <div class="col-md-8 col-sm-7 col-xs-7">
                                    The Trash Company
                                  </div>
                                  <div class="col-md-4 col-sm-5 col-xs-5">
                                    828-
                                  </div>
                              </div>

                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <p style="margin-top:50px;color:#cc3333;">Please contact us if your service is not listed here.</p>

                            </div>
                          </div>
                        </div>
<div ng-include="'public/partials/quickLinks.html'"></div>
                    </div>
                </div>
            </div> 


            </div>  
            
        </div>
      </div>
    </div>
