              <div class="row">
                <div class="col-md-12"> 
                  <div class="well well2">
                      <h3 style="margin-top:-10px;"><i class="fa fa-heart star"></i>Quick Links</h3>
                      
                      
                      <ul style="list-style-type:none;">
                        <li class="quicks"><a href="#/realEstate"><i class="fa fa-home bump"></i></a><br /><span class="storeText quicksCaption">Real Estate</span></li>
                        <li class="quicks"><a href="#/dining"><i class="fa fa-cutlery bump"></i></a><br /><span class="storeText quicksCaption">Dining</span></li>
                        <li class="quicks"><a href="#/lodging"><i class="fa fa-suitcase bump"></i></a><br /><span class="storeText quicksCaption">Lodging</span></li>
                        <li class="quicks"><a href="#/golfing"><i class="fa fa-flag bump"></i></a><br /><span class="storeText quicksCaption">Golfing</span></li>
                        <li class="quicks"><a href="#/entertainment"><i class="fa fa-music bump"></i></a><br /><span class="storeText quicksCaption">Entertainment</span></li>
                        <li class="quicks"><a href="#/events"><i class="fa fa-calendar bump"></i></a><br /><span class="storeText quicksCaption">Events</span></li>
                        <li class="quicks"><a href="#/store"><i class="fa fa-shopping-cart bump"></i></a><br /><span class="storeText quicksCaption">Store</span></li>
                        <li class="quicks"><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=Cashiers, NC" title="Cashiers, NC Weather Forecast" target="_blank"><i class="fa fa-cloud bump"></i></a><br /><span class="storeText quicksCaption">Weather</span></li>
                        <li class="quicks"><a href="#/map"><i class="fa fa-map-marker bump"></i></a><br /><span class="storeText quicksCaption">Area Map</span></li>
                        <li class="quicks"><a href="#/public-services"><i class="fa fa-plus-square bump red"></i></a><br /><span class="storeText quicksCaption">Emergency</span></li>
                    </ul>
                  
                  </div>
                </div>
              </div>