<div ng-include="'/common/partials/header.html'"></div>
<br/>
<div>
    here
</div>


<div ng-include="'/common/partials/sider_right.html'"></div>
<div ng-include="'/common/partials/footer.html'"></div>