

<div class="container">
    <div class="row" style="margin-top:0px;">
      <div class="col-md-12">
        <div class="well well2 planks">
          
          <span class="pull-right" style='display:block !important; width: 170px; margin-top:0px; margin-right:-11px;text-align: center; font-family: sans-serif; font-size: 12px;'><a href='http://www.wunderground.com/cgi-bin/findweather/getForecast?query=Cashiers, NC' title='Cashiers, NC Weather Forecast'><img src='http://weathersticker.wunderground.com/weathersticker/miniDial/language/english/US/NC/Cashiers.gif' class='rcs' alt='Find more about Weather in Cashiers, NC' /></a></span>

          <h1 style="margin-left:1px;margin-top:5px;color:#ffffff;"><i class="fa fa-spin fa-heart star"></i>Shopping Calendar</h1>

            <div class="row"> 
              <div class="col-md-2"> 
                <center>

                  <img src="common/images/bannerAds/cashiers_golfing_anim2.gif" class="photo3">
                  <img src="common/images/bannerAds/LAURELchamberad.jpg" class="photo3">
                  <img src="common/images/bannerAds/classics-web-ad-2.gif" class="photo3">

                </center>
                <br />
              </div>
                
              <div class="col-md-8"> 
                <div class="well well2">

                  <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=sj%40middleofnowhere.com&amp;color=%232952A3&amp;ctz=America%2FNew_York" style=" border-width:0 " width="100%" height="400" frameborder="0" scrolling="no"></iframe>

                </div>
                <div ng-include="'common/partials/quickLinks.html'"></div>
              </div>
              <div class="col-md-2"> 
                <center>

                  <img src="common/images/bannerAds/LV-ad.jpg" class="photo3">
                  <img src="common/images/bannerAds/dovetail-ad-001.jpg" class="photo3">
                  <img src="common/images/bannerAds/orchard-web-ad1.jpg" class="photo3">

                <center>
              </div>
            </div> 

        </div>
      </div>
    </div>
  </div>