
  <div class="container">
    <div class="row" style="margin-top:0px;">
      <div class="col-md-12">
        <div class="well well2 planks">
          <span class="pull-right" style='display:block !important; width: 170px; margin-top:0px; margin-right:-11px;text-align: center; font-family: sans-serif; font-size: 12px;'><a href='http://www.wunderground.com/cgi-bin/findweather/getForecast?query=Cashiers, NC' title='Cashiers, NC Weather Forecast'><img src='http://weathersticker.wunderground.com/weathersticker/miniDial/language/english/US/NC/Cashiers.gif' class='rcs' alt='Find more about Weather in Cashiers, NC' /></a></span>

			     <h1 style="margin-left:1px;margin-top:5px;color:#ffffff;"><i class="fa fa-spin fa-heart star"></i>Cashiers Country Store</h1>
<div class="row">
 
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="well well2">
                  
                  <img src="common/images/country-store7.png" class="pull-right" style="margin-left:20px;margin-top:3px;margin-bottom:15px;margin-right:0px;" alt="" >
                  <h2>Think Local - Shop Local - Buy Local.</h2>
                  <p class="storeText">This website supports our community by providing all local businesses with an online marketplace for promoting their products and services. Each local business is allowed one space in the Cashiers Country Store. This one of many MemberSite features available to businesses who sign up for this free service. Ads are sorted by most recent at top. <b>Tell your friends you found it in The Cashiers Country Store!</b></p><br />
                  <div><a class="btn btn-primary rcs" data-toggle="collapse" data-target="#pageMgrAdd">Show Shopping Categories</a></div>

<div id="pageMgrAdd" class="collapse">
                  <br />
                  <div class="well rcs" >
                    <a class="btn btn-primary btn-xs rcs pull-right" data-toggle="collapse" data-target="#pageMgrAdd">Hide List&nbsp;<i class="fa fa-times"></i></a>
                    <h3 style="margin-top:5px;"><i class="fa fa-shopping-cart tree"></i>Select A Shopping Category</h3>

                    <span class="storeText" style="font-weight:bold;">
                    <div class="row">

                        <div class="col-md-4">
                          <ul style="line-height:1.8em;">
                            <li><a href="#/store#1">Real Estate</a></li>
                            <li><a href="#/store#2">Retail</a></li>
                            <li><a href="#/store#3">Automotive</a></li>
                            <li><a href="#/store#4">Dining</a></li>
                            <li><a href="#/store#5">Clothing, Apparel</a></li>
                          </ul>
                        </div>
                        <div class="col-md-4">
                          <ul style="line-height:1.8em;">
                            <li><a href="#/store#6">Non-Profit Announcements</a></li>
                            <li><a href="#/store#7">Groceries, Supplies</a></li>
                            <li><a href="#/store#8">Landscaping, Gardening</a></li>
                            <li><a href="#/store#9">Lodging, Vacation Rental</a></li>
                            <li><a href="#/store#10">Automotive</a></li>
                          </ul>
                        </div>
                        <div class="col-md-4">
                          <ul style="line-height:1.8em;">
                            <li><a href="#/store#11">Building Services</a></li>
                            <li><a href="#/store#12">Professional Services</a></li>
                            <li><a href="#/store#13">Hiking, Fishing, Camping</a></li>
                            <li><a href="#/store#14">Animals, Pets, Livestock</a></li>
                            
                            
                            <br />
                            <a href="#/locator" class="btn btn-sm btn-success rcs"><b>Find A Business</b></a>
                          </ul>
                        </div>

                    </div>
                  </span>
                  </div>
                
            
            </div>
   
                  <br />
                  <p style="color:#cc3333;font-size:0.95em; font-weight:bold; font-style:italic;" class="text-center"><i class="fa fa-thumbs-up"></i> IMPORTANT! Your payment goes directly to the seller and <u>not</u> the Country Store. You must contact the seller for pickup, delivery, scheduling or shipping for your order.</p>

              </div>

            </div>
          </div>
              <div class="row"> 
                
                <div class="col-md-10 col-sm-9 col-xs-12"> 

                  <div class="well well2">
                    <a name="1"></a>

                    <div class="row"> 

                        <div class="col-md-12 col-sm-12 col-xs-12">
                          
                          
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                              
                    

                            <h3><i class="fa fa-thumb-tack tree"></i>Current Front Porch Specials</h3>
                            </div> 


                            <div class="col-md-12 col-sm-12 col-xs-12 wellW rcs">
                              <span class="storeText pull-right"><a href="#" target="_blank" class="smallLink">Visit Our MemberSite&nbsp;&raquo;</a></span>
                              <h4 style="margin-top:0px; color:#666666;">Verdant Landscapers</h4>
                              <img src="common/images/landscaping.jpg" class="photoProduct pull-right" alt="" >
                              <span class="productTitle">Monthly Maintenance Special Offer</span>
                              <p class="storeText">Landscaping and maintenance are our specialties. Take advantage of our annual maintenance contract special only available online. The price includes lawn and garden trimming, leaf removal and fertilizing once a month.</p>
                              <p class="storeText">828-743-1800
                              <br />
                              252 Hwy 107 South, Cashiers NC 28717
                              <br />
                              Posted: 4/26/2015</p>
                              
                              
                                <div class="row">
                                  <div class="col-md-6 col-sm-6 col-xs-12">

                                    <p class="bigNumbers2">$375.00</p>

                                  </div>
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                    <form target="paypal" method="post" action="https://www.paypal.com/cgi-bin/webscr" class="cartmargin">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="business" value="steven.johannessen@middleofnowhere.com">
                                    <input type="hidden" name="item_name" value="Verdant Landscapers - Annual Maintenance Special">
                                    <input type="hidden" name="amount" value="375.00">
                                    <input type="hidden" name="return" value="http://cashierscountrystore.com/#/store">
                                    <input type="hidden" name="currency_code" value="USD">
                                    <input type="hidden" name="quantity" value="1">
                                    <input type="hidden" name="add" value="1">
                                    <input type="submit" value="Purchase Using PayPal" class="btn btn-sm btn-warning rcs pull-right" style="font-weight:bold;">
                                  </form>
                                  </div>
                                </div>


                              
                            </div> 

                            <div class="col-md-12 col-sm-12 col-xs-12 wellW rcs">
                              <span class="storeText pull-right"><a href="#" target="_blank" class="smallLink">Visit Our MemberSite&nbsp;&raquo;</a></span>
                              <h4 style="margin-top:0px; color:#666666;">Reeves Bees Honey</h4>
                              <img src="common/images/honey1.jpg" class="photoProduct pull-right" alt="" >
                              <span class="productTitle">Gourmet Honey Jar</span>
                              <p class="storeText">Our honey is pure and mountain fresh! This jar of gourmet honey is sure to please. Our bees make honey from the wildflowers in the local forests creating a uniquely aromatic and sweet honey. Limited availability.</p>
                              <p class="storeText">828-743-1800
                              <br />
                              252 Hwy 107 South, Cashiers NC 28717
                              <br />
                              Posted: 4/26/2015</p>
                              
                              
                                <div class="row">
                                  <div class="col-md-6 col-sm-6 col-xs-12">

                                    <p class="bigNumbers2">$10.00</p>

                                  </div>
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                    <form target="paypal" method="post" action="https://www.paypal.com/cgi-bin/webscr" class="cartmargin">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="business" value="steven.johannessen@middleofnowhere.com">
                                <input type="hidden" name="item_name" value="Reeves Bees Honey - Gourmet Jar">
                                <input type="hidden" name="amount" value="10.00">
                                <input type="hidden" name="return" value="http://cashierscountrystore.com/#/store">
                                <input type="hidden" name="currency_code" value="USD">
                                <input type="hidden" name="quantity" value="1">
                                <input type="hidden" name="add" value="1">
                                <input type="submit" value="Purchase Using PayPal" class="btn btn-sm btn-warning rcs pull-right" style="font-weight:bold;">
                              </form>
                                  </div>
                                </div>


                              
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 wellW rcs">
                              <span class="storeText pull-right"><a href="#" target="_blank" class="smallLink">Visit Our MemberSite&nbsp;&raquo;</a></span>
                              <h4 style="margin-top:0px; color:#666666;">Landmark Realty</h4>
                              <img src="common/images/landmark-photo.jpg" class="photoProduct pull-right" alt="" >
                              <span class="productTitle">Executive Mountain Home</span>
                              <p class="storeText">Price Drop for quick sale!! This beautiful mountain home will impress and refresh! The view from the deck is spectacular all year long. Close to town, you won't want to miss this! Owner financing possible. Contact us for more information. Was $495,000.</p>
                              <p class="storeText">828-743-1800
                              <br />
                              252 Hwy 107 South, Cashiers NC 28717
                              <br />
                              Posted: 4/26/2015</p>
                              
                                <div class="row">
                                  <div class="col-md-6 col-sm-6 col-xs-12">

                                    <p class="bigNumbers2">$425,000</p>

                                  </div>
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                    <!--<form target="paypal" method="post" action="https://www.paypal.com/cgi-bin/webscr" class="cartmargin">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="business" value="steven.johannessen@middleofnowhere.com">
                                <input type="hidden" name="item_name" value="Reeves Bees Honey - Gourmet Jar">
                                <input type="hidden" name="amount" value="10.00">
                                <input type="hidden" name="return" value="http://cashierscountrystore.com/#/store">
                                <input type="hidden" name="currency_code" value="USD">
                                <input type="hidden" name="quantity" value="1">
                                <input type="hidden" name="add" value="1">
                                <input type="submit" value="Purchase Item Using PayPal" class="btn btn-sm btn-warning rcs" style="font-weight:bold;">
                              </form>-->
                              <a href="mailto:sj@membersites.net" class="btn btn-sm btn-success rcs pull-right"><b>Contact Us</b></a>
                                  </div>
                                </div>


                             
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 wellW rcs">
                              <span class="storeText pull-right"><a href="#" target="_blank" class="smallLink">Visit Our MemberSite&nbsp;&raquo;</a></span>
                              <h4 style="margin-top:0px; color:#666666;">The Antique Radio Store</h4>
                              <img src="common/images/product-radio.jpg" class="photoProduct pull-right" alt="" >
                              <span class="productTitle">1924 Air-Tone Radio</span>

                              <p class="storeText">This piece of radio history can be yours. This 1924 Air-Tone radio is hand made with quality construction throughout. The radio has 2 tubes and receives the standard broadcast band.  Buy the pair and complete your collection.</p>
                              <p class="storeText">828-743-1800
                              <br />
                              252 Hwy 107 South, Cashiers NC 28717
                              <br />
                              Posted: 4/26/2015</p>
                              
                                <div class="row">
                                  <div class="col-md-6 col-sm-6 col-xs-12">

                                    <p class="bigNumbers2">$230.00</p>

                                  </div>
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                  <form target="paypal" method="post" action="https://www.paypal.com/cgi-bin/webscr" class="cartmargin">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="business" value="steven.johannessen@middleofnowhere.com">
                                <input type="hidden" name="item_name" value="1924 Air Tone radio">
                                <input type="hidden" name="amount" value="230.00">
                                <input type="hidden" name="return" value="http://cashierscountrystore.com/#/store">
                                <input type="hidden" name="currency_code" value="USD">
                                <input type="hidden" name="quantity" value="1">
                                <input type="hidden" name="add" value="1">
                                <input type="submit" value="Purchase Using PayPal" class="btn btn-sm btn-warning rcs pull-right" style="font-weight:bold;">
                              </form>
                                  </div>
                                </div>


                              
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 wellW rcs">
                              <span class="storeText pull-right"><a href="#" target="_blank" class="smallLink">Visit Our MemberSite&nbsp;&raquo;</a></span>
                              <h4 style="margin-top:0px; color:#666666;">Mountain Rockers</h4>
                              <img src="common/images/rocking-chair.jpg" class="photoProduct pull-right" alt="" >
                              <span class="productTitle">Ultimate Rocking Chair</span>
                              <p class="storeText">Our Ultimate rocking chair is guaranteed to please. The just-right proportions along with an optimized center-of-gravity gives the user a super-comfortable experience. Perfect for the front proch or the back deck!</p>
                              <p class="storeText">828-743-1800
                              <br />
                              252 Hwy 107 South, Cashiers NC 28717
                              <br />
                              Posted: 4/26/2015</p>
                              
                                <div class="row">
                                  <div class="col-md-6 col-sm-6 col-xs-12">

                                    <p class="bigNumbers2">$195.00</p>

                                  </div>
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                  <form target="paypal" method="post" action="https://www.paypal.com/cgi-bin/webscr" class="cartmargin">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="business" value="steven.johannessen@middleofnowhere.com">
                                <input type="hidden" name="item_name" value="Mountain Rockers - Ultimate">
                                <input type="hidden" name="amount" value="195.00">
                                <input type="hidden" name="return" value="http://cashierscountrystore.com/#/store">
                                <input type="hidden" name="currency_code" value="USD">
                                <input type="hidden" name="quantity" value="1">
                                <input type="hidden" name="add" value="1">
                                <input type="submit" value="Purchase Using PayPal" class="btn btn-sm btn-warning rcs pull-right" style="font-weight:bold;">
                              </form>
                                  </div>
                                </div>


                              
                            </div>
                            
                          </div>
                        </div>

                    </div>

                  </div>


                </div>
                <div class="col-md-2 col-sm-3 col-xs-12"> 
                    <center> 
                      <img src="common/images/buy-local2.png" style="width:100%;max-width:165px;" alt="" >
                      <a href="http://www.holleyheating.com" target="_blank"><img src="common/images/bannerAds/holley1.gif" class="photo3"></a>
                      <a href="https://www.facebook.com/pages/JJs-Canteen-Eatery/110135502348908?fref=ts" target="_blank"><img src="common/images/bannerAds/jjs-GP-ad-2015v3.gif" class="photo3"> </a> 
                      <a href="http://dovetail-antiques.com" target="_blank"><img src="common/images/bannerAds/dovetail-ad-001.jpg" class="photo3"></a> 
                      <a href="http://http://stevenjohannessen.com/classics" target="_blank"><img src="common/images/bannerAds/steveAd-2015-anim3.gif" class="photo3"></a>
                     <!-- <img src="common/images/bannerAds/LAURELchamberad.jpg" class="photo3"> -->

                      <br />
                    <center>
                </div>
                
            </div> 
            

            <div ng-include="'public/partials/quickLinks.html'"></div>
             
        </div>
      </div>
    </div>