			
		
  <div class="container">

    <div class="row" style="margin-top:0px;">
      <div class="col-md-12">
        <div class="well well2 planks">
          <span class="pull-right" style='display:block !important; width: 170px; margin-top:0px; margin-right:-11px;text-align: center; font-family: sans-serif; font-size: 12px;'><a href='http://www.wunderground.com/cgi-bin/findweather/getForecast?query=Cashiers, NC' title='Cashiers, NC Weather Forecast'><img src='http://weathersticker.wunderground.com/weathersticker/miniDial/language/english/US/NC/Cashiers.gif' class='rcs' alt='Find more about Weather in Cashiers, NC' /></a></span>

			     <h1 style="margin-left:1px;margin-top:5px;color:#ffffff;"><i class="fa fa-spin fa-heart star"></i>Waterfalls &amp; Trails</h1>

              <div class="row">
                
                <div class="col-md-10 col-sm-9 col-xs-12"> 
                  

                  <div class="well well2">
                      
                    <div style="height:35px;" class="pad">
                      <span class="pull-right">
                        <a href="#/waterfalls#1" class="btn btn-primary btn-md rcs" style="margin:4px;"><b>Cashiers Area</b></a>
                        <a href="#/waterfalls#2" class="btn btn-primary btn-md rcs" style="margin:4px;"><b>Highlands Area</b></a>
                      </span>
                    </div>
                      <a name="1"></a>
                      <h2>Cashiers Area</h2>
                      <br />

                      <div class="well well3">
                        <h3 style="margin-top:2px;"><i class="fa fa-thumb-tack tree"></i>Whitewater Falls</h3>

                        <p><b>Directions:</b> This 411 ft. waterfall is higher than Niagara Falls and is the highest waterfall in the eastern U.S. Hiking trails take you to the top & bottom of this fall, but hiking is not necessary to view this waterfall. Hiking to the top is not recommended as several people each year have fatal or near fatal falls. From intersection of US 64 and NC 107 take NC 107 south for approximately 10 mi. You will cross into South Carolina approx. 1 mi. and turn L onto Wiggington Rd., go 3 mi. and turn L at stop sign. Marked parking area for falls will be approx. 1 mi. on right.</p>

                        <ul>
                          <li>9 miles, 7 miles to river, 30-40 minutes one-way</li>
                          <li>Dirt mound to the left leads to the river, be prepared to wade in cold calf-deep water</li>
                          <li>5-10 minute walk leads to paved trail to an overlook, wheelchair accessible</li>
                          <li>Stairs on the right to a second vantage point of the falls</li>
                          <li>Picnic area</li>
                          <li>$2 parking fee</li>
                        </ul>
                      </div>

                      <div class="well well3">
                        <h3 style="margin-top:2px;"><i class="fa fa-thumb-tack tree"></i>Whiteside Mountain Trail</h3>

                        <p><b>Directions:</b> From intersection of NC 107 and US 64 in Cashiers, drive 4.7 mi. west on US 64, turn L on Whiteside Mtn. Rd. at brown Whiteside Mountain Trail sign. Continue 1.1 mi. passing Wildcat Cliffs Country Club on R, turn L into gravel parking.</p>

                        <ul>
                          <li>Easy 2 mi. loop along the Eastern Continental Divide</li>
                          <li>Whiteside Mountain is 4930 ft., highest vertical drop (750ft.) in eastern US</li>
                          <li>Long range views from the top</li>
                          <li>Shortoff and Yellow Mountain to the North, Chimney Top Mountain to the East, Lake Keowee South, Nantahala Mountain range to the West.</li>
                        </ul>
                      </div>
                      
                      <div class="well well3">
                        <h3 style="margin-top:2px;"><i class="fa fa-thumb-tack tree"></i>Chattooga River Trail</h3>

                        <p><b>Directions:</b> From intersection of NC 107 and US 64 travel south on 107 for 7 mi., turn R on Bull Pen Rd. You will be on gravel road for about 8 miles or so. You will cross the Iron Bridge and see the parking area on the R. Follow path down to river and hike back as far as you like.</p>

                        <ul>
                          <li>Hike as far as you like</li>
                          <li>Beautiful Iron Bridge and Chattooga river trail scenery</li>
                          <li>Moderate difficulty</li>
                        </ul>
                      </div>
                      
                      <div class="well well3">
                        <h3 style="margin-top:2px;"><i class="fa fa-thumb-tack tree"></i>Horsepasture River &amp; Nature Trails</h3>

                        <p><b>Directions:</b> From the intersection of NC 107 and US 64 travel east on 64 for 10.4 mi.. Turn R on NC 281 S. Cont. for 1 mi. to Gorges State Park entrance on L. Multiple trails to choose from - more information available on Park site.</p>

                        <ul>
                          <li>At Gorges State Park</li>
                          <li>Multiple trails to choose from</li>
                          <li>Varying trail difficulty</li>
                        </ul>
                      </div>
                      
                      <div class="well well3">
                        <h3 style="margin-top:2px;"><i class="fa fa-thumb-tack tree"></i>Panthertown Valley Wilderness Area</h3>

                        <p><b>Directions:</b> From intersection of NC 107 and US 64 travel east on US 64 for 2 mi., turn L on Cedar Creek Rd., continue for 2.3 mi., turn R on Breedlove Rd. (gravel, blacktop, gravel) for 4 mi. to entrance. You WILL need a map of Panthertown to navigate once there. It takes at least 1/2 a day to appreciate the valley’s beauty. If hiking, please stay on main trails.</p>

                        <ul>
                          <li>Hiking and mountain hiking permitted year-round</li>
                          <li>6,700 acres of high mountain valley, sheer rock, waterfalls, quiet streams and diverse vegetation</li>
                          <li>Trails, from old logging roads to footpaths, criss-sross the area</li>
                        </ul>
                      </div>
                      
                      <div class="well well3">
                        <h3 style="margin-top:2px;"><i class="fa fa-thumb-tack tree"></i>Cashiers Sliding Rock</h3>

                        <p><b>Directions:</b> From intersection of NC 107 and US 64 travel 107 S. approx. 1.5 mi. to R on Whiteside Cove Rd., continue approx. 3 mi. to small bridge. Park to your right and the very short trail will be visible.</p>

                        <ul>
                          <li>Nature’s waterslide on the Chattooga River!</li>
                          <li>Perfect for children to enjoy a summer day.</li>
                        </ul>
                      </div>

                      <div class="well well3">
                        <h3 style="margin-top:2px;"><i class="fa fa-thumb-tack tree"></i>Yellow Mountain Trail</h3>

                        <p><b>Directions:</b> From intersection of NC 107 and US 64 in Cashiers, drive 7.3 mi. west on US 64, turn on Buck Creek Rd., go 2.2 mi. passing Chestnut Hill on R. Look for steep path on R with small wooden sign and steps leading to trail. Park on L in gravel.</p>

                        <ul>
                          <li>9.6 mi. round trip, steep ascents and descents</li>
                          <li>3-5 hrs. to old stone and wood fire tower at 5,127 ft. elev.</li>
                          <li>Long range views from the top</li>
                        </ul>
                      </div>
                      
                      <div class="well well3">
                        <h3 style="margin-top:2px;"><i class="fa fa-thumb-tack tree"></i>Silver Run Falls</h3>

                        <p><b>Directions:</b> From intersection of NC 107 and US 64 take 107 S. approx. 4.3 mi. to gravel parking area on your L. Brown forest service sign marks area as Silver Run Falls. Follow short trail, crossing a small foot bridge to the 40 ft. cascade. A great place to swim and picnic. From Walhalla, take SC 28 to SC 107. Then, proceed up SC 107 about 16 miles to the parking area on the right.</p>

                        <ul>
                          <li>25′ waterfall</li>
                          <li>Beautiful boulder face fun to swim down into the private lake and stand underneath the fall.</li>
                        </ul>
                      </div>
                      
                      <div class="well well3">
                        <h3 style="margin-top:2px;"><i class="fa fa-thumb-tack tree"></i>Turtleback and Rainbow Falls</h3>

                        <p><b>Directions:</b> Inside of Gorges State Park. From Cashiers drive East on 64 for about 10.5 miles, turn right (South) on 281 for about 1 mile. Forest Service Horse Pasture River/Rainbow Falls sign on left. Parking on Right. Go down trail for approximately 1 mile until intersects a trail that parallels the river of Turtleback Falls, go left along trail to view from the bottom. Continue 1/4 mile to Rainbow Falls. If coming from Whitewater Falls, exit parking area to R. Continue on NC 281 for 7.5 miles to park entrance.</p>

                        <ul>
                          <li>150′ waterfalls, on sunny mornings you can see a rainbow over the falls</li>
                          <li>One of the falls “Bust your butt falls”, ride a tube or slide down the rock</li>
                          <li>Not for young children or the less physically fit</li>
                        </ul>
                      </div>
                      
                      <div class="well well3">
                        <h3 style="margin-top:2px;"><i class="fa fa-thumb-tack tree"></i>Chattooga River</h3>

                        <p><b>Directions:</b> Follow US 107 or US 28 South to the intersection of US 107 and US 28. Continue 1.9 miles south on US 28/107 to the paved right at Mountain Top Trading Post (Whetstone Road). From the turn, go .7 miles and take first paved left at the Long Creek sign, Cassidy Bridge Road. Continue 7.3 miles to the end of the road. Turn left at the fork and proceed .2 miles to Raines Rd. and take a right. Follow Raines Rd. until it ends at Hwy. 76. Take a right and follow Hwy. 76 to the Chattooga River Hwy. 76 Bridge.</p>

                        <ul>
                          <li>Moderate to difficult</li>
                          <li>2 miles round trip</li>
                          <li>Many places around river perfect for picnics</li>
                        </ul>
                      </div>
                      
                      <div class="well well3">
                        <h3 style="margin-top:2px;"><i class="fa fa-thumb-tack tree"></i>The Narrows</h3>

                        <p><b>Directions:</b> Take Horse Cove Rd. 4.3 miles from the corner of Fourth and Main St. in Highlands to the end of the pavement. Turn left onto Whiteside Cove Rd. and drive 0.9 miles. The trail is on a logging road on the right and descends 2 miles to The Narrows. You will pass a trail to the right, which continues to Bull Pen Bridge on Horse Cove Rd. Be sure to return the way you came.</p>

                        <ul>
                          <li>Cascading rivers</li>
                          <li>Swimming hole</li>
                          <li>Narrow Channel</li>
                          <li>4 miles round trip</li>
                          <li>Trail head Whiteside Cove Road</li>
                        </ul>
                      </div>
                      
                      <div class="well well3">
                        <h3 style="margin-top:2px;"><i class="fa fa-thumb-tack tree"></i>Ellicott’s Rock – Bad Creek</h3>

                        <p><b>Directions:</b> From intersection of NC 107 and US 64 travel south on Hwy 107. Right turn on Bull Pen Rd., about 2.5-3 miles park on the right in the gravel just after Fowler Creek Bridge, walk back over the bridge on the opposite side of the road is the trailhead.</p>

                        <ul>
                          <li>7 mile round trip</li>
                          <li>Ellicott’s rock is a rock embedded in the Chattooga River with NC carved out by surveyor Andrew Ellicott</li>
                          <li>Trail head Bull Pen Road</li>
                        </ul>
                      </div>
                      
                      <div class="well well3">
                        <h3 style="margin-top:2px;"><i class="fa fa-thumb-tack tree"></i>Toxaway Falls</h3>

                        <p><b>Directions:</b> From Cashiers drive east on US 64 for approx. 14 mi. The hwy. passes over the falls in the curve just past the Lake Toxaway Co. office bldg on your left. Parking is limited to paved roadside and waterfall cannot be viewed by merely driving by.</p>

                        <ul>
                          <li>Park to view the falls</li>
                          <li>No hike involved.</li>
                        </ul>
                      </div>
                      
                      <div class="well well3">
                        <h3 style="margin-top:2px;"><i class="fa fa-thumb-tack tree"></i>Hurricane Falls</h3>

                        <p><b>Directions:</b> From cashiers take 107 N. 2 mi. to L on Norton Rd. Follow road for .5 mi. crossing a bridge to a pull off area just past it where you can view this waterfall that empties into Lake Glenville. No hike.</p>

                        <ul>
                          <li>Park to view the falls</li>
                          <li>No hike involved.</li>
                        </ul>
                      </div>
                      <br />
                      <a name="2"></a>
                      <h2>Highlands Area</h2>
                      <br />


                      <div class="well well3">
                        <h3 style="margin-top:2px;"><i class="fa fa-thumb-tack tree"></i>Glen Falls</h3>

                        <p><b>Directions:</b> 106 South, 2 miles from Highlands, Glen Falls scenic area sign to left, turn and follow SR 1618 to parking area. Follow the gravel path to the falls.</p>

                        <ul>
                          <li>1.4 mile trail</li>
                          <li>15 minutes to first waterfall</li>
                          <li>Three 80′ waterfalls and streams</li>
                        </ul>
                      </div>
                      
                      <div class="well well3">
                        <h3 style="margin-top:2px;"><i class="fa fa-thumb-tack tree"></i>Bridal Veil Falls</h3>

                        <p><b>Directions:</b> from the intersection of Highway 107 South and 64, drive West towards Highlands on 64 , turn right at light and junction of 64 and 28 (towards Franklin) drive about 3 miles, Falls on right side of the road.</p>

                        <ul>
                          <li>150′ waterfall</li>
                          <li>Can drive under falls!</li>
                          <li>Many weddings have been performed under Bridal Veil</li>
                        </ul>
                      </div>
                      
                      <div class="well well3">
                        <h3 style="margin-top:2px;"><i class="fa fa-thumb-tack tree"></i>Dry Falls</h3>

                        <p><b>Directions:</b> Intersection of Highway 107 South & 64, drive West towards Highlands on 64 , turn right at light and junction of 64 and 28 (towards Franklin), drive about 1 mile past Bridal Veil Falls. After Dry Falls sign turn left into parking area. Follow stone staircase to the falls which cascades overhead. Short path takes you behind this waterfall.</p>

                        <ul>
                          <li>Path leading behind falls</li>
                          <li>Walk behind without getting wet</li>
                          <li>75′ waterfalls</li>
                        </ul>
                      </div>
                      
                      <div class="well well3">
                        <h3 style="margin-top:2px;"><i class="fa fa-thumb-tack tree"></i>Lower Cullasaja Falls</h3>

                        <p><b>Directions:</b> Intersection of Highway 107 South & 64, drive West towards Highlands on 64 , turn right at light and junction of 64 and 28 (towards Franklin), drive about 1 mile past Bridal Veil Falls. After Dry Falls sign turn left into parking area, Go down staircase to Dry Falls.</p>

                        <ul>
                          <li>Cullasaja cascades above 250′</li>
                          <li>Falls are visible from the highway</li>
                          <li>On U.S. 64/N.C. 28 between Highlands and Franklin</li>
                        </ul>
                      </div>
                      
                      <div class="well well3">
                        <h3 style="margin-top:2px;"><i class="fa fa-thumb-tack tree"></i>Kalakaleskies Falls</h3>

                        <p><b>Directions:</b> Off 64 and 28 West,3 miles Northwest of Highlands on the Cullasaja River.</p>

                        <ul>
                          <li>18 small falls within 1/4 mile</li>
                          <li>Sequoyah Lake Dam at head of falls</li>
                          <li>Banks are steep and there are no worn paths. Be Careful!</li>
                        </ul>
                      </div>
                      <p>Waterfall and hiking information on this page provided by Cashiers, NC Luxury Lakefront Rentals © 2012</p>
                  </div>
                  
                  
                  
                </div>
                <div class="col-md-2 col-sm-3 col-xs-12"> 
                    <center>
                      <img src="common/images/buy-local2.png" style="width:100%;max-width:165px;" alt="" >
                      <a href="http://www.cashiersnc.com" target="_blank"><img src="common/images/bannerAds/luxury-lakefront-properties2.gif" class="photo3"></a>
                      <a href="http://cashiersrotary.org" target="_blank"><img src="common/images/bannerAds/rotary.jpg" class="photo3"></a>
                      <a href="https://www.maconbank.com" target="_blank"><img src="common/images/bannerAds/maconbank.jpg" class="photo3"></a>
                      <a href="http://www.thelaurelmagazine.com" target="_blank"><img src="common/images/bannerAds/LAURELchamberad.jpg" class="photo3"></a>
                      <a href="http://stevenjohannessen.com/classics" target="_blank"><img src="common/images/bannerAds/steveAd-2015-anim2.gif" class="photo3"></a>
                      <a href="http://cashiersgolfing.com" target="_blank"><img src="common/images/bannerAds/cashiers_golfing_anim2.gif" class="photo3"></a>
                      <a href="http://www.holleyheating.com" target="_blank"><img src="common/images/bannerAds/holley1.gif" class="photo3"></a>
                      <a href="http://www.blueridgemtnshotel.com" target="_blank"><img src="common/images/bannerAds/hampton-inn-ad2.jpg" class="photo3"></a>
                      <a href="http://highhamptoninn.com" target="_blank"><img src="common/images/bannerAds/high-hampton-ad1.jpg" class="photo3"></a>
                      <a href="http://www.lonesomevalley.com" target="_blank"><img src="common/images/bannerAds/LV-ad.jpg" class="photo3"></a>
                      <a href="http://dovetail-antiques.com" target="_blank"><img src="common/images/bannerAds/dovetail-ad-001.jpg" class="photo3"></a> 
                      <a href="http://www.theorchardcashiers.com" target="_blank"><img src="common/images/bannerAds/orchard.gif" class="photo3"> </a> 
                      <a href="http://www.laurelwoodinncashiers.com" target="_blank"><img src="common/images/bannerAds/laurelwoodInn.gif" class="photo3"> </a>
                      <a href="http://www.landmarkrg.com" target="_blank"><img src="common/images/bannerAds/landmark.gif" class="photo3"></a>
                       <a href="http://www.pebble-creek.com" target="_blank"><img src="common/images/bannerAds/pebble-creek.gif" class="photo3"></a>
                      <a href="http://sapphirenational.com" target="_blank"><img src="common/images/bannerAds/sapphire-national.JPG" class="photo3"></a>
                      <a href="http://chhumanesociety.org" target="_blank"><img src="common/images/bannerAds/chhs-web-ad1.jpg" class="photo3"></a>
                      <br />
                    <center>
                </div>
                
            </div> 
            <div ng-include="'public/partials/quickLinks.html'"></div>
            

            
             
        </div>
      </div>
    </div>