
.bodyBG {
		background: #88a8c1 url("../../../common/images/cloud_BG2.jpg");

/*		background-image: -ms-radial-gradient(center top, ellipse farthest-corner, #F0F0F0 0%, #c0c0c0 50%, #6B6d80 100%);
		background-image: -moz-radial-gradient(center top, ellipse farthest-corner, #F0F0F0 0%, #c0c0c0 50%, #6B6d80 100%);
		background-image: -o-radial-gradient(center top, ellipse farthest-corner, #F0F0F0 0%, #c0c0c0 50%, #6B6d80 100%);
		background-image: -webkit-gradient(radial, center top, 0, center top, 509, color-stop(0, #F0F0F0), color-stop(.5, #c0c0c0), color-stop(1, #6B6d80));
		background-image: -webkit-radial-gradient(center top, ellipse farthest-corner, #F0F0F0 0%, #c0c0c0 50%, #6B6d80 100%);
		background-image: radial-gradient(ellipse farthest-corner at center top, #F0F0F0 0%, #c0c0c0 50%, #6B6d80 100%);
*/
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
	}

.mtFooter {
		margin-top:8px;
		padding-left:20px;
	}
	
.nix {
		background-color:#ffffff;
		border:0px;
}

.ellipse	{
		background-image: -ms-radial-gradient(center, ellipse farthest-corner, #fffde0 0%, #ebf0c2 60%, #d2dbb4 100%);
		background-image: -moz-radial-gradient(center, ellipse farthest-corner, #fffde0 0%, #ebf0c2 60%, #d2dbb4 100%);
		background-image: -o-radial-gradient(center, ellipse farthest-corner, #fffde0 0%, #ebf0c2 60%, #d2dbb4 100%);
		background-image: -webkit-gradient(radial, center center, 0, center center, 448, color-stop(0, #fffde0), color-stop(0.6, #ebf0c2), color-stop(1, #d2dbb4));
		background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #fffde0 0%, #ebf0c2 60%, #d2dbb4 100%);
		background-image: radial-gradient(ellipse farthest-corner at center, #fffde0 0%, #ebf0c2 60%, #d2dbb4 100%);
}
	
.bubble {
		margin-top:0px;
		margin-right:10px;
		margin-left:10px;
		width:35px;
		padding:8px;
		border:1px solid #557788;
		background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
		background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
		background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
		background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(35, #FFFFFF), color-stop(100, #F2F0Ef ));
		background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
		background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 35%, #F2F0Ef  100%);
		border-radius:50%;
		-webkit-border-radius:50%;
		-moz-border-radius:50%;
		-o-border-radius:50%;
		box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.50);
    	-webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.50);
    	-moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.50);
    	-o-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.50);
		
	}

.fa-spin {
  -webkit-animation: fa-spin 2s ease-out;
  animation: fa-spin 2s ease-out;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(704deg);
    transform: rotate(704deg);
  }
}

.bump {
	font-size: 3.0em;
	margin:7px;
}

.cent {
	text-align:center;
}

.dltred {
	color:#aa6633;
	font-size: 1.3em;
}

.editor {
	color:#33aa66;
	font-family:verdana, arial;
	font-size: 15px;
	margin-left:20px;
}

.tArea{
	width:100%;
	max-width:100%;
}

.timer {
	font-size:18px;
}

.navbar-toggle {
  	position: relative;
  	float: right;
  	padding: 9px 10px;
  	margin-top: 8px;
  	margin-right: 15px;
  	margin-bottom: 8px;
  	background-color: transparent;
  	background-image: none;
  	border: 1px solid transparent;
  	border-radius: 5px;
}

.rcs   {
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		-o-border-radius:5px;
		box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
    	-webkit-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
    	-moz-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
    	-o-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
	}

.rcs2   {
		border:1px solid #555555;
		border-radius:60px;
		-webkit-border-radius:60px;
		-moz-border-radius:60px;
		-o-border-radius:60px;
		box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
    	-webkit-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
    	-moz-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
    	-o-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
	}

.bigNumbers	{	
		font-family: courier;
		font-size: 3.0em;
		line-height: 0.65em;	
		letter-spacing: 0px;
		margin-top:-15px;
		margin-left:5px;
		margin-bottom:15px;
		color:#33cc66;
		text-shadow: 2px 2px 3px rgba(0,0,0, 0.3);
	}

.tableBorder {
		border-left:1px solid #dddddd;
		border-right:1px solid #dddddd;

}

.smallHeader	{
		margin-top:10px;
		margin-bottom:5px;
		padding-left:10px;
		padding-top:7px;
		padding-bottom:7px;
		font-size:1.1em;
		font-weight:bold;
		color:#335599;
		background-color:#dee9ef;
		border:1px solid #bbbbbb;
}

.bolder	{
		font-weight:bold;
}

.wide{
		width:100%;
		max-width:290px;
}

.even  {
		background-color:#ffffff;
}

.odd {
		background-color:#e5e9ec;
}

textarea	{
		width:100%;
		max-width:100%;
		height:100px;
}

.pMin {	min-height:50px;

}

h1	{	font-family: 'Architects Daughter', cursive;
		font-size: 3.0em;	
		letter-spacing: 0px;
		margin-top:35px;
		margin-bottom:20px;
		color:#3366aa;
		text-shadow: 2px 2px 3px rgba(0,0,0, 0.3);
	}

.tab-pane h1	{
		font-size: 2.2em;	
		letter-spacing: 0px;
		margin-top:14px;
		color:#3366aa;
		text-shadow: 2px 2px 3px rgba(0,0,0, 0.3);
	}

h2	{	font-size: 1.8em;
		margin-top:20px;
		color:#3366aa;
	}

h3	{	font-family: 'Architects Daughter', cursive;
		font-size: 1.8em;
		color:#3366aa;
	}

h4	{	margin-top:24px;
		color:#3366aa;
	}

h5	{	font-size: 1.0em;
		padding-top:3px;
		padding-bottom:3px;
		padding-left:5px;
		padding-right:5px;
		background-color:#efefef;
		background-image: -ms-linear-gradient(top, #c1c5c7 0%, #dddfe6 35%, #c1c5c7 100%);
		background-image: -moz-linear-gradient(top, #c1c5c7 0%, #dddfe6 35%, #c1c5c7 100%);
		background-image: -o-linear-gradient(top, ##c1c5c7 0%, #dddfe6 35%, #c1c5c7 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c1c5c7), color-stop(35, #dddfe6), color-stop(100, #c1c5c7));
		background-image: -webkit-linear-gradient(top, #c1c5c7 0%, #dddfe6 35%, #c1c5c7 100%);
		background-image: linear-gradient(to bottom, #c1c5c7 0%, #dddfe6 35%, #c1c5c7 100%);
		margin-top:-25px;
		margin-left:-25px;
		margin-right:-25px;
		color:#224466;
		text-shadow: 1px 1px 2px rgba(233,233,233, 0.9);
		border:1px solid #aaaaaa;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		-o-border-radius:4px;
		box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
    	-webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
    	-moz-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
    	-o-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
	}

h6	{	font-size: 1.0em;
		padding-top:3px;
		padding-bottom:3px;
		padding-left:5px;
		padding-right:5px;
		background-color:#efefef;
		background-image: -ms-linear-gradient(top, #c1c5c7 0%, #dddfe6 35%, #c1c5c7 100%);
		background-image: -moz-linear-gradient(top, #c1c5c7 0%, #dddfe6 35%, #c1c5c7 100%);
		background-image: -o-linear-gradient(top, ##c1c5c7 0%, #dddfe6 35%, #c1c5c7 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c1c5c7), color-stop(35, #dddfe6), color-stop(100, #c1c5c7));
		background-image: -webkit-linear-gradient(top, #c1c5c7 0%, #dddfe6 35%, #c1c5c7 100%);
		background-image: linear-gradient(to bottom, #c1c5c7 0%, #dddfe6 35%, #c1c5c7 100%);
		margin-top:0px;
		margin-left:0px;
		margin-right:0px;
		color:#224466;
		text-shadow: 1px 1px 2px rgba(233,233,233, 0.9);
		border:1px solid #aaaaaa;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		-o-border-radius:4px;
		box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
    	-webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
    	-moz-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
    	-o-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
	}

.well4 > p {
	color:#cccccc;
}

.well4 > h4 {
	font-size:1.2em;
	color:#44dd99;
	border-bottom:1px solid #aaaaaa;
}

h2, h3, h4	{border-bottom:1px solid #bbccdd;
		color:#3366aa;
	}

.smallP {
	font-size:0.85em;
	margin-bottom:10px;
	margin-top:10px;
	margin-left:0px;
	margin-right:0px;
}
.searchResults	{

		font-size: 1.0em;
		font-weight:bold;
		text-align: left; 
		color:#bb5533;
		margin-bottom: 15px;
		margin-left:7px;
}

.subSub {
		margin-left:5px;
		font-size:1.1em;
		font-weight:bold;
		color:#3366aa;
		margin-bottom:15px;
}

.subSubR {
		margin-left:5px;
		font-size:1.1em;
		font-weight:bold;
		color:#aa5533;
		margin-bottom:15px;
}

.top{
		margin:10px;
}

.pad {	padding-top:3px;
		padding-bottom:3px;
		padding-left:5px;
		padding-right:5px;

}

.leftPad {	
		padding-left:10px;
}

.ral{	text-align: right;
		vertical-align: top;

}

.lal{	text-align: left;
		vertical-align: top;
}

.busTitle	{
		font-size:1.2em;
		font-weight: bold;
		color:#335599;
		margin-top:-5px;
		margin-bottom:-3px;
;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.quicks	{
		margin-left:-10px;
		text-align: center;
		vertical-align: top;
		text-shadow: 3px 4px 4px rgba(0,0,0, 0.3);
		display:inline-block;
		width:110px;
		height:90px;
}

.star { -webkit-transform: rotate(-15deg);
    	transform: rotate(-15deg);
    	text-shadow: 3px 4px 4px rgba(0,0,0, 0.3);
		font-size:0.9em;
		color:#ee4433;
		margin:8px;
}

.photo {
		margin-left:0px;
		margin-bottom:0px;
		padding:9px;
		border:1px solid #aaaaaa;
		background-image: -ms-linear-gradient(top, #c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
		background-image: -moz-linear-gradient(top, #c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
		background-image: -o-linear-gradient(top, ##c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c1c5c7), color-stop(35, #edeff6), color-stop(100, #c1c5c7));
		background-image: -webkit-linear-gradient(top, #c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
		background-image: linear-gradient(to bottom, #c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
		border-radius:11px;
		-webkit-border-radius:11px;
		-moz-border-radius:11px;
		-o-border-radius:11px;
		box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.30);
    	-webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.30);
    	-moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.30);
    	-o-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.30);
	}

.homepage-photo {
		width:100%;
		max-width:100%;
		margin-left:0px;
		margin-bottom:0px;
		padding:4px;
		background:#333333;
		border:1px solid #aaaaaa;
		background-color: #ffffff;
		border-radius:11px;
		-webkit-border-radius:7px;
		-moz-border-radius:7px;
		-o-border-radius:7px;
		box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.30);
    	-webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.30);
    	-moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.30);
    	-o-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.30);
	}

.photo3 {
		margin-right:1px;
		margin-bottom:15px;
		padding:3px;
		width:100%;
		max-width: 165px;
		border:1px solid #c3c4c5;
		background-color: #cccccc;
		background-image: -ms-linear-gradient(top, #c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
		background-image: -moz-linear-gradient(top, #c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
		background-image: -o-linear-gradient(top, ##c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c1c5c7), color-stop(35, #edeff6), color-stop(100, #c1c5c7));
		background-image: -webkit-linear-gradient(top, #c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
		background-image: linear-gradient(to bottom, #c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		-o-border-radius:5px;
		box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.30);
    	-webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.30);
    	-moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.30);
    	-o-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.30);
	}

.photoPage {

		margin-bottom:15px;
		width:100%;
		max-width:250px;
		padding:7px;
		border:1px solid #aaaaaa;
		background-image: -ms-linear-gradient(top, #c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
		background-image: -moz-linear-gradient(top, #c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
		background-image: -o-linear-gradient(top, ##c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c1c5c7), color-stop(35, #edeff6), color-stop(100, #c1c5c7));
		background-image: -webkit-linear-gradient(top, #c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
		background-image: linear-gradient(to bottom, #c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
		border-radius:7px;
		-webkit-border-radius:7px;
		-moz-border-radius:7px;
		-o-border-radius:7px;
		box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.30);
    	-webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.30);
    	-moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.30);
    	-o-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.30);
	}

.photoBox {
	border:0px solid #666666;
	margin-left:15px;
	margin-right:15px;
	margin-top:0px;
	margin-bottom:20px;
}

.photoMargin {
	width: 100%;
	max-width:255px;
	margin-left:15px;
	margin-right:15px;
	margin-top:0px;
	margin-bottom:15px;
}

.photoBox2 {
	width:100%;
	max-width:220px;
	border:0px solid #666666;
	margin-left:10px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:30px;
}

.well {
		border-radius:9px;
		-webkit-border-radius:9px;
		-moz-border-radius:9px;
		-o-border-radius:9px;
}

.well2 {
		background: #eeeeee;
		background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
		background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
		background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
		background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(35, #FFFFFF), color-stop(100, #F2F0Ef ));
		background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
		background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 35%, #F2F0Ef  100%);
		box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-webkit-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-moz-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-o-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
	}

.well3 {
		background: #eeeeee url("../images/textureBG_white.jpg");
		border:1px solid #cccccc;
		box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-webkit-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-moz-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-o-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
	}

.well4 {
		border:1px solid #222229;
		background-image: -ms-linear-gradient(top, #242827 0%, #3c3e3d 35%, #242827 100%);
		background-image: -moz-linear-gradient(top, #242827 0%, #3c3e3d 35%, #242827 100%);
		background-image: -o-linear-gradient(top, ##242827 0%, #3c3e3d 35%, #242827 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #242827), color-stop(35, #3c3e3d), color-stop(100, #242827));
		background-image: -webkit-linear-gradient(top, #242827 0%, #3c3e3d 35%, #242827 100%);
		background-image: linear-gradient(to bottom, #242827 0%, #3c3e3d 35%, #242827 100%);
		box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-webkit-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-moz-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-o-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
	}

.well5 {
		border:1px solid #e0e0e0;
		margin-bottom:-8px;
		margin-top:0px;
		padding:7px;
	}

.eventWell	{
		min-height:280px;
}

.planks {
		background: #5e5a58 url("../../../common/images/Planks5.jpg");
		border:1px solid #333333;
		box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-webkit-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-moz-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-o-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
	}

.slideBg	{
		background-image: -ms-radial-gradient(center top, ellipse farthest-corner, #F0F0F0 0%, #c0c0c0 50%, #6B6d80 100%);
		background-image: -moz-radial-gradient(center top, ellipse farthest-corner, #F0F0F0 0%, #c0c0c0 50%, #6B6d80 100%);
		background-image: -o-radial-gradient(center top, ellipse farthest-corner, #F0F0F0 0%, #c0c0c0 50%, #6B6d80 100%);
		background-image: -webkit-gradient(radial, center top, 0, center top, 509, color-stop(0, #F0F0F0), color-stop(.5, #c0c0c0), color-stop(1, #6B6d80));
		background-image: -webkit-radial-gradient(center top, ellipse farthest-corner, #F0F0F0 0%, #c0c0c0 50%, #6B6d80 100%);
		background-image: radial-gradient(ellipse farthest-corner at center top, #F0F0F0 0%, #c0c0c0 50%, #6B6d80 100%);
		width:100%;
		border:1px solid #999999;
}

.row well2 {
		background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
		background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
		background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
		background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(35, #FFFFFF), color-stop(100, #F2F0Ef ));
		background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
		background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 35%, #F2F0Ef  100%);
		box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-webkit-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-moz-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-o-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
	}

.logo {
		width:230px;
		height:168px;
		background: url("../images/membersites-logo-glow2png");
		margin-top:-15px;
	}

.mtFooter {
		margin-top:8px;
		padding-left:20px;
	}

.header-bar {
		height:25px;
		background-image: -ms-linear-gradient(top, #b1b5b7 0%, #eaecf3 35%, #b1b5b7 100%);
		background-image: -moz-linear-gradient(top, #b1b5b7 0%, #eaecf3 35%, #b1b5b7 100%);
		background-image: -o-linear-gradient(top, ##b1b5b7 0%, #eaecf3 35%, #b1b5b7 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b1b5b7), color-stop(35, #eaecf3), color-stop(100, #b1b5b7));
		background-image: -webkit-linear-gradient(top, #b1b5b7 0%, #eaecf3 35%, #b1b5b7 100%);
		background-image: linear-gradient(to bottom, #b1b5b7 0%, #eaecf3 35%, #b1b5b7 100%);
		border:1px solid #999c9e;
	}

.slideshowImage {
		border:1px solid #3c3a3a;
		padding:3px;
		background-image: -ms-radial-gradient(center top, ellipse farthest-corner, #F0F0F0 0%, #c0c0c0 50%, #6B6d80 100%);
		background-image: -moz-radial-gradient(center top, ellipse farthest-corner, #F0F0F0 0%, #c0c0c0 50%, #6B6d80 100%);
		background-image: -o-radial-gradient(center top, ellipse farthest-corner, #F0F0F0 0%, #c0c0c0 50%, #6B6d80 100%);
		background-image: -webkit-gradient(radial, center top, 0, center top, 509, color-stop(0, #F0F0F0), color-stop(.5, #c0c0c0), color-stop(1, #6B6d80));
		background-image: -webkit-radial-gradient(center top, ellipse farthest-corner, #F0F0F0 0%, #c0c0c0 50%, #6B6d80 100%);
		background-image: radial-gradient(ellipse farthest-corner at center top, #F0F0F0 0%, #c0c0c0 50%, #6B6d80 100%);
		border-radius:7px;
		-webkit-border-radius:7px;
		-moz-border-radius:7px;
		-o-border-radius:7px;
		box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-webkit-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-moz-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-o-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
	}

.navbar {
  position: static;
  min-height: 50px;
  margin-bottom: 10px;
  border: 1px solid transparent;
	}

.navbar .nav > li {
  z-index: 1001;
}

.navbar-inner {
		background-image: -ms-linear-gradient(top, #242827 0%, #3c3e3d 35%, #242827 100%);
		background-image: -moz-linear-gradient(top, #242827 0%, #3c3e3d 35%, #242827 100%);
		background-image: -o-linear-gradient(top, ##242827 0%, #3c3e3d 35%, #242827 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #242827), color-stop(35, #3c3e3d), color-stop(100, #242827));
		background-image: -webkit-linear-gradient(top, #242827 0%, #3c3e3d 35%, #242827 100%);
		background-image: linear-gradient(to bottom, #242827 0%, #3c3e3d 35%, #242827 100%);
		box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-webkit-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-moz-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
    	-o-box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.40);
		margin: 0px 0px;
		border-radius:9px;
		-webkit-border-radius:9px;
		-moz-border-radius:9px;
		-o-border-radius:9px;
		border:1px solid #222229;
	}

.navbar-inverse .navbar-text {
  		color: #999;
	}
.navbar-inverse .navbar-nav > li > a {
  		
  		font-size: 1.1em;
  		padding-left:9px;
  		padding-right:9px;
  		padding-top:7px;
  		padding-bottom:7px;
  		color: #6af;
  		background-color: #222324;
  		/*background-image: -ms-radial-gradient(center, ellipse farthest-corner, #242629 35%, #141619  100%);
		background-image: -moz-radial-gradient(center, ellipse farthest-corner, #242629 35%, #141619  100%);
		background-image: -o-radial-gradient(center, ellipse farthest-corner, #242629 35%, #141619  100%);
		background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(35, #242629), color-stop(100, #141619 ));
		background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #242629 35%, #141619  100%);
		background-image: radial-gradient(ellipse farthest-corner at center, #242629 35%, #141619  100%);*/
  		text-shadow: 2px 2px 3px rgba(0,0,0, 0.5);
  		border-top:1px solid #545454;
		border-bottom:1px solid #010101;
		border-left:1px solid #424242;
		border-right:1px solid #191919;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		-o-border-radius:5px;
		margin-bottom:3px;
		margin-right:2px;
		margin-left:0px;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;
	}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  		color: #fff;
  		border-top:1px solid #545454;
		border-bottom:1px solid #010101;
		border-left:1px solid #424242;
		border-right:1px solid #191919;
  		background-image: -ms-radial-gradient(center, ellipse farthest-corner, #445577 35%, #333336  100%);
		background-image: -moz-radial-gradient(center, ellipse farthest-corner, #445577 35%, #333336  100%);
		background-image: -o-radial-gradient(center, ellipse farthest-corner, #445577 35%, #333336  100%);
		background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(35, #445577), color-stop(100, #333336 ));
		background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #445577 35%, #333336  100%);
		background-image: radial-gradient(ellipse farthest-corner at center, #445577 35%, #333336  100%);
	}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  		color: #fff;
  		background-color: #080808;
	}

.nav-pills > li > a {
		font-size: 1.1em;
		font-weight: bold;
		letter-spacing: .2px;
		padding:7px;
		margin:2px;
		background-color:#dee9ef;
		/*background-image: -ms-radial-gradient(center, ellipse farthest-corner, #d9e3eb 35%, #cad9dc  100%);
		background-image: -moz-radial-gradient(center, ellipse farthest-corner, #d9e3eb 35%, #cad9dc  100%);
		background-image: -o-radial-gradient(center, ellipse farthest-corner, #d9e3eb 35%, #cad9dc  100%);
		background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(35, #d9e3eb), color-stop(100, #cad9dc ));
		background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #d9e3eb 35%, #cad9dc  100%);
		background-image: radial-gradient(ellipse farthest-corner at center, #d9e3eb 35%, #cad9dc  100%); */
	
		border:1px solid #babfc9;
		border-radius: 5px;
		color:#3366aa;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;
}
.nav-pills > li > a:hover {
  		color:#334466;
  		border:1px solid #c1c6cf;
  		background-image: -ms-radial-gradient(center, ellipse farthest-corner, #ffffff 35%, #e0e6ef  100%);
		background-image: -moz-radial-gradient(center, ellipse farthest-corner, #ffffff 35%, #e0e6ef  100%);
		background-image: -o-radial-gradient(center, ellipse farthest-corner, #ffffff 35%, #e0e6ef  100%);
		background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(35, #ffffff), color-stop(100, #e0e6ef ));
		background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #ffffff 35%, #e0e6ef  100%);
		background-image: radial-gradient(ellipse farthest-corner at center, #ffffff 35%, #e0e6ef  100%);
		box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
    	-webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
    	-moz-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
    	-o-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
	}

.nav-pills > li + li {
  		margin-left: 2px;
  		margin-bottom:2px;
	}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  		color:#334466;
  		background-color:#e0e6ef;
  		background-image: -ms-radial-gradient(center, ellipse farthest-corner, #ffffff 35%, #e1e6ef  100%);
		background-image: -moz-radial-gradient(center, ellipse farthest-corner, #ffffff 35%, #e1e6ef  100%);
		background-image: -o-radial-gradient(center, ellipse farthest-corner, #ffffff 35%, #e1e6ef  100%);
		background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(35, #ffffff), color-stop(100, #e1e6ef ));
		background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #ffffff 35%, #e1e6ef  100%);
		background-image: radial-gradient(ellipse farthest-corner at center, #ffffff 35%, #e1e6ef  100%);
		box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
    	-webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
    	-moz-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
    	-o-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
	}

.messageBar {
		background-image: -ms-linear-gradient(top, #c1c5c7 0%, #dddfe6 35%, #c1c5c7 100%);
		background-image: -moz-linear-gradient(top, #c1c5c7 0%, #dddfe6 35%, #c1c5c7 100%);
		background-image: -o-linear-gradient(top, ##c1c5c7 0%, #dddfe6 35%, #c1c5c7 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c1c5c7), color-stop(35, #dddfe6), color-stop(100, #c1c5c7));
		background-image: -webkit-linear-gradient(top, #c1c5c7 0%, #dddfe6 35%, #c1c5c7 100%);
		background-image: linear-gradient(to bottom, #c1c5c7 0%, #dddfe6 35%, #c1c5c7 100%);
		font-size: 0.88em;
		font-weight: bold;
		color:#324252;
		text-shadow: 1px 1px 2px rgba(233,233,233, 0.9);
		margin-bottom:5px;
		margin-top:-14px;
		padding-top:1px;
		padding-bottom:1px;
		border:1px solid #999a9c;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		-o-border-radius:4px;
		box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
    	-webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
    	-moz-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
    	-o-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
	}

.messageLogin {
		font-size:1em;
		font-weight:bold;
		color:#aa5533;
		text-align:left;
}

.addButton {
		font-family: arial;
		font-size:0.6em;
		font-weight:bold;
		cursor:pointer;
}

.addButton1 {
		font-family: arial;
		font-size:0.9em;
		font-weight:bold;
		cursor:pointer;
}

.editPencil {
		background-color:#ffffff;
		color:#22bb33;

		text-shadow: 1px 1px 2px rgba(0,0,0, 0.4);
		font-size:16px;
		padding-left:12px;
		padding-right:10px;
		padding-top:1px;
		padding-bottom:2px;
		cursor:pointer;
		border:1px solid #bbbbbb;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		-o-border-radius:4px;
		box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
    	-webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
    	-moz-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
    	-o-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.30);
}

.editPencil a:hover {
		text-decoration: none;
}

.silver {
		background-image: -ms-linear-gradient(top, #c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
		background-image: -moz-linear-gradient(top, #c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
		background-image: -o-linear-gradient(top, ##c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c1c5c7), color-stop(35, #edeff6), color-stop(100, #c1c5c7));
		background-image: -webkit-linear-gradient(top, #c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
		background-image: linear-gradient(to bottom, #c1c5c7 0%, #edeff6 35%, #c1c5c7 100%);
	}

.item{
    	background-color:#333333;
    	text-align: center;
    	height: 425px !important;
    	
}

.item > h1{
    	margin: 0;     
    	color: #666;
    	padding-top: 90px;
    	font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}
.carousel{
    margin-top: 0px;
    border: 1px solid #222222;
    border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		-o-border-radius:5px;
		box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
    	-webkit-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
    	-moz-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
    	-o-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.30);
}
.bs-example{
	margin: 20px;
}