body {
  background: #F3F3F3;
}

/* NAV BAR */
#ul_navbar li {
  margin: -2px 5px 0 0;
    max-height: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    display: inline;
}

/* NAV BAR */
.navbar-brand {
  margin: -2px 5px 0 0;
  max-height: 20px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}


/* MAIN POSTS PAGE */
.post {
  background: #fff;
  padding:15px 0;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.info {
  font-weight: bolder;
  font-size: 16px;
}

.info .url {
  font-weight: normal;
  color:#999;
  font-size:13px;
  margin-left:5px;
}


/* PROFILE PAGE */
.prof-img{
  width:100%;
  max-width:100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.name {
  font-weight: bolder;
  font-size: 1.5em;
}

.nav-tabs {
  margin-top:30px;
}

.vote {
  height:20px;
  cursor: pointer;
}

.auth-forms {
  max-width:300px;
  margin:0 auto;
  background: #fff;
  padding:1px 25px 25px 25px;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.cmt-form {
  margin-top:30px;
}

.cmt {
  margin-top:10px;
  padding-top:10px;
  border-top:1px solid #ccc;
}

.cmt .author {
  font-size:11px;
  color:#bbb;
}
/* pagination styles - User */

/*.my-controller {
  border: 1px solid #fcc;
  padding: 5px;
  margin: 3px;
}
.my-controller small {
  color: #c99;
}*/
.userpaging-controller {
  border: 1px solid #ccf;
  padding: 5px;
  margin: 3px;
}
.userpaging-controller small {
  color: #99c;
}
.third-controller {
  border: 1px solid #cfc;
  padding: 5px;
  margin: 3px;
}
.third-controller small {
  color: #9c9;
}

/*=======================================================================
** FORCE NODE EDITOR START
=========================================================================
*/
surface {
  font: 13px sans-serif;
  position: relative;
  width: 900;
  height: 500;
}

.node {
  fill: #000;
  cursor: crosshair;
}

.node_selected {
  fill: #ff7f0e;
  stroke: #ff7f0e;
}

.drag_line {
  stroke: #999;
  stroke-width: 5;
  pointer-events: none;
}

.drag_line_hidden {
  stroke: #999;
  stroke-width: 0;
  pointer-events: none;
}

.link {
  stroke: #999;
  stroke-width: 5;
  cursor: crosshair;
  color:blue;
  text-align:center;

}

.link_selected {
  stroke: #ff7f0e;
}
/*
FORCE NODE EDITOR END
*/
/*=======================================================================
** DIRECTED NODE EDITOR START
=========================================================================
*/
dnework {
  font: 13px sans-serif;
  position: relative;
  width: 900;
  height: 600;
}

.dnedisplay {
  font: 13px sans-serif;
  position: relative;
  width: 900;
  height: 600;
}

svg {
    background-image: -ms-linear-gradient(top, #414547 0%, #98a8b0 100%);
    background-image: -moz-linear-gradient(top, #414547 0%, #98a8b0 100%);
    background-image: -o-linear-gradient(top, #414547 0%, #98a8b0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #414547), color-stop(100, #98a8b0));
    background-image: -webkit-linear-gradient(top, #414547 0%, #98a8b0 100%);
    background-image: linear-gradient(to bottom, #414547 0%, #98a8b0 100%);
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.link.selected {
  stroke-dasharray: 15,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
  
}

circle.node.reflexive {
  stroke: #000 !important;
  stroke-width: 2.5px;
}

text {
  font: 12px sans-serif;
  pointer-events: none;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}
/*
DIRECTED NODE EDITOR END
*/

/*=======================================================================
** MODAL WINDOWS START
=========================================================================
*/
.myCloseBtn{
    background:url("common/bootstrap/images/bezel-round4.png");
    cursor: pointer;
    height: 36px;
    width: 36px;

}

.modal{
    overflow : hidden;
}

div a.myCloseBtn{
    text-align: right;
    position: fixed;
    z-index: 1040;
}

.app-modal-window .modal-dialog {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    color: white;
}

.noBodyScroll{
    overflow: hidden;
}

.the-modal {
    position: absolute;
    background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
    background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
    background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
    background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(35, #FFFFFF), color-stop(100, #F2F0Ef ));
    background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 35%, #F2F0Ef  100%);
    background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 35%, #F2F0Ef  100%);

    color:#111111;
    border-radius: 7px;
    max-height: 740px;
}

@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
}}
section.the-modal header h3{
    color: #3ab0f4;
    font-size: 2.1rem;
    font-family: Georgia, "Times New Roman", Times, sans-serif;
    font-style: italic;
    line-height: 2rem;
}

section.the-modal >  h5{
    font-size: 1.5rem;

}

section.the-modal  h1, section.the-modal h2, section.the-modal h3, section.the-modal h4, section.the-modal h5{
    color: #3ab0f4;
    font-family: Georgia, "Times New Roman", Times, sans-serif;
    font-style: italic;
    line-height: 2rem;
}

my-modal.modal-body section {
    color: white;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.125rem;
    line-height: 3rem;
}

.items{
    margin-top: 6rem;
}

section a.item img{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    height: 5.5rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.375rem;
    box-sizing: border-box;
}

div section .header{
    color: white;
    width: 12rem;
    font-size: 1.3rem;
    padding-top: 1.175rem;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 0.125rem;
    line-height: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

section.the-modal header h4{
    font-size: 1.9rem;
}

.modal-open{
    margin-right:0px !important;
    overflow: hidden;
}

section.the-modal textarea{
    width: 100%;
    border-radius: 3px;
    height: 13rem;
    color: black;
}

section.the-modal button{
    margin-top: 2rem;
}

/*
MODAL WINDOW END
*/

/*=======================================================================
** NG-FILE-UPLOAD StART
=========================================================================
*/

.upload-buttons input[type="file"] {
  width: 6.3em \0/IE9;
}

.upload-button {
  Height: 26px;
  line-height: 30px;
  padding: 0 10px;
  background: #CCC;
  appearance: button;
  -moz-appearance: button; /* Firefox */
  -webkit-appearance: button; /* Safari and Chrome */
  position: relative;
  text-align: center;
  top: 7px;
  cursor: pointer;
}

.sel-file {
  padding: 1px 5px;
  font-size: smaller;
  color: grey;
}

.response {
  padding: 0;
  padding-top: 10px;
  margin: 3px 0;
  clear: both;
}

.response .sel-file li, .response .reqh {
  color: blue;
  padding-bottom: 5px;
}

fieldset {
  border: 1px solid #DDD;
  width: 420px;
  padding: 10px;
  line-height: 23px;
}

fieldset label {
  /*font-size: smaller;*/
}

.progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC;
}

.progress div {
  font-size: smaller;
  background: orange;
  width: 0;
}

.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 200px;
  height: 65px;
  text-align: center;
  padding-top: 25px;
  float: left;
  margin-left: 10px;
}

.up-buttons {
  float: left;
}

.drop-box.dragover {
  border: 5px dashed blue;
}

.drop-box.dragover-err {
  border: 5px dashed red;
}

/* for IE*/
.js-fileapi-wrapper {
  display: inline-block;
  vertical-align: middle;
}

button {
  padding: 1px 5px;
  font-size: smaller;
  margin: 0 3px;
}

.ng-v {
  float: right;
}

.thumb {
  float: left;
  width: 18px;
  height: 18px;
  padding-right: 10px;
}

form .thumb {
  width: 24px;
  height: 24px;
  float: none;
  position: relative;
  top: 7px;
}

form .progress {
  line-height: 15px;
}

.edit-area {
  font-size: 14px;
  background: black;
  color: #f9f9f9;
  padding: 5px 1px;
}

#htmlEdit {
  margin-bottom: 25px;
}

.edit-div {
  font-size: smaller;
}

.CodeMirror {
  font-size: 14px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

form button {
  padding: 3px 10px;
  font-weight: bold;
  margin-top:10px;
}

.sub {
  font-size: smaller;
  color: #777;
  padding-top: 5px;
  padding-left: 10px;
}

.err {
  font-size: 12px;
  color: #C53F00;
  margin: 15px;
  padding: 15px;
  background-color: #F0F0F0;
  border: 1px solid black;
}

.s3 {
  font-size: smaller;
  color: #333;
  margin-left: 20px;
}
.s3 fieldset {
  border: 1px solid #AAA;
}
.s3 label {
  width: 180px;
  display: inline-block;
}
.s3 input {
  width: 300px;
}
.s3 .helper {
  margin-left: 5px;
}

.howto {
  margin-left: 10px;
}

.server {
  margin-bottom:20px;
}

.srv-title {
  font-weight: bold;
  padding: 5px 0 10px 0;
}

:not(output):-moz-ui-invalid {
    box-shadow: none;
}
.preview {
  padding-top: 30px;
  clear: both;
}

.preview img, .preview audio, .preview video {
  max-width: 300px;
  max-height: 150px;
}


/*=======================================================================
** NG-FILE-UPLOAD END
=========================================================================
*/
