			
		
  <div class="container">
    <div class="row" style="margin-top:0px;">
      <div class="col-md-12">
        <div class="well well2 planks">

			<h1 style="margin-left:1px;margin-top:5px;color:#ffffff;"><i class="fa fa-spin fa-heart star"></i>About Us</h1>
             

            <div class="row">
              <div class="col-md-12">
                <div class="well ellipse rcs ">
                	<h3>MemberSites</h3>
                    <p>Thank you for your interest. Please use the contact form with questions or suggestions.</p> 
                     <p>Established in 2009, this website is provided and maintained as a free community service and is located in Cashiers, North Carolina.</p>

                </div>
              </div>
            </div> 
            </div>  
            
        </div>
      </div>
    </div>
