			
		
  <div class="container">
    <!--<div ng-include="'common/partials/innerfade.html'"></div>-->
    <div class="row" style="margin-top:0px;">
      <div class="col-md-12">
        <div class="well well2 planks">
          <span class="pull-right" style='display:block !important; width: 170px; margin-top:0px; margin-right:-11px;text-align: center; font-family: sans-serif; font-size: 12px;'><a href='http://www.wunderground.com/cgi-bin/findweather/getForecast?query=Cashiers, NC' title='Cashiers, NC Weather Forecast'><img src='http://weathersticker.wunderground.com/weathersticker/miniDial/language/english/US/NC/Cashiers.gif' class='rcs' alt='Find more about Weather in Cashiers, NC' /></a></span>

			     <h1 style="margin-left:1px;margin-top:5px;color:#ffffff;"><i class="fa fa-spin fa-heart star"></i>Local Activities</h1>

              <div class="row"> 
                <div class="col-md-2"> 
                    
                      <center>
                      <img src="common/images/bannerAds/high-hampton-ad1.jpg" class="photo3">
                      <img src="common/images/bannerAds/LV-ad.jpg" class="photo3">
                      <img src="common/images/bannerAds/cashiers_golfing_anim2.gif" class="photo3">
                      <img src="common/images/bannerAds/classics-web-ad-2.gif" class="photo3">
                      

                      <br />
                      </center>
                </div>
                
                <div class="col-md-8"> 
                  <div ng-include="'common/partials/quickLinks.html'"></div>

                  <div class="well well2">
                      <img src="common/images/waterfall_family.jpg" style="width:260px;" class="photoPage pull-right rcs" alt="" >
                      
                      
                      
                      <h3>A Wonderful Place To Live</h3>
                      <p>The scenery isn't the only thing unique about the area. Cashiers is also a really great place to live. Our quiet village boasts world-class accommodations, great restaurants and shopping, coupled with a good dose of mountain friendliness and charm. Once you visit you won't want to leave!</p>
 
                      <p>The population of Cashiers, North Carolina is officially listed as 1,974, but from about Memorial Day until the end of October’s fall leaf season, part-time residents and visitors are estimated to bump that number up to about 10,000-15,000. For locals with children, Cashiers is home to some of the state’s finest schools, and our churches and civic organizations are among the most philanthropic you’ll ever see.</p>
                      
                      <p>Village life includes access to unique stores and businesses, which accentuate the lifestyle created by the Village Green and Commons park in the center of town. Other staples of the crossroads are the Albert Carlton-Cashiers Community Library, the Cashiers Community Center, the new Cashiers Recreation Center, the Cashiers Area Chamber of Commerce, new pathways to navigate your way around town, and much, much more. Have a look at Cashiers real estate opportunities while you are here.</p>
                      
                      <h3>Events & The Arts</h3>
                      <p>Cashiers NC is home to many exciting events throughout the year, most of which benefit a charity or non-profit in the area. Popular yearly events include the Leaf Festival, the Rotary Arts & Crafts Shows on Memorial Day and Labor Day weekends, weekly Groovin’ on the Green events on Friday’s during the busy season, the Cashiers Designer Showhouse, Cashiers Benefit Antique Show, the Church of the Good Shepherd Auction and Bazaar, the Tour de Cashiers, Car Shows, The Annual Christmas Parade, and so much more.</p>
                      
                      <p>Surrounding the village are many opportunities for outdoor enthusiasts, including hiking trails, camping opportunities, parks, mountains, waterfalls, fishing, boating, lakes, rivers, nationally-ranked golf courses, bicycling, skiing (water and snow), and horseback riding, just to name a few.</p>

                      <p>People you run into around Cashiers vary from local mountain folk who have lived here their entire lives, to retired doctors and lawyers, to the avid traveler just stopping for a refreshing hike or a plate full of barbecue. Regardless of who you are, or the length of your stay, one thing is for sure, you won’t be disappointed in what Cashiers has to offer!</p>

                      <p><i>by Kelly Donaldson and Steve Johannessen</i></p>

                  </div>
                  
                  
                  
                </div>
                <div class="col-md-2"> 
                    <center>
                      <img src="common/images/bannerAds/luxury-lakefront-properties2.gif" class="photo3">
                      
                      
                      <img src="common/images/bannerAds/LAURELchamberad.jpg" class="photo3">
                      <img src="common/images/bannerAds/dovetail-ad-001.jpg" class="photo3">
                      <img src="common/images/bannerAds/orchard-web-ad1.jpg" class="photo3">

                      
                      <br />
                    <center>
                </div>
                
            </div> 

            

            
             
        </div>
      </div>
    </div>