      
  <div class="container">
    <div class="row" style="margin-top:0px;">
      <div class="col-md-12">
        <div class="well well2 well3">
               <center>
                  <img src="common/images/four-golfers.jpg" class="photoPage rcs pull-right" style="margin:15px; width:270px;" alt="" >
                </center>
              <h3 style="margin-top:15px;"><i class="fa fa-spin fa-heart star"></i>Sign Up Now!</h3>
              <p><b>Welcome to the MemberSite Application page.</b> Please fill in the form with the basic information required for membership. Your email address will be used as your your Login ID and for notifications from the website administrator. When you submit your application the administrator will be notified of your pending application. You will be contacted via email informing you of your approval status. Once approved you will be able to login, complete your information and access your MemberSite. Thank you and welcome to our website!</p>
              <br />
              <p style="color:#993333; font-style:italic; font-weight:bold;">Please Note: The free listings on this site are only for businesses located in the Cashiers, Highlands, Glenville, Sapphire and Toxaway communities. For all other inquiries please contact us.</p>
             

              <div class="row"> 
                <div class="col-md-12"> 
                  
                    <div class="col-md-6">

                        <h4><i class="fa fa-user"></i> User Information</h4>
                        <p><b>Choose One:</b></p>
                        <ul style="font-weight:bold;list-style-type:none;">
                          <li><input type="radio" name="subscriber"> Subscriber - fill in the first part of the form <u>only</u>.</li>
                          <li><input type="radio" name="subscriber"> Member - fill in both parts of the form.</li>
                        </ul>
                        <br />
                        <form name="myForm">
                        <div>
                            <input type="text" ng-model="user.firstName">&nbsp;&nbsp;&nbsp;<label>First Name *</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.lastName">&nbsp;&nbsp;&nbsp;<label>Last Name *</label>
                        </div>

                         <div>
                            <input type="text" ng-model="user.email">&nbsp;&nbsp;&nbsp;<label>Email Address *</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.password">&nbsp;&nbsp;&nbsp;<label>Password *</label>
                        </div>
                        <br />
                        <p style="color:#993333;">*Please fill in all required fields.</p>

                       <!-- <div>
                            <input type="text" ng-model="user.phone">&nbsp;&nbsp;&nbsp;<label>Phone</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.mobilephone">&nbsp;&nbsp;&nbsp;<label>Mobile Phone</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.fax">&nbsp;&nbsp;&nbsp;<label>Fax</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.bio">&nbsp;&nbsp;&nbsp;<label>Bio</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.businessZip">&nbsp;&nbsp;&nbsp;<label>User Role </label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.userType">&nbsp;&nbsp;&nbsp;<label>User Type (admin,member or subscriber)</label>
                        </div>-->

                  
                </div>
                <div class="col-md-6">
                  
                  <h4><i class="fa fa-user"></i> Business Information</h4>
                      <br />
                        <div>
                            <input type="text" ng-model="user.businessName">&nbsp;&nbsp;&nbsp;<label>Business Name *</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.businessAddress">&nbsp;&nbsp;&nbsp;<label>Address *</label>
                        </div>

                        <!--<div>
                            <input type="text" ng-model="user.businessAddress2">&nbsp;&nbsp;&nbsp;<label>Address 2</label>
                        </div>-->

                        <div>
                            <input type="text" ng-model="user.businessCity"></input>&nbsp;&nbsp;&nbsp;<label>City *</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.businessState">&nbsp;&nbsp;&nbsp;<label>State *</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.businessZip">&nbsp;&nbsp;&nbsp;<label>Zip Code *</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.phone">&nbsp;&nbsp;&nbsp;<label>Phone *</label>
                        </div>

                       <!-- <div>
                            <input type="text" ng-model="user.fax">&nbsp;&nbsp;&nbsp;<label>Fax</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.website">&nbsp;&nbsp;&nbsp;<label>Website</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.providerId">&nbsp;&nbsp;&nbsp;<label>Member ID</label>
                        </div>-->

                        <div>
                            <br />
                            <input type="checkbox" NAME="terms">&nbsp;&nbsp;&nbsp;I agree to <a href="">terms of service</a>.
                        </div>

                        <div style="margin-top:25px;">
                            <span><button class="btn btn-primary rcs" ng-click="cancel()" >Cancel</button></span>
                            <span><button class="btn btn-success rcs" ng-click="create()" >Submit Application</button></span>
                        </div>
                      </form>

                  </div>
                </div>
              </div>
            </div>

<div class="row"> 
                
                <div class="col-md-12">
                  <div class="well well2">
                    <button type="submit" class="btn btn-primary rcs pull-right">Find Out More</button>
                  <h3><i class="fa fa-heart star"></i>Advertising on This Website</h3>

                      <p>A limited number of advertising spaces on this site are available for qualified businesses. Please contact us for more information!</p>

                      <p></p>

                    </div>
                </div>
            </div> 


        </div> 
      </div>
    </div>
  </div>