<div class="container">
  <div class="navbar navbar-inverse navbar-bottom navbar-inner rcs"  style="min-height:52px;">
    
        <div class="row">
          <div class="col-md-4 col-sm-5 col-xs-12 mtFooter">
            <a href="#/contact"><button type="submit" class="btn btn-primary rcs" style="margin-right:15px;margin-left:15px;">Contact Us</button></a>
            <a href="#/about"><button type="submit" class="btn btn-primary rcs" style="margin-right:15px;margin-left:15px;">About Us</button></a>
            
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 mtFooter">
            <center>
            <a href="#"><i class="fa fa-facebook fa-lg bubble fa-spin"></i></a>
            <a href="#"><i class="fa fa-twitter fa-lg bubble fa-spin"></i></a>
            <a href="#"><i class="fa fa-linkedin fa-lg bubble fa-spin"></i></a>
          </center>
          </div>
          <div class="col-md-4 col-sm-3 col-xs-12">
            <a href="http://membersites.net" title="Visit Our Website! &copy;2009-2015 MemberSites, LLC" target="_blank"><img src="../../../common/images/membersites-logo-3.png" class="pull-right" style="margin-right:10px;margin-top:7px;"></a>
          </div>

        </div>
  </div>

</div> 