<div class="container" style="margin-top:50px;margin-bottom:50px;">
  <div class="row">
  	<h4>About Page</h4>
    <div class="col-md-12">
      <div class="well well2">

			

	  </div>
	</div>
  </div>
</div>
