			
		
  <div class="container">
    <div class="row" style="margin-top:0px;">
      <div class="col-md-12">
        <div class="well well2 planks">

			     <h1 style="margin-left:1px;margin-top:5px;color:#ffffff;"><i class="fa fa-spin fa-heart star"></i>Contact Us</h1> 

              <div class="row"> 
                
                <div class="col-md-12"> 
                  <div class="well well2">
                    <h3>Contact Form</h3>
                    <p>Thank you for your interest. Please use the form here to contact us with questions or suggestions.</p> 
                    
                    
                    <div class="row">
                      <div class="col-md-6">

                        <p style="color:#993333;">*Please fill in all required fields.</p>
                        <br />
                        <p><b>How did you hear about us?</b></p>
                        <ul style="font-weight:bold;list-style-type:none;">
                          <li><input type="radio" name="referrer" value="searchEngine"> Search Engine</li>
                          <li><input type="radio" name="referrer" value="websiteOther"> Other Website</li>
                          <li><input type="radio" name="referrer" value="friend"> Friend</li>
                          <li><input type="radio" name="referrer" value="referral"> Business Referral</li>
                          <li><input type="radio" name="referrer" value="other"> Other</li>
                        </ul>
                        
                        <div>
                            <label>Comments:</label>
                            <br />
                            <textarea rows="4" cols="30" ng-model="user.comments"></textarea>
                        </div>
                        
                  </div>
                      <div class="col-md-6">
                        <br />
                        <form name="myForm">
                        <div>
                            <input type="text" ng-model="user.firstName">&nbsp;&nbsp;&nbsp;<label>First Name *</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.lastName">&nbsp;&nbsp;&nbsp;<label>Last Name *</label>
                        </div>

                         <div>
                            <input type="text" ng-model="user.email">&nbsp;&nbsp;&nbsp;<label>Email Address *</label>
                        </div>
                 
                        <div>
                            <input type="text" ng-model="user.businessName">&nbsp;&nbsp;&nbsp;<label>Business Name *</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.businessAddress">&nbsp;&nbsp;&nbsp;<label>Address *</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.businessCity"></input>&nbsp;&nbsp;&nbsp;<label>City *</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.businessState">&nbsp;&nbsp;&nbsp;<label>State *</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.businessZip">&nbsp;&nbsp;&nbsp;<label>Zip Code *</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.phone">&nbsp;&nbsp;&nbsp;<label>Phone</label>
                        </div>

                        <div style="margin-top:15px;">
                            <span><button class="btn btn-primary rcs" ng-click="cancel()" >Cancel</button></span>
                            <span><button class="btn btn-success rcs" ng-click="create()" >Send Message</button></span>
                        </div>
                        </form>
                       
                      

                  </div>

                </div>
              </div>

              <div class="row"> 
                
                <div class="col-md-12">
                  <div class="well well3">
                    <button type="submit" class="btn btn-primary rcs pull-right">Find Out More</button>
                  <h3><i class="fa fa-heart star"></i>Advertising on This Website</h3>

                      <p>A limited number of advertising spaces on this site are available for qualified businesses. Please contact us for more information!</p>

                      <p></p>

                    </div>
                </div>
            </div> 
 
            </div>  
            
        </div>
      </div>
    </div>