

<h1 style="margin-bottom: 20px">Angular-xeditable Starter Template</h1>
<div ng-controller="UsersEditableCtrl"> 
  <!-- editable element -->  <!-- href="#" -->
  <!-- <a href="/#" editable-text="xuser.name">{{ xuser.name || "empty" }}</a> -->
  <!-- <div> <label>First Name</label> <input type="text" editable-text="xuser.name" value='{{ xuser.name || "empty" }}'> </div> -->
		    <form editable-form name="textBtnForm" action="#"> 
                      <span editable-text="xuser.name">
                          {{ xuser.name || 'empty' }}
                      </span>
                      <button type="button" class="btn btn-default" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible">
                          edit
                      </button>
                      <span ng-show="textBtnForm.$visible">
                          <button type="submit" class="btn btn-primary" ng-disabled="textBtnForm.$waiting">
                            Save
                          </button>
                          <button type="button" class="btn btn-default" ng-disabled="textBtnForm.$waiting" ng-click="textBtnForm.$cancel()">
                            Cancel
                          </button>
                      </span>
                  </form>


                  <div id="debug" style="margin-top: 30px">
                  {{ xuser | json }}
                  </div>
                </div> 
		

  <div id="debug" style="margin-top: 30px">
  {{ xuser | json }}
  </div>
 
</div>

