			
		
  <div class="container">
    <div class="row" style="margin-top:0px;">
      <div class="col-md-12">
        <div class="well well2 planks">
          <span class="pull-right" style='display:block !important; width: 170px; margin-top:0px; margin-right:-11px;text-align: center; font-family: sans-serif; font-size: 12px;'><a href='http://www.wunderground.com/cgi-bin/findweather/getForecast?query=Cashiers, NC' title='Cashiers, NC Weather Forecast'><img src='http://weathersticker.wunderground.com/weathersticker/miniDial/language/english/US/NC/Cashiers.gif' class='rcs' alt='Find more about Weather in Cashiers, NC' /></a></span>

			     <h1 style="margin-left:1px;margin-top:5px;color:#ffffff;"><i class="fa fa-spin fa-heart star"></i>Restaurants</h1>
              

              <div class="row"> 
                <div class="col-md-2"> 
                    
                      <center>
                      <img src="common/images/bannerAds/orchard-web-ad1.jpg" class="photo3">
                      <img src="common/images/bannerAds/cashiers_golfing_anim2.gif" class="photo3">
                      
                      
                      
                      <!--<img src="common/images/bannerAds/luxury-lakefront-properties2.gif" class="photo3">
                      <img src="common/images/bannerAds/high-hampton-ad1.jpg" class="photo3">
                      <img src="common/images/bannerAds/classics-web-ad-2.gif" class="photo3">
                      <img src="common/images/bannerAds/dovetail-ad-001.jpg" class="photo3">
                      <img src="common/images/bannerAds/srebalus1.gif" class="photo3">
                      <img src="common/images/bannerAds/forest-edge-ad.jpg" class="photo3">
                      <img src="common/images/bannerAds/LV-ad.jpg" class="photo3">
                      <img src="common/images/bannerAds/LAURELchamberad.jpg" class="photo3">
                      <img src="common/images/bannerAds/Hampton_Inn.jpg" class="photo3">
                      
                      <img src="common/images/bannerAds/steve_johannessen_6-14.jpg" class="photo3">
                      <img src="common/images/bannerAds/summit-properties-ad1.jpg" class="photo3">
                      <img src="common/images/bannerAds/sapphire-national.JPG" class="photo3">-->

                      <br />
                      </center>
                </div>
                
                <div class="col-md-10"> 
                  <div class="well well2">
                      <div class="row">
              <div  ng-controller="UsersEditableCtrl" class="col-md-12">

                <!-- ***** UsersListPageCtrl ******************* -->
                <div ng-controller="UsersListPageCtrl"  class="userpaging-controller" style="border:0px;">

                    <!--<div class="row">
                      <div class="col-md-12">
                        <div class="well well2">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-md-12" style="margin-bottom:8px;">
                                <label>Last Name</label>
                                <input type="text" id="fetchLastName" class="form-control" ng-model="fetchBy.fetchLastName" placeholder="Last Name" >
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12" style="margin-bottom:8px;">
                                <label>First Name</label>
                                <input type="text" id="fetchFirstName" class="form-control" ng-model="fetchBy.fetchFirstName" placeholder="First Name" >
                                <input type="button" class="btn btn-success rcs pull-right" style="margin-top:8px;" value="Search" ng-click="fetchPage()">
                              </div>
                            </div>-->
                            <!--<div class="row">
                              <div class="col-md-12">
                                <label>City</label>
                                <input type="text" id="fetchCity" class="form-control" ng-model="fetchBy.fetchCity" placeholder="City" >
                                <input type="button" class="btn btn-success rcs" style="margin-top:8px;" value="Search" ng-click="fetchPage()">
                              </div>
                            </div>-->
                         <!-- </div>
                          <div class="col-md-6">
                            <h3>Search Instructions</h3>
                                <p>Aenean a quam ut nisl sollicitudin fringilla eu faucibus massa. Duis cursus augue at sapien tempus, vitae ornare tortor euismod. Maecenas pharetra tincidunt felis non consectetur.</p> 
                                <p>In hac habitasse platea dictumst. Duis accumsan, metus dictum fringilla facilisis, purus magna dictum lacus, eget consequat erat purus sit amet quam.</p> 
                          </div>
                          
                          </div>
                        </div>
                        
                      </div> 
                    </div>-->

                    <div class="row">
                       <div class="col-md-12" style="margin-top:10px;">
                       
                          <div class="row">
                            <div class="col-md-8">
                              <h3>Restaurant Search Results</h3>
                            </div>
                            <div class="col-md-4">
                              <div class="well">
                                Page: {{ currentPage }} of {{othersTotalPossible}}    
                                <label for="search"> per Page:</label>
                                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                              </div>
                            </div>
                          </div>

                          <table width="100%" border="0" cellpadding="4" style="font-size:14px;">
                            <thead>
                              <tr class="messageBar">
                                  <!--<th style="text-align:left;padding:2px;">ID</th>
                                  <th style="text-align:left;"></th>-->
                                  <th style="text-align:left;padding:2px;">Last</th>
                                  <th style="text-align:left;padding:2px;">First</th>
                                  <th style="text-align:center;padding:2px;">View</th>
                                  <th style="text-align:center;padding:2px;">Edit</th>
                                  <th style="text-align:center;padding:2px;">Del</th>
                              </tr>
                            </thead>

                            <tbody>
                              <tr dir-paginate="usersListItem in usersList |  itemsPerPage: pageSize: 'usersListSelect'" total-items="usersTotalPossible" current-page="currentPage" pagination-id="usersListSelect" style="border-bottom:1px solid #cccccc;">
                                <!--<td style="padding:2px;text-align:left;" width="10%"><span ng-bind="usersListItem.providerId"></span></td>
                                <td align="left" width="15%"><span ng-bind="usersListItem.keyId"></span></td>-->
                                <td style="padding:3px;text-align:left;" width="20%"><span ng-bind="usersListItem.lastName"></span></td>
                                <td style="padding:3px;text-align:left;" width="55%"><span ng-bind="usersListItem.firstName"></span></td>
    
                                <td style="padding:3px;text-align:center;" width="8%">
                                  <a href="#" name="View"><i class="fa fa-eye" style="color:#33aa66; text-decoration:none;font-size:1.2em;"></i></a></td>

                                <td style="padding:3px;text-align:center;" width="9%"><!-- <a href="#/users/edit/{{usersListItem._id}}">Show</a> -->
                                         <!-- <input type="button" value="Show" ng-click="getSelectedUser( $index )"> -->
                                    <!-- ng-click="toggleModal()" ng-click="showComplex()">  -->
                                    <!-- <button ng-click="getSelectedUser( $index )" class="btn btn-default">Show</button>   -->
                                    <usermodal ng-click="getSelectedUser( $index )" name='UserEditForm' instance_template="user-edit" usersEditItem="{{usersList[$index]}}" use_ctrl="UserModalCtrl">
                                    <i class="fa fa-edit" style="color:#3366aa; text-decoration:none;cursor:pointer;font-size:1.2em;"></i>
                                    </usermodal>

                                  </td>
                                  <td style="padding:3px;text-align:center;" width="8%">
                                    <a href="#"  alt="Delete"><i class="fa fa-times" style="color:#aa6633; text-decoration:none;font-size:1.3em;"></i></a>
                                    <!--<input type="button" class="btn btn-default btn-xs rcs" style="color:#bb6633;" value="Delete" ng-click="delete($index)">-->
                                  </td>
                              </tr> 

                            </tbody>
                          </table>
                          <div  class="userpaging-controller" style="border:0px;margin-top:10px;">                              
                        <div class="text-center">
                             <dir-pagination-controls pagination-id="usersListSelect" boundary-links="true" on-page-change="fetchPage()" template-url="common/partials/dirPagination.html"></dir-pagination-controls>
                              <!--paging controller users list-->
                        </div>
                                                              
                    </div> 


                    </div>    
                    <!--<div  class="userpaging-controller">                              
                        <div class="text-center">
                             <dir-pagination-controls pagination-id="usersListSelect" boundary-links="true" on-page-change="fetchPage()" template-url="common/partials/dirPagination.html"></dir-pagination-controls>
                              paging controller users list
                        </div>
                                                              
                    </div> -->

                    <!--<div class="userpaging-controller">  
                     <div ng-controller="UsersFormModalCtrl"  class="userpaging-controller"> -->
                            <!--add the modal instance controller with that will use the redbull.tpl.html as a template and
                            RedBullCtrl as its controller-->
                         

                    <!-- </div> 
                </div> -->

                </div>
                <!-- ****** end of UsersListPageCtrl ***************************** --> 

                </div>
            </div>



                      

              

                  </div>
                  
                 
                  
                </div>
                <div class="row">
                  <div class="col-md-12"> 
                <div ng-include="'common/partials/quickLinks.html'"></div>
                </div>
              </div>
            </div> 

            

            
            
        </div>
      </div>
    </div>