<div class="container">
  <div class="navbar navbar-fixed-bottom navbar-inverse navbar-inner rcs"  style="min-height:52px;margin-bottom:5px;">
    
        <div class="row">
          <div class="col-md-5 col-sm-6 col-xs-12 mtFooter">
            <a href="#/contact"><button type="submit" class="btn btn-primary rcs" style="margin-right:5px;margin-left:10px;">Contact Us</button></a>
            <a href="#/about"><button type="submit" class="btn btn-primary rcs" style="margin-right:5px;">About Us</button></a>
             <a href="#/jobs"><button type="submit" class="btn btn-primary rcs" style="margin-right:5px;">Jobs</button></a>
            
          </div>
          <div class="col-md-4 col-sm-3 col-xs-12 mtFooter">
            <span class="pull-right">
            <a href="#"><i class="fa fa-facebook fa-lg bubble fa-spin"></i></a>
            <!--<a href="#"><i class="fa fa-twitter fa-lg bubble fa-spin"></i></a>-->
            <a href="#"><i class="fa fa-linkedin fa-lg bubble fa-spin"></i></a>
          </span>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12">
            <a href="http://membersites.net" title="Visit Our Website! &copy;2009-2015 MemberSites, LLC" target="_blank"><img src="../../../common/images/membersites-logo-3.png" class="pull-right" style="margin-right:10px;margin-top:7px;"></a>
          </div>

        </div>
  </div>

</div> 