      
    
  <div class="container">
    <div class="row" style="margin-top:0px;">
      <div class="col-md-12">
        <div class="well well2 planks">
          <span class="pull-right" style='display:block !important; width: 170px; margin-top:0px; margin-right:-11px;text-align: center; font-family: sans-serif; font-size: 12px;'><a href='http://www.wunderground.com/cgi-bin/findweather/getForecast?query=Cashiers, NC' title='Cashiers, NC Weather Forecast'><img src='http://weathersticker.wunderground.com/weathersticker/miniDial/language/english/US/NC/Cashiers.gif' class='rcs' alt='Find more about Weather in Cashiers, NC' /></a></span>

           <h1 style="margin-left:1px;margin-top:5px;color:#ffffff;"><i class="fa fa-spin fa-heart star"></i>Public/Private Golfing</h1>
              

              <div class="row"> 
                <div class="col-md-2"> 
                    
                      <center>
                        <img src="common/images/bannerAds/high-hampton-ad1.jpg" class="photo3">
                        <img src="common/images/bannerAds/sapphire-national.JPG" class="photo3">
                        <img src="common/images/bannerAds/cashiers_golfing_anim2.gif" class="photo3">

                      <br />
                      </center>
                </div>
                
                <div class="col-md-10"> 
                  <div class="well well2">
                      <div class="row">
              
                  
                 
                  
                      </div>
                      <div ng-include="'public/partials/quickLinks.html'"></div>

                  </div> 
                </div>
              </div>
    </div>