			
		
  <div class="container">
    <!--<div ng-include="'common/partials/innerfade.html'"></div>-->
    <div class="row" style="margin-top:0px;">
      <div class="col-md-12">
        <div class="well well2 planks">
          <div style="margin-bottom:25px;">
          <img src="common/images/header4.jpg" width="100%" class="slideshowImage" alt="" />

        </div>
          <span class="pull-right" style='display:block !important; width: 170px; margin-top:0px; margin-right:-11px;text-align: center; font-family: sans-serif; font-size: 12px;'><a href='http://www.wunderground.com/cgi-bin/findweather/getForecast?query=Cashiers, NC' title='Cashiers, NC Weather Forecast'><img src='http://weathersticker.wunderground.com/weathersticker/miniDial/language/english/US/NC/Cashiers.gif' class='rcs' alt='Find more about Weather in Cashiers, NC' /></a></span>

			     <h1 style="margin-left:1px;margin-top:5px;color:#ffffff;"><i class="fa fa-spin fa-heart star"></i>Welcome To Cashiers!</h1>
              <div class="row"> 
                <div class="col-md-12"> 
                  <div class="well well2">
                    <img src="common/images/stream-and-waterfall.jpg" style="width:260px;" class="photoPage photoMargin pull-right rcs" alt="" >
                    <h3>Cashiers, North Carolina - The Heart Of The Blue Ridge Mountains</h3>
                      
                      <p>Cashiers, a beautiful village in western North Carolina known as "The Heart Of The Blue Ridge Mountains", is located in the southern end of Jackson County. Sitting at 3,487 feet in elevation at the crossroads of Highways 107 and 64, there is a little bit of everything here to enjoy for native families, visitors, and part-time residents alike. Our singularly unique geography boasts hundreds of waterfalls, quiet lakes, stone mountains and amazingly beautiful forests.</p>

                      <p>Life in this mountain community is as multifaceted as its landscape. Cashiers is located on the highest plateau in the Blue Ridge Mountains. The highest peak in the area rises to 5,127 at Yellow Mountain, yet drops to 1,020 feet along the Horsepasture River. This area is spectacularly beautiful, and is unlike any other place in the world. Our elevation coupled with the abundant rainfall combine to create a lush, green rain forest filled with rhododendrons, laurels, mossy rocks, ferns and pine trees. These mountains are some of the oldest in the world and have abundant hiking trails, gorgeous scenery and intriguing legends.</p>
                      <br />
                      <p><b>Fun Facts: Weather is generally cooler up here, regardless of the season. Because of it's unique geography and altitude the climate on the Cashiers plateau is generally about 20 degrees cooler during the summer months than just about anywhere else in the southeastern US! Temperatures average a high of 80 degrees in July, and 40 degrees in January. Recently, Cashiers has received over 100 inches of rain per year.</b></p>
                      <br />
                      <p>Please look through this site to see all of the many choices there are for you to stay and play. We are closer than you think! Come on up for a weekend or a week. Bring your family for a reunion or wedding. Find that second home you have always dreamed of or kick back in one of the greatest places to retire anywhere - only in Cashiers, North Carolina, the Heart of the Blue Ridge Mountains.</p>

                      <div class="well rcs" style="margin-bottom:0px; margin-top:30px; background-color:#ffffff; border:1px solid #aaaaaa;">
                        
                        <h3 style="margin-top:-10px;"><i class="fa fa-heart star"></i>Local Businesses Sign Up For Your FREE MemberSite Listing!</h3>
                        <a href="#/signup" class="btn btn-primary rcs pull-right" style="margin:15px;">Click Here To Sign Up!</a>
                        <ul style="font-weight:bold;">
                          <li>Sign up now and begin using your FREE Expanded Business Listing from any device!<br /></li>

                          <li>Be one of over 530 businesses currently listed on this website.<br /></li>
                          <li>In 2014 there were over 180,000 <u>unique visitors</u> to this website, and over 850,000 page views.<br /></li>
                          <li>Be seen and get results on the number one website serving the Blue Ridge Plateau.<br /></li>
                          <li>This free offer is only available to local businesses in the Cashiers, Highlands, Glenville, Sapphire and Toxaway communities.</li>
                          <li>What are you waiting for? Sign up now!</li>
                        </ul>
                          
                      </div>
                  </div>
                </div>
              </div>

              <div class="row"> 
                <div class="col-md-2"> 
                    
                      <center>
                      <img src="common/images/bannerAds/high-hampton-ad1.jpg" class="photo3">
                      <img src="common/images/bannerAds/LV-ad.jpg" class="photo3">
                      <img src="common/images/bannerAds/cashiers_golfing_anim2.gif" class="photo3">
                      <img src="common/images/bannerAds/classics-web-ad-2.gif" class="photo3">
                      <img src="common/images/bannerAds/dovetail-ad-001.jpg" class="photo3">
                      <img src="common/images/bannerAds/summit-properties-ad1.jpg" class="photo3">
                      <img src="common/images/bannerAds/sapphire-national.JPG" class="photo3">

                      <br />
                      </center>
                </div>
                
                <div class="col-md-8"> 
                  <div class="row">
                <div class="col-md-12"> 
                  <div ng-include="'common/partials/quickLinks.html'"></div>
                </div>
              </div>

                  <div class="well well2">
                      <img src="common/images/waterfall_family.jpg" style="width:260px;margin-left:20px;" class="photoPage pull-right rcs" alt="" >
                      
                      
                      
                      <h3>A Wonderful Place To Live</h3>
                      <p>The scenery isn't the only thing unique about the area. Cashiers is also a really great place to live. Our quiet village boasts world-class accommodations, great restaurants and shopping, coupled with a good dose of mountain friendliness and charm. Once you visit you won't want to leave!</p>
 
                      <p>The population of Cashiers, North Carolina is officially listed as 1,974, but from about Memorial Day until the end of October’s fall leaf season, part-time residents and visitors are estimated to bump that number up to about 10,000-15,000. For locals with children, Cashiers is home to some of the state’s finest schools, and our churches and civic organizations are among the most philanthropic you’ll ever see.</p>
                      
                      <p>Village life includes access to unique stores and businesses, which accentuate the lifestyle created by the Village Green and Commons park in the center of town. Other staples of the crossroads are the Albert Carlton-Cashiers Community Library, the Cashiers Community Center, the new Cashiers Recreation Center, the Cashiers Area Chamber of Commerce, new pathways to navigate your way around town, and much, much more. Have a look at Cashiers real estate opportunities while you are here.</p>
                      
                      <h3>Events & Activities</h3>
                      <p>Cashiers NC is home to many exciting events throughout the year, most of which benefit a charity or non-profit in the area. Popular yearly events include the Leaf Festival, the Rotary Arts & Crafts Shows on Memorial Day and Labor Day weekends, weekly Groovin’ on the Green events on Friday’s during the busy season, the Cashiers Designer Showhouse, Cashiers Benefit Antique Show, the Church of the Good Shepherd Auction and Bazaar, the Tour de Cashiers, Car Shows, The Annual Christmas Parade, and so much more.</p>
                      
                      <p><a href="#/events" class="btn btn-primary rcs pull-right" style="margin:10px;">Go To Events Page</a></p>

                      <p>Surrounding the village are many opportunities for outdoor enthusiasts, including hiking trails, camping opportunities, parks, mountains, waterfalls, fishing, boating, lakes, rivers, nationally-ranked golf courses, bicycling, skiing (water and snow), and horseback riding, just to name a few.</p>

                      <p><a href="#/activities" class="btn btn-primary rcs pull-right" style="margin:10px;">Go To Activities Page</a></p>

                      <p>People you run into around Cashiers vary from local mountain folk who have lived here their entire lives, to retired doctors and lawyers, to the avid traveler just stopping for a refreshing hike or a plate full of barbecue. Regardless of who you are, or the length of your stay, one thing is for sure, you won’t be disappointed in what Cashiers has to offer!</p>

                      <p><i>by Kelly Donaldson and Steve Johannessen</i></p>

                  </div>
                  <div class="well ellipse rcs">
                      <h3>Helicopter Video Over Cashiers and Highlands</h3>
                      
                      <p>Fly with us and see the beauty of our area in this YouTube video! See Cashiers, Highlands and the surrounding mountains. Lake Glenville, Lake Toxaway, Whiteside Mountain, Whitewater Falls and much more are here. Fly over Wade Hampton Golf Club, High Hampton Inn and Resort, Country Club of Sapphire Valley and Trillium Golf communities.</p>
                    
                      <iframe width="100%" height="480" src="//www.youtube.com/embed/lPwPFClkLTo" frameborder="0" allowfullscreen></iframe>

                  </div>
                  <div class="row">
                    <div class="col-md-12">
                    <!--<h3><i class="fa fa-heart star"></i>Marketplace</h3>-->
                    <center>
                      <img src="common/images/bannerAds/LV-ad2.jpg" class="photo3">
                      <img src="common/images/bannerAds/laurelwoodinn.jpg" class="photo3">
                      <img src="common/images/bannerAds/landmark-medium.jpg" class="photo3">
                      <img src="common/images/bannerAds/pebble-creek-village3.jpg" class="photo3">
                      <img src="common/images/bannerAds/chhs-web-ad1.jpg" class="photo3">
                      <img src="common/images/bannerAds/brewpub1.jpg" class="photo3">
                      <img src="common/images/bannerAds/rotary-ad1.gif" class="photo3">
                      <img src="common/images/bannerAds/library-ad.jpg" class="photo3">
                    </center>
                  </div>
                </div>
                  
                </div>
                <div class="col-md-2"> 
                    <center>
                      <img src="common/images/bannerAds/luxury-lakefront-properties2.gif" class="photo3">
                      <img src="common/images/bannerAds/srebalus1.gif" class="photo3">
                      <img src="common/images/bannerAds/forest-edge-ad.jpg" class="photo3">
                      <img src="common/images/bannerAds/LAURELchamberad.jpg" class="photo3">
                      <img src="common/images/bannerAds/Hampton_Inn.jpg" class="photo3">
                      <img src="common/images/bannerAds/orchard-web-ad1.jpg" class="photo3">
                      <img src="common/images/bannerAds/steve_johannessen_6-14.jpg" class="photo3">
                      
                      <br />
                    <center>
                </div>
                
            </div> 

            

            <div class="row"> 
                
                <div class="col-md-6"> 
                  <div class="well well2">
                      <h3><i class="fa fa-heart star"></i>Website News</h3>
                      <h4>CashiersGolfing.com is Now Online</h4>
                      <p>Now you can find out more about all of the golf clubs in our area and see these beautiful courses. Featuring the golf, tennis and croquet communities in the Cashiers, Highlands, Sapphire and Toxaway areas. Each community or club listed has information about the course, pro, photos, directions and other information of interest.</p>

                      <p><a href="http://cashiersgolfing.com" target="_blank"><button type="submit" class="btn btn-primary rcs">Visit CashiersGolfing.com</button></a></p>

                      <h4>CashiersNorthCarolina.org web traffic is way up!</h4>

                      <p>Our website continues to be the top website on the plateau for web traffic. Last year we had over 180,000 unique visitors to the site! In page views we had over 850,000! With the acquisition of the cashiersnorthcarolina.com domain (now pointed to cashiersnorthcarolina.org) the site traffic will only increase.</p>

                      <h4>CashiersNorthCarolina.org is #1 on Internet Searches!</h4>

                      <p>Our website has been #1 in the Google, Yahoo and Bing search engines for three years in a row! A HUGE thank you goes out to all those businesses and individuals who participated from the beginning to make this happen!! Call us about putting your ad up here on the community website!</p>

                      <h4>Advertising on This Website</h4>

                      <p>Advertising space is available on this site. Please contact us for more information. Also, your FREE MemberSite Expanded Business Listing(TM) is an extremely valuable tool that your business can use to market your business to customers locally and on the web. This software greatly enhances the ablilty of visitors to find and locate your establishment within our community. Take advantage of this amazing offer!</p>

                      <p><button type="submit" class="btn btn-primary rcs">Find Out More</button></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="well well2">
                  <h3 style="margin-top:30px;">More News</h3>
                      <h4>MemberSite Training Classes at the Cashiers Library</h4>

                      <p>The free classes are held at the Albert-Carlton Cashiers Library in Cashiers. Stop by after work and get signed up or ask questions. A MemberSite will be demonstrated and members will learn how to work with and create their own MemberSite, use the shopping events calendar and more. Bring your laptop if you have one! As always the class is free to everyone.</p>
                      <p><b>Next scheduled class date will be in May</b></p>

                      <p><b>Don't Have Time to Attend?</b> Call (828)743-7543 to schedule a visit to your place of business and get help setting up your MemberSite. Don't wait to take advantage of this!</p>
                      <p><button type="submit" class="btn btn-primary rcs">Contact Us for an Appointment</button></p>
                      <br />
                      <h4>MemberSite 4G Community Web Software Is Now Available</h4>

                      <p>Now more powerful than ever MemberSites is a cloud based suite of web applications designed for communities and membership organizations of all sizes.  MemberSites Generation 4 enables all devices - from laptop to tablet to cell phone - to access and modify their MemberSite easily. <b>ALL community businesses are eligible to sign up for their own FREE searchable MemberSite business listing. This includes services, professionals and independent contractors.</b> As a business listed on this website you will have a free multi-page MemberSite Expanded Business Listing(TM) with your images and text and your business calendar. You will have control over your website text and graphics, and you can log in and make these changes from any browser anywhere at any time. Your changes will appear instantly on your MemberSite pages. With your MemberSite you will have your very own events calendar that shows special event dates and details that can be posted to the community shopping calendar.</p>

                      <p><button type="submit" class="btn btn-primary rcs">Sign Up Now</button></p>

                    </div>
                </div>
            </div> 
            
        </div>
      </div>
    </div>