			
		
  <div class="container">
    <div class="row" style="margin-top:0px;">
      <div class="col-md-12">
        <div class="well well2 planks">
          <span class="pull-right" style='display:block !important; width: 170px; margin-top:0px; margin-right:-11px;text-align: center; font-family: sans-serif; font-size: 12px;'><a href='http://www.wunderground.com/cgi-bin/findweather/getForecast?query=Cashiers, NC' title='Cashiers, NC Weather Forecast'><img src='http://weathersticker.wunderground.com/weathersticker/miniDial/language/english/US/NC/Cashiers.gif' class='rcs' alt='Find more about Weather in Cashiers, NC' /></a></span>

			     <h1 style="margin-left:1px;margin-top:5px;color:#ffffff;"><i class="fa fa-spin fa-heart star"></i>Business Locator</h1>
            <div class="row"> 
              <div class="col-md-10"> 
                <div class="well well3">
                  <h3>Search For A Business</h3>
                  <div class="row">
                    <div  ng-controller="UsersEditableCtrl" class="col-md-12">

                <!-- ***** UsersListPageCtrl ******************* -->
                    <div ng-controller="UsersListPageCtrl"  class="userpaging-controller" style="border:0px;">

                    <div class="row">
                      <div class="col-md-12">
                        <div class="well well2">
                        <div class="row">
                          <div class="col-md-6">

                            <label>Last Name</label>
                            <input type="text" id="fetchLastName" class="form-control" ng-model="fetchBy.fetchLastName" placeholder="Last Name" >
                          </div>

                          <div class="col-md-6">
                            <label>First Name</label>
                              <input type="text" id="fetchFirstName" class="form-control" ng-model="fetchBy.fetchFirstName" placeholder="First Name" >
                              <input type="button" class="btn btn-primary rcs pull-right" style="margin-top:8px;" value="Search" ng-click="fetchPage()">
                          </div>
                          
                          </div>
                        </div>
                        
                      </div> 
                    </div>

                    <div class="row">
                            <div class="col-md-8">
                              <h6>Search Results</h6>
                              <div class="searchResults">Please Enter A Search Term</div>
                            </div>
                            <div class="col-md-4">
                              <div class="well"> 
                                Page: {{ currentPage }} of {{usersTotalPossible}}    
                                <label for="search"> per Page:</label>
                                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                              </div>
                            </div>
                    </div>
                    <table width="100%">   

                          <tr dir-paginate="usersListItem in usersList | itemsPerPage: pageSize: 'membersListSelect'" total-items="usersTotalPossible" current-page="currentPage" pagination-id="membersListSelect">
                            <td style="padding:5px;">
                              <div class="row well well5" ng-class-odd="'odd'" ng-class-even="'even'">
                                
                                <div class="col-md-3 pad lal busTitle">
                                  <span ng-bind="usersListItem.lastName"></span>
                                </div>

                                <div class="col-md-2 pad lal">
                                  Address
                                </div>

                                <div class="col-md-3 pad lal">
                                  City, State, Zip
                                </div>

                                <div class="col-md-2 pad lal">
                                  123-456-7890
                                </div>

                                <div class="col-md-2 pad ral">
                                  <a href="#" name="View" style="text-decoration:none;" class="btn-success btn-sm rcs">View Details</a> 
                                </div>

                              </div>
                            </td>
                          </tr>
                             
                        </table>

                          <div  class="userpaging-controller" style="border:0px;margin-top:10px;">                              
                            <div class="text-center">
                             <dir-pagination-controls pagination-id="membersListSelect" boundary-links="true" on-page-change="fetchPage()" template-url="common/partials/dirPagination.html"></dir-pagination-controls>
                              <!--paging controller users list-->
                            </div>

                          </div>
                        </div>
                      </div>
                <!-- ****** end of UsersListPageCtrl ***************************** --> 
                    </div>
                  </div>
                </div>
                <div class="col-md-2"> 
                    
                      <center>
                      <img src="common/images/bannerAds/cashiers_golfing_anim2.gif" class="photo3">
                      <img src="common/images/bannerAds/classics-web-ad-2.gif" class="photo3">
                      <img src="common/images/bannerAds/dovetail-ad-001.jpg" class="photo3">
                      <!--<img src="common/images/bannerAds/luxury-lakefront-properties2.gif" class="photo3">
                      <img src="common/images/bannerAds/high-hampton-ad1.jpg" class="photo3">
                      <img src="common/images/bannerAds/srebalus1.gif" class="photo3">
                      <img src="common/images/bannerAds/forest-edge-ad.jpg" class="photo3">
                      <img src="common/images/bannerAds/LV-ad.jpg" class="photo3">
                      <img src="common/images/bannerAds/LAURELchamberad.jpg" class="photo3">
                      <img src="common/images/bannerAds/Hampton_Inn.jpg" class="photo3">
                      <img src="common/images/bannerAds/orchard-web-ad1.jpg" class="photo3">
                      <img src="common/images/bannerAds/steve_johannessen_6-14.jpg" class="photo3">
                      <img src="common/images/bannerAds/summit-properties-ad1.jpg" class="photo3">
                      <img src="common/images/bannerAds/sapphire-national.JPG" class="photo3">-->

                      <br />
                      </center>
                </div>
            </div> 

            <div ng-include="'common/partials/quickLinks.html'"></div>

            
            
        </div>
      </div>
    </div>