			
		
  <div class="container">
    <!--<div ng-include="'common/partials/innerfade.html'"></div>-->
    <div class="row" style="margin-top:0px;">
      <div class="col-md-12">
        <div class="well well2 planks">
          <span class="pull-right" style='display:block !important; width: 170px; margin-top:0px; margin-right:-11px;text-align: center; font-family: sans-serif; font-size: 12px;'><a href='http://www.wunderground.com/cgi-bin/findweather/getForecast?query=Cashiers, NC' title='Cashiers, NC Weather Forecast'><img src='http://weathersticker.wunderground.com/weathersticker/miniDial/language/english/US/NC/Cashiers.gif' class='rcs' alt='Find more about Weather in Cashiers, NC' /></a></span>

			     <h1 style="margin-left:1px;margin-top:5px;color:#ffffff;"><i class="fa fa-spin fa-heart star"></i>Cashiers Area Map</h1>

              <div class="row"> 
                
                <div class="col-md-12"> 
                  <div class="well well2">
                    
                    <iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="border: 1px solid #999999;" src="https://www.google.com/maps?t=m&amp;sll=35.112417,-83.0978629&amp;sspn=0.0269616,0.0439464&amp;q=Cashiers,+NC&amp;ie=UTF8&amp;hq=&amp;hnear=Cashiers,+North+Carolina&amp;ll=35.111906,-83.099635&amp;spn=0.038826,0.09553&amp;z=14&amp;output=embed" class="rcs"></iframe>  
                                      
                  </div>
                </div>
              </div>
              <div class="row"> 
                <div class="col-md-12">
                  <div class="well well2">
                  <h3>Map Information</h3>

                      <p>The free classes are held at the Albert-Carlton Cashiers Library in Cashiers. Stop by after work and get signed up or ask questions. A MemberSite will be demonstrated and members will learn how to work with and create their own MemberSite, use the shopping events calendar and more. Bring your laptop if you have one! As always the class is free to everyone.</p>
                      <p><b>Next scheduled class date will be in May</b></p>

                      <p><button type="submit" class="btn btn-primary rcs">Contact Us for an Appointment</button></p>
                     
                    </div>
                </div>
            </div> 

            

            
             
        </div>
      </div>
    </div>