              <div class="row">
                <div class="col-md-12"> 
                  <div class="well well2">
                      <h3 style="margin-top:-10px;"><i class="fa fa-heart star"></i>Quick Links</h3>
                      
                      <ul style="list-style-type:none;">
                        <li class="quicks"><a href="#/realEstate"><i class="fa fa-home bump"></i></a><br />Real Estate</li>
                        <li class="quicks"><a href="#/dining"><i class="fa fa-cutlery bump"></i></a><br />Dining</li>
                        <li class="quicks"><a href="#/lodging"><i class="fa fa-suitcase bump"></i></a><br />Lodging</li>
                        <li class="quicks"><a href="#/golfing"><i class="fa fa-flag bump"></i></a><br />Golfing</li>
                        <li class="quicks"><a href="#/entertainment"><i class="fa fa-music bump"></i></a><br />Entertainment</li>
                        <li class="quicks"><a href="#/events"><i class="fa fa-calendar bump"></i></a><br /> Events</li>
                        <li class="quicks"><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=Cashiers, NC" title="Cashiers, NC Weather Forecast" target="_blank"><i class="fa fa-cloud bump"></i></a><br />Weather</li>
                        <li class="quicks"><a href="#/map"><i class="fa fa-map-marker bump"></i></a><br />Area Map</li>
                    </ul>
                  
                  </div>
                </div>
              </div>