<div class="container">	
	<div class="row">
		<div class="col-md-12">
			  <form class="navbar-form" role="search">
	        	<div class="form-group">
	          		<input type="text" class="form-control input-md rcs" placeholder="Name, City or Zip">
	        		<button type="submit" class="btn btn-default btn-sm rcs"><i class="fa fa-search" style="font-size:1.6em;color:#3366aa;"></i></button> <span style="font-size:12px;">Search for a Provider near you.</span>
				</div>
			</form>
		</div>
	</div>
</div>