<!-- start slider -->
    <div id="fwslider" style="margin-top:30px;">
        <div class="slider_container">
			<div class="slide"> 
            	<img src="../../../common/images/slideshow/mountains5.jpg">
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <h4 class="title">Welcome To CashiersNorthCarolina.com</h4>
                        <p class="description">Today is a good day for golfing in Cashiers, North Carolina</p>
                    </div>
                </div>
            </div>
			<div class="slide">
                <img src="../../../common/images/slideshow/toxaway3b.jpg">
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <h4 class="title">Welcome To CashiersNorthCarolina.com</h4>
                        <p class="description">The best mountain golfing on Planet Earth is in Cashiers, North Carolina</p>
                    </div>
                </div>
            </div>
			<div class="slide">
                <img src="../../../common/images/slideshow/highlandfalls1.jpg">
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <h4 class="title">Welcome To CashiersNorthCarolina.com</h4>
                        <p class="description">Cool mountain waters refresh, rejuvenate and restore your spirits in Cashiers, North Carolina</p>
                    </div>
                </div>
            </div>
			<div class="slide">
                <img src="../../../common/images/slideshow/edwards5.jpg">
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <h4 class="title">Welcome To CashiersNorthCarolina.com</h4>
                        <p class="description">Golfing like this can only be found in Cashiers, North Carolina</p>
                    </div>
                </div>
            </div>
            <div class="slide">
                <img src="../../../common/images/slideshow/trillium.jpg">
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <h4 class="title">Welcome To CashiersNorthCarolina.com</h4>
                        <p class="description">Lush fairwarys and greens with spectacular scenery found only in Cashiers, North Carolina</p>
                    </div>
                </div>
            </div>
			<div class="slide">
                <img src="../../../common/images/slideshow/mountains7.jpg">
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <h4 class="title">Welcome To CashiersNorthCarolina.com</h4>
                        <p class="description">Beautiful mountain homes and a wonderful, relaxed lifestyle await you in Cashiers, North Carolina</p>
                    </div>
                </div>
            </div>
			
			 <div class="slide">
                <img src="../../../common/images/slideshow/cullasaja6.jpg">
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <h4 class="title">Welcome To CashiersNorthCarolina.com</h4>
                        <p class="description">Come to Cashiers North Carolina, The Heart Of The Blue Ridge Mountains</p>
                    </div>
                </div>
            </div>

            <!--/slide -->
        </div>
        <div class="timers"></div>
        <div class="slidePrev"><span> </span></div>
        <div class="slideNext"><span> </span></div>
    </div>
<!--/slider -->
