
<div class="row" style="margin-top:0px;margin-bottom:0px;">
    <div class="col-md-12">
        <div class="well well2 silver" style="padding:9px;border:1px solid #999999;">

<SCRIPT language="JavaScript">
<!--
  selectPhoto('photos')
//-->
</SCRIPT>

<SCRIPT language="JavaScript">

function selectPhoto(type){
	var totalImages, i
	
	if (type=="photos") {
	    totalImages = 4
	    i = Math.ceil(Math.random()*totalImages)
	    document.write("<img src=\"common/images/slideshow/header" +i+ ".jpg\" width=\"100%\" />")
	}
	if (type=="photosH") {
	    totalImages = 7
	    i = Math.ceil(Math.random()*totalImages)
	    document.write("<img src=\"http://cashiersnorthcarolina.org/header_gallery/smallheader" +i+ ".jpg\" width=\"1000\" height=\"250\"  />")
	}
	else if (type=="homes") {
	    totalImages = 15
	    i = Math.ceil(Math.random()*totalImages)
	    document.write("<img src=\"http://cashiersnorthcarolina.org/header_gallery/homes/househeader_" +i+ ".jpg\" width=\"1000\" height=\"430\" />")
	}
}

</SCRIPT>

        


        </div>
    </div>
 </div>