<!--redbull.tpl.html -->

<section class="the-modal" style="overflow-y: scroll;"  > 
    
    <div class="modal-body" style="overflow: hidden;">

        <div class="row">
            <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-lg-offset-11 col-md-offset-11 col-sm-offset-11 col-xs-offset-9"> -->
            <!-- class="myCloseBtn img-responsive" -->
            <div class="col-sm-6" >
                <a "myCloseBtn  img-responsive" ng-click="cancel()"><i class="fa fa-times"></i></a>
                <!-- <a "myCloseBtn  img-responsive" ng-click="cancel()"><i class="fa fa-frown-o"></i></a>
                <a "myCloseBtn  img-responsive" ng-click="ok()"><i class="fa fa-smile-o"></i></a> -->
                
            </div>
        </div>

        <header class="row">
            <h2 class="col-sm-6">User Edit</h2>
        </header>

        <article class="row">
            <div class="col-xs-6">
                 <!-- <div class="col-md-4  well well2"> -->

                 
               Cust Data: {{usersEditItem.lastName}}
                          

                    <form editable-form name="userEditForm" action="#tab3-5" >
                          <div> <input type="hidden" ng-model="usersEditItem._id"> </div>
                          <div> <label>First Name</label> <input type="text" ng-model="usersEditItem.firstName"> </div>
                          <div> <label>Last Name</label>  <input type="text" ng-model="usersEditItem.lastName" > </div>
                          <div> <label>Street</label>     <input type="text" editable-text="usersEditItem.street" value='{{ usersEditItem.street || "empty" }}' ng-model="usersEditItem.street" >  </div>
                          <div> <label>Street 2</label>     <input type="text" editable-text="usersEditItem.street2" value='{{ usersEditItem.street2 || "empty" }}' ng-model="usersEditItem.street2" >  </div>
                          <!-- <div> <label>Street 2</label>   <input type="text" ng-model="usersEditItem.street2" >  </div> -->  
                          <button type="button" class="btn btn-default" ng-click="userEditForm.$show()" ng-hide="userEditForm.$visible">
                               edit
                          </button>
                          <span ng-show="userEditForm.$visible">
                            <!-- ng-click="cancel()" -->
                            <button  type="button" class="btn btn-default" ng-disabled="userEditForm.$waiting" ng-click="userEditForm.$cancel()">
                              Cancel
                            </button>
                            <button ng-click="save()" type="submit" class="btn btn-primary" ng-disabled="userEditForm.$waiting">
                              Update
                            </button>
                            <span >
                                <button ng-hide="{{whichUserNotMe(user._id)}}"  ng-click="delete()" >Delete</button>
                            </span>
                          
                        </span>
                    </form>                        
                
            </div>

        </article>
         <div class="row">
            <div class="col-sm-6" >
              <!--   <a  ng-click="cancel()"><i class="fa fa-times"></i></a> -->
                <a  ng-click="cancel()"><i class="fa fa-frown-o"></i></a>
                <a  ng-click="ok()"><i class="fa fa-smile-o"></i></a>
                
            </div>
        </div>
        
    </div>
</section> 


<!-- <div class='ng-modal' ng-show='show'>
  <div class='ng-modal-overlay' ng-click='hideModal()'></div>
  <div class='ng-modal-dialog' ng-style='dialogStyle'>
    <div class='ng-modal-close' ng-click='hideModal()'>X</div>
    <div class='ng-modal-dialog-content' ng-transclude></div>
  </div>
</div>