

<!-- <div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
        <p>Here's a more complex modal, it contains a form, data is passed to the controller 
         and data is returned from the modal.</p>

		<form class="form-horizontal" role="form">
		  <div class="form-group">
		    <label for="name" class="col-sm-2 control-label">Name</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="name" placeholder="Your Name" ng-model="name">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="age" class="col-sm-2 control-label">Age</label>
		    <div class="col-sm-10">
		      <input type="number" class="form-control" id="inputPassword3" placeholder="Age" ng-model="age">
		    </div>
		  </div>
		</form>

      </div>
      <div class="modal-footer">
        <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
 -->

 <style type="text/css">
#overlay {
    position: fixed;
    left: 25%;
    top: 25%;
    padding: 25px; 
    border: 2px solid black;
    background-color: #ffffff;
    width: 50%;
    height: 50%;
    z-index: 100;
}
#fade {
    position: fixed;
    left: 0%;
    top: 0%;
    background-color: black;
    -moz-opacity: 0.7;
    opacity: .70;
    filter: alpha(opacity=70);
    width: 100%;
    height: 100%;
    z-index: 90;
}
</style>
<div id="overlay" ng-show="display">
    This is a custom modal. The angular-modal-service doesn't depend on bootstrap, you
    can use any modal you want.
    <a href ng-click="close()">Close</a>
</div>
<div id="fade" ng-show="display"></div>