  <h1>User List</h1>
          <div class="row"> 
            <div ng-controller="UsersListPageCtrl" class="col-md-12"> 
            
              <div class="col-md-8 well well2">
                  <h4>List</h4>
                  <!-- ***** UsersListPageCtrl ******************* -->
                  <div    class="userpaging-controller">  <!-- ng-controller="UsersListPageCtrl" -->
                    <div class="row">
                      <div class="col-xs-6" >
                           <label>lastName </label><input type="text" id="fetchLastName" class="form-control" ng-model="fetchBy.fetchLastName" placeholder="Last Name" >
                           <label> First Name</label><input type="text" id="fetchFirstName" class="form-control" ng-model="fetchBy.fetchFirstName" placeholder="First Name" >
                           <input type="button" value="Fetch" ng-click="fetchPage()">
                      </div> 
                      <div class="col-xs-6" > Page: {{ currentPage }} of {{othersTotalPossible}}    
                         <label for="search"> per page:</label><input type="number" min="1" max="100" class="form-control" ng-model="pageSize">    
                      </div>
                            
                    </div>
                    <div class="row">
                       <div class="col-xs-6" >
                          <table>
                            <thead>
                              <tr>
                                  <th></th>
                                  <th></th>
                                  <th>First Name</th>
                                  <th>Last Name</th>
                                  <th></th>
                                  <th></th>
                              </tr>
                            </thead>
                            <tbody>
                             
                              <tr dir-paginate="usersListItem in usersList |  itemsPerPage: pageSize: 'usersListSelect'" total-items="usersTotalPossible" current-page="currentPage" pagination-id="usersListSelect" >
                                <td ><span ng-bind="usersListItem._id"></span></td>
                                <td ><span ng-bind="usersListItem.keyId"></span></td>
                                <td><span ng-bind="usersListItem.firstName"></span></td>
                                <td><span ng-bind="usersListItem.lastName"></span></td>
                                <td><input type="button" value="Delete" ng-click="delete($index)"></td>
                                <td><!-- <a href="#/users/edit/{{usersListItem._id}}">Show</a> -->
                                  <input type="button" value="Show" ng-click="getSelectedUser( $index )"></td>
                              </tr> 

                            </tbody>
                          </table>
                        </div>
                    </div>    
                    <div   class="userpaging-controller">                              
                        <div class="text-center">
                             <dir-pagination-controls pagination-id="usersListSelect" boundary-links="true" on-page-change="fetchPage()" template-url="common/partials/dirPagination.html"></dir-pagination-controls>
                              paging controller users list
                        </div>
                                                              
                    </div>        
                  </div>    
                  <!-- ****** end of UsersListPageCtrl ***************************** -->  
                </div>  
                <div class="col-md-4  well well2">
                    <!-- <div class="well well2"> -->
                      <h4>Edit</h4>
                       <div ng-controller="UsersEditCtrl" >  <!-- ng-controller="UsersEditCtrl" -->
                          <!-- <div class="row"> -->
                             <!-- <div class="col-xs-6" > -->
                                   <form editable-form name="userEditForm" action="#tab3-5" > 
                                      <div> <input type="hidden" ng-model="usersEditItem._id"> </div>
                                      <div> <label>First Name</label> <input type="text" ng-model="usersEditItem.firstName"> </div>
                                      <div> <label>Last Name</label>  <input type="text" ng-model="usersEditItem.lastName" > </div>
                                      <div> <label>Street</label>     <input type="text" editable-text="usersEditItem.street" value='{{ usersEditItem.street || "empty" }}' ng-model="usersEditItem.street" >  </div>
                                      <div> <label>Street 2</label>     <input type="text" editable-text="usersEditItem.street2" value='{{ usersEditItem.street2 || "empty" }}' ng-model="usersEditItem.street2" >  </div>
                                      <!-- <div> <label>Street 2</label>   <input type="text" ng-model="usersEditItem.street2" >  </div> -->
                                      <div> <label>City</label>       <input type="text" ng-model="usersEditItem.city" >     </div>
                                      <div> <label>State</label>      <input type="text" ng-model="usersEditItem.state" >    </div>
                                      <div> <label>Zip Code</label>   <input type="text" ng-model="usersEditItem.zipcode" >  </div>
                                      <div> <label>Contact Phone</label>  <input type="text" ng-model="usersEditItem.contactphone" > </div>
                                      <div> <label>Mobile Phone</label>   <input type="text" ng-model="usersEditItem.mobilephone" > </div>
                                      <div> <label>Email</label>          <input type="text" ng-model="usersEditItem.email" >  </div>
                                      <div> <label>Bio Info</label>       <input type="text" ng-model="usersEditItem.bioinfo" >  </div>
                                      <!-- <div> <label>Bio Info</label>       <input type="text" editable-text="usersEditItem.bioinfo" value='{{ usersEditItem.bioinfo || "empty" }}' ng-model="usersEditItem.bioinfo" >  </div> -->
                                      <div> <label>Web Site</label>       <input type="text" ng-model="usersEditItem.website" >  </div>
                                      <div> <label>User Role </label>     <input type="text" ng-model="usersEditItem.userRole"> </div>
                                      <div> <label>ProviderId</label>     <input type="text" ng-model="usersEditItem.providerId">  </div>
                                       <div> <label>First Name</label> <input type="text" editable-text="xuser.name" value='{{ xuser.name || "empty" }}'> </div> 
                                      <!-- <span><button ng-click="cancel()" >Cancel</button></span>
                                      <span><button ng-click="save()" >Update</button></span> -->

                                     
                                   
                                      <button type="button" class="btn btn-default" ng-click="userEditForm.$show()" ng-hide="userEditForm.$visible">
                                           edit
                                      </button>
                                      <span ng-show="userEditForm.$visible">
                                        <!-- ng-click="cancel()" -->
                                        <button  type="button" class="btn btn-default" ng-disabled="userEditForm.$waiting" ng-click="userEditForm.$cancel()">
                                          Cancel
                                        </button>
                                        <button ng-click="save()" type="submit" class="btn btn-primary" ng-disabled="userEditForm.$waiting">
                                          Update
                                        </button>
                                        <span >
                                            <button ng-hide="{{whichUserNotMe(user._id)}}"  ng-click="delete()" >Delete</button>
                                        </span>
                                      
                                    </span>
                                </form>
                                <br>
                        </div>      
                </div>  
              </div>
          </div> 
        



        <!-- tab4-7 -->


                  <dir-user-profile-edit title="User Edit" visible="showModal" >   
               
                  
                   <form editable-form name="userEditForm" action="#tab4-7" > 
                        <div> <input type="hidden" ng-model="usersEditItem._id"> </div>
                        <div> <label>First Name</label> <input type="text" ng-model="usersEditItem.firstName"> </div>
                        <div> <label>Last Name</label>  <input type="text" ng-model="usersEditItem.lastName" > </div>
                        <div> <label>Street</label>     <input type="text" editable-text="usersEditItem.street" value='{{ usersEditItem.street || "empty" }}' ng-model="usersEditItem.street" >  </div>
                        <div> <label>Street 2</label>     <input type="text" editable-text="usersEditItem.street2" value='{{ usersEditItem.street2 || "empty" }}' ng-model="usersEditItem.street2" >  </div>
                        <!-- <div> <label>Street 2</label>   <input type="text" ng-model="usersEditItem.street2" >  </div> -->
                        <div> <label>City</label>       <input type="text" ng-model="usersEditItem.city" >     </div>
                        <div> <label>State</label>      <input type="text" ng-model="usersEditItem.state" >    </div>
                        <div> <label>Zip Code</label>   <input type="text" ng-model="usersEditItem.zipcode" >  </div>
                        <div> <label>Contact Phone</label>  <input type="text" ng-model="usersEditItem.contactphone" > </div>
                        <div> <label>Mobile Phone</label>   <input type="text" ng-model="usersEditItem.mobilephone" > </div>
                        <div> <label>Email</label>          <input type="text" ng-model="usersEditItem.email" >  </div>
                        <div> <label>Bio Info</label>       <input type="text" ng-model="usersEditItem.bioinfo" >  </div>
                        <div> <label>Bio Info</label>       <input type="text" editable-text="usersEditItem.bioinfo" value='{{ usersEditItem.bioinfo || "empty" }}' ng-model="usersEditItem.bioinfo" >  </div>
                        <div> <label>Web Site</label>       <input type="text" ng-model="usersEditItem.website" >  </div>
                        <div> <label>User Role </label>     <input type="text" ng-model="usersEditItem.userRole"> </div>
                        <div> <label>ProviderId</label>     <input type="text" ng-model="usersEditItem.providerId">  </div>
                         <div> <label>First Name</label> <input type="text" editable-text="xuser.name" value='{{ xuser.name || "empty" }}'> </div> 
                        <!-- <span><button ng-click="cancel()" >Cancel</button></span>
                        <span><button ng-click="save()" >Update</button></span> -->

                       
                     
                        <button type="button" class="btn btn-default" ng-click="userEditForm.$show()" ng-hide="userEditForm.$visible">
                             edit
                        </button>
                        <span ng-show="userEditForm.$visible">
                          <!-- ng-click="cancel()" -->
                          <button  type="button" class="btn btn-default" ng-disabled="userEditForm.$waiting" ng-click="userEditForm.$cancel()">
                            Cancel
                          </button>
                          <button ng-click="save()" type="submit" class="btn btn-primary" ng-disabled="userEditForm.$waiting">
                            Update
                          </button>
                          <span >
                              <button ng-hide="{{whichUserNotMe(user._id)}}"  ng-click="delete()" >Delete</button>
                          </span>
                        
                      </span>
                  </form>
                 
                  </dir-user-profile-edit > 