<!-- ******** TAB4-12 ********************************* -->

<h1>Ad Manager</h1> 
        
<div ng-controller="UserAdminProfileCtrl" class="row"> 
          
    <div class="col-md-3 col-sm-4 col-xs-12"> 
        <div class="well well2" style="min-height:400px;">
              <div style="height:30px;"><a class="btn btn-success btn-sm rcs pull-right" data-toggle="collapse" data-target="#adMgrAdd">Create New Ad&nbsp;<i class="fa fa-plus"></i></a></div>

              <div id="adMgrAdd" class="collapse">
                
              <div><h4>Create New Ad</h4></div>
              

                  <div class-"row">

                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div style="margin-bottom:20px;">
                        <span class="dropdown" dropdown on-toggle="toggled(open)">
                            <button href class="dropdown-toggle btn btn-primary btn-md wide rcs" dropdown-toggle>
                                {{upricategory || 'Select Ad Page'}}
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="choice in selOrgCategory">
                                    <a ng-click="setUMChoices( 'pri', $index)" >{{choice}}</a>
                                </li>
                            </ul>

                        </span>
                      </div>
                      <div style="margin-bottom:20px;">
                        <button data-toggle="collapse" data-target="#pageMgrAdd" class="btn btn-primary wide rcs" ng-click="save()" >Upload Graphic</button>
                      </div>
                      <div style="margin-bottom:10px;"><input type="text" ng-model="usersEditItem.pageTitle" >&nbsp;<label>Ad Title</label><br /></div>
                      <div style="margin-bottom:10px;">
                        <input type="text" ng-model="usersEditItem.buttonName" >&nbsp;<label>File Name</label><br /></div>
                        <div style="margin-bottom:10px;"><input type="text" ng-model="usersEditItem.pageTitle" >&nbsp;<label>Target URL</label><br /></div>
                    
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12">

                      <div style="margin-bottom:10px;"><input type="text" ng-model="usersEditItem.buttonName" >&nbsp;<label>Start Date</label><br /></div>
                      <div style="margin-bottom:20px;"><input type="text" ng-model="usersEditItem.pageTitle" >&nbsp;<label>End Date</label><br /></div>
                      <div>
                        <button data-toggle="collapse" data-target="#pageMgrAdd" class="btn btn-success wide rcs" ng-click="save()" >Submit New Ad</button>
                      </div>
                      <div class="pad" style="margin-top:10px;">
                      <a class="btn btn-primary btn-sm rcs pull-right" data-toggle="collapse" data-target="#adMgrAdd">Close&nbsp;<i class="fa fa-times"></i></a>
                    </div>

                    </div>

                </div>
            </div>


                <h4>Ad Pages</h4>

                    <div class="pad"><button class="btn btn-primary wide rcs">home.html</button></div>
                    <div class="pad"><button class="btn btn-primary wide rcs">events.html</button></div>
                    <div class="pad"><button class="btn btn-primary wide rcs">activities.html</button></div>
                    <div class="pad"><button class="btn btn-primary wide rcs">entertainment.html</button></div>
                    <div class="pad"><button class="btn btn-primary wide rcs">shopping.html</button></div>
                    <div class="pad"><button class="btn btn-primary wide rcs">calendars.html</button></div>
                    <div class="pad"><button class="btn btn-primary wide rcs">locator.html</button></div>
                    <div class="pad"><button class="btn btn-primary wide rcs">lodging.html</button></div>
                    <div class="pad"><button class="btn btn-primary wide rcs">dining.html</button></div>
                    <div class="pad"><button class="btn btn-primary wide rcs">realEstate.html</button></div>
                    <div class="pad"><button class="btn btn-primary wide rcs">golfing.html</button></div>
                    <div class="pad"><button class="btn btn-primary wide rcs">recreation.html</button></div>

                <br />
                <p class="smallP">Select a page to view a list of ad locations on that page.</p>

        </div>

    </div>

            <div class="col-md-9 col-sm-8 col-xs-12"> 

                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 smallHeaderWht rcs">
                          Home : Left
                        </div>
                      </div>

                      <div class="row well well5 pad" style="margin-bottom:5px;">

                          <div class="col-md-4 col-sm-4 col-xs-12 pad bolder">
                            Steve Johannessen
                          </div>
                          <div class="col-md-8 col-sm-8 col-xs-12 pad">
                            www.stevenjohannessen.com/classics
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                            Start: 4-1-2015
                         </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                            End: 3-31-2016
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                            <span class="pull-right"><button class="btn btn-primary btn-sm rcs">Edit</button>
                            <button class="btn btn-danger btn-sm rcs">Del</button></span>
                          </div>

                      </div>

                      <div class="row well well5 pad" style="margin-bottom:5px;">

                          <div class="col-md-4 col-sm-4 col-xs-12 pad bolder">
                            Cashiers Golfing
                          </div>
                          <div class="col-md-8 col-sm-8 col-xs-12 pad">
                            www.cashiersgolfing.com
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                            Start: 4-1-2015
                         </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                            End: 3-31-2016
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                            <span class="pull-right"><button class="btn btn-primary btn-sm rcs">Edit</button>
                            <button class="btn btn-danger btn-sm rcs">Del</button></span>
                          </div>
                      </div>

                      <div class="row well well5 pad" style="margin-bottom:5px;">

                          <div class="col-md-4 col-sm-4 col-xs-12 pad bolder">
                            Middle Of Nowhere
                          </div>
                          <div class="col-md-8 col-sm-8 col-xs-12 pad">
                            www.middleofnowhere.com
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                            Start: 4-1-2015
                         </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                            End: 3-31-2016
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                            <span class="pull-right"><button class="btn btn-primary btn-sm rcs">Edit</button>
                            <button class="btn btn-danger btn-sm rcs">Del</button></span>
                          </div>

                      </div>

                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 smallHeaderWht rcs">
                          Home : Center
                        </div>
                      </div>

                      <div class="row well well5 pad" style="margin-bottom:5px;">

                          <div class="col-md-4 col-sm-4 col-xs-12 pad bolder">
                            Steve Johannessen
                          </div>
                          <div class="col-md-8 col-sm-8 col-xs-12 pad">
                            www.stevenjohannessen.com/classics
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                            Start: 4-1-2015
                         </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                            End: 3-31-2016
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                            <span class="pull-right"><button class="btn btn-primary btn-sm rcs">Edit</button>
                            <button class="btn btn-danger btn-sm rcs">Del</button></span>
                          </div>

                      </div>

                      <div class="row well well5 pad" style="margin-bottom:5px;">

                          <div class="col-md-4 col-sm-4 col-xs-12 pad bolder">
                            Cashiers Golfing
                          </div>
                          <div class="col-md-8 col-sm-8 col-xs-12 pad">
                            www.cashiersgolfing.com
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                            Start: 4-1-2015
                         </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                            End: 3-31-2016
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                            <span class="pull-right"><button class="btn btn-primary btn-sm rcs">Edit</button>
                            <button class="btn btn-danger btn-sm rcs">Del</button></span>
                          </div>

                      </div>

                      <div class="row well well5 pad" style="margin-bottom:5px;">

                          <div class="col-md-4 col-sm-4 col-xs-12 pad bolder">
                            Middle Of Nowhere
                          </div>
                          <div class="col-md-8 col-sm-8 col-xs-12 pad">
                            www.middleofnowhere.com
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                            Start: 4-1-2015
                         </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                            End: 3-31-2016
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                            <span class="pull-right"><button class="btn btn-primary btn-sm rcs">Edit</button>
                            <button class="btn btn-danger btn-sm rcs">Del</button></span>
                          </div>

                      </div>

                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 smallHeaderWht rcs">
                          Home : Right
                        </div>
                      </div>

                      <div class="row well well5 pad" style="margin-bottom:5px;">

                          <div class="col-md-4 col-sm-4 col-xs-12 pad bolder">
                            Steve Johannessen
                          </div>
                          <div class="col-md-8 col-sm-8 col-xs-12 pad">
                            www.stevenjohannessen.com/classics
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                            Start: 4-1-2015
                         </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                            End: 3-31-2016
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                            <span class="pull-right"><button class="btn btn-primary btn-sm rcs">Edit</button>
                            <button class="btn btn-danger btn-sm rcs">Del</button></span>
                          </div>

                      </div>

                      <div class="row well well5 pad" style="margin-bottom:5px;">

                          <div class="col-md-4 col-sm-4 col-xs-12 pad bolder">
                            Cashiers Golfing
                          </div>
                          <div class="col-md-8 col-sm-8 col-xs-12 pad">
                            www.cashiersgolfing.com
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                            Start: 4-1-2015
                         </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                            End: 3-31-2016
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                            <span class="pull-right"><button class="btn btn-primary btn-sm rcs">Edit</button>
                            <button class="btn btn-danger btn-sm rcs">Del</button></span>
                          </div>

                      </div>

                      <div class="row well well5 pad" style="margin-bottom:5px;">

                          <div class="col-md-4 col-sm-4 col-xs-12 pad bolder">
                            Middle Of Nowhere
                          </div>
                          <div class="col-md-8 col-sm-8 col-xs-12 pad">
                            www.middleofnowhere.com
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                            Start: 4-1-2015
                         </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                            End: 3-31-2016
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                            <span class="pull-right"><button class="btn btn-primary btn-sm rcs">Edit</button>
                            <button class="btn btn-danger btn-sm rcs">Del</button></span>
                          </div>

                      </div>

            </div>

</div >
