<!-- <script type="text/ng-template" id="user/partials/sampleComplexModalpage.html"> -->
 
 <div id="overlay" ng-show="display">
    <a href ng-click="close()">Close</a>
  <!-- <div id="fade" ng-show="display"></div>  -->
  <div class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">
          <p>A more complex modal, it contains a form, data is passed to the controller 
           and data is returned from the modal.</p>

  		<form class="form-horizontal" role="form">
  		  <div class="form-group">
  		    <label for="name" class="col-sm-2 control-label">Name</label>
  		    <div class="col-sm-10">
  		      <input type="text" class="form-control" id="name" placeholder="Your Name" ng-model="name">
  		    </div>
  		  </div>
  		  <div class="form-group">
  		    <label for="age" class="col-sm-2 control-label">Age</label>
  		    <div class="col-sm-10">
  		      <input type="number" class="form-control" id="inputPassword3" placeholder="Age" ng-model="age">
  		    </div>
  		  </div>
  		</form>

        </div>
        <div class="modal-footer">
          <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>


 <!-- </script>  -->