<div class="container" style="margin-top:10px;margin-bottom:10px;">
  <div class="row">
    <div class="col-md-12">
      <div class="well well2">
        <h3><i class="fa fa-spin fa-heart star"></i>User Login</h3>
        <div class="row" style="min-height:330px;">
          <div class="col-md-6 col-sm-6 col-xs-12">
      	  
		        <div  style="margin-left:40px;" class="messageLogin" ng-bind="message"></div>
            <br />

            <form name="myForm">
		        <div>
		          <input type="text" ng-model="user.loginId" style="margin-left:40px;"></input> <label>Login ID</label>
		        </div><br />

		        <div>
		          <input type="password" ng-model="user.password" style="margin-left:40px;"> <label>Password</label>
		        </div><br />
		    
            <button class="btn btn-primary rcs" style="margin-left:40px;" ng-click="login()" >Login</button>
        
            <br /><br /><br />
            <div style="margin-left:40px;margin-bottom:80px;">
              <a data-toggle="collapse" data-target="#forgotPassword">Forgot My Password&nbsp;<i class="fa fa-question"></i></a>
            </div>

		        </form>
            
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">

            <div id="forgotPassword" class="collapse well well2" style="margin-top:-60px;">
              <h4>Forgot Your Password?</h4>
              <p style="margin:20px;">If you have forgotten your password we can help! Please enter the email address used when you signed up.</p>
              <form name="myForm">
                <label>Email Address</label>
                <br />
                <input type="text" ng-model="user.password">
                <br /><br />
                <label>Password Phrase</label>
                <br />
                <input type="text" ng-model="user.passPhrase">
                <button class="btn btn-success rcs" ng-click="save()" style="margin-left:20px;">Send Request</button>
              </form>
              <br />
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>



