
original modal sample

<div ng-controller="UsersEditableCtrl" class="container">
  <h1>User Modal example</h1>
  <button ng-click="toggleModal()" class="btn btn-default">Open modal</button>
    
  <modal title="Login form" visible="showModal">
    <form role="form">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" />
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </modal>
</div>

 <!-- ********** original modal form *************************** -->              
                  <!-- <form role="form">
                    <div class="form-group">
                      <label for="email">Email address</label>
                      <input type="email" class="form-control" id="email" placeholder="Enter email" />
                    </div>
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" id="password" placeholder="Password" />
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                  </form> -->
                  <!--  ************************************* -->



original code in user profile tab 4-7 "more stuff"

<div ng-controller="UsersEditableCtrl"> 
                  <!-- editable element -->  <!-- href="#" -->
                 <!--  <a href="/#" editable-text="xuser.name">{{ xuser.name || "empty" }}</a> -->
                 <!-- <div> <label>First Name</label> <input type="text" editable-text="xuser.name" value='{{ xuser.name || "empty" }}'> </div> -->
                 <!-- <span editable-text="xuser.name" e-form="textBtnForm"> {{ xuser.name || 'empty' }} </span>
                  <button class="btn btn-default" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible">
                    edit
                  </button> -->
                  <div>
                      <form editable-form name="textBtnForm" action="#"> 
                        <!--   <span editable-text="xuser.name">
                              {{ xuser.name || 'empty' }}
                          </span> -->

                          <div> <label>First Name</label> <input type="text" editable-text="xuser.name" value='{{ xuser.name || "empty" }}'> </div> 
                          <button type="button" class="btn btn-default" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible">
                              edit
                          </button>
                          <span ng-show="textBtnForm.$visible">
                              <button type="submit" class="btn btn-primary" ng-disabled="textBtnForm.$waiting">
                                Save
                              </button>
                              <button type="button" class="btn btn-default" ng-disabled="textBtnForm.$waiting" ng-click="textBtnForm.$cancel()">
                                Cancel
                              </button>
                          </span>
                      </form>
                  </div>   

                  <div id="debug" style="margin-top: 30px">
                  {{ xuser | json }}
                  </div>
                </div> 
