<!-- ******** TAB4-1 ********************************* -->

    <h1>Admin Profile</h1>
          
    <div class="row" > 
        <div class="col-md-12 col-sm-12 col-xs-12"> 
            <div class="well well2">
                <div class="row" ng-controller="UserAdminProfileCtrl" >
                    <div class="col-md-12 col-sm-12 col-xs-12">
                     <!--  <form editable-form name="userAdminEditForm" action="#tab3-5" > -->
                         <ng-include src="'user/partials/user-admin-profileForm.html'"></ng-include>
                      <!-- </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
