<div ng-controller="UserAdminConsoleCtrl" class="container">
    <div class="row" style="margin-top:0px;">
        <div class="col-md-12">
            <div class="well well2 well3">
                
                <div class="row messageBar">
                    <div class="col-md-12">
                        <span class="pull-left">&bull; User: <span ng-bind="whichUser()"></span></span>
                        <span class="pull-right">&bull; Admin Console</span>
                    </div>
                </div>

                <div class="row">
                    <div class="tabsbar tabsbar2">
          
                        <ul class="nav nav-pills nav-pills-xs btn-xs">
                            <li><a href="#/users/adminhome">Admin Home</a></li>
                            <li class="active"><a href="users/profile/{{whichUserId()}}#tab4-1" data-toggle="tab">Admin Profile</a></li>
                            <li><a href="users/profile/{{whichUserId()}}#tab4-2" data-toggle="tab">Membership List</a></li>
                            <li><a href="users/profile/{{whichUserId()}}#tab4-3" data-toggle="tab">Email Broadcast</a></li>
                            <li><a href="users/profile/{{whichUserId()}}#tab4-4" data-toggle="tab">Membership Requests</a></li>
                            <li><a href="users/profile/{{whichUserId()}}#tab4-5" data-toggle="tab">Add User</a></li>
                            <li><a href="users/profile/{{whichUserId()}}#tab4-7" data-toggle="tab">Search</a></li>
                            <li><a href="users/profile/{{whichUserId()}}#tab4-8" data-toggle="tab">Event Calendar</a></li>
                            <li><a href="users/profile/{{whichUserId()}}#tab4-9" data-toggle="tab">Page Manager</a></li>
                            <li><a href="users/profile/{{whichUserId()}}#tab4-10" data-toggle="tab">Setup</a></li>
                            <li><a href="users/profile/{{whichUserId()}}#tab4-11" data-toggle="tab">Jobs</a></li>
                            <li><a href="users/profile/{{whichUserId()}}#tab4-12" data-toggle="tab">Ad Manager</a></li>
                        </ul>

                    </div>
                </div> 

                <div class="tab-content" style="margin-top:10px;">

                    <div class="tab-pane active fade in" id="tab4-1">
                        <ng-include src="'user/partials/user-admin-profile.html'"></ng-include>
                    </div>

                    <div class="tab-pane fade" id="tab4-2">
                        <ng-include src="'user/partials/user-admin-membership.html'"></ng-include>
                    </div>
                    
                    <div class="tab-pane fade" id="tab4-3">
                        <ng-include src="'user/partials/user-admin-email.html'"></ng-include>
                    </div>

                    <div class="tab-pane fade" id="tab4-4">
                        <ng-include src="'user/partials/user-admin-requests.html'"></ng-include>
                    </div>

                    <div class="tab-pane fade" id="tab4-5">
                        <ng-include src="'user/partials/user-admin-addUser.html'"></ng-include>
                    </div>    

                    <div class="tab-pane fade" id="tab4-7" >
                        <ng-include src="'user/partials/user-admin-search.html'"></ng-include>
                    </div>

                    <div class="tab-pane fade" id="tab4-8" >
                        <ng-include src="'user/partials/user-admin-calendar.html'"></ng-include>
                    </div>

                    <div class="tab-pane fade" id="tab4-9" >
                        <ng-include src="'user/partials/user-admin-pageManager.html'"></ng-include>
                    </div>

                    <div class="tab-pane fade" id="tab4-10" >
                        <ng-include src="'user/partials/user-admin-setup.html'"></ng-include>
                    </div>

                    <div class="tab-pane fade" id="tab4-11" >
                        <ng-include src="'user/partials/user-admin-jobs.html'"></ng-include>
                    </div>

                     <div class="tab-pane fade" id="tab4-12" >
                        <ng-include src="'user/partials/user-admin-adManager.html'"></ng-include>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</div>