<div ng-controller="UserAdminHomeCtrl" class="container">
    <div class="row" style="margin-top:0px;">
        <div class="col-md-12">
            <div class="well well2 well3">
                
                <div class="row messageBar">
                    <div class="col-md-12">
                        <span class="pull-left">&bull; User: <span ng-bind="whichUser()"></span></span>
                        <span class="pull-right">&bull; Admin Home</span>
                    </div>
                </div>

               <!-- <div class="row">
                    <div class="tabsbar tabsbar2">
          
                        <ul class="nav nav-pills nav-pills-xs btn-xs">
                            <li class="active"><a href="users/profile/{{whichUserId()}}#user-adminHome.html">Admin Home</a></li>
                            <li><a href="users/profile/{{whichUserId()}}#user-administration.html">Admin Console</a></li>
                            <li><a href="users/profile/{{whichUserId()}}#user-myTabs.html">MemberSites</a></li>
                            <li><a href="users/profile/{{whichUserId()}}#user-calendar.html">Calendar</a></li>
                            <li><a href="users/profile/{{whichUserId()}}#user-jobs.html">Jobs</a></li>
                            <li><a href="users/profile/{{whichUserId()}}#user-adManager.html">Ad Manager</a></li>
                            <li><a href="users/profile/{{whichUserId()}}#user-pageManager.html">Page Manager</a></li>
                            <li><a href="users/profile/{{whichUserId()}}#user-myprofile">Other</a></li>
                        </ul>

                    </div>
                </div> -->
                <h3><i class="fa fa-spin fa-heart star"></i>Admin Home</h3>

                <div class="row" style="margin-top:20px;margin-bottom:30px;">
                    
                    
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <a href="#/users/adminconsole">
                        <div class="well iconBox text-center">
                        <i class="fa fa-user bump"></i><br />Admin Console
                        </div>
                        </a>
                    </div>
                    


                    
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <a href="#/mbrsites/mbrsiteconsole">
                        <div class="well iconBox text-center">
                        <i class="fa fa-sitemap bump"></i><br />MemberSites
                        </div>
                        </a>
                    </div>
                    

                    
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <a href="#/users/calendar">
                        <div class="well iconBox text-center">
                        <i class="fa fa-calendar bump"></i><br />Calendar
                        </div>
                        </a>
                    </div>
                    

                   
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <a href="#/users/jobs">
                        <div class="well iconBox text-center">
                        <i class="fa fa-users bump"></i><br />Jobs
                        </div>
                        </a>
                    </div>
                    

                    
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <a href="#/users/admanager">
                        <div class="well iconBox text-center">
                        <i class="fa fa-desktop bump"></i><br />Ad Manager
                        </div>
                        </a>
                    </div>
                    

                    
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <a href="#/users/other">
                        <div class="well iconBox text-center">
                        <i class="fa fa-copy bump"></i><br />Other
                        </div>
                        </a>
                    </div>
                   

                </div>
            </div>
        </div>
    </div>
</div>