<div ng-controller="UsersCtrl" class="container">
    <div class="row" style="margin-top:0px;">
        <div class="col-md-12">
            <div class="well well2 well3">
                
                <div class="row messageBar">
                    <div class="col-md-12">
                        <span class="pull-left">&bull; User: <span ng-bind="whichUser()"></span></span>
                        <span class="pull-right">&bull; Jobs Board</span>
                    </div>
                </div>

                <div class="row">
                    <div class="tabsbar tabsbar2">
          
                        <ul class="nav nav-pills nav-pills-xs btn-xs">
                            <li><a href="#/users/adminhome">Return To Admin Home</a></li>
                        </ul>

                    </div>
                </div>

                <div class="tab-content" style="margin-top:10px;">

                    <div class="tab-pane active fade in" id="tab4-12" >
                        <ng-include src="'user/partials/user-admin-jobs.html'"></ng-include>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>