<div class="container" style="margin-top:50px;margin-bottom:50px;" ng-controller="UsersEditCtrl">
  <div class="row">
    <div class="col-md-12">
      <div class="well well2">
        <div class="row" style="margin-bottom:30px;">
          <div class="col-md-12">Admin Management Console: WELCOME: <span ng-bind="whichUser()"></span>  <span ng-bind="whichUserId()"></span> </div>
        </div> 

        <div class="tabsbar tabsbar2">
          
          <ul class="nav nav-pills nav-pills-sm pull-right btn-sm">
            <li class="glyphicons pencil rcs2 active "><a href="#users/profile/{{whichUserId()}}#tab1-5" data-toggle="tab"><i></i>My Profile</a></li>
            <li class="glyphicons cargo rcs2 "><a href="#users/profile/{{whichUserId()}}#tab2-5" data-toggle="tab"><i></i>Connections</a></li>
            <li class="glyphicons circle_info rcs2"><a href="users/edit/{{whichUserId()}}#tab3-5" data-toggle="tab"><i></i>Users List</a></li>
            <li class="glyphicons cart_in rcs2"><a href="#users/profile/{{whichUserId()}}#tab4-5" data-toggle="tab"><i></i>More Stuff</a></li>
            <li class="glyphicons cart_in rcs2"><a href="#users/profile/{{whichUserId()}}#tab5-5" data-toggle="tab"><i></i>More Stuff Stuff</a></li>
          </ul>
        </div>
            
        <div class="tab-content" style="margin-top:40px;">
        
        <!-- ******** TAB1-5 ********************************* -->
              <div class="tab-pane active " id="tab1-3" >
                <h1><i class="fa fa-mobile"></i>Edit</h1>
                
                <div class="row" style="margin-bottom:30px;"> 
                  <div class="col-md-6">
                      <div class="well well2">
                        <form name="userEditForm">
                          <div> <input type="hidden" ng-model="usersListItem._id"> </div>
                          <div> <label>First Name</label> <input type="text" ng-model="usersListItem.firstName"> </div>
                          <div> <label>Last Name</label>  <input type="text" ng-model="usersListItem.lastName" > </div>
                          <div> <label>Street</label>     <input type="text" ng-model="usersListItem.street" >   </div>
                          <div> <label>Street 2</label>   <input type="text" ng-model="usersListItem.street2" >  </div>
                          <div> <label>City</label>       <input type="text" ng-model="usersListItem.city" >     </div>
                          <div> <label>State</label>      <input type="text" ng-model="usersListItem.state" >    </div>
                          <div> <label>Zip Code</label>   <input type="text" ng-model="usersListItem.zipcode" >  </div>
                          <div> <label>Contact Phone</label>  <input type="text" ng-model="usersListItemer.contactphone" > </div>
                          <div> <label>Mobile Phone</label>   <input type="text" ng-model="usersListItem.mobilephone" > </div>
                          <div> <label>Email</label>          <input type="text" ng-model="usersListItem.email" >  </div>
                          <div> <label>Bio Info</label>       <input type="text" ng-model="usersListItem.bioinfo" >  </div>
                          <div> <label>Web Site</label>       <input type="text" ng-model="usersListItem.website" >  </div>
                          <div> <label>User Role </label>     <input type="text" ng-model="usersListItem.userRole"> </div>
                          <div> <label>ProviderId</label>     <input type="text" ng-model="usersListItem.providerId">  </div>
                          <span><button ng-click="cancel()" >Cancel</button></span>
                          <span><button ng-click="save()" >Update</button></span>

                          <span  ><button ng-hide="{{whichUserNotMe(user._id)}}"  ng-click="delete()" >Delete</button></span>
                        </form>
                        <br>
                      </div>  
                  </div>
                </div>
              </div>
        </div>  
      </div>
    </div>      
  </div>      
</div>        