<!-- ******** TAB4-10 ********************************* -->

        <h1>Website Setup</h1>   
        <div ng-controller="UserAdminProfileCtrl" class="row"> 

            <div class="col-md-3 col-sm-6 col-xs-12"> 
                <div class="well well4" style="min-height:430px;">
                    <h4>Header Logo</h4>
                    <p>Current File: <span ng-bind="whichUser()"></span></p>
                    <button class="btn btn-primary rcs" type="submit">Upload New Image</button>
                    <br />
                    <p class="smallP">Note: Max-width on logo is set to 240px. Max-height is set to 70px.</p>
                    <br />
                    <h4>Background Image</h4>
                    <p>Current File: <span ng-bind="whichUser()"></span></p>
                    <button class="btn btn-primary rcs" type="submit">Upload New Image</button>
                    <br />
                    <p class="smallP">Note: Max-width on background is set to 1920px. Larger file sizes will increase page load time.</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12"> 
                <div class="well well4" style="min-height:430px;">
                    <h4>Business Categories</h4>
                    <p class="smallP">Note: Each category must be separated by a comma.</p>
                    <textarea class="tArea" style="min-height:235px; margin-bottom:20px;"></textarea>
                    <button class="btn btn-primary pull-right rcs" type="submit">Save Categories</button>
                </div>
            </div>

            <div class="col-md-5 col-sm-12 col-xs-12"> 
                <div class="well well4" style="min-height:430px;">
                    <h4>Meta-Description</h4>
                    <textarea class="tArea" style="min-height:90px; margin-bottom:10px;"></textarea>
                    <h4>Meta-Keywords</h4>
                    <textarea class="tArea" style="min-height:90px; margin-bottom:20px;"></textarea>
                    <button class="btn btn-primary pull-right rcs" type="submit">Save Meta-Data</button>
                </div>
            </div>
        </div >
