<!-- user-category.html  -->
 <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">TITLE</h4>
      </div>
      <div class="modal-body">
        <p>Here's a more complex modal, it contains a form, data is passed to the controller 
         and data is returned from the modal.</p>

		<form class="form-horizontal" role="form">
		  <div class="form-group">
		    <label for="name" class="col-sm-2 control-label">Name</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="name" placeholder="Your Name" ng-model="name">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="age" class="col-sm-2 control-label">Age</label>
		    <div class="col-sm-10">
		     <!--  <input type="number" class="form-control" id="inputPassword3" placeholder="Age" ng-model="age"> -->
		     <div class="col-md-4 col-sm-12 col-xs-12 pad">
                     
                            <span class="dropdown" dropdown on-toggle="toggled(open)">
                                  <button href class="dropdown-toggle btn btn-primary btn-md rcs" dropdown-toggle>
                                      {{upricategory || 'Select User Type'}}
                                  </button>
                                 
                                  <ul class="dropdown-menu">
                                    <li ng-repeat="choice in selTypes">
                                         <a ng-click="setUChoice( 'utype',1)" >{{choice}}</a>
                                    </li>
                                  </ul>
                                <!-- removed 2/9/2015 </span>&nbsp;&nbsp;&nbsp;<label>{{utype || 'Not Selected'}}</label> -->
                        </div>
		    </div>
		  </div>
		</form>

      </div>
      <div class="modal-footer">
        <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>