

<div class="col-md-4 col-sm-12 col-xs-12 pad text-center">
    <span class="dropdown" dropdown on-toggle="toggled(open)">
      <button href class="dropdown-toggle btn btn-primary btn-md wide rcs" dropdown-toggle>
             {{utype || 'Select User Type'}}
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="choice in selTypes">
            <a ng-click="setUSChoices( 'utype', $index)" >{{choice}}</a>
        </li>
      </ul>
    </span>
</div>

<div class="col-md-4 col-sm-12 col-xs-12 pad text-center">
    <span class="dropdown" dropdown on-toggle="toggled(open)">
        <button href class="dropdown-toggle btn btn-primary btn-md wide rcs" dropdown-toggle>
              {{urole || 'Select User Role'}} 
        </button>
        <ul class="dropdown-menu">
          <li ng-repeat="choice in selRoles">
              <a ng-click="setUSChoices( 'urole', $index)" >{{choice}}</a>
          </li>
        </ul>
    </span>
</div>

<div class="col-md-4 col-sm-12 col-xs-12 pad text-center">
    <span class="dropdown" dropdown on-toggle="toggled(open)">
        <button href class="dropdown-toggle btn btn-primary btn-md wide rcs" dropdown-toggle>
              {{ uperm || 'Select Permissions'}}
        </button>
        <ul class="dropdown-menu">
            <li ng-repeat="choice in selPermissions">
                <a ng-click="setUSChoices('uperm', $index)" >{{choice}}</a>
            </li>
        </ul>
    </span>
</div>