      
  <div class="container">
    <div class="row" style="margin-top:0px;">
      <div class="col-md-12">
        <div class="well well2 well3">

         <div class="row messageBar">
           <div class="col-md-12">
            <span class="pull-left">&bull; User: <span ng-bind="whichUser()"></span></span>
            <span class="pull-right">&bull; Admin Console</span>
          </div>
        </div> 

              <h3>Create New User</h3>
              <p>The user's email address will be used as their Login ID.</p>
              <p>* Required Fields</p>

              <div class="row"> 
                <div class="col-md-12"> 
                  
                    <div class="col-md-6">

                        <h4><i class="fa fa-user"></i> User Information</h4>
                        <br />
                        <form name="myForm">
                        <div>
                            <input type="text" ng-model="user.firstName">&nbsp;&nbsp;&nbsp;<label>First Name *</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.lastName">&nbsp;&nbsp;&nbsp;<label>Last Name *</label>
                        </div>

                         <div>
                            <input type="text" ng-model="user.email">&nbsp;&nbsp;&nbsp;<label>Email Address *</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.password">&nbsp;&nbsp;&nbsp;<label>Password *</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.phone">&nbsp;&nbsp;&nbsp;<label>Phone</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.mobilephone">&nbsp;&nbsp;&nbsp;<label>Mobile Phone</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.fax">&nbsp;&nbsp;&nbsp;<label>Fax</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.bio">&nbsp;&nbsp;&nbsp;<label>Bio</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.businessZip">&nbsp;&nbsp;&nbsp;<label>User Role </label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.userType">&nbsp;&nbsp;&nbsp;<label>User Type (admin, member or subscriber)</label>
                        </div>

                       <!-- <br /><br />
                        <p style="color:#aa5533; font-style:italic;">Note: The free listings on this site are for businesses located in the Cashiers, Highlands, Glenville, Sapphire and Toxaway communities only.</p>
                        <p><b>If your business is located out of our area please speak with us about advertising opportunities on this website!</b></p>
                        <br />-->
                  
                </div>
                <div class="col-md-6">
                  
                  <h4><i class="fa fa-user"></i> Business Information</h4>
                      <br />
                        <div>
                            <input type="text" ng-model="user.businessName">&nbsp;&nbsp;&nbsp;<label>Business Name *</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.businessAddress">&nbsp;&nbsp;&nbsp;<label>Address *</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.businessAddress2">&nbsp;&nbsp;&nbsp;<label>Address 2</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.businessCity"></input>&nbsp;&nbsp;&nbsp;<label>City *</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.businessState">&nbsp;&nbsp;&nbsp;<label>State *</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.businessZip">&nbsp;&nbsp;&nbsp;<label>Zip Code *</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.phone">&nbsp;&nbsp;&nbsp;<label>Phone *</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.fax">&nbsp;&nbsp;&nbsp;<label>Fax</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.website">&nbsp;&nbsp;&nbsp;<label>Website</label>
                        </div>

                        <div>
                            <input type="text" ng-model="user.providerId">&nbsp;&nbsp;&nbsp;<label>ID Number</label>
                        </div>

                        <div style="margin-top:25px;">
                            <span><button class="btn btn-primary rcs" ng-click="cancel()" >Cancel</button></span>
                            <span><button class="btn btn-success rcs" ng-click="create()" >Create</button></span>
                        </div>
                      </form>

                  </div>
                </div>
              </div>
            </div>

        </div> 
      </div>
    </div>
  </div>