<div ng-controller="UsersCtrl" class="container">
  <div class="row" style="margin-top:0px;">
    <div class="col-md-12">
      <div class="well well2 well3">
        <div class="row messageBar">
           <div class="col-md-12">
            <span class="pull-left">&bull; User: <span ng-bind="whichUser()"></span></span>
            <span class="pull-right">&bull; Profile Console</span>
          </div>
        </div> 
        <div class="row">


        <div class="tabsbar tabsbar2">
          
          <ul class="nav nav-pills nav-pills-xs btn-xs">
            <li><a href="#/users/adminhome">Admin Home</a></li>
            <li class="active"><a href="users/profile/{{whichUserId()}}#tab1-7" data-toggle="tab">My Profile</a></li>
            
            <li><a href="users/profile/{{whichUserId()}}#tab2-7" data-toggle="tab">Connections</a></li>
            
            <li><a href="users/profile/{{whichUserId()}}#tab3-7" data-toggle="tab">User List</a></li>

            <li><a href="users/profile/{{whichUserId()}}#tab4-7" data-toggle="tab">Member Search</a></li>
            <!--<li class="glyphicons cart_in rcs2"><a href="#users/profile/{{whichUserId()}}#tab5-7" data-toggle="tab"><i></i>d3 Angular</a></li>-->
            <li><a href="users/profile/{{whichUserId()}}#tab6-7" data-toggle="tab">Directed Node Editor</a></li>
            
            <!--<li><a href="users/profile/{{whichUserId()}}#tab7-7" data-toggle="tab">Force Node Editor</a></li>-->

          </ul>
               <!-- // #users/profile/{{whichUserId()}}# -->
        </div>
        </div>   
        <div class="tab-content" style="margin-top:10px;">
        
        <!-- ******** TAB1-7 ********************************* -->
        <div class="tab-pane active fade in" id="tab1-7" >
          <h1><i class="fa fa-user"></i> <span ng-bind="whichUser()"></span> Profile</h1>
          
          <div  ng-controller="UserProfileCtrl" class="row"> 
            <div class="col-md-6">
            <!--   <div class="well well2"> -->                 
                <!-- <h4>Users Edit</h4>
                <br> -->
                <div class="well well2">
                  <form name="myForm">
                    <div> <input type="hidden" ng-model="user._id"> </div>
                    <div> <input type="text" ng-model="user.firstName">&nbsp;&nbsp;&nbsp;<label>First Name</label> </div>
                    <div> <input type="text" ng-model="user.lastName" >&nbsp;&nbsp;&nbsp;<label>Last Name</label> </div>
                    <div> <input type="text" ng-model="user.street" >&nbsp;&nbsp;&nbsp;<label>Street</label> </div>
                    <div> <input type="text" ng-model="user.street2" >&nbsp;&nbsp;&nbsp;<label>Street 2</label> </div>
                    <div> <input type="text" ng-model="user.city" >&nbsp;&nbsp;&nbsp;<label>City</label> </div>
                    <div> <input type="text" ng-model="user.state" >&nbsp;&nbsp;&nbsp;<label>State</label> </div>
                    <div> <input type="text" ng-model="user.zipcode" >&nbsp;&nbsp;&nbsp;<label>Zip Code</label> </div>
                    <div> <input type="text" ng-model="user.contactphone" >&nbsp;&nbsp;&nbsp;<label>Contact Phone</label> </div>
                    <div> <input type="text" ng-model="user.mobilephone" >&nbsp;&nbsp;&nbsp;<label>Mobile Phone</label> </div>
                    <div> <input type="text" ng-model="user.email" >&nbsp;&nbsp;&nbsp;<label>Email</label> </div>
                    <div> <input type="text" ng-model="user.bioinfo" >&nbsp;&nbsp;&nbsp;<label>Bio Info</label> </div>
                    <div> <input type="text" ng-model="user.website" >&nbsp;&nbsp;&nbsp;<label>Web Site</label> </div>
                    <div> <input type="text" ng-model="user.userRole">&nbsp;&nbsp;&nbsp;<label>User Role </label> </div>
                    <div> <input type="text" ng-model="user.providerId">&nbsp;&nbsp;&nbsp;<label>Provider ID</label> </div>
                    <br /><br />
                    <button class="btn btn-primary rcs" ng-click="cancel()" >Cancel</button>
                    <button class="btn btn-success rcs" ng-click="save()" >Update</button>

                    <button class="btn btn-danger rcs" ng-hide="{{whichUserNotMe(user._id)}}"  ng-click="delete()" >Delete</button>
                  </form>
                  <br>
                </div>  
              <!-- </div> -->
            </div>
          
          <div class="col-md-3"> 

                    <center>
                      <img src="common/bootstrap/images/customer_service.jpg" class="photo rcs" alt="" ><br /><br />
                      
                    </center>

                  <div class="well well2">
                    <h4><span ng-bind="whichUser()"></span></h4>
                    <p>Maecenas fermentum justo vel ex tristique suscipit. Ut ultrices efficitur ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="well well2">
                    <h4>Subtitle</h4>
                    <p>Fusce quis quam id orci commodo dignissim. Phasellus sodales nisl at velit placerat, in auctor ante porttitor. Phasellus sollicitudin faucibus velit non bibendum.</p>
                    <h4>Subtitle</h4>
                    <p>Fusce quis quam id orci commodo dignissim. Phasellus sodales nisl at velit placerat, in auctor ante porttitor. Phasellus sollicitudin faucibus velit non bibendum. Aenean mattis auctor condimentum. Phasellus gravida metus at odio vulputate ultricies.</p>
                  </div>

                </div>
        </div >
        </div>


       
        <!-- ******** TAB2-7 ********************************* -->
        <div class="tab-pane fade" id="tab2-7" >
            <h1>Connections</h1>
            <div class="row"> 
              <div class="col-md-12">
                <div class="well well2">
                  <h4>My Connections</h4>
                  <!-- <div class="well well2"> -->
                    <input type="text" ng-model="searchConnect" class="search-query" placeholder="Searchconnect">
                    <br>
                    <table>
                        <thead>
                        <tr>
                          <th></th>
                          <th></th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th></th>
                          <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="connected in connections | filter:searchConnect | orderBy:connected.firstName">
                          <td ><span ng-bind="connected._id"></span></td>
                          <td ><span ng-bind="connected.keyId"></span></td>
                          <td><span ng-bind="connected.firstName"></span></td>
                          <td><span ng-bind="connected.lastName"></span></td>
                          <td><input type="button" value="Drop" ng-click="dropConnection($index)"></td>
                          <td> </td>

                        </tr>
                        </tbody>
                      </table>
                  <!-- </div> -->
                </div> 
    
                <div class="well well2">
                  <h4>Make A New Connection</h4>
                  <div  ng-controller="UsersOthersConnectPageCtrl"  class="userpaging-controller">
                    <div class="row">
                      <div class="col-xs-6" >
                         <label>lastName </label><input type="text" id="fetchLastName" class="form-control" ng-model="fetchBy.fetchLastName" placeholder="Last Name" >
                         <label> First Name</label><input type="text" id="fetchFirstName" class="form-control" ng-model="fetchBy.fetchFirstName" placeholder="First Name" >
                         <input type="button" value="Fetch" ng-click="pageChanged()"></div> 
                      <div class="col-xs-6"> Page: {{ currentPage }} of {{othersTotalPossible}}
                      <!-- <div class="col-xs-4">  <label for="search">Search:</label>           <input ng-model="q" id="search" class="form-control" placeholder="Filter text">   </div> -->
                      <label for="search"> per page:</label><input type="number" min="1" max="100" class="form-control" ng-model="pageSize"> </div>
                      
                    </div>
                    <div class="row">
                         <div class="col-xs-6" >
                          <table>
                            <thead>
                              <tr>
                                  <th></th>
                                  <th></th>
                                  <th>First Name</th>
                                  <th>Last Name</th>
                                  <th></th>
                                  
                                  
                              </tr>
                            </thead>
                            <tbody>
                              <!-- | filter:q  -->
                              <tr dir-paginate="other in others |  itemsPerPage: pageSize: 'othersSelect'" total-items="othersTotalPossible" current-page="currentPage" pagination-id="othersSelect" >
                                <td ><span ng-bind="other._id"></span></td>
                                <td ><span ng-bind="other.keyId"></span></td>
                                <td><span ng-bind="other.firstName"></span></td>
                                <td><span ng-bind="other.lastName"></span></td>
                                <td><input type="button" value="Connect" ng-click="addConnection($index)"></td>
                              </tr> 

                            </tbody>
                          </table>
                        </div>
                      </div>      
                    <div   class="userpaging-controller">                              
                      <div class="text-center">
                           <dir-pagination-controls pagination-id="othersSelect" boundary-links="true" on-page-change="pageChanged()" template-url="common/partials/dirPagination.html"></dir-pagination-controls>
                           paging controller others list
                      </div>
                                                            
                    </div>        
                  </div>
                </div> 
              </div>
            </div >
          </div>  


        <!-- ******* TAB3-7 *********************************** -->
        <!--         <div class="tab-content" style="margin-top:40px;"> -->
        <div class="tab-pane fade" id="tab3-7">
          <h1>User List</h1>
          <div class="row"> 
            <div ng-controller="UsersListPageCtrl" class="col-md-12"> 
            <!-- <div class="col-md-6"> -->
              <div class="col-md-8 well well2">
                  <h4>List</h4>
                  <!-- ***** UsersListPageCtrl ******************* -->
                  <div    class="userpaging-controller">  <!-- ng-controller="UsersListPageCtrl" -->
                    <div class="row">
                      <div class="col-xs-6" >
                           <label>lastName </label><input type="text" id="fetchLastName" class="form-control" ng-model="fetchBy.fetchLastName" placeholder="Last Name" >
                           <label> First Name</label><input type="text" id="fetchFirstName" class="form-control" ng-model="fetchBy.fetchFirstName" placeholder="First Name" >
                           <input type="button" value="Fetch" ng-click="fetchPage()">
                      </div> 
                      <div class="col-xs-6" > Page: {{ currentPage }} of {{othersTotalPossible}}    
                         <label for="search"> per page:</label><input type="number" min="1" max="100" class="form-control" ng-model="pageSize">    
                      </div>
                            
                    </div>
                    <div class="row">
                       <div class="col-xs-12" >
                          <table>
                            <thead>
                              <tr>
                                  <th></th>
                                  <th></th>
                                  <th>First Name</th>
                                  <th>Last Name</th>
                                  <th></th>
                                  <th></th>
                              </tr>
                            </thead>
                            <tbody>
                             
                              <tr dir-paginate="usersListItem in usersList |  itemsPerPage: pageSize: 'usersListSelect'" total-items="usersTotalPossible" current-page="currentPage" pagination-id="usersListSelect" >
                                <td ><span ng-bind="usersListItem._id"></span></td>
                                <td ><span ng-bind="usersListItem.keyId"></span></td>
                                <td><span ng-bind="usersListItem.firstName"></span></td>
                                <td><span ng-bind="usersListItem.lastName"></span></td>
                                <td><input type="button" value="Delete" ng-click="delete($index)"></td>
                                <td><!-- <a href="#/users/edit/{{usersListItem._id}}">Show</a> -->
                                  <input type="button" value="Show" ng-click="getSelectedUser( $index )"></td>
                              </tr> 

                            </tbody>
                          </table>
                        </div>
                    </div>    
                    <div   class="userpaging-controller">                              
                        <div class="text-center">
                             <dir-pagination-controls pagination-id="usersListSelect" boundary-links="true" on-page-change="fetchPage()" template-url="common/partials/dirPagination.html"></dir-pagination-controls>
                              paging controller users list
                        </div>
                                                              
                    </div>        
                  </div>    
                  <!-- ****** end of UsersListPageCtrl ***************************** -->  
                </div>  
                <div class="col-md-4  well well2">
                    <!-- <div class="well well2"> -->
                      <h4>Edit</h4>
                       <div  ng-controller="UsersEditCtrl">  <!-- ng-controller="UsersEditCtrl" -->
                          <!-- <div class="row"> -->
                             <!-- <div class="col-xs-6" > -->
                                   <form editable-form name="userEditForm" action="#tab3-5" > 
                                      <div> <input type="hidden" ng-model="usersEditItem._id"> </div>
                                      <div> <label>First Name</label> <input type="text" ng-model="usersEditItem.firstName"> </div>
                                      <div> <label>Last Name</label>  <input type="text" ng-model="usersEditItem.lastName" > </div>
                                      <div> <label>Street</label>     <input type="text" editable-text="usersEditItem.street" value='{{ usersEditItem.street || "empty" }}' ng-model="usersEditItem.street" >  </div>
                                      <div> <label>Street 2</label>     <input type="text" editable-text="usersEditItem.street2" value='{{ usersEditItem.street2 || "empty" }}' ng-model="usersEditItem.street2" >  </div>
                                      <!-- <div> <label>Street 2</label>   <input type="text" ng-model="usersEditItem.street2" >  </div> -->
                                      <div> <label>City</label>       <input type="text" ng-model="usersEditItem.city" >     </div>
                                      <div> <label>State</label>      <input type="text" ng-model="usersEditItem.state" >    </div>
                                      <div> <label>Zip Code</label>   <input type="text" ng-model="usersEditItem.zipcode" >  </div>
                                      <div> <label>Contact Phone</label>  <input type="text" ng-model="usersEditItem.contactphone" > </div>
                                      <div> <label>Mobile Phone</label>   <input type="text" ng-model="usersEditItem.mobilephone" > </div>
                                      <div> <label>Email</label>          <input type="text" ng-model="usersEditItem.email" >  </div>
                                      <div> <label>Bio Info</label>       <input type="text" ng-model="usersEditItem.bioinfo" >  </div>
                                      <!-- <div> <label>Bio Info</label>       <input type="text" editable-text="usersEditItem.bioinfo" value='{{ usersEditItem.bioinfo || "empty" }}' ng-model="usersEditItem.bioinfo" >  </div> -->
                                      <div> <label>Web Site</label>       <input type="text" ng-model="usersEditItem.website" >  </div>
                                      <div> <label>User Role </label>     <input type="text" ng-model="usersEditItem.userRole"> </div>
                                      <div> <label>ProviderId</label>     <input type="text" ng-model="usersEditItem.providerId">  </div>
                                       <div> <label>First Name</label> <input type="text" editable-text="xuser.name" value='{{ xuser.name || "empty" }}'> </div> 
                                      <!-- <span><button ng-click="cancel()" >Cancel</button></span>
                                      <span><button ng-click="save()" >Update</button></span> -->

                                     
                                   
                                      <button type="button" class="btn btn-default" ng-click="userEditForm.$show()" ng-hide="userEditForm.$visible">
                                           edit
                                      </button>
                                      <span ng-show="userEditForm.$visible">
                                        <!-- ng-click="cancel()" -->
                                        <button  type="button" class="btn btn-default" ng-disabled="userEditForm.$waiting" ng-click="userEditForm.$cancel()">
                                          Cancel
                                        </button>
                                        <button ng-click="save()" type="submit" class="btn btn-primary" ng-disabled="userEditForm.$waiting">
                                          Update
                                        </button>
                                        <span >
                                            <button ng-hide="{{whichUserNotMe(user._id)}}"  ng-click="delete()" >Delete</button>
                                        </span>
                                      
                                    </span>
                                </form>
                                <br>

                            <!--  </div> -->
                          <!-- </div> -->
                        </div>      
                   <!--  </div>    -->
                 <!--  </div> -->
                </div>  
              </div>
                
            <!-- </div> -->
          </div>    
        </div> 
         
        <!-- ******* TAB4-7 *********************************** -->
        <div class="tab-pane fade" id="tab4-7">
              <h1>Member Search</h1>
              <div class="row">
              <div  ng-controller="UsersEditableCtrl" class="col-md-12">

                <!-- ***** UsersListPageCtrl ******************* -->
                <div ng-controller="UsersListPageCtrl"  class="userpaging-controller" style="border:0px;">

                    <div class="row">
                      <div class="col-md-12">
                        <div class="well well2">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-md-12" style="margin-bottom:8px;">
                                <label>Last Name</label>
                                <input type="text" id="fetchLastName" class="form-control" ng-model="fetchBy.fetchLastName" placeholder="Last Name" >
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12" style="margin-bottom:8px;">
                                <label>First Name</label>
                                <input type="text" id="fetchFirstName" class="form-control" ng-model="fetchBy.fetchFirstName" placeholder="First Name" >
                                <input type="button" class="btn btn-success rcs pull-right" style="margin-top:8px;" value="Search" ng-click="fetchPage()">
                              </div>
                            </div>
                            <!--<div class="row">
                              <div class="col-md-12">
                                <label>City</label>
                                <input type="text" id="fetchCity" class="form-control" ng-model="fetchBy.fetchCity" placeholder="City" >
                                <input type="button" class="btn btn-success rcs" style="margin-top:8px;" value="Search" ng-click="fetchPage()">
                              </div>
                            </div>-->
                          </div>
                          <div class="col-md-6">
                            <h4>Search Instructions</h4>
                                <p>Aenean a quam ut nisl sollicitudin fringilla eu faucibus massa. Duis cursus augue at sapien tempus, vitae ornare tortor euismod. Maecenas pharetra tincidunt felis non consectetur.</p> 
                                <p>In hac habitasse platea dictumst. Duis accumsan, metus dictum fringilla facilisis, purus magna dictum lacus, eget consequat erat purus sit amet quam.</p> 
                          </div>
                          
                          </div>
                        </div>
                        
                      </div> 
                    </div>
                    <div class="row">
                       <div class="col-md-12" style="margin-top:10px;">
                        <div class="well well2">
                          <div class="row">
                            <div class="col-md-8">
                              <h4>Search Results</h4>
                            </div>
                            <div class="col-md-4">
                              <div class="well">
                                Page: {{ currentPage }} of {{othersTotalPossible}}    
                                <label for="search"> per Page:</label>
                                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                              </div>
                            </div>
                          </div>

                          <table width="100%" border="0" cellpadding="4" style="font-size:14px;">
                            <thead>
                              <tr class="messageBar">
                                  <!--<th style="text-align:left;padding:2px;">ID</th>
                                  <th style="text-align:left;"></th>-->
                                  <th style="text-align:left;padding:2px;">Last</th>
                                  <th style="text-align:left;padding:2px;">First</th>
                                  <th style="text-align:center;padding:2px;">View</th>
                                  <th style="text-align:center;padding:2px;">Edit</th>
                                  <th style="text-align:center;padding:2px;">Del</th>
                              </tr>
                            </thead>

                            <tbody>
                              <tr dir-paginate="usersListItem in usersList |  itemsPerPage: pageSize: 'usersListSelect'" total-items="usersTotalPossible" current-page="currentPage" pagination-id="usersListSelect" style="border-bottom:1px solid #cccccc;">
                                <!--<td style="padding:2px;text-align:left;" width="10%"><span ng-bind="usersListItem.providerId"></span></td>
                                <td align="left" width="15%"><span ng-bind="usersListItem.keyId"></span></td>-->
                                <td style="padding:3px;text-align:left;" width="20%"><span ng-bind="usersListItem.lastName"></span></td>
                                <td style="padding:3px;text-align:left;" width="55%"><span ng-bind="usersListItem.firstName"></span></td>
    
                                <td style="padding:3px;text-align:center;" width="8%">
                                  <a href="#" name="View"><i class="fa fa-eye" style="color:#33aa66; text-decoration:none;font-size:1.2em;"></i></a></td>

                                <td style="padding:3px;text-align:center;" width="9%"><!-- <a href="#/users/edit/{{usersListItem._id}}">Show</a> -->
                                         <!-- <input type="button" value="Show" ng-click="getSelectedUser( $index )"> -->
                                    <!-- ng-click="toggleModal()" ng-click="showComplex()">  -->
                                    <!-- <button ng-click="getSelectedUser( $index )" class="btn btn-default">Show</button>   -->
                                    <usermodal ng-click="getSelectedUser( $index )" name='UserEditForm' instance_template="user-edit" usersEditItem="{{usersList[$index]}}" use_ctrl="UserModalCtrl">
                                    <i class="fa fa-edit" style="color:#3366aa; text-decoration:none;cursor:pointer;font-size:1.2em;"></i>
                                    </usermodal>

                                  </td>
                                  <td style="padding:3px;text-align:center;" width="8%">
                                    <a href="#"  alt="Delete"><i class="fa fa-times" style="color:#aa6633; text-decoration:none;font-size:1.3em;"></i></a>
                                    <!--<input type="button" class="btn btn-default btn-xs rcs" style="color:#bb6633;" value="Delete" ng-click="delete($index)">-->
                                  </td>
                              </tr> 

                            </tbody>
                          </table>
                          <div  class="userpaging-controller" style="border:0px;margin-top:10px;">                              
                        <div class="text-center">
                             <dir-pagination-controls pagination-id="usersListSelect" boundary-links="true" on-page-change="fetchPage()" template-url="common/partials/dirPagination.html"></dir-pagination-controls>
                              <!--paging controller users list-->
                        </div>
                                                              
                    </div> 
                        </div>
                        </div>
                    </div>    
                    <!--<div  class="userpaging-controller">                              
                        <div class="text-center">
                             <dir-pagination-controls pagination-id="usersListSelect" boundary-links="true" on-page-change="fetchPage()" template-url="common/partials/dirPagination.html"></dir-pagination-controls>
                              paging controller users list
                        </div>
                                                              
                    </div> -->

                    <!--<div class="userpaging-controller">  
                     <div ng-controller="UsersFormModalCtrl"  class="userpaging-controller"> -->
                            <!--add the modal instance controller with that will use the redbull.tpl.html as a template and
                            RedBullCtrl as its controller-->
                         

                    <!-- </div> 
                </div> -->

                </div>
                <!-- ****** end of UsersListPageCtrl ***************************** --> 

                </div>
            </div>
        </div>
          
        <!-- ******* TAB5-7 ********************************** -->
        <div class="tab-pane fade" id="tab5-7">
                <h1><i class="fa fa-mobile">D3 Angular</i></h1>
                <!--  <div  ng-controller="UsersAlchemyPageCtrl"> <input type="button" value="Start" ng-click="start()">
                  <div   id="alchemy" class="alchemy">
                          ng-controller="UsersOthersConnectPageCtrl"         <div><input type="button" value="Begin" ng-click="alchemy.begin()"></div> 

                 </div>
                </div>  -->


                 <div class="row">
                  <div class="col-md-6 col-md-offset-3">Resize the page or change the numbers to see the d3 re-render!</div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-md-offset-3"><hr></div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-md-offset-3" ng-controller="DemoCtrl">
                    <span>{{title}}</span>
                    <!-- <d3-bars data="d3Data" label="name" on-click="d3OnClick(item)"></d3-bars>
                    <br>
                    <br>
                    <span>First Item</span>
                    <input type="text" ng-model="d3Data[0].score"></input>
                    <br>
                    <span>Second Item</span>
                    <input type="text" ng-model="d3Data[1].score"></input>
                    <br>
                    <span>Third Item</span>
                    <input type="text" ng-model="d3Data[2].score"></input> -->
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-md-offset-3"><hr></div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-md-offset-3" ng-controller="DemoCtrl2">
                    <span>{{title}}</span>
                    <!-- <d3-bars data="d3Data" label="title"></d3-bars>
                    <br>
                    <br>
                    <span>First Item</span>
                    <input type="text" ng-model="d3Data[0].score"></input>
                    <br>
                    <span>Second Item</span>
                    <input type="text" ng-model="d3Data[1].score"></input>
                    <br>
                    <span>Third Item</span>
                    <input type="text" ng-model="d3Data[2].score"></input> -->
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-md-offset-3"><hr></div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-md-offset-3" ng-controller="ZipsPerCtrl">
                    <span>{{title}}</span>
                    <!-- <d3-bars data="d3Data" label="name" on-click="d3OnClick(item)"></d3-bars>
                    <br>
                    <br>
                    <span>First Item</span>
                    <input type="text" ng-model="d3Data[0].score"></input>
                    <br>
                    <span>Second Item</span>
                    <input type="text" ng-model="d3Data[1].score"></input>
                    <br>
                    <span>Third Item</span>
                    <input type="text" ng-model="d3Data[2].score"></input> -->
                  </div>
                </div>

        </div>
        <!-- ******* TAB6-7 *********************************** -->
        <div class="tab-pane fade" id="tab6-7" style="min-height:300px;">
              <h1>Directed Node Editor</h1>
               <div style="margin-bottom:20px"><span>Click in the open space to add a node. Drag from one node to another to add a connector. 
                Ctrl-drag a node to move the graph layout. Click a node or a connector to select it.
                When a node is selected: R toggles reflexivity, Delete removes the node. 
                When a connector is selected: L(eft), R(ight), B(oth) changes direction of marker, Delete removes
                the connector.</span>
              </div>
              
              <div class="well2" id="dnework" ng-controller="D3DirectedNodeCtrl" style="margin-bottom:3px;" >
                  <div class="row messageBar" style="margin-bottom:0px;padding-top:4px; height:40px;" >  
                    <div> 
                      <ul><li ng-repeat="list in qrylists" class="dropdown" >
                          <a  ng-class="{'dropdown-toggle': list.qrylists}" data-toggle="dropdown">{{list.title}}<span class="caret"></span></a>
                          <ul ng-if="list.qrylists" class="dropdown-menu">
                              <li ng-repeat="list in list.qrylists" ng-class="{'dropdown-toggle': list.qrylists}">{{list.action}} {{list.title}}</{{list.eofaction}}></li>
                        </ul>
                      <!-- </li> --> 
                      &nbsp;
                      <!-- li class="dropdown rcs" > -->
                      <button type="submit" class="btn btn-primary btn-sm rcs" ng-click='dneGetConnections()'>My Connections</button>
                      &nbsp;
                      <input type='button' class="btn btn-primary btn-sm rcs" ng-click='dneGetConnections()' value='My Connections'> 
                     </li></ul>  
                    </div> 
                  </div>  
                  <div class="row" style="margin-bottom:3px" >
                    <!-- content --> 
                     <d3-directednodeditor data="dnedata" > </d3-directednodeditor>
              </div > 
                           
              </div > 
                     
        </div>

<!-- ******* TAB7-7 *********************************** -->
        <div class="tab-pane fade" id="tab7-7" style="min-height:300px;">
          <h1>Force Node Editor</h1>

            <div> hello Node Editor top</div> 
            <div class="row">
              <div class="col-md-12"  ng-controller="D3NodeEditCtrl" >
                <span>{{title}}</span>
                  <!-- /* <div class="content">
                  <div id="surface" > </div>
                  </div>  /* content */
                  <d3-nodeditor data="d3Nodes" > </d3-nodeditor> --> 
                                       
              </div>  
            </div>
            <div>hello Node Editor bottom</div>   
        </div>
        
    </div>
  </div>
 </div>
</div>