<!-- ******** TAB4-11 ********************************* -->

  <h1>Jobs Board</h1>
          
  <div  ng-controller="UserAdminProfileCtrl" class="row"> 
      <div class="col-md-12"> 
        <div class="well well2">
          <div id="jobsAdd" class="collapse">
              <div class="row" style="margin-bottom:15px;"> 
                 
                <div class="col-md-12">
                  <div class="pad"><a class="btn btn-primary btn-sm rcs pull-right" data-toggle="collapse" data-target="#jobsAdd">Close&nbsp;<i class="fa fa-times"></i></a></div>
                  <h4>Add New Job </h4>
                  <div class-"row">

                    <div class="col-md-6 col-sm-5 col-xs-12">

                      <div class="pad" style="margin-bottom:10px;"><input type="text" >&nbsp;<label>Job Title</label></div>
                      <div class="pad" style="margin-bottom:10px;"><textarea class="tArea" ng-model="nuuser.bioinfo"></textarea>
                        <br />
                        <label>Job Description</label>
                      </div>

                      <div class="well well5" style="margin-top:20px;margin-bottom:20px;">
                        <span class="subSub">Select One:</span>

                        <ul style="list-style-type:none; margin-left:0px;">

                          <li><input type="radio" name="FTorPT">&nbsp;Full Time</li>
                          <li><input type="radio" name="FTorPT">&nbsp;Part Time</li>
                          <li><input type="radio" name="FTorPT">&nbsp;Hourly</li>
                          <li><input type="radio" name="FTorPT">&nbsp;Commission</li>
                          <li><input type="radio" name="FTorPT">&nbsp;Other</li>

                        </ul>
                      </div>

                    </div>

                    <div class="col-md-6 col-sm-7 col-xs-12">
                      <div class="pad" style="margin-bottom:10px;"><input type="checkbox" >&nbsp;<label>Management</label></div>
                      <div class="pad" style="margin-bottom:10px;"><input type="text" >&nbsp;<label>Start Date</label></div>
                      <div class="pad" style="margin-bottom:10px;"><input type="text" >&nbsp;<label>End Date</label></div>
                      <div class="pad" style="margin-bottom:10px;"><input type="text" >&nbsp;<label>Company</label></div>
                      <div class="pad" style="margin-bottom:10px;"><input type="text" >&nbsp;<label>City</label></div>
                      <div class="pad" style="margin-bottom:10px;"><input type="text" >&nbsp;<label>Phone</label></div>
                      <div class="pad" style="margin-bottom:20px;"><input type="text" >&nbsp;<label>Contact Email</label></div>
                      <div class="pad">

                      <button data-toggle="collapse" data-target="#jobsAdd" class="btn btn-success rcs" ng-click="save()" >Create New Job</button>
                      <button data-toggle="collapse" data-target="#jobsAdd" class="btn btn-primary rcs" ng-click="cancel()" >Cancel</button>
                    </div>
                    </div>

                  </div>

              </div>
            </div>
            
            </div>

            <div id="pageMgrHelp" class="collapse" style="margin-top:15px;">
              <div class="row"> 
                <div class="col-md-12"> 
                <div class="well">
                  <a class="btn btn-primary btn-sm rcs pull-right" data-toggle="collapse" data-target="#pageMgrHelp">Close&nbsp;<i class="fa fa-times"></i></a>
                <h4>Page Manager Help </h4>
                  <p>Cashiers, a beautiful village in western North Carolina known as "The Heart Of The Blue Ridge Mountains", is located in the southern end of Jackson County. Sitting at 3,487 feet in elevation at the crossroads of Highways 107 and 64, there is a little bit of everything here to enjoy for native families, visitors, and part-time residents alike. Our singularly unique geography boasts hundreds of waterfalls, quiet lakes, stone mountains and amazingly beautiful forests.</p>

                </div>
                </div>
              </div>
            </div>

                <div style="height:40px;">
                  <span class="pull-right">
                    <!--&nbsp;<a class="btn btn-primary btn-sm rcs pull-right" data-toggle="collapse" data-target="#pageMgrHelp">Help&nbsp;<i class="fa fa-question"></i></a>&nbsp;-->
                    <a class="btn btn-primary btn-sm rcs pull-right" data-toggle="collapse" data-target="#jobsAdd">Add New Job&nbsp;<i class="fa fa-plus"></i></a>&nbsp;
                  </span>
                </div>
                      <h4>Posted Jobs</h4>
                      <div class="row well well5" style="margin-bottom:5px;">

                          <div class="col-md-4 col-sm-4 col-xs-12 pad bolder">
                              Job Title
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                              City
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                              Posting Date
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                              Full Time
                          </div>
                         
                          <div class="col-md-4 col-sm-4 col-xs-6 pad">
                              Phone
                         </div>
                          
                          <div class="col-md-4 col-sm-4 col-xs-6 pad">
                            <span class="pull-right"><button class="btn btn-primary btn-sm rcs">Edit</button>
                            <button class="btn btn-danger btn-sm rcs">Del</button></span>
                          </div>

                      </div>


                      <div class="row well well5" style="margin-bottom:5px;">

                          <div class="col-md-4 col-sm-4 col-xs-12 pad bolder">
                              Job Title
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                              City
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                              Posting Date
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                              Full Time
                          </div>
                         
                          <div class="col-md-4 col-sm-4 col-xs-6 pad">
                              Phone
                         </div>
                          
                          <div class="col-md-4 col-sm-4 col-xs-6 pad">
                            <span class="pull-right"><button class="btn btn-primary btn-sm rcs">Edit</button>
                            <button class="btn btn-danger btn-sm rcs">Del</button></span>
                          </div>

                      </div>
              
              </div>

      </div>

  </div >
