<!-- ******** TAB4-5 ********************************* -->

    <h1>Add New User</h1>
    
    <div class="row" ng-controller="UserCreateCtrl">
      <div class="col-md-12"> 
          <p>The user's email address will be used as their Login ID. <span style="color:#cc5533;">* Required Fields</span></p>
            
          <h4><i class="fa fa-user"></i> Set User Type, Role and Permissions</h4>
            
          <form  name="addUForm" ng-submit="save( addNuUser )" >

            <div class="well">
                <div class="row">
                     <ng-include src="'user/partials/user-admin-trp.html'"></ng-include>
                </div>
            </div>

            <h4><i class="fa fa-user"></i> Select Business Category</h4>
                
            <div class="well">
                <div class="row">
                     <ng-include src="'component/partials/mbrsite-admin-category.html'"></ng-include>    
                </div>
            </div>

            <div class="row"> 
                     <!-- ng-submit="save(nuuser)"  -->
            
              <div class="col-md-6">      
                  <h4><i class="fa fa-user"></i> User Information ( remove dflts from admin-addUser ) </h4>
                  <br />
                  <!-- **********************************************************-->
                  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
                  <!-- NOTE >>>>   Remove NG-INIT before production  <<<<< NOTE  -->
                  <!--                                                           -->
                  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
                  <div class="pad">
                      <!-- <input id="uFirstName"  editable- type="text" ng-model="user.firstName">&nbsp;&nbsp;&nbsp;<label>First Name *</label> -->
                      <input id="aFirstName" name="firstName" ng-model="addNuUser.nuuser.firstName" ng-init="addNuUser.nuuser.firstName='Sam'" required placeholder="First name" >&nbsp;&nbsp;&nbsp;<label>First Name *</label>
                      <!-- <input editable-text="nuuser.firstName" e-name="firstName" onbeforesave="checkName($data)" e-required   placeholder="Enter first name"  >&nbsp;&nbsp;&nbsp;<label>First Name *</label> -->
                  </div>

                  <div class="pad">
                      <input id="aLastName" type="text" ng-model="addNuUser.nuuser.lastName" ng-init="addNuUser.nuuser.lastName='Samson'" required placeholder="Last name" >&nbsp;&nbsp;&nbsp;<label>Last Name *</label>
                  </div>

                  <div class="pad">
                      <!-- NOTE: USE THIS VERSION of EMAIL FOR PRODUCTION   <input id="uEmail" type="email" ng-model="nuuser.email" required placeholder="Current email address" >&nbsp;&nbsp;&nbsp;<label>Email Address *</label> -->
                      <input id="aEmail" type="text" ng-model="addNuUser.nuuser.email"ng-init="addNuUser.nuuser.email='info@wer.com'" required  placeholder="Current email address" >&nbsp;&nbsp;&nbsp;<label>Email Address *</label>
                  </div>
                        
                  <div class="pad">
                      <input id="aLoginId" type="text" ng-model="addNuUser.nuuser.loginId" ng-init="addNuUser.nuuser.loginId='sam '" required placeholder="Login Id" >&nbsp;&nbsp;&nbsp;<label>Login ID*</label>
                  </div> 

                  <div class="pad">
                      <input type="text" ng-model="addNuUser.nuuser.password" ng-init="addNuUser.nuuser.password='philmont'" required placeholder="Temporary password." >&nbsp;&nbsp;&nbsp;<label>Password *</label>
                  </div>

                  <div class="pad">
                      <input type="text" ng-model="addNuUser.nuuser.passPhrase" ng-init="addNuUser.nuuser.passPhrase='Sams'" required placeholder="Short temporary phrase." >&nbsp;&nbsp;&nbsp;<label>Pass Phrase*</label>
                  </div>

                  <div class="pad">
                      <input type="text" ng-model="addNuUser.nuuser.street">&nbsp;&nbsp;&nbsp;<label>Street Address 1</label>
                  </div>
                        
                  <div class="pad">
                      <input type="text" ng-model="addNuUser.nuuser.street2">&nbsp;&nbsp;&nbsp;<label>Street Address 2</label>
                  </div>

                  <div class="pad">
                      <input type="text" ng-model="addNuUser.nuuser.city">&nbsp;&nbsp;&nbsp;<label>City</label>
                  </div>

                  <div class="pad">
                      <input type="text" ng-model="addNuUser.nuuser.state">&nbsp;&nbsp;&nbsp;<label>State</label>
                  </div>

                  <div class="pad">
                      <input type="text" ng-model="addNuUser.nuuser.zipCode">&nbsp;&nbsp;&nbsp;<label>Zip</label>
                  </div>

                  <div class="pad">
                      <input type="text" ng-model="addNuUser.nuuser.contactPhone">&nbsp;&nbsp;&nbsp;<label>Phone</label>
                  </div>

                  <div class="pad">
                      <input type="text" ng-model="addNuUser.nuuser.mobilePhone">&nbsp;&nbsp;&nbsp;<label>Mobile Phone</label>
                  </div>

                  <div class="pad">
                      <input type="text" ng-model="addNuUser.nuuser.fax">&nbsp;&nbsp;&nbsp;<label>Fax</label>
                  </div>

                  <div class="pad">
                      <textarea class="tArea" ng-model="addNuUser.nuuser.bioinfo"></textarea>
                      <br />
                      <label>Bio Info</label>
                  </div>

            
              </div>
              <div class="col-md-6">
                  <div ng-switch on="utype">
                    <div ng-switch-when="Member">
                              <!-- MEMEBR SECTION -->
                              <!-- **********************************************************-->
                              <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
                              <!-- NOTE >>>>   Remove NG-INIT before production  <<<<< NOTE  -->
                              <!--                                                           -->
                              <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

                              <h4><i class="fa fa-user"></i> Business Information ( remove dflts from admin-addUser ) </h4>   
                              <div class="pad">
                                  <input type="text" ng-model="addNuUser.nucomponent.name"  ng-init="addNuUser.nucomponent.name='Sams Number '" required placeholder="Business name">&nbsp;&nbsp;&nbsp;<label>Business Name *</label>
                              </div>

                              <div class="pad">
                                  <input type="text" ng-model="addNuUser.nucomponent.street"  ng-init="addNuUser.nucomponent.street='100 any Street'"  placeholder="Address">&nbsp;&nbsp;&nbsp;<label>Address *</label>
                              </div>

                              <div class="pad">
                                  <input type="text" ng-model="addNuUser.nucomponent.street2" placeholder="Address 2">&nbsp;&nbsp;&nbsp;<label>Address 2</label>
                              </div>

                              <div class="pad">
                                  <input type="text" ng-model="addNuUser.nucomponent.city"  ng-init="addNuUser.nucomponent.city='Woodland'" placeholder="City"></input>&nbsp;&nbsp;&nbsp;<label>City *</label>
                              </div class="pad">

                              <div class="pad">
                                  <input type="text" ng-model="addNuUser.nucomponent.state"  ng-init="addNuUser.nucomponent.state='CA'" placeholder="State">&nbsp;&nbsp;&nbsp;<label>State *</label>
                              </div>

                              <div class="pad">
                                  <input type="text" ng-model="addNuUser.nucomponent.zipCode"  ng-init="addNuUser.nucomponent.zipCode='97005'" placeholder="Zip Code">&nbsp;&nbsp;&nbsp;<label>Zip Code *</label>
                              </div>

                              <div class="pad">
                                  <input type="text" ng-model="addNuUser.nucomponent.phone"  ng-init="addNuUser.nucomponent.phone='(916) 345-0098'" placeholder="Phone">&nbsp;&nbsp;&nbsp;<label>Phone *</label>
                              </div>

                              <div class="pad">
                                  <input type="text" ng-model="addNuUser.nucomponent.fax">&nbsp;&nbsp;&nbsp;<label>Fax</label>
                              </div>
                              
                              <div class="pad">
                                  <input type="text" ng-model="addNuUser.nucomponent.email">&nbsp;&nbsp;&nbsp;<label>Email</label>
                              </div>
                              
                              <div class="pad">
                                  <textarea class="tArea" ng-model="addNuUser.nucomponent.description"></textarea>
                                  <br />
                                  <label>Description</label>
                              </div>
                              <div class="pad">
                                  <textarea class="tArea" ng-model="addNuUser.nucomponent.keywords"></textarea>
                                  <br />
                                  <label>Key Words</label>
                              </div>
                              
                              <div class="pad">
                                  <input type="text" ng-model="addNuUser.nucomponent.website">&nbsp;&nbsp;&nbsp;<label>Website</label>
                              </div>

                              <div class="pad">
                                  <input type="text" ng-model="addNuUser.nucomponent.indentityId">&nbsp;&nbsp;&nbsp;<label>ID Number</label>
                              </div>
                    </div>
                     <div ng-switch-when="Advertiser">
                               <!-- ADVERTISER SECTION -->
                              <h4><i class="fa fa-user"></i> Advertiser Business Information</h4>
 
                          <div class="pad">
                                  <input type="text" ng-model="addNuUser.nucomponent.name" required placeholder="Business name">&nbsp;&nbsp;&nbsp;<label>Business Name *</label>
                              </div>

                              <div class="pad">
                                  <input type="text" ng-model="addNuUser.nucomponent.street" placeholder="Address">&nbsp;&nbsp;&nbsp;<label>Address *</label>
                              </div>

                              <div class="pad">
                                  <input type="text" ng-model="addNuUser.nucomponent.street2" placeholder="Address 2">&nbsp;&nbsp;&nbsp;<label>Address 2</label>
                              </div>

                              <div class="pad">
                                  <input type="text" ng-model="addNuUser.nucomponent.city" placeholder="City"></input>&nbsp;&nbsp;&nbsp;<label>City *</label>
                              </div class="pad">

                              <div class="pad">
                                  <input type="text" ng-model="addNuUser.nucomponent.state" placeholder="State">&nbsp;&nbsp;&nbsp;<label>State *</label>
                              </div>

                              <div class="pad">
                                  <input type="text" ng-model="addNuUser.nucomponent.zipCode" placeholder="Zip Code">&nbsp;&nbsp;&nbsp;<label>Zip Code *</label>
                              </div>

                              <div class="pad">
                                  <input type="text" ng-model="addNuUser.nucomponent.phone" placeholder="Phone">&nbsp;&nbsp;&nbsp;<label>Phone *</label>
                              </div>

                              <div class="pad">
                                  <input type="text" ng-model="addNuUser.nucomponent.fax">&nbsp;&nbsp;&nbsp;<label>Fax</label>
                              </div>

                              <div class="pad">
                                  <input type="text" ng-model="addNuUser.nucomponent.email">&nbsp;&nbsp;&nbsp;<label>Email</label>
                              </div>
                              
                              <div class="pad">
                                  <input type="text" ng-model="addNuUser.nucomponent.website">&nbsp;&nbsp;&nbsp;<label>Website</label>
                              </div>

                    </div>
                    <div ng-switch-when="Associate">
                              <h4><i class="fa fa-user"></i> Associate Business Information</h4>
 
                               <div class="pad">
                                  <input type="text" ng-model="addNuUser.nucomponent.name" required placeholder="Business name">&nbsp;&nbsp;&nbsp;<label>Business Name *</label>
                              </div>

                              <div class="pad">
                                  <input type="text" ng-model="addNuUser.nucomponent.phone" placeholder="Phone">&nbsp;&nbsp;&nbsp;<label>Phone *</label>
                              </div>
                              
                              <div class="pad">
                                  <input type="text" ng-model="addNuUser.nucomponent.email">&nbsp;&nbsp;&nbsp;<label>Email</label>
                              </div>
                              
                              <div class="pad">
                                  <input type="text" ng-model="addNuUser.nucomponent.indentityId">&nbsp;&nbsp;&nbsp;<label>Organization Identity Number</label>
                              </div>
                    </div> 
                    <div ng-switch-when="Subscriber">
                              <h4><i class="fa fa-user"></i> Subscriber Business Information</h4>
 
                               <div class="pad">
                                  <input type="text" ng-model="addNuUser.nucomponent.name" required placeholder="Business name">&nbsp;&nbsp;&nbsp;<label>Business Name *</label>
                              </div>

                              <div class="pad">
                                  <input type="text" ng-model="addNuUser.nucomponent.phone" placeholder="Phone">&nbsp;&nbsp;&nbsp;<label>Phone *</label>
                              </div>
                              
                              <div class="pad">
                                  <input type="text" ng-model="addNuUser.nucomponent.email">&nbsp;&nbsp;&nbsp;<label>Email</label>
                              </div>
                              
                    </div> 
                    <div ng-switch-default>
                              <!-- DEFAULT SECTION -->
                              <h4><i class="fa fa-user"></i>Default Business Info </h4>
                              <div class="pad">
                                  <input type="text" ng-model="addNuUser.nucomponent.name" required placeholder="No Business Info neededUser Type Not Selected - No ">&nbsp;&nbsp;&nbsp;<label>Business Name *</label>
                              </div>

                              <div class="pad">
                                  <input type="text" ng-model="addNuUser.nucomponent.email">&nbsp;&nbsp;&nbsp;<label>Email</label>
                              </div>
                              
                    </div>
                </div>

              </div>

                      
              <div style="margin-top:25px;">
                      <span class="pad"><button ng-click="clear()" class="btn btn-primary rcs"  >Clear</button> </span> 
                      <span class="pad"><button class="btn btn-success rcs"  type="submit" >Save</button></span>
              </div>
          
            </div>       
          </form>
      </div>
    </div>
    

