<!-- ******** TAB4-2 ********************************* -->

    <h1>Membership</h1>
          
        <div ng-controller="UserAdminProfileCtrl" class="row" > 
            
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="well well4">
                    <p><b>Membership:</b>&nbsp;<span class="bigNumbers">531</span></p>
                    <p><b>Subscribers:</b>&nbsp;<span class="bigNumbers">86</span></p>
                    <hr />
                    <p><b>Pending:</b>&nbsp;<span class="bigNumbers">9</span></p>
                    <a href="#/users/profile/{{whichUserId()}}#tab4-4" class="btn-primary btn-sm rcs pull-right" style="text-decoration:none;">View Pending</a><br />
                </div>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12"> 
                <div class="well well2">

                    No Members Yet <span ng-bind="whichUser()"></span>!!

                    <table width="100%"> 
                        <tr dir-paginate="usersListItem in usersList |  itemsPerPage: pageSize: 'membersListSelect'" total-items="usersTotalPossible" current-page="currentPage" pagination-id="membersListSelect" style="border-bottom:1px solid #cccccc;">
                            <td style="padding:8px;">
                                <div class="row well well5" ng-class-odd="'odd'" ng-class-even="'even'">

                                    <div class="col-md-3 col-sm-6 col-xs-12 pad lal busTitle">
                                        Business<span ng-bind="usersListItem.lastName"></span>
                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-12 pad lal">
                                        ProviderID<span ng-bind="usersListItem.providerID"></span>
                                    </div>

                                    <div class="col-md-1 col-sm-6 col-xs-12 pad lal">
                                        Status
                                    </div>

                                    <div class="col-md-1 col-sm-6 col-xs-12 pad">
                                        <a href="#" name="View" style="text-decoration:none;" class="btn-success btn-sm rcs">View</a> 
                                    </div>

                                    <div class="col-md-1 col-sm-6 col-xs-12 pad">
                                        <a href="#" name="View" style="text-decoration:none;" class="btn-danger btn-sm rcs">Edit</a> 
                                        <!-- <usermodal ng-click="getSelectedUser( $index )" name='UserEditForm' instance_template="user-edit" usersEditItem="{{usersList[$index]}}" use_ctrl="UserModalCtrl" class="btn-danger btn-sm rcs">
                                            Edit
                                        </usermodal> -->
                                    </div>

                                </div>
                            </td>
                        </tr>
                    </table>  
                    <div  class="userpaging-controller" style="border:0px;margin-top:10px;">                              
                        <div class="text-center">
                             <dir-pagination-controls pagination-id="membersListSelect" boundary-links="true" on-page-change="fetchPage()" template-url="common/partials/dirPagination.html"></dir-pagination-controls>
                              <!--paging controller users list-->
                        </div>
                                                              
                    </div> 
                </div>

            </div>
        </div >

