<!--redbull.tpl.html -->

<section class="the-modal pull-center" style="overflow-y: scroll;"  > 
    
   <div class="modal-body">
        <div class="row">
            <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-lg-offset-11 col-md-offset-11 col-sm-offset-11 col-xs-offset-9"> -->
            <!-- class="myCloseBtn img-responsive" -->
            <div class="col-sm-6" >
                 <a "myCloseBtn  img-responsive" ng-click="cancel()"><i class="fa fa-times" style="font-size:1.6em;"></i> Cancel</a></span>
            </div>

        </div>

        <header class="row">
            <h4 class="col-sm-12">Edits User Info</h4>
        </header>
        
        <div class="row">
            <div class="col-sm-12">
            <!--  <form editable-form name="userSearchEditForm" action="#tab3-5" >  -->
                <ng-include src="'user/partials/user-admin-searchProfileForm.html'"></ng-include> 
            <!-- </form> -->
            </div>

        </div>
      </div>
      </div>
    </div>
</section> 

