<div class="container" style="margin-top:50px;margin-bottom:50px;">
  <div class="row">
    <div class="col-md-12">
      <div class="well well2">
        <div class="row" style="margin-bottom:30px;">
          <div class="col-md-12">Admin Management Console: WELCOME: <span ng-bind="whichUser()"></span>  <span ng-bind="whichUserId()"></span> </div>
        </div>

        <div class="tabsbar tabsbar2">
          
          <ul class="nav nav-pills nav-pills-sm pull-right btn-sm">
            <li class="glyphicons pencil rcs2 active"><a href="#users/profile/{{whichUserId()}}#tab1-5" data-toggle="tab"><i></i>My Profile</a></li>
            <li class="glyphicons cargo rcs2 "><a href="#/users#tab2-5" data-toggle="tab"><i></i>Admins</a></li>
            <li class="glyphicons circle_info rcs2"><a href="#users#tab3-5" data-toggle="tab"><i></i>Membership</a></li>
            <li class="glyphicons cart_in rcs2"><a href="#users#tab4-5" data-toggle="tab"><i></i>Subscribers</a></li>
          </ul>
               
        </div>
            
        <div class="tab-content" style="margin-top:40px;">
        
          <!-- ******** TAB1-5 ********************************* -->
          <div class="tab-pane active" id="tab1-5" >
            <h1><i class="fa fa-mobile"></i>My Profile</h1>
            
            <div class="row" style="margin-bottom:30px;"> 
              <div class="col-md-6">
                <div class="well well2">                 
                  <h4>Users Edit</h4>
                  <br>
                  <div class="well well2">
                    <form name="myForm">
                      <div> <input type="hidden" ng-model="user._id"> </div>
                      <div> <label>First Name</label> <input type="text" ng-model="user.firstName"> </div>
                      <div> <label>Last Name</label>  <input type="text" ng-model="user.lastName" > </div>
                      <div> <label>Street</label>     <input type="text" ng-model="user.street" >   </div>
                      <div> <label>Street 2</label>   <input type="text" ng-model="user.street2" >  </div>
                      <div> <label>City</label>       <input type="text" ng-model="user.city" >     </div>
                      <div> <label>State</label>      <input type="text" ng-model="user.state" >    </div>
                      <div> <label>Zip Code</label>   <input type="text" ng-model="user.zipcode" >  </div>
                      <div> <label>Contact Phone</label>  <input type="text" ng-model="user.contactphone" >   </div>
                      <div> <label>Mobile Phone</label>   <input type="text" ng-model="user.mobilephone" >    </div>
                      <div> <label>Email</label>          <input type="text" ng-model="user.email" >          </div>
                      <div> <label>Bio Info</label>       <input type="text" ng-model="user.bioinfo" >        </div>
                      <div> <label>Web Site</label>       <input type="text" ng-model="user.website" >        </div>
                      <div> <label>User Role </label>     <input type="text" ng-model="user.userRole">        </div>
                      <div> <label>ProviderId</label>     <input type="text" ng-model="user.providerId">      </div>
                      <span><button ng-click="cancel()" >Cancel</button></span>
                      <span><button ng-click="save()" >Update</button></span>
                      <span><button ng-click="delete()" >Delete</button></span>
                    </form>
                    <br>
                  </div>  
                </div>
              </div>
              <div class="col-md-6">
                <div class="well well2">
                  <h4>Connections</h4>
                  <div class="well well2">
                    <input type="text" ng-model="searchConnect" class="search-query" placeholder="Searchconnect">
                    <br>
                    <table>
                        <thead>
                        <tr>
                          <th></th>
                          <th></th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th></th>
                          <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="connected in connections | filter:searchConnect | orderBy:connected.firstName">
                          <td ><span ng-bind="connected._id"></span></td>
                          <td ><span ng-bind="connected.keyId"></span></td>
                          <td><span ng-bind="connected.firstName"></span></td>
                          <td><span ng-bind="connected.lastName"></span></td>
                          <td><input type="button" value="Drop" ng-click="dropConnection($index)"></td>
                          <td> </td>

                        </tr>
                        </tbody>
                      </table>
                  </div>
                </div>      
                <div class="well well2">
                  <h4>Make New Connection</h4>
                  <div class="well well2">
                    <div class="row">
                      <div class="col-xs-4"> <h3>Connect Page: {{ currentPage }} jj {{totalUsers}}</h3> </div>
                      <div class="col-xs-4">  <label for="search">Search:</label>           <input ng-model="q" id="search" class="form-control" placeholder="Filter text">   </div>
                      <div class="col-xs-4">  <label for="search">items per page:</label>   <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">  </div>
                    </div>

                    <table>
                      <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th></th>
                            
                        </tr>
                      </thead>
                      <tbody>
                        <tr dir-paginate="other in others | filter:q | itemsPerPage: pageSize: 'users'" total-items="totalUsers" current-page="currentPage" pagination-id="users" >
                          <td ><span ng-bind="other._id"></span></td>
                          <td ><span ng-bind="other.keyId"></span></td>
                          <td><span ng-bind="other.firstName"></span></td>
                          <td><span ng-bind="other.lastName"></span></td>
                          <td><input type="button" value="Connect" ng-click="addConnection($index)"></td>
                        </tr> 

                      </tbody>
                    </table>
                    <div ng-controller="userNuConnectPageCtrl" class="userpaging-controller">                              
                      <div class="text-center">
                           <small>this is in userPagingController</small>
                           <dir-pagination-controls pagination-id="users" boundary-links="true" on-page-change="pageChanged(newPageNumber)" template-url="common/partials/dirPagination.html"></dir-pagination-controls>
                      </div>
                                                            
                    </div>        
                  </div>
                </div> 
              </div>
            </div >

          </div>  
        
          <!-- ******* TAB2-5 *********************************** -->
          <!--         <div class="tab-content" style="margin-top:40px;"> -->
          <div class="tab-pane" id="tab2-5">
              <h1><i class="fa fa-mobile"></i>Admins List</h1>
              <div>
                <input type="text" ng-model="search" class="search-query" placeholder="Search">
                <table>
                  <thead>
                    <tr>
                      <th></th>
                      <th></th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th></th>
                      <th> <a href="#/users/create">add</a></th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="user in users | filter:search | orderBy:user.firstName">
                        <td ><span ng-bind="user.keyId"></span></td>
                        <td><span ng-bind="user.loginId"></span></td>
                        <td><span ng-bind="user.firstName"></span></td>
                        <td><span ng-bind="user.lastName"></span></td>
                        <td><input type="button" value="Delete" ng-click="delete($index)"></td>
                        <td>
                          <a href="#/users/profile/{{user._id}}">Show</a>
                        </td>
                        </tr>
                  </tbody>
                </table>
                  <button class="btn-sm btn-primary pull-right rcs">More Information Here</button> 
              </div>
          </div>
          <!-- ******* TAB3-5 *********************************** -->
          <div class="tab-pane" id="tab3-5">
                <h1><i class="fa fa-mobile"></i>Connections</h1>
                <p>Our singularly unique geography boasts hundreds of waterfalls, quiet lakes, stone mountains and amazingly beautiful forests.Cashiers, a beautiful village in western North Carolina known as "The Heart Of The Blue Ridge Mountains", is located in the southern end of Jackson County.</p>
          </div>
          <!-- ******* TAB4-5 ********************************** -->
          <div class="tab-pane" id="tab4-5">
                <h1><i class="fa fa-mobile"></i> Waterfalls</h1>
                <p>Sitting at 3,487 feet in elevation at the crossroads of Highways 107 and 64, there is a little bit of everything here to enjoy for native families, visitors, and part-time residents alike. Our singularly unique geography boasts hundreds of waterfalls, quiet lakes, stone mountains and amazingly beautiful forests.</p>
          </div>
           

      </div>
    </div>
  </div>
 </div>
</div>

