<!-- ******* TAB4-7 *********************************** -->

              <h1>Member Search</h1>
              <div class="row">
              <div  ng-controller="UsersEditableCtrl" class="col-md-12">

                <!-- ***** UsersListPageCtrl ******************* -->
                <div ng-controller="UsersListPageCtrl"  class="userpaging-controller" style="border:0px;">

                    <div class="row">
                      <div class="col-md-12">
                        <div class="well well2">
                        <div class="row">
                          <div class="col-md-6">

                            <label>Last Name</label>
                              <input type="text" id="fetchLastName" class="form-control" ng-model="fetchBy.fetchLastName" placeholder="Last Name" >

                          </div>
                          <div class="col-md-6">

                            <label>First Name</label>
                              <input type="text" id="fetchFirstName" class="form-control" ng-model="fetchBy.fetchFirstName" placeholder="First Name" >
                              <input type="button" class="btn btn-primary rcs pull-right" style="margin-top:8px;" value="Search" ng-click="fetchPage()"> 
                          </div>
                          
                          </div>
                        </div>
                        
                      </div> 
                    </div>
                    <!-- begin test -->
                    <div class="row">
                     <span>userListPageCtrl (search Tab) topValue Test area </span>
                        <div><br/>
                            Top Value: <input data-ng-model="topValue" /><br/>
                            Middle Value: {{middleValue}}<br/>
                            Bottom Value: {{bottomValue}}
                        </div>
                        
                     <span> End of test area </span>
                    </div>     
                    <!-- end test -->

                    <div class="row">
                       <div class="col-md-12" style="margin-top:10px;">

                          <h6>Search Results</h6>

                          <div class="row">
                            <div class="col-md-9 col-sm-8">
                              <span class="searchResults">Please Enter A Search Term</span>
                            </div>
                            <div class="col-md-3 col-sm-4">
                              <div class="dropdown pull-right" style="margin-bottom:30px;margin-top:5px;">
                                <button class="btn btn-primary btn-sm dropdown-toggle rcs" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                  <b>Results per Page</b>
                                  <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                  <li role="presentation" style="width:100%;"><a role="menuitem" tabindex="-1" href="#">10</a></li>
                                  <li role="presentation" style="width:100%;"><a role="menuitem" tabindex="-1" href="#">25</a></li>
                                  <li role="presentation" style="width:100%;"><a role="menuitem" tabindex="-1" href="#">50</a></li>
                                </ul>

                              </div>
                            </div>
                                <!--Page: {{ currentPage }} of {{othersTotalPossible}}    
                                <label for="search"> per Page:</label>
                                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">-->
                              
                            
                          </div>

                          <table width="100%">   
                          <tr dir-paginate="usersListItem in usersList |  itemsPerPage: pageSize: 'membersListSelect'" total-items="usersTotalPossible" current-page="currentPage" pagination-id="membersListSelect" >
                            <td style="padding:5px;">
                              <div class="row well well5" ng-class-odd="'odd'" ng-class-even="'even'">
                                
                                <div class="col-md-3 col-sm-6 pad lal busTitle">
                                  <span ng-bind="usersListItem.lastName"></span>
                                </div>

                                <div class="col-md-2 col-sm-6 pad lal">
                                  <span ng-bind="usersListItem.firstName"></span>
                                </div>

                                <div class="col-md-3 col-sm-6 pad lal">
                                  <span ng-bind="usersListItem.city"></span>, <span ng-bind="usersListItem.state"></span> <span ng-bind="usersListItem.zipcode"></span>
                                </div>

                                <div class="col-md-2 col-sm-6 pad lal">
                                  <b><span ng-bind="usersListItem.contactphone"></span></b>
                                </div>

                                <div class="col-md-1 col-sm-6 pad">
                                  <a href="#/mbrsites/page" name="mbrsitePage" style="text-decoration:none;" class="btn-success btn-sm rcs">Pg Mgr</a> 
                                </div>

                                <div class="col-md-1 col-sm-6 pad">
                                  <a href="#/mbrsites/profile" name="mbrsiteProflie" style="text-decoration:none;" class="btn-success btn-sm rcs">mbrProfile</a> 
                                </div>

                                <div class="col-md-1 col-sm-6 pad">
                                  <!--<a href="#" name="View" style="text-decoration:none;" class="btn-danger btn-sm rcs">Edit</a>   ::: usersEditItem="{{usersList[$index]}}"-->
                                 <usermodal  name='UserEditForm' instance_template="user-admin-edit" usersEditItem="{{usersList[$index]}}" use_ctrl="UserModalCtrl" class="btn-danger btn-sm rcs">
                                    <span ng-click="getSelectedUser( $index )" style="color:#ffffff;text-decoration a:hover:none;">Edit - {{ $index }}</span>
                                  </usermodal>
                                </div>

                              </div>
                            </td>
                          </tr>
                        </table>
                        
                        <div  class="userpaging-controller" style="border:0px;margin-top:10px;">                              
                        <div class="text-center">
                             <dir-pagination-controls pagination-id="membersListSelect" boundary-links="true" on-page-change="fetchPage()" template-url="common/partials/dirPagination.html"></dir-pagination-controls>
                              <!--paging controller users list-->
                        </div>
                                                              
                      </div> 
                    </div>
                  </div>
                </div>    
             
                <!-- ****** end of UsersListPageCtrl ***************************** --> 

            </div>
          </div>
