<!-- ******** TAB4-4 ********************************* -->

    <h1>Membership Requests</h1>
          
    <div  ng-controller="UserAdminProfileCtrl" class="row">

        <div class="col-md-3 col-xs-12"> 
            <div class="well well4">
                <h5>Membership Total</h5>
                <p class="leftPad">Active: <span ng-bind="whichUser()"></span></p>
                <p class="leftPad">Inactive: <span ng-bind="whichUser()"></span></p>
            </div>
            <div class="well well4">
                <h5>Subscriber Total</h5>
                <span class="bigNumbers">86</span>
            </div>
            <div class="well well4">
                <h5>Pending Requests</h5>
                <p class="leftPad"><span ng-bind="whichUser()"></span></p>
                <p class="leftPad"><span ng-bind="whichUser()"></span></p>
                <p class="leftPad"><span ng-bind="whichUser()"></span></p>
            </div>
        </div>

        <div class="col-md-3 col-xs-12"> 
            <div class="well well4">
                <h5>3</h5>
                <p><span ng-bind="whichUser()"></span> - Maecenas fermentum justo vel ex tristique suscipit. Ut ultrices efficitur ipsum. </p>
            </div>
            <div class="well well4">
                <h5>4</h5>
                <p><span ng-bind="whichUser()"></span> - Ut ultrices efficitur ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </div>
        </div>

        <div class="col-md-3 col-xs-12"> 
            <div class="well well2">
                <h5>5</h5>
                <p><span ng-bind="whichUser()"></span> - Stristique suscipit. Ut ultrices efficitur ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames.</p>
            </div>
            <div class="well well2">
                <h5>6</h5>
                <p><span ng-bind="whichUser()"></span> - Efficitur ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </div>
        </div>

        <div class="col-md-3 col-xs-12"> 
            <div class="well well2">
                <h5>7</h5>
                <p><span ng-bind="whichUser()"></span> - Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </div>
            <div class="well well2">
                <h5>8</h5>
                <p>Maecenas fermentum justo vel ex tristique suscipit. Ut ultrices efficitur ipsum. Pellentesque habitant morbi tristique senectus et netus.</p>
            </div>
        </div>
        
    </div >
