<!-- ******** TAB4-8 ********************************* -->

          <h1>Calendar &amp; Events</h1>
          
          <div ng-controller="UserAdminProfileCtrl" class="row" style="min-height:300px;"> 

              <div class="col-md-12 col-sm-12 col-xs-12">

              <div ng-controller="CollapseDemoCtrl">

                  <div class="well well2" style="min-height:350px;">
                    <div class="pad pull-right"><a class="btn btn-sm btn-primary rcs" ng-click="isCollapsed = !isCollapsed">Add New Event&nbsp;<i class="fa fa-plus"></i></a></div> 
                      <br /><br />
                      <div collapse="isCollapsed">
                        
                          <h4>Add Event To Calendar</h4>
                          <p>*All Fields Required</p>
                          
                        <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="pad"><input type="text" ng-model="user.businessAddress">&nbsp;&nbsp;&nbsp;<label>Event Name</label></div>

                          <div class="pad"><input type="text" ng-model="user.businessAddress">&nbsp;&nbsp;&nbsp;<label>Start Date</label></div>

                          <div class="pad"><input type="text" ng-model="user.businessAddress">&nbsp;&nbsp;&nbsp;<label>End Date</label></div>

                          <div class="pad"><input type="text" ng-model="user.businessAddress">&nbsp;&nbsp;&nbsp;<label>Start Time</label></div>

                          <div class="pad"><input type="text" ng-model="user.businessAddress">&nbsp;&nbsp;&nbsp;<label>End Time</label></div>

                          <div class="pad"><input type="text" ng-model="user.businessAddress">&nbsp;&nbsp;&nbsp;<label>Event City</label></div>

                          <div class="pad"><input type="text" ng-model="user.businessAddress">&nbsp;&nbsp;&nbsp;<label>Event State, Zip</label></div>
                          
                          <div class="pad"><textarea class="tArea" ng-model="user.businessAddress"></textarea><label>Event Description</label>
                          </div>
                          
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">

                          <div class="pad"><input type="text" ng-model="user.businessAddress">&nbsp;&nbsp;&nbsp;<label>Contact Person</label></div>

                          <div class="pad"><input type="text" ng-model="user.businessAddress">&nbsp;&nbsp;&nbsp;<label>Contact Phone</label></div>

                          <div class="pad"><input type="text" ng-model="user.businessAddress">&nbsp;&nbsp;&nbsp;<label>Contact Email</label></div>

                          <div class="pad"><input type="text" ng-model="user.businessAddress">&nbsp;&nbsp;&nbsp;<label>Event Website</label></div>

                          <div class="pad"><br /><label>Publish to Main Calendar?</label><br />
                            <input type="radio" name="publishStatus" value="internal" checked>&nbsp;Yes&nbsp;&nbsp;&nbsp;<input type="radio" name="publishStatus" value="no">&nbsp;No
                            <br />
                          </div>


                           <div class="pad">
                            <br />
                            <label>Event Visibility</label><br />
                            <input type="radio" name="visibilityStatus" value="public">&nbsp;Public&nbsp;&nbsp;
                            <input type="radio" name="visibilityStatus" value="internal">&nbsp;Internal&nbsp;&nbsp;
                            <input type="radio" name="visibilityStatus" value="private">&nbsp;Private&nbsp;&nbsp;
                            
                          </div>

                          <div class="pad">
                            <br />
                            <a href="#" name="View" style="text-decoration:none;" class="btn btn-success btn-md rcs">Submit Event</a>

                          </div>
                          <div class="pad">
                            <span class="pull-right"><a class="btn btn-sm btn-primary rcs" ng-click="isCollapsed = !isCollapsed">Close Add Event&nbsp;<i class="fa fa-times"></i></a></span>

                          </div>
                          
                        </div>

                        </div>
                          <hr />
                      </div>

                      <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=sj%40middleofnowhere.com&amp;color=%232952A3&amp;ctz=America%2FNew_York" style=" border-width:0 " width="100%" height="400" frameborder="0" scrolling="no"></iframe>

                  </div>
              </div>

              <div class="col-md-12 col-sm-12 col-xs-12"> 
                  <h4>Scheduled Events</h4>
              </div>

              <div class="col-md-12 col-sm-12 col-xs-12"> 

                  <div class="row well well5" style="margin-bottom:5px;">
                      <div class="col-md-4 col-sm-4 col-xs-12">
                          Event Date
                      </div>

                      <div class="col-md-5 col-sm-5 col-xs-12">
                          Event Name
                      </div>
                      
                      <div class="col-md-3 col-sm-3 col-xs-12">
                          <span class="pull-right"> 
                            <usermodal ng-click="getSelectedUser( $index )" name='UserEditForm' instance_template="user-edit" usersEditItem="{{usersList[$index]}}" use_ctrl="UserModalCtrl" Current File Name:>
                              <span class="btn btn-primary btn-sm rcs">Edit</span>
                            </usermodal>
                            <a href="#" name="View" style="text-decoration:none;" class="btn btn-danger btn-sm rcs">Del</a> 
                          </span>
                      </div>
                  </div>


                  <div class="row well well5" style="margin-bottom:5px;">
                      <div class="col-md-4 col-sm-4 col-xs-12">
                          Event Date
                      </div>

                      <div class="col-md-5 col-sm-5 col-xs-12">
                          Event Name
                      </div>
                      
                      <div class="col-md-3 col-sm-3 col-xs-12">
                          <span class="pull-right"> 
                            <usermodal ng-click="getSelectedUser( $index )" name='UserEditForm' instance_template="user-edit" usersEditItem="{{usersList[$index]}}" use_ctrl="UserModalCtrl" Current File Name:>
                              <span class="btn btn-primary btn-sm rcs">Edit</span>
                            </usermodal>
                            <a href="#" name="View" style="text-decoration:none;" class="btn btn-danger btn-sm rcs">Del</a> 
                          </span>
                      </div>
                  </div>

                  <div class="row well well5" style="margin-bottom:5px;">
                      <div class="col-md-4 col-sm-4 col-xs-12">
                          Event Date
                      </div>

                      <div class="col-md-5 col-sm-5 col-xs-12">
                          Event Name
                      </div>
                      
                      <div class="col-md-3 col-sm-3 col-xs-12">
                          <span class="pull-right"> 
                            <usermodal ng-click="getSelectedUser( $index )" name='UserEditForm' instance_template="user-edit" usersEditItem="{{usersList[$index]}}" use_ctrl="UserModalCtrl" Current File Name:>
                              <span class="btn btn-primary btn-sm rcs">Edit</span>
                            </usermodal>
                            <a href="#" name="View" style="text-decoration:none;" class="btn btn-danger btn-sm rcs">Del</a> 
                          </span>
                      </div>
                  </div>
              </div>
                  
            </div>

          </div >
 