	 
<!-- <ul id="ul_navbar">
	<li><span ng-bind="user.userId"></span></li>
	<li><span ng-bind="user.firstName"></span></li>
	<li><span ng-bind="user.lastName"></span></li>
	<li><input type="button" value="Delete" ng-click="delete($index)"></li>
	<li><a href="#/users/edit/{{user._id}}">Edit</a></li>
</ul> -->


    <td><span ng-bind="user.userId"></span></td>
    <td><span ng-bind="user.firstName"></span></td>
    <td><span ng-bind="user.lastName"></span></td>
    <td><input type="button" value="Delete" ng-click="delete($index)"></td>
    <td><a href="#/users/edit/{{user._id}}">edit</a></td>
