
   <!--      <div class="modal-header">
            <h3 class="modal-title">modal</h3>
        </div>
        <div class="modal-body">
           <pre>{{utype}}</pre>
            <div class="btn-group">
                <label class="btn btn-primary btn-sm" ng-model="utype" btn-radio="'{{selTypes.root}}'">{{selTypes.root}}s</label>
                <label class="btn btn-primary btn-sm" ng-model="utype" btn-radio="'{{selTypes.sysadmin}}'" >{{selTypes.sysadmin}}</label>
                <label class="btn btn-primary btn-sm" ng-model="utype" btn-radio="'{{selTypes.admin}}'" >{{selTypes.admin}}</label>
                <label class="btn btn-primary btn-sm" ng-model="utype" btn-radio="'{{selTypes.member}}'">{{selTypes.member}}</label>
                <label class="btn btn-primary btn-sm" ng-model="utype" btn-radio="'{{selTypes.follower}}'">{{selTypes.follower}}</label>
                <label class="btn btn-primary btn-sm" ng-model="utype" btn-radio="'{{selTypes.subscriber}}'">{{selTypes.subscriber}}</label> 
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
 -->

<!--redbull.tpl.html -->
<div ng-transclude >
<section class="the-modal pull-center" style="overflow-y: scroll;"  > 
    
   <div class="modal-body" >

        <div class="row">
            <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-lg-offset-11 col-md-offset-11 col-sm-offset-11 col-xs-offset-9"> -->
            <!-- class="myCloseBtn img-responsive" -->
            <div class="col-md-6" >
                 <a "myCloseBtn  img-responsive" ng-click="cancel()"><i class="fa fa-times" style="font-size:1.6em;"></i> Cancel</a></span>
                <!-- <a "myCloseBtn  img-responsive" ng-click="cancel()"><i class="fa fa-frown-o"></i></a>
                <a "myCloseBtn  img-responsive" ng-click="ok()"><i class="fa fa-smile-o"></i></a> -->
                
            </div>
        </div>

        <header class="row" color='color' >
            <h4 class="col-sm-12"></h4>
        </header>

        <div class="row">
            <div class="col-sm-12">
                <pre>{{utype}}</pre>
                <div class="btn-group">
                    <label class="btn btn-primary btn-md" ng-model="utype" btn-radio="'{{selTypes.root}}'">{{selTypes.root}}</label>
                    <label class="btn btn-primary btn-md" ng-model="utype" btn-radio="'{{selTypes.sysadmin}}'" >{{selTypes.sysadmin}}</label>
                    <label class="btn btn-primary btn-md" ng-model="utype" btn-radio="'{{selTypes.admin}}'" >{{selTypes.admin}}</label>
                    <label class="btn btn-primary btn-md" ng-model="utype" btn-radio="'{{selTypes.member}}'">{{selTypes.member}}</label>
                    <label class="btn btn-primary btn-md" ng-model="utype" btn-radio="'{{selTypes.follower}}'">{{selTypes.follower}}</label>
                    <label class="btn btn-primary btn-md" ng-model="utype" btn-radio="'{{selTypes.subscriber}}'">{{selTypes.subscriber}}</label> 
                </div>
                 <pre>{{urole}}</pre>
                <div class="btn-group">
                    <label class="btn btn-primary btn-md" ng-model="urole" btn-radio="'{{selRoles.admin}}'">{{selRoles.admin}}</label>
                    <label class="btn btn-primary btn-md" ng-model="urole" btn-radio="'{{selRoles.manager}}'" >{{selRoles.manager}}</label>
                    <label class="btn btn-primary btn-md" ng-model="urole" btn-radio="'{{selRoles.user}}'" >{{selRoles.user}}</label>
                </div>
                <br/>
                <pre>{{uperm}}</pre>
                <div class="btn-group">
                    <label class="btn btn-primary btn-md" ng-model="uperm.modify" btn-checkbox="'{{selPermissions.modify}}'">{{selPermissions.modify}}</label>
                    <label class="btn btn-primary btn-md" ng-model="uperm.publish" btn-checkbox="'{{selPermissions.publish}}'" >{{selPermissions.publish}}</label>
                    <label class="btn btn-primary btn-md" ng-model="uperm.delete" btn-checkbox="'{{selPermissions.delete}}'" >{{selPermissions.delete}}</label>
                    <label class="btn btn-primary btn-md" ng-model="uperm.create" btn-checkbox="'{{selPermissions.create}}'">{{selPermissions.create}}</label>
                </div>  
                 <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                    <!-- <button class="btn btn-warning" ng-click="cancel()">Cancel</button> -->
                 </div>
            </div>

        </div>

      </div>
      </div>
    </div>
</section> 
</div>
    