<form editable-form name="userEditForm" action="#tab3-5" >
    <div class="well">
        <div class="row">
            <ng-include src="'user/partials/user-admin-trp.html'"></ng-include>
        </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-5 col-xs-12"> 
      <div> <span>User-Admin-ProfileForm.js (userEditForm) bottomValue Test Area </span><br/>
        Top Value: {{topValue}}<br/>
        Middle Value: {{middleValue}}<br/>
        Bottom Value:  <input data-ng-model="bottomValue" /><br/>
      <span> End of test area </span>
      </div>  
      <!-- <div> <input type="hidden" ng-model="usersedititem._id"> </div> -->
      <div class="pad"> <input type="text" name="firstName" ng-model="usersedititem.firstName" > <label>First Name</label> </div>
      <div class="pad"> <input type="text" name="lastName"  ng-model="usersedititem.lastName" > <label>Last Name</label> </div> 
      <div class="pad"> <input type="text" name="street" ng-model="usersedititem.street" > <label>Street</label> </div> 
      <div class="pad"> <input type="text" name="street2" ng-model="usersedititem.street2" > <label>Street 2</label> </div> 
     <!--  <div> <label>Street 2</label>   <input type="text" ng-model="usersEditItem.street2" >  </div> -->
      <div class="pad"> <input type="text" name="city"  ng-model="usersedititem.city" > <label>City</label> </div>               
      <div class="pad"> <input type="text" name="state"  ng-model="usersedititem.state" > <label>State</label> </div>
      <div class="pad"> <input type="text" name="zipCode"  ng-model="usersedititem.zipCode" > <label>Zip Code</label> </div>
      <div class="pad"> <input type="text" name="contactPhone"  ng-model="usersedititem.contactPhone" > <label>Phone</label> </div>
      <div class="pad"> <input type="text" name="mobilePhone"  ng-model="usersedititem.mobilePhone" > <label>Mobile</label> </div>
      <div class="pad"> <input type="text" name="fax"  ng-model="usersedititem.fax" > <label>Fax</label> </div>
      <div class="pad"> <input type="text" name="email"  ng-model="usersedititem.email" > <label>Email</label> </div>

    </div>

    <div class="col-md-6 col-sm-7 col-xs-12"> 
      <div class="pad"> <input type="text" name="loginId"  ng-model="usersedititem.loginId" > <label> User Name</label></div>
      <div class="pad"> <input type="text" name="password"  ng-model="usersedititem.password" > <label> Password</label></div>
      <div class="pad"> <input type="text" name="passPhrase"  ng-model="usersedititem.passPhrase" > <label> Pass Phrase</label></div>
      <div class="pad"><textarea class="tArea" name="bioinfo" ng-model="usersedititem.bioinfo" ></textarea> <label>Bio Info</label></div>
      <br />
      <button type="button" class="btn btn-primary rcs" ng-click="userEditForm.$show()" ng-hide="userEditForm.$visible">
             Edit
      </button>
      <span ng-show="userEditForm.$visible">
        <!-- ng-click="cancel()" -->
        <button  type="button" class="btn btn-primary rcs" ng-disabled="userEditForm.$waiting" ng-click="userEditForm.$cancel()">
          Cancel
        </button>
        <button ng-click="save()" type="submit" class="btn btn-success rcs" ng-disabled="userEditForm.$waiting">
          Update
        </button>
       <!--  no delete function available in this mode <span >
            <button  class="btn btn-danger rcs" ng-hide="{{whichUserNotMe(user._id)}}"  ng-click="delete()" >Delete</button>
        </span>
       -->
    </span>
    
</form>
    </div>
  </div>