
<div ng-controller="MbrsiteAdminConsoleCtrl" class="container" ng-init="initMbrsite( 'Profile')" >
  <div class="row">
    <div class="col-md-12">
      <div class="well well2 well3">
        <div class="row messageBar">
            <div class="col-md-12">
                <span class="pull-left">&bull; User: <span ng-bind="whichUser()"></span></span>
                <span class="pull-right">&bull; MemberSite Console</span>
            </div>
        </div> 
     
        <div class="row">
          <div class="tabsbar tabsbar2">
              <ul class="nav nav-pills nav-pills-xs btn-xs">
                <li><a href="#/users/adminhome">Admin Home</a></li>
                <li><a href="#/mbrsites/page">Page Manager</a></li>
                <li><a href="#/mbrsites/profile">Business Profile</a></li>

                <li class="active"  ><a href="users/profile/{{whichUserId()}}#tab0-1" data-toggle="tab">My Home</a></li>
               
                <li><a href="users/profile/{{whichUserId()}}#tab1-1" data-toggle="tab">Blank 1</a></li>

                <li><a href="users/profile/{{whichUserId()}}#tab1-2" data-toggle="tab">Blank 2</a></li>

                <li><a href="users/profile/{{whichUserId()}}#tab1-3" data-toggle="tab">Blank 3</a></li>

                <li><a href="users/profile/{{whichUserId()}}#tab2-1" data-toggle="tab">Grid 1</a></li>

                <li><a href="users/profile/{{whichUserId()}}#tab3-1" data-toggle="tab">Calendar</a></li>

                <li><a href="users/profile/{{whichUserId()}}#tab3-2" data-toggle="tab">Google Map</a></li>

              </ul>
          </div>
        </div> 

        <div  ng-controller="MbrsiteAdminContenSetsCtrl" class="tab-content" style="margin-top:15px;">
        
<!-- ******** TAB0-1 ** NOTE: My Home is using profile data and contentSet data*************** -->
          <div class="tab-pane active fade in" id="tab0-1" >
              <!-- <h1><span>{{ profileItem.name || 'empty' }}</span> Home Page</h1> -->
              <h1><span>{{  profileItem.name || 'tabPane Title' }}</span> Home Page</h1>

               <!-- 20150316 removed from line below:  ng-controller="MbrsiteAdminProfileCtrl"  -->
              <div   class="row"  > 
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="well well2">
                    <img src="../../../common/images/homepage-photo3.jpg" class="homepage-photo" alt="" >
                    <br />
                    <div class="row" style="margin-top:20px;">
                      <div class="col-md-8 col-sm-7 col-xs-12">
                          <div ng-switch on="isAuthorized">
                               <div ng-switch-when="support">
                                  <h3><span e-name='t201' editable-text="tabPane.contentOne.titleText" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content" onaftersave="updateThis()">
                                        {{ tabPane.contentOne.titleText || 'Sample Title One' }}
                                         </span>
                                       <button class="fa fa-pencil editPencil" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button>
                                  </h3>
                                </div>
                                <div ng-switch-default>  <h3>{{tabPane.contentOne.titleText}}</h3>  </div>
                          </div>
                          <div ng-switch on="isAuthorized">
                              <div ng-switch-when="support" class="pMin">
                                  <span e-name='t202' editable-textarea="tabPane.contentOne.textArea" e-rows="10" cols="50" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content" onaftersave="updateThis()">
                                     <button class="fa fa-pencil editPencil pull-right" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button>
                                      <pre>{{ tabPane.contentOne.textArea || 'empty' }}  </pre> </span>
                                  
                               </div>   
                               <div ng-switch-default class="pMin">
                                <p>{{ tabPane.contentOne.textArea}}</p>
                               </div>
                          </div>
                      </div>

                      <div class="col-md-4 col-sm-5 col-xs-12"> 
                        <div class="well">
                          <div>
                              
                              <button class="btn btn-primary wide rcs" style="margin-bottom:10px;">Visit Our Website</button>
                              <button class="btn btn-primary wide rcs" style="margin-bottom:10px;">Send Us An Email</button>
                              
                          </div>
                          <div><h4><span >{{ profileItem.name}}</span></h4></div>

                          <div><label>Address</label>&nbsp;&nbsp;&nbsp;<span >{{ profileItem.street}}</span></div>
                          <div><label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><span >{{ profileItem.street2 || ''}}</span> </div>
                          <div><label>City</label>&nbsp;&nbsp;&nbsp;<span >{{ profileItem.city}}</span></div>
                          <div><label>State Zip</label>&nbsp;&nbsp;&nbsp;<span >{{ profileItem.state}}&nbsp;{{ profileItem.state}}</span></div>
                          <div><label>Phone</label>&nbsp;&nbsp;&nbsp;<span >{{ profileItem.phone}}</span></div>
                        
                             <!--<div> <input type="text" ng-model="user.firstName">&nbsp;&nbsp;&nbsp;<label>First Name</label> </div>
                              <div> <input type="text" ng-model="user.lastName" >&nbsp;&nbsp;&nbsp;<label>Last Name</label> </div>
                              <div> <input type="text" ng-model="user.street" >&nbsp;&nbsp;&nbsp;<label>Street</label> </div>
                              <div> <input type="text" ng-model="user.street2" >&nbsp;&nbsp;&nbsp;<label>Street 2</label> </div>
                              <div> <input type="text" ng-model="user.city" >&nbsp;&nbsp;&nbsp;<label>City</label> </div>
                              <div> <input type="text" ng-model="user.state" >&nbsp;&nbsp;&nbsp;<label>State</label> </div>
                              <div> <input type="text" ng-model="user.zipcode" >&nbsp;&nbsp;&nbsp;<label>Zip Code</label> </div>
                              <div> <input type="text" ng-model="user.contactphone" >&nbsp;&nbsp;&nbsp;<label>Contact Phone</label> </div>
                              <div> <input type="text" ng-model="user.mobilephone" >&nbsp;&nbsp;&nbsp;<label>Mobile Phone</label> </div>
                              <div> <input type="text" ng-model="user.email" >&nbsp;&nbsp;&nbsp;<label>Email</label> </div>
                              <div> <input type="text" ng-model="user.bioinfo" >&nbsp;&nbsp;&nbsp;<label>Bio Info</label> </div>
                              <div> <input type="text" ng-model="user.website" >&nbsp;&nbsp;&nbsp;<label>Web Site</label> </div>
                              <div> <input type="text" ng-model="user.userRole">&nbsp;&nbsp;&nbsp;<label>User Role </label> </div>
                              <div> <input type="text" ng-model="user.providerId">&nbsp;&nbsp;&nbsp;<label>Provider ID</label> </div>
                              <br /><br />
                              <button class="btn btn-primary rcs" ng-click="cancel()" >Cancel</button>
                              <button class="btn btn-success rcs" ng-click="save()" >Update</button>
                              <button class="btn btn-danger rcs" ng-hide="{{whichUserNotMe(user._id)}}"  ng-click="delete()" >Delete</button>-->
                          <!-- </form> -->
                        </div> 
                      </div>


                    </div>
                  </div>  
                </div>
              </div >
          </div>


<!-- ******* TAB1-1 *********************************** -->
          <div class="tab-pane fade" id="tab1-1" style="min-height:300px;">
            <h1>{{ tabPane.paneTabTitleText || 'Blank Template One dflt' }}</h1>
            <div class="row"> 
              <div ng-switch on="isAuthorized">
                     <div ng-switch-when="Support">
                       <span class="pull-right"> <button ng-click="postChangesThisTab()"    class="btn btn-success rcs" ng-disabled="textBtnForm.$waiting">
                       Submit </button></span>
                     </div>
              </div>
              <div class="col-md-12"> 
                  <div class="well well2">
                    <div ng-switch on="isAuthorized">
                      <div ng-switch-when="Support">
                              <h3><span e-name='t201' editable-text="tabPane.contentOne.titleText" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content" onaftersave="updateThis()">

                                {{ tabPane.contentOne.titleText || 'Sample Title One' }}

                              </span>
                              <button class="fa fa-pencil editPencil" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button></h3>
                      </div>
                      <div ng-switch-default>  <h3>{{tabPane.contentOne.titleText}}</h3>  </div>
                    </div>
                    <!--  obs <h3>Sample Title <a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></h3> -->
                            
<!-- obs                    <div class="photoBox pull-right">
                      <img src="../../../common/images/customer_service.jpg" class="photoPage" alt="" >
                      <br />
                      <span class="pull-right"><a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></span>
                    </div>
 -->           
                    <div class="photoBox2 pull-right">
                        <div ng-switch on="isAuthorized">
                            <div ng-switch-when="{{isOK}}" >
                              <img src="common/bootstrap/images/customer_service2.jpg" class="photoPage" alt="" >
                              <input class="bottom-marg-15" type="file" name="file" file></input> 
                              <span class="pull-right">                        
                                <a class="btn btn-primary rcs" ng-click="uploadThis()">Upload</a>
                              </span>
                            </div>
                            <div ng-switch-default>
                              <img src="common/bootstrap/images/customer_service2.jpg" class="photoPage" alt="" >
                            </div>
                        </div>
                    </div>  <!-- photobox -->
                    <div ng-switch on="isAuthorized">
                        <div ng-switch-when="Support" class="pMin">
                            <span e-name='t202' editable-textarea="tabPane.contentOne.textArea" e-rows="10" cols="50" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content" onaftersave="updateThis()">
                            <pre>{{ tabPane.contentOne.textArea || 'empty' }}  </pre>
                            </span>
                            <button class="fa fa-pencil editPencil pull-right" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button>
                        </div>   
                        <div ng-switch-default class="pMin">

                            <p>{{ tabPane.contentOne.textArea}}</p>
                        </div>
                    </div>


                    <!-- obs <span class="pull-right"><a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></span>
                      <p>Etiam sit amet leo nec nunc auctor convallis vel at est. Aenean at metus id nisl posuere varius. In vel ipsum eu risus iaculis volutpat in ut metus. Integer eget sem eu massa pharetra vehicula ut id elit. Nam sagittis malesuada est, ut tempus diam ultricies eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla urna libero, finibus in metus mollis, aliquam interdum elit. Phasellus at sagittis lectus. Vestibulum scelerisque libero eget efficitur venenatis. Etiam nunc magna, maximus vel vehicula eget, bibendum eu urna. Phasellus quis turpis id lacus mollis dictum. Ut dui elit, efficitur vel orci eu, elementum interdum erat. Cras at leo volutpat, commodo metus in, dictum justo. Cras id vulputate ex. Nullam et aliquet arcu, id elementum magna. Phasellus faucibus sapien at dolor ultrices pellentesque. Integer eget sem eu massa pharetra vehicula ut id elit. Nam sagittis malesuada est, ut tempus diam ultricies eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla urna libero, finibus in metus mollis, aliquam interdum elit. Phasellus at sagittis lectus. Vestibulum scelerisque libero eget efficitur venenatis. Etiam nunc magna, maximus vel vehicula eget, bibendum eu urna.</p>
                    -->
                    <div ng-switch on="isAuthorized">
                      <div ng-switch-when="Associate" >

                          <h4><span e-name='t203' editable-text="tabPane.contentThree.titleText" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content" onaftersave="updateThis()">

                          {{ tabPane.contentThree.titleText || 'empty' }} 

                          <button class="fa fa-pencil editPencil" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button>         

                          </span></h4>
          
                      </div>

                      <div ng-switch-default>

                          <h4>{{tabPane.contentThree.titleText}}</h4>

                      </div>
                    </div>

                    <div ng-switch on="isAuthorized">
                      <div ng-switch-when="Associate" class="pMin">
                            
                          <span e-name='t204' editable-textarea="tabPane.contentThree.textArea" e-rows="7" e-cols="30" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content" onaftersave="updateThis()">

                          <p>{{ tabPane.contentThree.textArea || 'empty' }}</p> 

                          </span>

                          <button class="fa fa-pencil editPencil pull-right" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button>
                              
                      </div>

                      <div ng-switch-default class="pMin">

                          <p>{{tabPane.contentThree.textArea}}</p>

                      </div>
                    </div> 

                    <!-- obs <h4>Subtitle <a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></h4> -->

                    <!--  obs <span class="pull-right"><a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></span>
                      <p>Donec blandit suscipit ante, quis viverra urna ornare vitae. Vestibulum dolor ligula, scelerisque at lectus in, suscipit lobortis enim. Nunc at mattis sapien, quis mollis dolor. Donec blandit diam velit, quis pellentesque ante lobortis a. Aliquam et diam eget nibh tempus vulputate non ut tellus. Mauris sagittis vehicula dapibus. Maecenas quam libero, luctus eu maximus eget, dictum in leo. Nunc in metus tellus. In lacinia varius sem vitae venenatis. Aenean mi odio, imperdiet eu enim vel, convallis lobortis nibh. In et faucibus purus, quis aliquet dui.</p>
                    -->
                  </div>
              </div> 
            </div>   
          </div>

<!-- ***** TAB1-2 *********************************** -->
          <div class="tab-pane fade" id="tab1-2" style="min-height:300px;" >
             <!-- 20150216 reomved from line below:   ng-controller="b2TabPaneContent" -->
            <div class="row" >  
                 
              <!-- <form editable-form name="textBtnForm" onaftersave="saveThisTab()">  -->
                  <div ng-switch on="isAuthorized">
                     <div ng-switch-when="Support">
                       <span class="pull-right"> <button ng-click="postChangesThisTab()"    class="btn btn-success rcs" ng-disabled="textBtnForm.$waiting">
                       Submit </button></span>
                     </div>  
                  </div>   
                  <!-- <a href="#" e-form="textBtnForm" onbeforesave="postChangesThisTab($data)"> submit </a> -->
                   <!-- <a class="btn btn-success rcs" ng-click="upDateThis()">Submit</a>   -->               
                   <!-- <button ng-click="save()" type="submit" class="btn btn-success rcs" ng-disabled="userSearchEditForm.$waiting">
                       Submit </button>--> 
                  <h1>{{ tabPane.paneTabTitleText || 'empty' }}</h1> <!-- ng-options="item for item in items" -->
                   
                  <select ng-model = "isAuthorized"  ng-options="item for item in items">  </select>
                  <tt> choice= {{ isAuthorized }}</tt> {{items}} {{isOK}}
                  
                  <div class="col-md-9"> 
                      <div class="well well2" >

                          <div ng-switch on="isAuthorized">
                              <div ng-switch-when="Support">
                                     
                                  <h3><span e-name='t201' editable-text="tabPane.contentOne.titleText" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content" onaftersave="updateThis()">

                                    {{ tabPane.contentOne.titleText || 'empty' }}

                                  </span>
                                  <button class="fa fa-pencil editPencil" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button></h3>
                                        
                              </div>
                              <div ng-switch-default>
                                 <h3>{{tabPane.contentOne.titleText}}</h3>
                              </div>
                          </div>
                          <div class="photoBox2 pull-right">
                              <div ng-switch on="isAuthorized">
                                  <div ng-switch-when="{{isOK}}" >
                                    <img src="common/bootstrap/images/customer_service2.jpg" class="photoPage" alt="" >
                                    <input class="bottom-marg-15" type="file" name="file" file></input> 
                                    <span class="pull-right">                        
                                      <a class="btn btn-primary rcs" ng-click="uploadThis()">Upload</a>
                                    </span>
                                  </div>
                                  <div ng-switch-default>
                                    <img src="common/bootstrap/images/customer_service2.jpg" class="photoPage" alt="" >
                                  </div>
                              </div>
                          </div>  <!-- photobox -->
                          <div ng-switch on="isAuthorized">
                              <div ng-switch-when="Support" class="pMin">
                                  <span e-name='t202' editable-textarea="tabPane.contentOne.textArea" e-rows="10" cols="50" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content" onaftersave="updateThis()">
                                  <pre>{{ tabPane.contentOne.textArea || 'empty' }}  </pre>
                                  </span>
                                  <button class="fa fa-pencil editPencil pull-right" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button>
                              </div>   
                              <div ng-switch-default class="pMin">

                                  <p>{{ tabPane.contentOne.textArea}}</p>
                              </div>
                          </div>
                          <div ng-switch on="isAuthorized">
                              <div ng-switch-when="Publisher">

                                  <h4><span e-name='t201' editable-text="tabPane.contentTwo.titleText" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content" onaftersave="updateThis()"> 
                                  {{ tabPane.contentTwo.titleText || 'empty' }}
                                  </span>
                                  <button class="fa fa-pencil editPencil" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button></h4>
                              </div>
                              <div ng-switch-default >

                                  <h4>{{ tabPane.contentTwo.titleText}}</h4>
                              </div>
                          </div>
                          <div ng-switch on="isAuthorized">
                              <div ng-switch-when="Member" class="pMin">

                                  <span e-name='t202' editable-textarea="tabPane.contentTwo.textArea" e-rows="7" e-cols="40" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content" onaftersave="updateThis()">

                                  <p>{{ tabPane.contentTwo.textArea || 'empty' }}</p>

                                  </span>

                                  <button class="fa fa-pencil editPencil pull-right" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button>
                              </div>
                              <div ng-switch-default class="pMin">

                                  <p>{{tabPane.contentTwo.textArea}}</p>
                              </div>
                          </div>  
                      </div>
                  </div>
                  <div class="col-md-3"> 
                      <div class="well well2">
                          
                            
                          <div ng-switch on="isAuthorized">
                              <div ng-switch-when="Associate" >

                                  <h4><span e-name='t203' editable-text="tabPane.contentThree.titleText" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content" onaftersave="updateThis()">

                                  {{ tabPane.contentThree.titleText || 'empty' }} 

                                  <button class="fa fa-pencil editPencil" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button>         

                                  </span></h4>
                  
                              </div>

                              <div ng-switch-default>

                                  <h4>{{tabPane.contentThree.titleText}}</h4>

                              </div>
                          </div>

                          <div ng-switch on="isAuthorized">
                              <div ng-switch-when="Associate" class="pMin">
                                    
                                  <span e-name='t204' editable-textarea="tabPane.contentThree.textArea" e-rows="7" e-cols="30" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content" onaftersave="updateThis()">

                                  <p>{{ tabPane.contentThree.textArea || 'empty' }}</p> 

                                  </span>

                                  <button class="fa fa-pencil editPencil pull-right" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button>
                                      
                              </div>

                              <div ng-switch-default class="pMin">

                                  <p>{{tabPane.contentThree.textArea}}</p>

                              </div>
                          </div>     
                      </div>   
                  </div>
              <!-- </div>   eod of isAuthorized -->
            </div>  
          </div>

<!-- **** TAB1-3 *********************************** -->
          <div class="tab-pane fade" id="tab1-3" style="min-height:300px;">
            <h1>Blank Template Three</h1>
            <div class="row"> 
              <div class="col-md-12"> 
                <div class="well well2">

                  

                  <h3>Sample Title <a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></h3>

                  <div class="photoBox pull-right">
                    <img src="../../../common/images/customer_service.jpg" class="photoPage" alt="" >
                    <br />
                    <span class="pull-right"><a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></span>
                  </div>

                  <span class="pull-right"><a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></span>
                    <p>Etiam sit amet leo nec nunc auctor convallis vel at est. Aenean at metus id nisl posuere varius. In vel ipsum eu risus iaculis volutpat in ut metus. Integer eget sem eu massa pharetra vehicula ut id elit. Nam sagittis malesuada est, ut tempus diam ultricies eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla urna libero, finibus in metus mollis, aliquam interdum elit. Phasellus at sagittis lectus. Vestibulum scelerisque libero eget efficitur venenatis. Etiam nunc magna, maximus vel vehicula eget, bibendum eu urna. Phasellus quis turpis id lacus mollis dictum. Ut dui elit, efficitur vel orci eu, elementum interdum erat. Cras at leo volutpat, commodo metus in, dictum justo. Cras id vulputate ex. Nullam et aliquet arcu, id elementum magna. Phasellus faucibus sapien at dolor ultrices pellentesque. Sed nec risus vitae orci scelerisque elementum. Nulla ullamcorper ullamcorper luctus.Morbi sed quam nisi. Suspendisse egestas ex ac nibh congue, ac auctor nisl ultrices. Ut a nunc sapien. Aenean vel dui at dui rhoncus blandit aliquet a risus. Fusce facilisis quam et ex pharetra, non fringilla augue dictum. Aenean mi odio, imperdiet eu enim vel, convallis lobortis nibh. In et faucibus purus, quis aliquet dui. Fusce elementum, erat vitae gravida tincidunt, justo lorem maximus leo, a iaculis purus risus sit amet felis. Donec a lorem sagittis massa consequat tristique.</p>

                </div>
                <div class="row"> 
                  <div class="col-md-12"> 
                    <div class="well well2">

                      <h4>Subtitle <a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></h4>
                    
                      <span class="pull-right"><a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></span>
                        <p>Maecenas fermentum justo vel ex tristique suscipit. Ut ultrices efficitur ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec eget tellus mollis, dignissim velit et, tempor arcu. Vivamus a interdum erat, et elementum ligula. Aenean mattis auctor condimentum. Phasellus gravida metus at odio vulputate ultricies. Donec quis mattis tortor. Sed nec risus vitae orci scelerisque elementum. </p>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>  
          </div>


<!-- ******* TAB2-1 *********************************** -->
          <div class="tab-pane fade" id="tab2-1" style="min-height:300px;">
          <h1>Grid One</h1>
            <div class="row"> 
              <div class="col-md-12"> 
                <div class="well well2" style="border:1px solid #999999;padding:8px;">
            
                  <table width="100%" style="border:1px solid #bbbbbb;font-size:12px;">

                    <tr class="messageBar" style="height:23px;">
                      <td class="cent">On/Off</td>
                       <td class="cent">Order</td>
                       <td class="cent">Button</td>
                      <td class="cent">Name</td>
                      <td class="cent">Status</td>
                      <td class="cent">Edit</td>
                      <td class="cent">Del</td>
                    </tr>

                    <tr style="height:23px;padding:2px;background-color:#ccddee;border-bottom:1px solid #bbbbbb;">
                      <td class="cent">ON</td>
                      <td class="cent">1</td>
                      <td class="cent">My Home</td>
                      <td class="cent"><span ng-bind="whichUser()"></span> Home Page</td>
                      <td class="cent">Pub</td>
                      <td class="cent"><a href="#"><i class="fa fa-edit"></i></a></td>
                      <td>&nbsp;</td>
                    </tr>

                    <tr style="height:23px;padding:2px;border-bottom:1px solid #bbbbbb;" class="row-hilite">
                      <td class="cent"><input type="checkbox" name="services" checked></td>
                      <td class="cent">2</td>
                      <td class="cent">Services</td>
                      <td class="cent">My Services</td>
                      <td class="cent">Pub</td>
                      <td class="cent"><a href="#"><i class="fa fa-edit"></i></a></td>
                      <td class="cent"><a href="#"><i class="fa fa-times dltred"></i></a></td>
                    </tr>

                    <tr style="height:23px;background-color:#eeeeee;padding:2px;border-bottom:1px solid #bbbbbb;">
                      <td class="cent"><input type="checkbox" name="services" checked></td>
                      <td class="cent">3</td>
                      <td class="cent">Products</td>
                      <td class="cent">My Products</td>
                      <td class="cent">Pub</td>
                      <td class="cent"><a href="#"><i class="fa fa-edit"></i></a></td>
                      <td class="cent"><a href="#"><i class="fa fa-times dltred"></i></a></td>
                    </tr>

                    <tr style="height:23px;background-color:#ffffff;padding:2px;border-bottom:1px solid #bbbbbb;">
                      <td class="cent"><input type="checkbox" name="services" checked></td>
                      <td class="cent">4</td>
                      <td class="cent">Staff</td>
                      <td class="cent">Staff</td>
                      <td class="cent">Int</td>
                      <td class="cent"><a href="#"><i class="fa fa-edit"></i></a></td>
                      <td class="cent"><a href="#"><i class="fa fa-times dltred"></i></a></td>
                    </tr>

                    <tr style="height:23px;background-color:#eeeeee;padding:2px;border-bottom:1px solid #bbbbbb;">
                      <td class="cent"><input type="checkbox" name="services" checked></td>
                      <td class="cent">5</td>
                      <td class="cent">Map</td>
                      <td class="cent">My Location</td>
                      <td class="cent">Pub</td>
                      <td class="cent"><a href="#"><i class="fa fa-edit"></i></a></td>
                      <td class="cent"><a href="#"><i class="fa fa-times dltred"></i></a></td>
                    </tr>

                    <tr style="height:23px;background-color:#ffffff;padding:2px;border-bottom:1px solid #bbbbbb;">
                      <td class="cent"><input type="checkbox" name="services" checked></td>
                      <td class="cent">6</td>
                      <td class="cent">Projects</td>
                      <td class="cent">My Projects</td>
                      <td class="cent">Pri</td>
                      <td class="cent"><a href="#"><i class="fa fa-edit"></i></a></td>
                      <td class="cent"><a href="#"><i class="fa fa-times dltred"></i></a></td>
                    </tr>

                  </table>

                </div>
              </div>
            </div>
            <div class="row"> 
              <div class="col-md-12"> 
                <div class="well well2">

                  <h3>Information <a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></h3>

                  <span class="pull-right"><a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></span>
                    <p>Phasellus at sagittis lectus. Vestibulum scelerisque libero eget efficitur venenatis. Etiam nunc magna, maximus vel vehicula eget, bibendum eu urna. Phasellus quis turpis id lacus mollis dictum. Ut dui elit, efficitur vel orci eu, elementum interdum erat. Cras at leo volutpat, commodo metus in, dictum justo. Cras id vulputate ex. Nullam et aliquet arcu, id elementum magna. Phasellus faucibus sapien at dolor ultrices pellentesque.</p>
                      
                  </div>
                </div>
              </div>
          </div>


<!-- ******* TAB3-1 *********************************** -->
          <div class="tab-pane fade" id="tab3-1" style="min-height:300px;">
          <h1>My Calendar</h1>
            <div class="row"> 
              <div class="col-md-12"> 
                <div class="well well2" style="border:1px solid #999999;padding:8px;">

                 <!--   TEMP COMMENTED OUT FOR TROUBLE SHOOTING 

                    <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=sj%40middleofnowhere.com&amp;color=%232952A3&amp;ctz=America%2FNew_York" style=" border-width:0 " width="100%" height="600" frameborder="0" scrolling="no"></iframe>
                  -->
                </div>
              </div>
            </div>
            <div class="row"> 
              <div class="col-md-12"> 
                <div class="well well2">

                  <h3>Information <a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></h3>

                  <span class="pull-right"><a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></span>
                    <p>Phasellus at sagittis lectus. Vestibulum scelerisque libero eget efficitur venenatis. Etiam nunc magna, maximus vel vehicula eget, bibendum eu urna. Phasellus quis turpis id lacus mollis dictum. Ut dui elit, efficitur vel orci eu, elementum interdum erat. Cras at leo volutpat, commodo metus in, dictum justo. Cras id vulputate ex. Nullam et aliquet arcu, id elementum magna. Phasellus faucibus sapien at dolor ultrices pellentesque.</p>
                      
                  </div>
                </div>
              </div>
          </div>

<!-- ******* TAB3-2 *********************************** -->
          <div class="tab-pane fade" id="tab3-2" style="min-height:300px;">
          <h1>My Map</h1>
            <div class="row"> 
              <div class="col-md-12"> 
                <div class="well well2 silver" style="border:1px solid #999999;padding:8px;">
                
                  <!--   TEMP COMMENTED OUT FOR TROUBLE SHOOTING   
                    <iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="padding:0px; background:#ffffff; border: 1px solid #999999; -webkit-border-radius:7px; -moz-border-radius:7px; -o-border-radius:7px; " src="https://www.google.com/maps?t=m&amp;sll=35.112417,-83.0978629&amp;sspn=0.0269616,0.0439464&amp;q=Cashiers,+NC&amp;ie=UTF8&amp;hq=&amp;hnear=Cashiers,+North+Carolina&amp;ll=35.111906,-83.099635&amp;spn=0.038826,0.09553&amp;z=14&amp;output=embed"></iframe>
                  --> 
                  
                </div>
              </div>
            </div>
            <div class="row"> 
              <div class="col-md-12"> 
                <div class="well well2">

                  <span class="pull-right"><a href="#">Edit&nbsp;<i class="fa fa-edit"></i></a></span>
                  <h3>Information <a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></h3>

                  <span class="pull-right"><a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></span>
                    <p>Phasellus at sagittis lectus. Vestibulum scelerisque libero eget efficitur venenatis. Etiam nunc magna, maximus vel vehicula eget, bibendum eu urna. Phasellus quis turpis id lacus mollis dictum. Ut dui elit, efficitur vel orci eu, elementum interdum erat. Cras at leo volutpat, commodo metus in, dictum justo. Cras id vulputate ex. Nullam et aliquet arcu, id elementum magna. Phasellus faucibus sapien at dolor ultrices pellentesque.</p>
                      
                  </div>
                </div>
              </div>
          </div>
      </div>


    </div>
   </div>
  </div>
</div>