<div ng-controller="MbrsiteAdminConsoleCtrl" class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well well2 well3">
        <div class="row messageBar">
          <div class="col-md-12">
            <span class="pull-left">&bull; User: <span ng-bind="whichUser()"></span></span>
            <span class="pull-right">&bull; MemberSite Console</span>
          </div>
          <!--<div class="col-md-6" class="pull-right">
            <span style="font-size:16px;font-weight:bold;"><i class="fa fa-mobile"></i>Directed Node Editor</span>
          </div>-->
         

          
        </div> 
        <div class="row">


        <div class="tabsbar tabsbar2">
          
          <ul class="nav nav-pills nav-pills-xs btn-xs">
            <li><a href="#/users/adminhome">Admin Home</a></li>
            <li><a href="users/profile/{{whichUserId()}}#tab0-2" data-toggle="tab">Business Profile</a></li>
            <li style="margin-right:15px;"><a href="users/profile/{{whichUserId()}}#tab1-9" data-toggle="tab">Page Manager</a></li>
            <li class="active"><a href="users/profile/{{whichUserId()}}#tab0-1" data-toggle="tab">My Home</a></li>
            
                  <!--<li><a href="users/profile/{{whichUserId()}}#tab2-7" data-toggle="tab">Connections</a></li>
                  
                  <li><a href="users/profile/{{whichUserId()}}#tab3-7" data-toggle="tab">User List</a></li>-->

                  <!--<li><a href="users/profile/{{whichUserId()}}#tab4-7" data-toggle="tab">More Stuff</a></li>-->
                  <!--<li class="glyphicons cart_in rcs2"><a href="#users/profile/{{whichUserId()}}#tab5-7" data-toggle="tab"><i></i>d3 Angular</a></li>-->
                  <!--<li><a href="users/profile/{{whichUserId()}}#tab6-7" data-toggle="tab">Directed Node Editor</a></li>-->
                  
                  <!--<li><a href="users/profile/{{whichUserId()}}#tab7-7" data-toggle="tab">Force Node Editor</a></li>-->

            <li><a href="users/profile/{{whichUserId()}}#tab1-1" data-toggle="tab">Blank 1</a></li>

            <li><a href="users/profile/{{whichUserId()}}#tab1-2" data-toggle="tab">Blank 2</a></li>

            <li><a href="users/profile/{{whichUserId()}}#tab1-3" data-toggle="tab">Blank 3</a></li>

            <li><a href="users/profile/{{whichUserId()}}#tab2-1" data-toggle="tab">Grid 1</a></li>

            <li><a href="users/profile/{{whichUserId()}}#tab3-1" data-toggle="tab">Calendar</a></li>

            <li><a href="users/profile/{{whichUserId()}}#tab3-2" data-toggle="tab">Google Map</a></li>

          </ul>
               <!-- // #users/profile/{{whichUserId()}}# -->
        </div>
      </div>   
      <div class="tab-content" style="margin-top:15px;">
        
<!-- ******** TAB0-1 ********************************* -->
        <div class="tab-pane active fade in" id="tab0-1" >
          <h1><span ng-bind="whichUser()"></span> Home Page</h1>
          
          <div  ng-controller="MbrsiteAdminProfileCtrl" class="row"> 
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="well well2">
                <img src="../../../common/images/homepage-photo3.jpg" class="homepage-photo" alt="" >
                
                <br />
                <div class="row" style="margin-top:20px;">
                  <div class="col-md-8 col-sm-7 col-xs-12">

                    <h3>Business Name Here</h3>

                    <span class="pull-right"><a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></span>
                    <p>Aenean mattis auctor condimentum. Phasellus gravida metus at odio vulputate ultricies. Donec quis mattis tortor. Sed nec risus vitae orci scelerisque elementum. Hasellus gravida metus at odio vulputate. Etiam sit amet leo nec nunc auctor convallis vel at est. Aenean at metus id nisl posuere varius. In vel ipsum eu risus iaculis volutpat in ut metus. Integer eget sem eu massa pharetra vehicula ut id elit. Nam sagittis malesuada est, ut tempus diam ultricies eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla urna libero, finibus in metus mollis, aliquam interdum elit. Phasellus at sagittis lectus. Vestibulum scelerisque libero eget efficitur venenatis. Etiam nunc magna, maximus vel vehicula eget, bibendum eu urna. Phasellus quis turpis id lacus mollis dictum. Ut dui elit, efficitur vel orci eu, elementum interdum erat. Cras at leo volutpat, commodo metus in, dictum justo. Cras id vulputate ex. Nullam et aliquet arcu, id elementum magna. Phasellus faucibus sapien at dolor ultrices pellentesque.</p>
                  </div>

                  <div class="col-md-4 col-sm-5 col-xs-12"> 
                    <div class="well">
                      <div>
                          
                          <button class="btn btn-primary wide rcs" style="margin-bottom:10px;">Visit Our Website</button>
                          <button class="btn btn-primary wide rcs" style="margin-bottom:10px;">Send Us An Email</button>
                          
                      </div>

                      <h4><span ng-bind="whichUser()"></span></h4>
                      <form name="myForm">
                        
                        <div><input type="hidden" ng-model="user._id"> </div>
                        
                        <div>Address</span></div>
                        <div>Address2</div>
                        <div>City</div>
                        <div>State Zip</div>
                        <div style="margin-top:20px;font-weight:bold;">Phone</div>


                       <!--<div> <input type="text" ng-model="user.firstName">&nbsp;&nbsp;&nbsp;<label>First Name</label> </div>
                        <div> <input type="text" ng-model="user.lastName" >&nbsp;&nbsp;&nbsp;<label>Last Name</label> </div>
                        <div> <input type="text" ng-model="user.street" >&nbsp;&nbsp;&nbsp;<label>Street</label> </div>
                        <div> <input type="text" ng-model="user.street2" >&nbsp;&nbsp;&nbsp;<label>Street 2</label> </div>
                        <div> <input type="text" ng-model="user.city" >&nbsp;&nbsp;&nbsp;<label>City</label> </div>
                        <div> <input type="text" ng-model="user.state" >&nbsp;&nbsp;&nbsp;<label>State</label> </div>
                        <div> <input type="text" ng-model="user.zipcode" >&nbsp;&nbsp;&nbsp;<label>Zip Code</label> </div>
                        <div> <input type="text" ng-model="user.contactphone" >&nbsp;&nbsp;&nbsp;<label>Contact Phone</label> </div>
                        <div> <input type="text" ng-model="user.mobilephone" >&nbsp;&nbsp;&nbsp;<label>Mobile Phone</label> </div>
                        <div> <input type="text" ng-model="user.email" >&nbsp;&nbsp;&nbsp;<label>Email</label> </div>
                        <div> <input type="text" ng-model="user.bioinfo" >&nbsp;&nbsp;&nbsp;<label>Bio Info</label> </div>
                        <div> <input type="text" ng-model="user.website" >&nbsp;&nbsp;&nbsp;<label>Web Site</label> </div>
                        <div> <input type="text" ng-model="user.userRole">&nbsp;&nbsp;&nbsp;<label>User Role </label> </div>
                        <div> <input type="text" ng-model="user.providerId">&nbsp;&nbsp;&nbsp;<label>Provider ID</label> </div>
                        <br /><br />
                        <button class="btn btn-primary rcs" ng-click="cancel()" >Cancel</button>
                        <button class="btn btn-success rcs" ng-click="save()" >Update</button>
                        <button class="btn btn-danger rcs" ng-hide="{{whichUserNotMe(user._id)}}"  ng-click="delete()" >Delete</button>-->
                      </form>
                    </div> 
                  </div>


                </div>
              </div>  
            </div>
          
          
        </div >
        
        </div>

<!-- ******* TAB0-2 *********************************** -->
    <div class="tab-pane fade" id="tab0-2" style="min-height:300px;">
        <h1>Business Profile</h1>
        <div class="well well2">
            <h4><i class="fa fa-user"></i> Business Information</h4>
            <p>Business information here will be displayed on your Home Page and Search results. The Description/Keywords field is for adding keywords to improve search results.</p>
            <br />
           
            <div class="row"  ng-controller="MbrsiteAdminProfileCtrl"  >

              <form editable-form name="mbrProfileEditForm" action="#tab3-5"  ng-init="getMbrsite( 'Profile')" >
                <div class="row" >
                 <ng-include src="'component/partials/mbrsite-admin-category.html'"></ng-include>    
                </div> 
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="pad">
                        <input type="text" ng-model="bizEditItem.name" required placeholder="Business name">&nbsp;&nbsp;&nbsp;<label>Name *</label>
                    </div>

                    <div class="pad">
                        <input type="text" ng-model="bizEditItem.street" placeholder="Address">&nbsp;&nbsp;&nbsp;<label>Address *</label>
                    </div>

                    <div class="pad">
                        <input type="text" ng-model="bizEditItem.street2" placeholder="Address 2">&nbsp;&nbsp;&nbsp;<label>Address 2</label>
                    </div>

                    <div class="pad">
                        <input type="text" ng-model="bizEditItem.city" placeholder="City"></input>&nbsp;&nbsp;&nbsp;<label>City *</label>
                    </div class="pad">

                    <div class="pad">
                        <input type="text" ng-model="bizEditItem.state" placeholder="State">&nbsp;&nbsp;&nbsp;<label>State *</label>
                    </div>

                    <div class="pad">
                        <input type="text" ng-model="bizEditItem.zipCode" placeholder="Zip Code">&nbsp;&nbsp;&nbsp;<label>Zip Code *</label>
                    </div>

                    <div class="pad">
                        <input type="text" ng-model="bizEditItem.phone" placeholder="Phone">&nbsp;&nbsp;&nbsp;<label>Phone *</label>
                    </div>

                    <div class="pad">
                        <input type="text" ng-model="bizEditItem.fax">&nbsp;&nbsp;&nbsp;<label>Fax</label>
                    </div>
                  </div>


                <div class="col-md-6 col-sm-6 col-xs-12">
                  
                  <div class="pad">
                      <input type="text" ng-model="bizEditItem.website">&nbsp;&nbsp;&nbsp;<label>Website</label>
                  </div>

                  <div class="pad">
                      <input type="text" ng-model="bizEditItem.identityId">&nbsp;&nbsp;&nbsp;<label>Indentity ID</label>
                  </div>

                  <div class="pad">
                      <textarea class="tArea" ng-model="bizEditItem.description"></textarea>
                      <br />
                      <label>Description / Keywords</label>
                  </div>
                  
                  
                  <div style="margin-top:25px;">
                      <!-- <span class="pad"><button ng-click="clear()" class="btn btn-primary rcs"  >Clear</button> </span> 
                      <span class="pad"><button class="btn btn-success rcs"  type="submit" >Save</button></span> -->
                        <button type="button" class="btn btn-primary rcs" ng-click="mbrProfileEditForm.$show()" ng-hide="mbrProfileEditForm.$visible">
                               Edit
                        </button>
                        <span ng-show="mbrProfileEditForm.$visible">
                          <!-- ng-click="cancel()" -->
                          <button  type="button" class="btn btn-primary rcs" ng-disabled="mbrProfileEditForm.$waiting" ng-click="mbrProfileEditForm.$cancel()">
                            Cancel
                          </button>
                          <button ng-click="save()" type="submit" class="btn btn-success rcs" ng-disabled="mbrProfileEditForm.$waiting">
                            Update
                          </button>
                        </span>  
                    </div>
                </div>
            </form>   
          </div>
                         
      </div> 
    </div>
       
<!-- ******* TAB1-9 *********************************** -->
        <div class="tab-pane fade" id="tab1-9" style="min-height:300px;">
          <h1>Page Manager</h1>
            <div class="row"> 
            <div class="col-md-12"> 
              <!--<div class="well well2">-->
                




          <div id="pageMgrAdd" class="collapse">
              <div class="row" style="margin-bottom:15px;"> 
                 
                <div class="col-md-12">
                  <a class="btn btn-primary btn-sm rcs pull-right" data-toggle="collapse" data-target="#pageMgrAdd">Close&nbsp;<i class="fa fa-times"></i></a>
                  <h4>Add New Page </h4>
                  <div class-"row">

                    <div class="col-md-6 col-sm-5 col-xs-12">
                      <div class="subSubR">Default New Page Status: Private/Off</div>
                      <div class="subSub">1. Select Page Template</div>
                      <br />
                      

                      <ul style="list-style-type:none; margin-left:0px;">
                        <li style="display:inline-block;width:100px;margin-bottom:7px;"><input type="radio" name="layout"><img src="common/images/template1.png" class="rcs" alt="" /></li>
                        <li style="display:inline-block;width:100px;margin-bottom:7px;"><input type="radio" name="layout"><img src="common/images/template2.png" class="rcs" alt="" /></li>

                        <li style="display:inline-block;width:100px;margin-bottom:7px;"><input type="radio" name="layout"><img src="common/images/templateMap.png" class="rcs" alt="" /></li>

                        <li style="display:inline-block;width:100px;margin-bottom:7px;"><input type="radio" name="layout"><img src="common/images/templateCalendar.png" class="rcs" alt="" /></li>
                      </ul>
                    </div>

                    <div class="col-md-6 col-sm-7 col-xs-12">
                      
                      
                      <div class="subSub">2. Set Button Name and Page Name</div>
                      <div class="pad" style="margin-bottom:10px;margin-top:15px;"><input type="text" ng-model="usersEditItem.buttonName" >&nbsp;<label>New Button Name</label><br /></div>
                      <div class="pad" style="margin-bottom:20px;"><input type="text" ng-model="usersEditItem.pageTitle" >&nbsp;<label>New Page Title</label><br /></div>
                      <div class="pad">

                      <button data-toggle="collapse" data-target="#pageMgrAdd" class="btn btn-success rcs" ng-click="save()" >Create New Page</button>
                      <button data-toggle="collapse" data-target="#pageMgrAdd" class="btn btn-primary rcs" ng-click="cancel()" >Cancel</button>
                    </div>
                    </div>

                  </div>

              </div>
            </div>
                
            
            </div>

            <div id="pageMgrHelp" class="collapse" style="margin-top:15px;">
              <div class="row"> 
                <div class="col-md-12"> 
                <div class="well">
                  <a class="btn btn-primary btn-sm rcs pull-right" data-toggle="collapse" data-target="#pageMgrHelp">Close&nbsp;<i class="fa fa-times"></i></a>
                <h4>Page Manager Help </h4>
                  <p>Cashiers, a beautiful village in western North Carolina known as "The Heart Of The Blue Ridge Mountains", is located in the southern end of Jackson County. Sitting at 3,487 feet in elevation at the crossroads of Highways 107 and 64, there is a little bit of everything here to enjoy for native families, visitors, and part-time residents alike. Our singularly unique geography boasts hundreds of waterfalls, quiet lakes, stone mountains and amazingly beautiful forests.</p>

                </div>
                </div>
              </div>
            </div>

                <div style="height:40px;">
                  <span class="pull-right">
                    <!--&nbsp;<a class="btn btn-primary btn-sm rcs pull-right" data-toggle="collapse" data-target="#pageMgrHelp">Help&nbsp;<i class="fa fa-question"></i></a>&nbsp;-->
                    <a class="btn btn-primary btn-sm rcs pull-right" data-toggle="collapse" data-target="#pageMgrAdd">Add Page&nbsp;<i class="fa fa-plus"></i></a>&nbsp;
                  </span>
                </div>


                      <div class="row well well5" style="margin-bottom:5px;">

                          <div class="col-md-4 col-sm-4 col-xs-12 pad bolder">
                              Page Name: Home Page
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                              Button Name: Home
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                              Template Name: Home
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                              <span class="pull-left">Always On</span>
                          </div>
                         
                          <div class="col-md-4 col-sm-4 col-xs-6 pad">               
                              Publish Status: Public
                         </div>
                          
                          <div class="col-md-4 col-sm-4 col-xs-6 pad">
                            <span class="pull-right"><button class="btn btn-primary btn-sm rcs">Edit</button>
                            </span>
                          </div>

                      </div>


                      <div class="row well well5" style="margin-bottom:5px;">

                          <div class="col-md-4 col-sm-4 col-xs-12 pad bolder">
                              Page Name: My Page
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                              Button Name: Home
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                              Template Name: 2
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                              <span class="pull-left"><input type="checkbox" name="services" checked > On</span>
                          </div>
                         
                          <div class="col-md-4 col-sm-4 col-xs-6 pad">
                            <div class="dropdown">
                              <button class="btn btn-primary btn-sm rcs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                  Select Publish Status
                                  <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Public</a></li>
                                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Internal Only</a></li>
                                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Private</a></li>
                                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Inactive</a></li>
                              </ul>
                            </div>
                         </div>
                          
                          <div class="col-md-4 col-sm-4 col-xs-6 pad">
                            <span class="pull-right"><button class="btn btn-primary btn-sm rcs">Edit</button>
                            <button class="btn btn-danger btn-sm rcs">Del</button></span>
                          </div>

                      </div>


                      <div class="row well well5" style="margin-bottom:5px;">

                          <div class="col-md-4 col-sm-4 col-xs-12 pad bolder">
                              Page Name: Fun Page
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                              Button Name: Page 2
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                              Template Name: 2
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12 pad">
                              <span class="pull-left"><input type="checkbox" name="services" checked > On</span>
                          </div>
                         
                          <div class="col-md-4 col-sm-4 col-xs-6 pad">
                            <div class="dropdown">
                              <button class="btn btn-primary btn-sm rcs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                  Select Publish Status
                                  <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Public</a></li>
                                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Internal Only</a></li>
                                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Private</a></li>
                                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Inactive</a></li>
                              </ul>
                            </div>
                         </div>
                          
                          <div class="col-md-4 col-sm-4 col-xs-6 pad">
                            <span class="pull-right"><button class="btn btn-primary btn-sm rcs">Edit</button>
                            <button class="btn btn-danger btn-sm rcs">Del</button></span>
                          </div>

                      </div>
              
            </div>
          </div>  
        </div>

        <!-- ******** TAB2-7 ********************************* -->
        <div class="tab-pane fade" id="tab2-7" >
            <h1>Connections</h1>
            <div class="row"> 
              <div class="col-md-12">
                <div class="well well2">
                  <h4>My Connections</h4>
                  <!-- <div class="well well2"> -->
                    <input type="text" ng-model="searchConnect" class="search-query" placeholder="Searchconnect">
                    <br>
                    <table>
                        <thead>
                        <tr>
                          <th></th>
                          <th></th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th></th>
                          <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="connected in connections | filter:searchConnect | orderBy:connected.firstName">
                          <td ><span ng-bind="connected._id"></span></td>
                          <td ><span ng-bind="connected.keyId"></span></td>
                          <td><span ng-bind="connected.firstName"></span></td>
                          <td><span ng-bind="connected.lastName"></span></td>
                          <td><input type="button" value="Drop" ng-click="dropConnection($index)"></td>
                          <td> </td>

                        </tr>
                        </tbody>
                      </table>
                  <!-- </div> -->
                </div> 
    
                <div class="well well2">
                  <h4>Make A New Connection</h4>
                  <div  ng-controller="UsersOthersConnectPageCtrl"  class="userpaging-controller">
                    <div class="row">
                      <div class="col-xs-6" >
                         <label>lastName </label><input type="text" id="fetchLastName" class="form-control" ng-model="fetchBy.fetchLastName" placeholder="Last Name" >
                         <label> First Name</label><input type="text" id="fetchFirstName" class="form-control" ng-model="fetchBy.fetchFirstName" placeholder="First Name" >
                         <input type="button" value="Fetch" ng-click="pageChanged()"></div> 
                      <div class="col-xs-6"> Page: {{ currentPage }} of {{othersTotalPossible}}
                      <!-- <div class="col-xs-4">  <label for="search">Search:</label>           <input ng-model="q" id="search" class="form-control" placeholder="Filter text">   </div> -->
                      <label for="search"> per page:</label><input type="number" min="1" max="100" class="form-control" ng-model="pageSize"> </div>
                      
                    </div>
                    <div class="row">
                         <div class="col-xs-6" >
                          <table>
                            <thead>
                              <tr>
                                  <th></th>
                                  <th></th>
                                  <th>First Name</th>
                                  <th>Last Name</th>
                                  <th></th>
                                  
                                  
                              </tr>
                            </thead>
                            <tbody>
                              <!-- | filter:q  -->
                              <tr dir-paginate="other in others |  itemsPerPage: pageSize: 'othersSelect'" total-items="othersTotalPossible" current-page="currentPage" pagination-id="othersSelect" >
                                <td ><span ng-bind="other._id"></span></td>
                                <td ><span ng-bind="other.keyId"></span></td>
                                <td><span ng-bind="other.firstName"></span></td>
                                <td><span ng-bind="other.lastName"></span></td>
                                <td><input type="button" value="Connect" ng-click="addConnection($index)"></td>
                              </tr> 

                            </tbody>
                          </table>
                        </div>
                      </div>      
                    <div   class="userpaging-controller">                              
                      <div class="text-center">
                           <dir-pagination-controls pagination-id="othersSelect" boundary-links="true" on-page-change="pageChanged()" template-url="common/partials/dirPagination.html"></dir-pagination-controls>
                           paging controller others list
                      </div>
                                                            
                    </div>        
                  </div>
                </div> 
              </div>
            </div >
          </div>  


        <!-- ******* TAB3-7 *********************************** -->
        <!--         <div class="tab-content" style="margin-top:40px;"> -->
        <div class="tab-pane fade" id="tab3-7">
          <h1>User List</h1>
          <div class="row"> 
            <div ng-controller="UsersListPageCtrl" class="col-md-12"> 
            <!-- <div class="col-md-6"> -->
              <div class="col-md-8 well well2">
                  <h4>List</h4>
                  <!-- ***** UsersListPageCtrl ******************* -->
                  <div    class="userpaging-controller">  <!-- ng-controller="UsersListPageCtrl" -->
                    <div class="row">
                      <div class="col-xs-6" >
                           <label>lastName </label><input type="text" id="fetchLastName" class="form-control" ng-model="fetchBy.fetchLastName" placeholder="Last Name" >
                           <label> First Name</label><input type="text" id="fetchFirstName" class="form-control" ng-model="fetchBy.fetchFirstName" placeholder="First Name" >
                           <input type="button" value="Fetch" ng-click="fetchPage()">
                      </div> 
                      <div class="col-xs-6" > Page: {{ currentPage }} of {{othersTotalPossible}}    
                         <label for="search"> per page:</label><input type="number" min="1" max="100" class="form-control" ng-model="pageSize">    
                      </div>
                            
                    </div>
                    <div class="row">
                       <div class="col-xs-6" >
                          <table>
                            <thead>
                              <tr>
                                  <th></th>
                                  <th></th>
                                  <th>First Name</th>
                                  <th>Last Name</th>
                                  <th></th>
                                  <th></th>
                              </tr>
                            </thead>
                            <tbody>
                             
                              <tr dir-paginate="usersListItem in usersList |  itemsPerPage: pageSize: 'usersListSelect'" total-items="usersTotalPossible" current-page="currentPage" pagination-id="usersListSelect" >
                                <td ><span ng-bind="usersListItem._id"></span></td>
                                <td ><span ng-bind="usersListItem.keyId"></span></td>
                                <td><span ng-bind="usersListItem.firstName"></span></td>
                                <td><span ng-bind="usersListItem.lastName"></span></td>
                                <td><input type="button" value="Delete" ng-click="delete($index)"></td>
                                <td><!-- <a href="#/users/edit/{{usersListItem._id}}">Show</a> -->
                                  <input type="button" value="Show" ng-click="getSelectedUser( $index )"></td>
                              </tr> 

                            </tbody>
                          </table>
                        </div>
                    </div>    
                    <div   class="userpaging-controller">                              
                        <div class="text-center">
                             <dir-pagination-controls pagination-id="usersListSelect" boundary-links="true" on-page-change="fetchPage()" template-url="common/partials/dirPagination.html"></dir-pagination-controls>
                              paging controller users list
                        </div>
                                                              
                    </div>        
                  </div>    
                  <!-- ****** end of UsersListPageCtrl ***************************** -->  
                </div>  
                <div class="col-md-4  well well2">
                    <!-- <div class="well well2"> -->
                      <h4>Edit</h4>
                       <div  ng-controller="UsersEditCtrl">  <!-- ng-controller="UsersEditCtrl" -->
                          <!-- <div class="row"> -->
                             <!-- <div class="col-xs-6" > -->
                                   <form editable-form name="userEditForm" action="#tab3-5" > 
                                      <div> <input type="hidden" ng-model="usersEditItem._id"> </div>
                                      <div> <label>First Name</label> <input type="text" ng-model="usersEditItem.firstName"> </div>
                                      <div> <label>Last Name</label>  <input type="text" ng-model="usersEditItem.lastName" > </div>
                                      <div> <label>Street</label>     <input type="text" editable-text="usersEditItem.street" value='{{ usersEditItem.street || "empty" }}' ng-model="usersEditItem.street" >  </div>
                                      <div> <label>Street 2</label>     <input type="text" editable-text="usersEditItem.street2" value='{{ usersEditItem.street2 || "empty" }}' ng-model="usersEditItem.street2" >  </div>
                                      <!-- <div> <label>Street 2</label>   <input type="text" ng-model="usersEditItem.street2" >  </div> -->
                                      <div> <label>City</label>       <input type="text" ng-model="usersEditItem.city" >     </div>
                                      <div> <label>State</label>      <input type="text" ng-model="usersEditItem.state" >    </div>
                                      <div> <label>Zip Code</label>   <input type="text" ng-model="usersEditItem.zipcode" >  </div>
                                      <div> <label>Contact Phone</label>  <input type="text" ng-model="usersEditItem.contactphone" > </div>
                                      <div> <label>Mobile Phone</label>   <input type="text" ng-model="usersEditItem.mobilephone" > </div>
                                      <div> <label>Email</label>          <input type="text" ng-model="usersEditItem.email" >  </div>
                                      <div> <label>Bio Info</label>       <input type="text" ng-model="usersEditItem.bioinfo" >  </div>
                                      <!-- <div> <label>Bio Info</label>       <input type="text" editable-text="usersEditItem.bioinfo" value='{{ usersEditItem.bioinfo || "empty" }}' ng-model="usersEditItem.bioinfo" >  </div> -->
                                      <div> <label>Web Site</label>       <input type="text" ng-model="usersEditItem.website" >  </div>
                                      <div> <label>User Role </label>     <input type="text" ng-model="usersEditItem.userRole"> </div>
                                      <div> <label>ProviderId</label>     <input type="text" ng-model="usersEditItem.providerId">  </div>
                                       <div> <label>First Name</label> <input type="text" editable-text="xuser.name" value='{{ xuser.name || "empty" }}'> </div> 
                                      <!-- <span><button ng-click="cancel()" >Cancel</button></span>
                                      <span><button ng-click="save()" >Update</button></span> -->

                                     
                                   
                                      <button type="button" class="btn btn-default" ng-click="userEditForm.$show()" ng-hide="userEditForm.$visible">
                                           edit
                                      </button>
                                      <span ng-show="userEditForm.$visible">
                                        <!-- ng-click="cancel()" -->
                                        <button  type="button" class="btn btn-default" ng-disabled="userEditForm.$waiting" ng-click="userEditForm.$cancel()">
                                          Cancel
                                        </button>
                                        <button ng-click="save()" type="submit" class="btn btn-primary" ng-disabled="userEditForm.$waiting">
                                          Update
                                        </button>
                                        <span >
                                            <button ng-hide="{{whichUserNotMe(user._id)}}"  ng-click="delete()" >Delete</button>
                                        </span>
                                      
                                    </span>
                                </form>
                                <br>

                            <!--  </div> -->
                          <!-- </div> -->
                        </div>      
                   <!--  </div>    -->
                 <!--  </div> -->
                </div>  
              </div>
                
            <!-- </div> -->
          </div>    
        </div>  
        <!-- ******* TAB4-7 *********************************** -->


        <div class="tab-pane fade" id="tab4-7" style="min-height:300px;">
              <h4>List</h4>
              <div ng-controller="UsersListPageCtrl" class="col-md-12">
                <!-- ***** UsersListPageCtrl ******************* -->
                <div   class="userpaging-controller">

                    <div class="row">
                      <div class="col-xs-6" >
                           <label>lastName </label><input type="text" id="fetchLastName" class="form-control" ng-model="fetchBy.fetchLastName" placeholder="Last Name" >
                           <label> First Name</label><input type="text" id="fetchFirstName" class="form-control" ng-model="fetchBy.fetchFirstName" placeholder="First Name" >
                           <input type="button" value="Fetch" ng-click="fetchPage()">
                      </div> 
                      <div class="col-xs-6" > Page: {{ currentPage }} of {{othersTotalPossible}}    
                         <label for="search"> per page:</label><input type="number" min="1" max="100" class="form-control" ng-model="pageSize">    
                      </div>
                            
                    </div>
                    <div class="row">
                       <div class="col-xs-6" >
                          <table>
                            <thead>
                              <tr>
                                  <th></th>
                                  <th></th>
                                  <th>First Name</th>
                                  <th>Last Name</th>
                                  <th></th>
                                  <th></th>
                              </tr>
                            </thead>
                            <tbody>
                             
                              <tr dir-paginate="usersListItem in usersList |  itemsPerPage: pageSize: 'user2ListSelect'" total-items="usersTotalPossible" current-page="currentPage" pagination-id="user2ListSelect" >
                                <td ><span ng-bind="usersListItem._id"></span></td>
                                <td ><span ng-bind="usersListItem.keyId"></span></td>
                                <td><span ng-bind="usersListItem.firstName"></span></td>
                                <td><span ng-bind="usersListItem.lastName"></span></td>
                                <td><input type="button" value="Delete" ng-click="delete($index)"></td>
                                <td><!-- <a href="#/users/edit/{{usersListItem._id}}">Show</a> -->
                                         <!-- <input type="button" value="Show" ng-click="getSelectedUser( $index )"> -->
                                    <button ng-click="toggleModal()" class="btn btn-default">Show</button> </td>
                              </tr> 

                            </tbody>
                          </table>
                        </div>
                    </div>    
                    <div   class="userpaging-controller">                              
                        <div class="text-center">
                             <dir-pagination-controls pagination-id="user2ListSelect" boundary-links="true" on-page-change="fetchPage()" template-url="common/partials/dirPagination.html"></dir-pagination-controls>
                              paging controller users list
                        </div>
                                                              
                    </div>        
                </div>
                <!-- ****** end of UsersListPageCtrl ***************************** --> 

                <!-- begin user profile edit ctrl --> 
                <!-- <div ng-controller="UsersEditableCtrl" class="container"> -->
                <div class="container">   
                <!-- <button ng-click="toggleModal()" class="btn btn-default">Open modal</button> -->
                  
                  <userprofileedit title="Login form" visible="showModal">
                    <form role="form">
                      <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email" />
                      </div>
                      <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" />
                      </div>
                      <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                  </userprofileedit>
               </div>

            </div>

        </div>
          
        
        <!-- ******* TAB6-7 *********************************** -->
        <div class="tab-pane fade" id="tab6-7" style="min-height:300px;">
              <h1>Directed Node Editor</h1>
               <div style="margin-bottom:20px"><span>Click in the open space to add a node. Drag from one node to another to add a connector. 
                Ctrl-drag a node to move the graph layout. Click a node or a connector to select it.
                When a node is selected: R toggles reflexivity, Delete removes the node. 
                When a connector is selected: L(eft), R(ight), B(oth) changes direction of marker, Delete removes
                the connector.</span>
              </div>
              
              <div class="well2" id="dnework" ng-controller="D3DirectedNodeCtrl" style="margin-bottom:3px;padding-top:5px;" >
                  <div class="row well2 rcs" style="margin-bottom:3px;padding-top:5px;" >  
                    <div> 
                      <ul><li ng-repeat="list in qrylists" class="dropdown" >
                          <a  ng-class="{'dropdown-toggle': list.qrylists}" data-toggle="dropdown">{{list.title}}<span class="caret"></span></a>
                          <ul ng-if="list.qrylists" class="dropdown-menu">
                              <li ng-repeat="list in list.qrylists" ng-class="{'dropdown-toggle': list.qrylists}">{{list.action}} {{list.title}}</{{list.eofaction}}></li>
                        </ul>
                      <!-- </li> --> 
                      &nbsp;
                      <!-- li class="dropdown rcs" > -->
                      <button type="submit" class="btn btn-default btn-sm " ng-click='dneGetConnections()'>my Connections</button>
                      &nbsp;  <input type='button' ng-click='dneGetLocalConnections()' value='my Connections'> 
                     </li></ul>  
                    </div> 
                  </div>  
                  <div class="row" style="margin-bottom:3px" >
                    <!-- content --> 
                     <d3-directednodeditor data="dnedata" > </d3-directednodeditor>
              </div > 
                           
              </div > 
                     
        </div>

         <!-- ******* TAB7-7 *********************************** -->
        <div class="tab-pane fade" id="tab7-7" style="min-height:300px;">
              <h1>Force Node Editor</h1>
              <h1 style="margin-bottom: 20px"></h1>
              <div> hello Node Editor top</div> 

                    
                        <div class="container">
                          <div class="row">
                            <div class="col-md-12"  ng-controller="D3NodeEditCtrl" >
                              
                               <span>{{title}}</span>
                                <!-- /* <div class="content">
                                <div id="surface" > </div>
                                </div>  /* content */
                                <d3-nodeditor data="d3Nodes" > </d3-nodeditor> --> 
                                       
                            </div>  
                          </div>
                             
                        </div>
                      

                      
                     <!-- <script type="text/javascript">
                          </script> -->
                   



              <div>hello Node Editor bottom</div> 
              
        </div>

<!-- ******* TAB1-1 *********************************** -->
        <div class="tab-pane fade" id="tab1-1" style="min-height:300px;">
          <h1>Blank Template One</h1>
            <div class="row"> 
              <div class="col-md-12"> 
                <div class="well well2">
                  
                  <h3>Sample Title <a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></h3>

                  <div class="photoBox pull-right">
                    <img src="../../../common/images/customer_service.jpg" class="photoPage" alt="" >
                    <br />
                    <span class="pull-right"><a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></span>
                  </div>

                  <span class="pull-right"><a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></span>
                    <p>Etiam sit amet leo nec nunc auctor convallis vel at est. Aenean at metus id nisl posuere varius. In vel ipsum eu risus iaculis volutpat in ut metus. Integer eget sem eu massa pharetra vehicula ut id elit. Nam sagittis malesuada est, ut tempus diam ultricies eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla urna libero, finibus in metus mollis, aliquam interdum elit. Phasellus at sagittis lectus. Vestibulum scelerisque libero eget efficitur venenatis. Etiam nunc magna, maximus vel vehicula eget, bibendum eu urna. Phasellus quis turpis id lacus mollis dictum. Ut dui elit, efficitur vel orci eu, elementum interdum erat. Cras at leo volutpat, commodo metus in, dictum justo. Cras id vulputate ex. Nullam et aliquet arcu, id elementum magna. Phasellus faucibus sapien at dolor ultrices pellentesque. Integer eget sem eu massa pharetra vehicula ut id elit. Nam sagittis malesuada est, ut tempus diam ultricies eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla urna libero, finibus in metus mollis, aliquam interdum elit. Phasellus at sagittis lectus. Vestibulum scelerisque libero eget efficitur venenatis. Etiam nunc magna, maximus vel vehicula eget, bibendum eu urna.</p>

                  <h4>Subtitle <a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></h4>

                  <span class="pull-right"><a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></span>
                    <p>Donec blandit suscipit ante, quis viverra urna ornare vitae. Vestibulum dolor ligula, scelerisque at lectus in, suscipit lobortis enim. Nunc at mattis sapien, quis mollis dolor. Donec blandit diam velit, quis pellentesque ante lobortis a. Aliquam et diam eget nibh tempus vulputate non ut tellus. Mauris sagittis vehicula dapibus. Maecenas quam libero, luctus eu maximus eget, dictum in leo. Nunc in metus tellus. In lacinia varius sem vitae venenatis. Aenean mi odio, imperdiet eu enim vel, convallis lobortis nibh. In et faucibus purus, quis aliquet dui.</p>

                </div>
              </div> 
            </div>   
        </div>

        <!-- ******* TAB1-2 *********************************** -->
        <div class="tab-pane fade" id="tab1-2" style="min-height:300px;" >
          <h1>Blank Template Two</h1> <!-- ng-options="item for item in items" -->
          <div class="row" ng-controller="b2TabPaneContent">  
                 
                <select ng-model = "isAuthorized"  ng-options="item for item in items">  </select>
                  <tt> choice= ({{ isAuthorized }}</tt> {{items}} 
                  
                  <div class="col-md-9"> 
                      <div class="well well2" >



                          <div ng-switch on="isAuthorized">
                              <div ng-switch-when="Sysadmin">
                                     
                                  <h3><span e-name='t201' editable-text="tmpl.titleone" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content" onaftersave="updateThis()">

                                    {{ tmpl.titleone || 'empty' }}

                                  </span>
                                  <button class="fa fa-pencil editPencil" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button></h3>
                                        
                              </div>
                              <div ng-switch-default>
                                 <h3>{{tmpl.titleone}}</h3>
                              </div>
                          </div>
                          <div class="photoBox2 pull-right">
                              <div ng-switch on="isAuthorized">
                                  <div ng-switch-when="{{isOK}}" >
                                    <img src="common/bootstrap/images/customer_service2.jpg" class="photoPage" alt="" >
                                    <input class="bottom-marg-15" type="file" name="file" file></input> 
                                    <span class="pull-right">                        
                                      <a class="btn btn-primary rcs" ng-click="uploadThis()">Upload</a>
                                    </span>
                                  </div>
                                  <div ng-switch-default>
                                    <img src="common/bootstrap/images/customer_service2.jpg" class="photoPage" alt="" >
                                  </div>
                              </div>
                          </div>  <!-- photobox -->
                          <div ng-switch on="isAuthorized">
                              <div ng-switch-when="Sysadmin" class="pMin">
                                  <span e-name='t202' editable-textarea="tmpl.spanone" e-rows="10" cols="50" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content" onaftersave="updateThis()">
                                  <p>{{ tmpl.spanone || 'empty' }}</p>
                                  </span>
                                  <button class="fa fa-pencil editPencil pull-right" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button>
                              </div>   
                              <div ng-switch-default class="pMin">

                                  <p>{{tmpl.spanone}}</p>
                              </div>
                          </div>
                          <div ng-switch on="isAuthorized">
                              <div ng-switch-when="Member">

                                  <h4><span e-name='t201' editable-text="tmpl.titletwo" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content" onaftersave="updateThis()"> 
                                  {{ tmpl.titletwo || 'empty' }}
                                  </span>
                                  <button class="fa fa-pencil editPencil" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button></h4>
                              </div>
                              <div ng-switch-default >

                                  <h4>{{tmpl.titletwo}}</h4>
                              </div>
                          </div>
                          <div ng-switch on="isAuthorized">
                              <div ng-switch-when="Member" class="pMin">

                                  <span e-name='t202' editable-textarea="tmpl.spantwo" e-rows="7" e-cols="40" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content" onaftersave="updateThis()">

                                  <p>{{ tmpl.spantwo || 'empty' }}</p>

                                  </span>

                                  <button class="fa fa-pencil editPencil pull-right" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button>
                              </div>
                              <div ng-switch-default class="pMin">

                                  <p>{{tmpl.spantwo}}</p>
                              </div>
                          </div>  
                      </div>
                  </div>
                  <div class="col-md-3"> 
                      <div class="well well2">
                          
                            
                          <div ng-switch on="isAuthorized">
                              <div ng-switch-when="Associate" >

                                  <h4><span e-name='t203' editable-text="tmpl.titlethree" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content" onaftersave="updateThis()">

                                  {{ tmpl.titlethree || 'empty' }} 

                                  <button class="fa fa-pencil editPencil" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button>         

                                  </span></h4>
                  
                              </div>

                              <div ng-switch-default>

                                  <h4>{{tmpl.titlethree}}</h4>

                              </div>
                          </div>

                          <div ng-switch on="isAuthorized">
                              <div ng-switch-when="Associate" class="pMin">
                                    
                                  <span e-name='t204' editable-textarea="tmpl.spanthree" e-rows="7" e-cols="30" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content" onaftersave="updateThis()">

                                  <p>{{ tmpl.spanthree || 'empty' }}</p> 

                                  </span>

                                  <button class="fa fa-pencil editPencil pull-right" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button>
                                      
                              </div>

                              <div ng-switch-default class="pMin"></p>

                                  <p>{{tmpl.spanthree}}

                              </div>
                          </div>     
                      </div>   
                  </div>
          </div>
        </div>  
        <!-- </div> -->

<!-- ******* TAB1-3 *********************************** -->
        <div class="tab-pane fade" id="tab1-3" style="min-height:300px;">
          <h1>Blank Template Three</h1>
            <div class="row"> 
              <div class="col-md-12"> 
                <div class="well well2">

                  

                  <h3>Sample Title <a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></h3>

                  <div class="photoBox pull-right">
                    <img src="../../../common/images/customer_service.jpg" class="photoPage" alt="" >
                    <br />
                    <span class="pull-right"><a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></span>
                  </div>

                  <span class="pull-right"><a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></span>
                    <p>Etiam sit amet leo nec nunc auctor convallis vel at est. Aenean at metus id nisl posuere varius. In vel ipsum eu risus iaculis volutpat in ut metus. Integer eget sem eu massa pharetra vehicula ut id elit. Nam sagittis malesuada est, ut tempus diam ultricies eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla urna libero, finibus in metus mollis, aliquam interdum elit. Phasellus at sagittis lectus. Vestibulum scelerisque libero eget efficitur venenatis. Etiam nunc magna, maximus vel vehicula eget, bibendum eu urna. Phasellus quis turpis id lacus mollis dictum. Ut dui elit, efficitur vel orci eu, elementum interdum erat. Cras at leo volutpat, commodo metus in, dictum justo. Cras id vulputate ex. Nullam et aliquet arcu, id elementum magna. Phasellus faucibus sapien at dolor ultrices pellentesque. Sed nec risus vitae orci scelerisque elementum. Nulla ullamcorper ullamcorper luctus.Morbi sed quam nisi. Suspendisse egestas ex ac nibh congue, ac auctor nisl ultrices. Ut a nunc sapien. Aenean vel dui at dui rhoncus blandit aliquet a risus. Fusce facilisis quam et ex pharetra, non fringilla augue dictum. Aenean mi odio, imperdiet eu enim vel, convallis lobortis nibh. In et faucibus purus, quis aliquet dui. Fusce elementum, erat vitae gravida tincidunt, justo lorem maximus leo, a iaculis purus risus sit amet felis. Donec a lorem sagittis massa consequat tristique.</p>

                </div>
                <div class="row"> 
                  <div class="col-md-12"> 
                    <div class="well well2">

                      <h4>Subtitle <a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></h4>
                    
                      <span class="pull-right"><a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></span>
                        <p>Maecenas fermentum justo vel ex tristique suscipit. Ut ultrices efficitur ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec eget tellus mollis, dignissim velit et, tempor arcu. Vivamus a interdum erat, et elementum ligula. Aenean mattis auctor condimentum. Phasellus gravida metus at odio vulputate ultricies. Donec quis mattis tortor. Sed nec risus vitae orci scelerisque elementum. </p>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>  
        </div>

<!-- ******* TAB1-4 *********************************** -->
        <div class="tab-pane fade" id="tab1-4" style="min-height:300px;">
          <h1>Blank Template Four</h1>
            <div class="row"> 
              <div class="col-md-3"> 
                <div class="well well2">
                    
                  <div class="photoBox2">
                    <img src="../../../common/images/customer_service.jpg" width="100%" class="photoPage" alt="" >
                    <br />
                    <span class="pull-right"><a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></span>
                  </div>

                  <h4>Subtitle <a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></h4>
                    
                  <span class="pull-right"><a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></span>
                    <p>Fusce quis quam id orci commodo dignissim. Phasellus sodales nisl at velit placerat, in auctor ante porttitor. Phasellus sollicitudin faucibus velit non bibendum. Nunc at mattis sapien, quis mollis dolor. Donec blandit diam velit, quis pellentesque ante lobortis a.</p>

                </div>
              </div>
              <div class="col-md-6"> 
                <div class="well well2">

                  <h3>Sample Title <a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></h3>

                  <span class="pull-right"><a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></span>

                    <p>Etiam sit amet leo nec nunc auctor convallis vel at est. Aenean at metus id nisl posuere varius. In vel ipsum eu risus iaculis volutpat in ut metus. Integer eget sem eu massa pharetra vehicula ut id elit. Nam sagittis malesuada est, ut tempus diam ultricies eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla urna libero, finibus in metus mollis, aliquam interdum elit. Phasellus at sagittis lectus. Vestibulum scelerisque libero eget efficitur venenatis. Etiam nunc magna, maximus vel vehicula eget, bibendum eu urna. Phasellus quis turpis id lacus mollis dictum. Ut dui elit, efficitur vel orci eu, elementum interdum erat. Cras at leo volutpat, commodo metus in, dictum justo. Cras id vulputate ex. Nullam et aliquet arcu, id elementum magna. Phasellus faucibus sapien at dolor ultrices pellentesque.</p>

                  <h4>Subtitle <a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></h4>

                  <span class="pull-right"><a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></span>
                    <p>Donec blandit suscipit ante, quis viverra urna ornare vitae. Vestibulum dolor ligula, scelerisque at lectus in, suscipit lobortis enim. Nunc at mattis sapien, quis mollis dolor. Donec blandit diam velit, quis pellentesque ante lobortis a. Aliquam et diam eget nibh tempus vulputate non ut tellus. Mauris sagittis vehicula dapibus. Maecenas quam libero, luctus eu maximus eget, dictum in leo. Nunc in metus tellus. In lacinia varius sem vitae venenatis. Aenean mi odio, imperdiet eu enim vel, convallis lobortis nibh. In et faucibus purus, quis aliquet dui.</p>

                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="well well2">
                    
                    <div class="photoBox2">
                    <img src="../../../common/images/customer_service2.jpg" width="100%" class="photoPage" alt="" >
                    <br />
                    <span class="pull-right"><a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></span>
                  </div>

                    <h4>Subtitle <a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></h4>

                    <span class="pull-right"><a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></span>
                      <p>Maecenas fermentum justo vel ex tristique suscipit. Ut ultrices efficitur ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec eget tellus mollis, dignissim velit et, tempor arcu.</p>
                  
                  </div>
                </div>
              </div> 
        </div>

<!-- ******* TAB2-1 *********************************** -->
        <div class="tab-pane fade" id="tab2-1" style="min-height:300px;">
          <h1>Grid One</h1>
            <div class="row"> 
              <div class="col-md-12"> 
                <div class="well well2" style="border:1px solid #999999;padding:8px;">
            
                  <table width="100%" style="border:1px solid #bbbbbb;font-size:12px;">

                    <tr class="messageBar" style="height:23px;">
                      <td class="cent">On/Off</td>
                       <td class="cent">Order</td>
                       <td class="cent">Button</td>
                      <td class="cent">Name</td>
                      <td class="cent">Status</td>
                      <td class="cent">Edit</td>
                      <td class="cent">Del</td>
                    </tr>

                    <tr style="height:23px;padding:2px;background-color:#ccddee;border-bottom:1px solid #bbbbbb;">
                      <td class="cent">ON</td>
                      <td class="cent">1</td>
                      <td class="cent">My Home</td>
                      <td class="cent"><span ng-bind="whichUser()"></span> Home Page</td>
                      <td class="cent">Pub</td>
                      <td class="cent"><a href="#"><i class="fa fa-edit"></i></a></td>
                      <td>&nbsp;</td>
                    </tr>

                    <tr style="height:23px;padding:2px;border-bottom:1px solid #bbbbbb;" class="row-hilite">
                      <td class="cent"><input type="checkbox" name="services" checked></td>
                      <td class="cent">2</td>
                      <td class="cent">Services</td>
                      <td class="cent">My Services</td>
                      <td class="cent">Pub</td>
                      <td class="cent"><a href="#"><i class="fa fa-edit"></i></a></td>
                      <td class="cent"><a href="#"><i class="fa fa-times dltred"></i></a></td>
                    </tr>

                    <tr style="height:23px;background-color:#eeeeee;padding:2px;border-bottom:1px solid #bbbbbb;">
                      <td class="cent"><input type="checkbox" name="services" checked></td>
                      <td class="cent">3</td>
                      <td class="cent">Products</td>
                      <td class="cent">My Products</td>
                      <td class="cent">Pub</td>
                      <td class="cent"><a href="#"><i class="fa fa-edit"></i></a></td>
                      <td class="cent"><a href="#"><i class="fa fa-times dltred"></i></a></td>
                    </tr>

                    <tr style="height:23px;background-color:#ffffff;padding:2px;border-bottom:1px solid #bbbbbb;">
                      <td class="cent"><input type="checkbox" name="services" checked></td>
                      <td class="cent">4</td>
                      <td class="cent">Staff</td>
                      <td class="cent">Staff</td>
                      <td class="cent">Int</td>
                      <td class="cent"><a href="#"><i class="fa fa-edit"></i></a></td>
                      <td class="cent"><a href="#"><i class="fa fa-times dltred"></i></a></td>
                    </tr>

                    <tr style="height:23px;background-color:#eeeeee;padding:2px;border-bottom:1px solid #bbbbbb;">
                      <td class="cent"><input type="checkbox" name="services" checked></td>
                      <td class="cent">5</td>
                      <td class="cent">Map</td>
                      <td class="cent">My Location</td>
                      <td class="cent">Pub</td>
                      <td class="cent"><a href="#"><i class="fa fa-edit"></i></a></td>
                      <td class="cent"><a href="#"><i class="fa fa-times dltred"></i></a></td>
                    </tr>

                    <tr style="height:23px;background-color:#ffffff;padding:2px;border-bottom:1px solid #bbbbbb;">
                      <td class="cent"><input type="checkbox" name="services" checked></td>
                      <td class="cent">6</td>
                      <td class="cent">Projects</td>
                      <td class="cent">My Projects</td>
                      <td class="cent">Pri</td>
                      <td class="cent"><a href="#"><i class="fa fa-edit"></i></a></td>
                      <td class="cent"><a href="#"><i class="fa fa-times dltred"></i></a></td>
                    </tr>

                  </table>

                </div>
              </div>
            </div>
            <div class="row"> 
              <div class="col-md-12"> 
                <div class="well well2">

                  <h3>Information <a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></h3>

                  <span class="pull-right"><a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></span>
                    <p>Phasellus at sagittis lectus. Vestibulum scelerisque libero eget efficitur venenatis. Etiam nunc magna, maximus vel vehicula eget, bibendum eu urna. Phasellus quis turpis id lacus mollis dictum. Ut dui elit, efficitur vel orci eu, elementum interdum erat. Cras at leo volutpat, commodo metus in, dictum justo. Cras id vulputate ex. Nullam et aliquet arcu, id elementum magna. Phasellus faucibus sapien at dolor ultrices pellentesque.</p>
                      
                  </div>
                </div>
              </div>
        </div>

<!-- ******* TAB2-2 *********************************** -->
        <div class="tab-pane fade" id="tab2-2" style="min-height:300px;">
          <h1>Grid Two</h1>
            <div class="row"> 
              <div class="col-md-12"> 
                <div class="well well2 silver" style="border:1px solid #999999;padding:8px;">
            
                                      <table width="100%" style="border:1px solid #bbbbbb;font-size:12px;">

                    <tr class="messageBar" style="height:23px;">
                      <td class="cent">On/Off</td>
                       <td class="cent">Order</td>
                       <td class="cent">Button</td>
                      <td class="cent">Name</td>
                      <td class="cent">Status</td>
                      <td class="cent">Edit</td>
                      <td class="cent">Del</td>
                    </tr>

                    <tr style="height:23px;padding:2px;background-color:#ccddee;border-bottom:1px solid #bbbbbb;">
                      <td class="cent">ON</td>
                      <td class="cent">1</td>
                      <td class="cent">My Home</td>
                      <td class="cent"><span ng-bind="whichUser()"></span> Home Page</td>
                      <td class="cent">Pub</td>
                      <td class="cent"><a href="#"><i class="fa fa-edit"></i></a></td>
                      <td>&nbsp;</td>
                    </tr>

                    <tr style="height:23px;padding:2px;border-bottom:1px solid #bbbbbb;" class="row-hilite">
                      <td class="cent"><input type="checkbox" name="services" checked></td>
                      <td class="cent">2</td>
                      <td class="cent">Services</td>
                      <td class="cent">My Services</td>
                      <td class="cent">Pub</td>
                      <td class="cent"><a href="#"><i class="fa fa-edit"></i></a></td>
                      <td class="cent"><a href="#"><i class="fa fa-times dltred"></i></a></td>
                    </tr>

                    <tr style="height:23px;background-color:#eeeeee;padding:2px;border-bottom:1px solid #bbbbbb;">
                      <td class="cent"><input type="checkbox" name="services" checked></td>
                      <td class="cent">3</td>
                      <td class="cent">Products</td>
                      <td class="cent">My Products</td>
                      <td class="cent">Pub</td>
                      <td class="cent"><a href="#"><i class="fa fa-edit"></i></a></td>
                      <td class="cent"><a href="#"><i class="fa fa-times dltred"></i></a></td>
                    </tr>

                    <tr style="height:23px;background-color:#ffffff;padding:2px;border-bottom:1px solid #bbbbbb;">
                      <td class="cent"><input type="checkbox" name="services" checked></td>
                      <td class="cent">4</td>
                      <td class="cent">Staff</td>
                      <td class="cent">Staff</td>
                      <td class="cent">Int</td>
                      <td class="cent"><a href="#"><i class="fa fa-edit"></i></a></td>
                      <td class="cent"><a href="#"><i class="fa fa-times dltred"></i></a></td>
                    </tr>

                    <tr style="height:23px;background-color:#eeeeee;padding:2px;border-bottom:1px solid #bbbbbb;">
                      <td class="cent"><input type="checkbox" name="services" checked></td>
                      <td class="cent">5</td>
                      <td class="cent">Map</td>
                      <td class="cent">My Location</td>
                      <td class="cent">Pub</td>
                      <td class="cent"><a href="#"><i class="fa fa-edit"></i></a></td>
                      <td class="cent"><a href="#"><i class="fa fa-times dltred"></i></a></td>
                    </tr>

                    <tr style="height:23px;background-color:#ffffff;padding:2px;border-bottom:1px solid #bbbbbb;">
                      <td class="cent"><input type="checkbox" name="services" checked></td>
                      <td class="cent">6</td>
                      <td class="cent">Projects</td>
                      <td class="cent">My Projects</td>
                      <td class="cent">Pri</td>
                      <td class="cent"><a href="#"><i class="fa fa-edit"></i></a></td>
                      <td class="cent"><a href="#"><i class="fa fa-times dltred"></i></a></td>
                    </tr>

                  </table>

                </div>
              </div>
            </div>
            <div class="row"> 
              <div class="col-md-12"> 
                <div class="well well2">

                  <h3>Information <a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></h3>

                  <span class="pull-right"><a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></span>
                    <p>Phasellus at sagittis lectus. Vestibulum scelerisque libero eget efficitur venenatis. Etiam nunc magna, maximus vel vehicula eget, bibendum eu urna. Phasellus quis turpis id lacus mollis dictum. Ut dui elit, efficitur vel orci eu, elementum interdum erat. Cras at leo volutpat, commodo metus in, dictum justo. Cras id vulputate ex. Nullam et aliquet arcu, id elementum magna. Phasellus faucibus sapien at dolor ultrices pellentesque.</p>
                      
                  </div>
                </div>
              </div>
        </div>

<!-- ******* TAB3-1 *********************************** -->
        <div class="tab-pane fade" id="tab3-1" style="min-height:300px;">
          <h1>My Calendar</h1>
            <div class="row"> 
              <div class="col-md-12"> 
                <div class="well well2" style="border:1px solid #999999;padding:8px;">

                 <!--   TEMP COMMENTED OUT FOR TROUBLE SHOOTING 

                    <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=sj%40middleofnowhere.com&amp;color=%232952A3&amp;ctz=America%2FNew_York" style=" border-width:0 " width="100%" height="600" frameborder="0" scrolling="no"></iframe>
                  -->
                </div>
              </div>
            </div>
            <div class="row"> 
              <div class="col-md-12"> 
                <div class="well well2">

                  <h3>Information <a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></h3>

                  <span class="pull-right"><a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></span>
                    <p>Phasellus at sagittis lectus. Vestibulum scelerisque libero eget efficitur venenatis. Etiam nunc magna, maximus vel vehicula eget, bibendum eu urna. Phasellus quis turpis id lacus mollis dictum. Ut dui elit, efficitur vel orci eu, elementum interdum erat. Cras at leo volutpat, commodo metus in, dictum justo. Cras id vulputate ex. Nullam et aliquet arcu, id elementum magna. Phasellus faucibus sapien at dolor ultrices pellentesque.</p>
                      
                  </div>
                </div>
              </div>
        </div>

<!-- ******* TAB3-2 *********************************** -->
        <div class="tab-pane fade" id="tab3-2" style="min-height:300px;">
          <h1>My Map</h1>
            <div class="row"> 
              <div class="col-md-12"> 
                <div class="well well2 silver" style="border:1px solid #999999;padding:8px;">
                
                  <!--   TEMP COMMENTED OUT FOR TROUBLE SHOOTING   
                    <iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="padding:0px; background:#ffffff; border: 1px solid #999999; -webkit-border-radius:7px; -moz-border-radius:7px; -o-border-radius:7px; " src="https://www.google.com/maps?t=m&amp;sll=35.112417,-83.0978629&amp;sspn=0.0269616,0.0439464&amp;q=Cashiers,+NC&amp;ie=UTF8&amp;hq=&amp;hnear=Cashiers,+North+Carolina&amp;ll=35.111906,-83.099635&amp;spn=0.038826,0.09553&amp;z=14&amp;output=embed"></iframe>
                  --> 
                  
                </div>
              </div>
            </div>
            <div class="row"> 
              <div class="col-md-12"> 
                <div class="well well2">

                  <span class="pull-right"><a href="#">Edit&nbsp;<i class="fa fa-edit"></i></a></span>
                  <h3>Information <a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></h3>

                  <span class="pull-right"><a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></span>
                    <p>Phasellus at sagittis lectus. Vestibulum scelerisque libero eget efficitur venenatis. Etiam nunc magna, maximus vel vehicula eget, bibendum eu urna. Phasellus quis turpis id lacus mollis dictum. Ut dui elit, efficitur vel orci eu, elementum interdum erat. Cras at leo volutpat, commodo metus in, dictum justo. Cras id vulputate ex. Nullam et aliquet arcu, id elementum magna. Phasellus faucibus sapien at dolor ultrices pellentesque.</p>
                      
                  </div>
                </div>
              </div>
        </div>




      </div>


    </div>
  </div>
 </div>
</div>