<div ng-controller="MbrsiteAdminRelationShipManagerCtrl" ng-init="getMbrsiteRelationShip()"  >      
  <div class="col-md-12">  
    <div class="well well2 well3" id="tab1-9" style="min-height:300px;">
      <!-- <div class="tab-pane fade" id="tab1-9" style="min-height:300px;"> -->
      <h1>Content Sets Manager</h1>
      <div class="row"> 
        <div class="col-md-12"> 
            <!--<div class="well well2">-->
            <div id="pageMgrAdd" class="collapse" ng-controller="MbrsiteAdminRelationShipAddContentSetCtrl" >
              <div class="row" style="margin-bottom:15px;"> 
                  <div class="col-md-12">
                      <a class="btn btn-primary btn-sm rcs pull-right" data-toggle="collapse" data-target="#pageMgrAdd">Close&nbsp;<i class="fa fa-times"></i></a>
                       <ng-include src="'component/partials/mbrsite-admin-relShipAddContentSet.html'"></ng-include>
                  </div>
              </div>
            </div>

            <div id="pageMgrHelp" class="collapse" style="margin-top:15px;">
              <div class="row"> 
                <div class="col-md-12"> 
                <div class="well">
                  <a class="btn btn-primary btn-sm rcs pull-right" data-toggle="collapse" data-target="#pageMgrHelp">Close&nbsp;<i class="fa fa-times"></i></a>
                        <ng-include src="'component/partials/mbrsite-admin-relShipHelp.html'"></ng-include>
                </div>
                </div>
              </div>
            </div>

            <div style="height:40px;">
              <span class="pull-right">
                <!--&nbsp;<a class="btn btn-primary btn-sm rcs pull-right" data-toggle="collapse" data-target="#pageMgrHelp">Help&nbsp;<i class="fa fa-question"></i></a>&nbsp;-->
                <a class="btn btn-primary btn-sm rcs pull-right" data-toggle="collapse" data-target="#pageMgrAdd">Add Page&nbsp;<i class="fa fa-plus"></i></a>&nbsp;
              </span>
            </div>

            <ul>
              <li ng-repeat="relItem in relShips" ng-controller='MbrsiteAdminRelationShipItemCtrl' >
                  <ng-include src="'component/partials/mbrsite-admin-relShipBar.html'"> </ng-include> 
              </li>    
            </ul>  

        </div>
      </div>  
    </div>
  </div>  
</div>
      