<!-- blankthree -->
<div ng-switch on="isAuthorized">
    <div ng-switch-when="support">
        <h1><span e-name='text_0000' editable-text="tabSet.text_0000" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content" onaftersave="updateThis( key, 'text_0000', $data">
           {{tabSet.text_0000 || 'enter page title' }}  </span>
        <button class="fa fa-pencil editPencil" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button></h1>
    </div>
    <div ng-switch-default>
       <h3>{{tabSet.text_0000</h3>
    </div>
</div> 
<div class="col-md-9"> 
    <div class="well well2" >
        <!-- SEGEMENT 0 -->   
        <div ng-switch on="isAuthorized">
            <div ng-switch-when="support">
                   
                <h3><span e-name='text_0001' editable-text="tabSet.text_0001" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content" onaftersave="updateThis( key, 'text_0001', $data">

                  {{ tabSet.text_0001 || 'empty' }}

                </span>
                <button class="fa fa-pencil editPencil" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button></h3>
                      
            </div>
            <div ng-switch-default>
               <h3>{{tabSet.text_0001</h3>
            </div>
        </div>
        <div class="photoBox2 pull-right">
            <div ng-switch on="isAuthorized">
                <div ng-switch-when="support" >
                  <img src="common/bootstrap/images/customer_service2.jpg" class="photoPage" alt="" >
                  <input class="bottom-marg-15" type="file" name="file" file></input> 
                  <span class="pull-right">                        
                    <a class="btn btn-primary rcs" ng-click="uploadThis()">Upload</a>
                  </span>
                </div>
                <div ng-switch-default>
                  <img src="common/bootstrap/images/customer_service2.jpg" class="photoPage" alt="" >
                </div>
            </div>
        </div>  <!-- photobox -->
        <div ng-switch on="isAuthorized">
            <div ng-switch-when="support" class="pMin">
                <span e-name='area_0000' editable-textarea="tabSet.area_0000" e-rows="10" cols="50" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content" onaftersave="updateThis( key, 'area_0000', $data">
                <pre>{{ tabSet.area_0000 || 'empty' }}  </pre>
                </span>
                <button class="fa fa-pencil editPencil pull-right" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button>
            </div>   
            <div ng-switch-default class="pMin">

                <p>{{tabSet.area_0000}}</p>
            </div>
        </div>
        <!-- SEGMENT TW0 -->
        <div ng-switch on="isAuthorized">
            <div ng-switch-when="support">

                <h4><span e-name='text_0002' editable-text="tabSet.text_0002" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content" onaftersave="updateThis( key, 'text_0002', $data"> 
                {{ tabSet.text_0002 || 'empty' }}
                </span>
                <button class="fa fa-pencil editPencil" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button></h4>
            </div>
            <div ng-switch-default >

                <h4>{{tabSet.text_0002}}</h4>
            </div>
        </div>
        <div ng-switch on="isAuthorized">
            <div ng-switch-when="support" class="pMin">

                <span e-name='area_0001' editable-textarea="tabSet.area_0001" e-rows="7" e-cols="40" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content" onaftersave="updateThis( key, 'area_0001', $data">

                <p>{{tabSet.area_0001 || 'empty' }}</p>

                </span>

                <button class="fa fa-pencil editPencil pull-right" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button>
            </div>
            <div ng-switch-default class="pMin">

                <p>{{tabSet.area_0001}}</p>
            </div>
        </div>  
    </div>
</div>
<div class="col-md-3"> 
    <div class="well well2">
        
          
        <div ng-switch on="isAuthorized">
            <div ng-switch-when="Associate" >

                <h4><span e-name='text_0003' editable-text="tabSet.text_0003" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content" onaftersave="updateThis( key, 'text_0003', $data">

                {{ tabSet.text_0003 || 'empty' }} 

                <button class="fa fa-pencil editPencil" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button>         

                </span></h4>

            </div>

            <div ng-switch-default>

                <h4>{{tabSet.text_0003}}</h4>

            </div>
        </div>

        <div ng-switch on="isAuthorized">
            <div ng-switch-when="Associate" class="pMin">
                  
                <span e-name='area_0003' editable-textarea="tabSet.area_0003" e-rows="7" e-cols="30" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content" onaftersave="updateThis( key, 'area_0003', $data">

                <p>{{ tabSet.area_0003 || 'empty' }}</p> 

                </span>

                <button class="fa fa-pencil editPencil pull-right" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button>
                    
            </div>

            <div ng-switch-default class="pMin">

                <p>{{tabSet.area_0003}}</p>

            </div>
        </div>     
    </div>   
</div>
