<h4>Page Manager Help </h4>
<p>Cashiers, a beautiful village in western North Carolina known as "The Heart Of The Blue Ridge Mountains", is located in the southern end of Jackson County. Sitting at 3,487 feet in elevation at the crossroads of Highways 107 and 64, there is a little bit of everything here to enjoy for native families, visitors, and part-time residents alike. Our singularly unique geography boasts hundreds of waterfalls, quiet lakes, stone mountains and amazingly beautiful forests.</p>
