<!-- <div class="row" style="margin-bottom:15px;"> 
      <div class="col-md-12">
          <a class="btn btn-primary btn-sm rcs pull-right" data-toggle="collapse" data-target="#pageMgrAdd">Close&nbsp;<i class="fa fa-times"></i></a> -->
          <h4>Adding New Content Set</h4>
          <div class-"row">
              <div class="col-md-6 col-sm-5 col-xs-12">
                  <div class="subSubR">Default New Content Set Status: Private/Off</div>
                  <div class="subSub">1. Select Content Set Template</div>
                  <br />
                  <ul style="list-style-type:none; margin-left:0px;">
                    <li style="display:inline-block;width:100px;margin-bottom:7px;"><input type="radio" name="layout" value="blankone" ng-model="nuContentSet.template"><img src="common/images/template1.png" class="rcs" alt="" /></li>
                    <li style="display:inline-block;width:100px;margin-bottom:7px;"><input type="radio" name="layout" value="blanktwo" ng-model="nuContentSet.template"><img src="common/images/template2.png" class="rcs" alt="" /></li>

                    <li style="display:inline-block;width:100px;margin-bottom:7px;"><input type="radio" name="layout" value="map" ng-model="nuContentSet.template"><img src="common/images/templateMap.png" class="rcs" alt="" /></li>

                    <li style="display:inline-block;width:100px;margin-bottom:7px;"><input type="radio" name="layout" value="calendar" ng-model="nuContentSet.template"><img src="common/images/templateCalendar.png" class="rcs" alt="" /></li>
                  </ul>
              </div>

              <div class="col-md-6 col-sm-7 col-xs-12">
                  <div class="subSub">2. Set Button Name and Content Set Name</div>
                  <div class="pad" style="margin-bottom:10px;margin-top:15px;"><input type="text" ng-model="nuContentSet.buttonName" >&nbsp;<label>New Button Name</label><br /></div>
                  <div class="pad" style="margin-bottom:20px;"><input type="text" ng-model="nuContentSet.pageTitle" >&nbsp;<label>New Page Title</label><br /></div>
                  <div class="pad">
                      <button data-toggle="collapse" data-target="#pageMgrAdd" class="btn btn-success rcs" ng-click="addContentSet()" >Create New Page</button>
                      <button data-toggle="collapse" data-target="#pageMgrAdd" class="btn btn-primary rcs" ng-click="cancel()" >Cancel</button>
                  </div>
              </div>
          </div>
<!--       </div>
</div> -->