<!-- ******* TAB0-2 *********************************** -->
<div ng-controller="MbrsiteAdminProfileManagerCtrl" ng-init="getMbrsiteProfile()" > 
  <div class="col-md-12">
    <div class="pad" style="margin-top:-20px;">
        <h4>Current Users</h4>
    </div>
    <div class="well well5" style="margin-bottom:10px;">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
              <span ng-bind="whichUser()"></span>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              User Role
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              Permissions
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
              <span class="pull-right">
                <button class="btn btn-primary btn-sm rcs">Edit</button>
                <button class="btn btn-danger btn-sm rcs">Del</button>
              </span>
            </div>
        </div>
    </div>
    <hr />
    <div class="pad pull-right"><a class="btn btn-sm btn-primary rcs" data-toggle="collapse" data-target="#userAdd">Add New User&nbsp;<i class="fa fa-plus"></i></a></div> 
    <br /><br />

    <div id="userAdd" class="collapse">
        <div class="well well2">
            <h4><i class="fa fa-user"></i> Add New User</h4>

            <p>The user's email address will be used as their Login ID. <span style="color:#cc5533;">* Required Fields</span></p>
      
            <h4>Set User Type, Role and Permissions</h4>
      
            <form  name="addUForm" ng-submit="save(nuuser)" >
        
                <div class="well">
                        <div class="row">
                          <ng-include src="'user/partials/user-admin-trp.html'"></ng-include>
                        </div>
                </div>

                <h4>New User Information</h4>
                  
                <p>* Required Fields</p>
                    
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="pad"><input type="text" ng-model="user.businessAddress">&nbsp;&nbsp;&nbsp;<label>First Name*</label></div>

                        <div class="pad"><input type="text" ng-model="user.businessAddress">&nbsp;&nbsp;&nbsp;<label>Last Name*</label></div>

                        <div class="pad"><input type="text" ng-model="user.businessAddress">&nbsp;&nbsp;&nbsp;<label>Email*</label></div>

                        <div class="pad"><input type="text" ng-model="user.businessAddress">&nbsp;&nbsp;&nbsp;<label>Password*</label></div>

                        <div class="pad"><input type="text" ng-model="user.businessAddress">&nbsp;&nbsp;&nbsp;<label>Pass Phrase*</label></div>

                        <div class="pad"><input type="text" ng-model="user.businessAddress">&nbsp;&nbsp;&nbsp;<label>Phone</label></div>
                      
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">

                        <div class="pad"><input type="text" ng-model="user.businessAddress">&nbsp;&nbsp;&nbsp;<label>Address</label></div>

                        <div class="pad"><input type="text" ng-model="user.businessAddress">&nbsp;&nbsp;&nbsp;<label>City</label></div>

                        <div class="pad"><input type="text" ng-model="user.businessAddress">&nbsp;&nbsp;&nbsp;<label>State</label></div>

                        <div class="pad"><input type="text" ng-model="user.businessAddress">&nbsp;&nbsp;&nbsp;<label>Zip Code</label></div>

                        <div class="pad">
                          <br />
                          <a href="#" name="View" style="text-decoration:none;" class="btn btn-success btn-md rcs">Submit New User</a>
                        </div>
                        <div class="pad">
                             <span class="pull-right"><a class="btn btn-sm btn-primary rcs"  data-toggle="collapse" data-target="#userAdd">Close Add User&nbsp;<i class="fa fa-times"></i></a></span>
                        </div>
                    </div>
                </div>      
            </form>
        </div>
    </div>

   <!--  </div> -->
        <hr />
    <!-- </div> -->

    <div class="well well2 well3" id="tab0-2" style="min-height:300px;">
      <h1>Business Profile</h1>
      <div class="well well2">
          <h4><i class="fa fa-user"></i> Business Information</h4>
          <p>Business information here will be displayed on your Home Page and Search results. The Description/Keywords field is for adding keywords to improve search results.</p>
          <br />
          <!-- 20150216 removed from line below:  ng-controller="MbrsiteAdminProfileCtrl"  -->
          <div class="row"   >
                   <!-- 20150216 removed from line below:   ng-init="initMbrsite( 'Profile')" -->
            <form editable-form name="mbrProfileEditForm" action="#tab3-5"  >
                  <div class="row" >
                      <ng-include src="'component/partials/mbrsite-admin-category.html'"></ng-include>    
                  </div> 
                  <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="pad">
                          <input type="text" ng-model="profileItem.name" required placeholder="Business name">&nbsp;&nbsp;&nbsp;<label>Name *</label>
                      </div>

                      <div class="pad">
                          <input type="text" ng-model="profileItem.street" placeholder="Address">&nbsp;&nbsp;&nbsp;<label>Address *</label>
                      </div>

                      <div class="pad">
                          <input type="text" ng-model="profileItem.street2" placeholder="Address 2">&nbsp;&nbsp;&nbsp;<label>Address 2</label>
                      </div>

                      <div class="pad">
                          <input type="text" ng-model="profileItem.city" placeholder="City"></input>&nbsp;&nbsp;&nbsp;<label>City *</label>
                      </div class="pad">

                      <div class="pad">
                          <input type="text" ng-model="profileItem.state" placeholder="State">&nbsp;&nbsp;&nbsp;<label>State *</label>
                      </div>

                      <div class="pad">
                          <input type="text" ng-model="profileItem.zipCode" placeholder="Zip Code">&nbsp;&nbsp;&nbsp;<label>Zip Code *</label>
                      </div>

                      <div class="pad">
                          <input type="text" ng-model="profileItem.phone" placeholder="Phone">&nbsp;&nbsp;&nbsp;<label>Phone *</label>
                      </div>

                      <div class="pad">
                          <input type="text" ng-model="profileItem.fax">&nbsp;&nbsp;&nbsp;<label>Fax</label>
                      </div>
                  </div>


                  <div class="col-md-6 col-sm-6 col-xs-12">
                    
                      <div class="pad">
                          <input type="text" ng-model="profileItem.website">&nbsp;&nbsp;&nbsp;<label>Website</label>
                      </div>

                      <div class="pad">
                          <input type="text" ng-model="profileItem.identityId">&nbsp;&nbsp;&nbsp;<label>Indentity ID</label>
                      </div>

                      <div class="pad">
                          <textarea class="tArea" ng-model="profileItem.description"></textarea>
                          <br />
                          <label>Description </label>
                      </div>
                      
                      <div class="pad">
                            <textarea class="tArea" ng-model="profileItem.keywords"></textarea>
                          <br />
                          <label>Key Words</label>   
                      </div>

                      <div style="margin-top:25px;">
                          <!-- <span class="pad"><button ng-click="clear()" class="btn btn-primary rcs"  >Clear</button> </span> 
                          <span class="pad"><button class="btn btn-success rcs"  type="submit" >Save</button></span> -->
                            <button type="button" class="btn btn-primary rcs" ng-click="mbrProfileEditForm.$show()" ng-hide="mbrProfileEditForm.$visible">
                                 Edit
                            </button>
                            <span ng-show="mbrProfileEditForm.$visible">
                              <!-- ng-click="cancel()" -->
                              <button  type="button" class="btn btn-primary rcs" ng-disabled="mbrProfileEditForm.$waiting" ng-click="mbrProfileEditForm.$cancel()">
                                Cancel
                              </button>
                              <button ng-click="saveProfile()" type="submit" class="btn btn-success rcs" ng-disabled="mbrProfileEditForm.$waiting">
                                Update
                              </button>
                            </span>  
                      </div>
                  </div>
            </form>   
          </div>
        </div> 
    </div>
  </div> 
</div>