<!-- blanktwo -->
<!-- text0 -->
<div ng-switch on="isAuthorized">
    <div ng-switch-when="support">
        <h1><span e-id='text_0000' e-name='text_0000' editable-text="tabSet.text_0000" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content" onaftersave="updateThis( key, 'text_0000', $data)">
           {{tabSet.text_0000 || 'enter page title' }}  </span>
        <button class="fa fa-pencil editPencil" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button></h1>
    </div>
    <div ng-switch-default>
       <h3>{{tabSet.text_0000}}</h3>
    </div>
</div>
<div class="row"> 
    <div class="col-md-12"> 
      <div class="well well2">
        <!-- text1/area0 -->
        <div ng-switch on="isAuthorized">
          <div ng-switch-when="support">
                  <h3><span e-name='text_0001' editable-text="tabSet.text_0001" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content" onaftersave="updateThis( key, 'text_0001', $data)">
                     {{ tabSet.text_0001 || 'Sample Title One' }}
                    </span>
                  <button class="fa fa-pencil editPencil" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button></h3>
          </div>
          <div ng-switch-default>  <h3>{{tabSet.text_0001}}</h3>  </div>
        </div>
        <div class="photoBox2 pull-right">
            <div ng-switch on="isAuthorized">
                <div ng-switch-when="support" >
                  <img src="{{tabSet.imag_0000}}" class="photoPage" alt="" >
                  <div  ng-controller="contentSetImgCtrl" >
                          <!-- <input type="file" fileread="fileNameUploaded" ></input> -->
                          <!--  <div id="imag_0000" class="button" ngf-select ng-model="files" >Upload using model $watch</div> -->
                          <div class="button" ngf-select ngf-change="upload($files, key, 'imag_0000' )">Upload on file change</div>
                         
                  </div> 
                </div>
                <div ng-switch-default>
                  <img src="{{tabSet.imag_0000}}" class="photoPage" alt="" >
                </div>
            </div>
        </div>  <!-- photobox -->
        <div ng-switch on="isAuthorized">
          <div ng-switch-when="support" class="pMin">
                <span e-id='area_0000' e-name='area_0000' editable-textarea="tabSet.area_0000" e-rows="10" cols="50" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content" onaftersave="updateThis( key, 'area_0000', $data )">
                 <button class="fa fa-pencil editPencil pull-right" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button>
                  <pre>{{tabSet.area_0000|| 'empty' }}  </pre> </span>
              
           </div>   
               <div ng-switch-default class="pMin">
                <p>{{tabSet.area_0000}}</p>
               </div>
        </div>
       
       <!-- text2/area1   -->
       <div ng-switch on="isAuthorized">
          <div ng-switch-when="support">
                  <h3><span e-name='text_0002' editable-text="tabSet.text_0002" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content" onaftersave="updateThis( key, 'text_0002', $data)">

                    {{ tabSet.text_0002 || 'Sample Title two' }}

                  </span>
                  <button class="fa fa-pencil editPencil" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button></h3>
          </div>
          <div ng-switch-default>  <h3>{{tabSet.text_0002}}</h3>  </div>
        </div>

        <div ng-switch on="isAuthorized">
          <div ng-switch-when="support" class="pMin">
                <span e-id='area_0001' e-name='area_0001' editable-textarea="tabSet.area_0001" e-rows="10" cols="50" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content" onaftersave="updateThis( key, 'area_0001', $data)">
                 <button class="fa fa-pencil editPencil pull-right" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button>
                  <pre>{{tabSet.area_0001 || 'empty' }}  </pre> </span>
              
           </div>   
               <div ng-switch-default class="pMin">
                <p>{{tabSet.area_0001}}</p>
               </div>
        </div>

        </div>
  </div> 
</div> 