            <div class="row well well5" style="margin-bottom:5px;" > 
                <div class="col-md-4 col-sm-4 col-xs-12 pad bolder">
                    View Order: 
                     <div ng-switch on="isAuthorized">
                       <div ng-switch-when="Publisher">
                          <span e-id='relItem.setOrder' e-name='r202' editable-text="relItem.setOrder" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content" onaftersave="updateThis( $data, 'setOrder')">
                                {{ relItem.setOrder }}
                                 </span>
                               <button class="fa fa-pencil editPencil" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button>
                          </h3>
                        </div>
                        <div ng-switch-default>  {{relItem.setOrder}} </div>
                    </div>
                </div>
               
                <div class="col-md-4 col-sm-4 col-xs-12 pad">
                    Button Name: 
                    <div ng-switch on="isAuthorized">
                       <div ng-switch-when="Publisher">
                          <span e-id='relItem.setName' e-name='r201' editable-text="relItem.setName" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content" onaftersave="updateThis( $data, 'setName')">
                                {{ relItem.setName || 'Button Name' }}
                                 </span>
                               <button class="fa fa-pencil editPencil" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button>
                          </h3>
                        </div>
                        <div ng-switch-default> {{relItem.setName}}</div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 pad">
                    Template Name: 
                    <div ng-switch on="isAuthorized">
                       <div ng-switch-when="Publisher">
                          <span e-id='relItem.setTemplate' e-name='r203' editable-text="relItem.setTemplate" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter template Name" onaftersave="updateThis( $data, 'setTemplate')">
                                {{ relItem.setTemplate || 'Template Name' }}
                                 </span>
                               <button class="fa fa-pencil editPencil" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button>
                          </h3>
                        </div>
                        <div ng-switch-default> {{relItem.setTemplate}}</div>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-4 col-xs-12 pad">
                    View Path: 
                    <div ng-switch on="isAuthorized">
                       <div ng-switch-when="Publisher">
                          <span e-id='relItem.setHref' e-name='r201' editable-text="relItem.setHref" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter view path" onaftersave="updateThis( $data, 'setHref')">
                                {{ relItem.setHref || ' tab0-0' }}
                                 </span>
                               <button class="fa fa-pencil editPencil" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button>
                          </h3>
                        </div>
                        <div ng-switch-default> {{relItem.setHref}}</div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 pad">
                    View Id: 
                    <div ng-switch on="isAuthorized">
                       <div ng-switch-when="Publisher">
                          <span e-id='relItem.setId' e-name='r201' editable-text="relItem.setId" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter view id" onaftersave="updateThis( $data, 'setId')">
                                {{ relItem.setId || ' tab0-0' }}
                                 </span>
                               <button class="fa fa-pencil editPencil" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button>
                          </h3>
                        </div>
                        <div ng-switch-default> {{relItem.setId}}</div>
                    </div>
                </div>
                 
                <div class="col-md-4 col-sm-4 col-xs-12 pad">
                    isActive: 
                    
                    <!--
                    <div ng-switch on="isAuthorized">
                       <div ng-switch-when="Publisher">
                          <span e-id='relItem.isActive' e-name='r201' editable-text="relItem.isActive" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Set active state" onaftersave="updateThis( $data, 'isActive')">
                                {{ relItem.isActive || 'false' }}
                                 </span>
                               <button class="fa fa-pencil editPencil" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button>
                          </h3>
                        </div>
                        <div ng-switch-default> {{relItem.isActive}}</div>
                    </div>
                    -->
                    <div ng-switch on="isAuthorized">
                      <div ng-switch-when="Publisher">
                           <a href="#" editable-checkbox="relItem.isActive" e-title="isActive?" onaftersave="updateThis( $data, 'isActive')" > {{ relItem.isActive }} </a>
                      </div>     
                      <div ng-switch-default> {{relItem.isActive}}</div>
                    </div> 
                    <!-- <div class="col-md-2 col-sm-4 col-xs-6">
                        <fieldset class="toggle">
                          <input id="data-policy" type="checkbox" checked="checked" <a ng-click="setPUBChoices('isActive', $index)"  />   
                          <label for="data-policy">
                          <div class="toggle-button">
                            <div class="toggle-tab"></div>
                          </div>
                          <br />Status
                          </label>
                        </fieldset>
                    </div> -->
                </div>

                
                <div class="col-md-4 col-sm-4 col-xs-6 pad">
                  <div class="dropdown">
                    <button class="btn btn-primary btn-sm rcs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        {{pub || ' Select Publish Status'}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                       
                       <!-- <li ng-repeat="choice in selPubOptions"> <a ng-click="setPUBChoices('pub', $index)"  >{{choice}}</a> </li> -->
                       <li ng-repeat="choice in selPubOptions"> <a ng-click="setPUBChoices('pub', $index)" >{{choice}}</a> </li>
                    </ul>

                  </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 pad">
                    set Key: 
                    <div ng-switch on="isAuthorized">
                       <div ng-switch-when="Publisher">
                          <span e-id='relItem.setKey' e-name='r201' editable-text="relItem.setKey" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter set Key" onaftersave="updateThis( $data, 'setKey')">
                                {{ relItem.setKey || '1' }}
                                 </span>
                               <button class="fa fa-pencil editPencil" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button>
                          </h3>
                        </div>
                        <div ng-switch-default> {{relItem.setKey}}</div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6 pad">
                  <span class="pull-right"><button class="btn btn-danger btn-sm rcs">Del</button>
                    <button class="btn btn-primary btn-sm rcs">Add Content</button></span>
                </div>
            </div>

