<div class="col-md-4 col-sm-12 col-xs-12 pad text-center">
    <span class="dropdown" dropdown on-toggle="toggled(open)">
        <button href class="dropdown-toggle btn btn-success btn-md wide rcs" dropdown-toggle>
            {{upricategory || 'Select Primary Business Category'}}
        </button>
        <ul class="dropdown-menu">
            <li ng-repeat="choice in selOrgCategory">
                <a ng-click="setUMChoices( 'pri', $index)" >{{choice}}</a>
            </li>
        </ul>
          
    </span>
</div>

<div class="col-md-4 col-sm-12 col-xs-12 pad text-center">
    <span class="dropdown" dropdown on-toggle="toggled(open)">
        <button href class="dropdown-toggle btn btn-primary btn-md wide rcs" dropdown-toggle>
           {{up2ndcategory || 'Select Second Category'}} 
        </button>
        <ul class="dropdown-menu">
            <li ng-repeat="choice in selOrgCategory">
                <a ng-click="setUMChoices( '2nd', $index)" >{{choice}}</a>
            </li>
        </ul>
          
    </span>
</div>

<div class="col-md-4 col-sm-12 col-xs-12 pad text-center">
    <span class="dropdown" dropdown on-toggle="toggled(open)">
        <button href class="dropdown-toggle btn btn-primary btn-md wide rcs" dropdown-toggle>
            {{ up3rdcategory || 'Select Third Category'}}
        </button>
        <ul class="dropdown-menu">
            <li ng-repeat="choice in selOrgCategory">
                <a ng-click="setUMChoices('3rd', $index)" >{{choice}}</a>
            </li>
        </ul>
          
    </span>
</div>
                  