
<div ng-controller="MbrsiteAdminConsoleCtrl" class="container" ng-init="initMbrsiteConsole( 'Profile')" >
  <div class="row">
    <div class="col-md-12">
      <div class="well well2 well3">
        <div class="row messageBar">
            <div class="col-md-12">
                <span class="pull-left">&bull; User: <span ng-bind="whichUser()"></span></span>
                <span class="pull-right">&bull; MemberSite Console</span>
            </div>
        </div> 
      
        <div class="row">
           <div class="tabsbar tabsbar2" >
             --relationShips--
              <ul class="nav nav-pills nav-pills-xs btn-xs">
                
                <li ><a href="#/users/adminhome">Admin Home</a></li>
               
                <li><a href="#/mbrsites/profile">Business Profile</a></li>
              
                <li><a href="#/mbrsites/page">Page Manager</a></li>

<!-- NOTE: Lots of works to make this work properly- perhaps a directive -->                
               
                  <!-- refer tp https://angular-ui.github.io/bootstrap/    TABS SECTION -->
              <li  ng-repeat="(key, liItem) in relShips" >
                            <a href="" ng-click="relShips[key].setKey = true; contentSets[key].setKey = true">{{liItem.setName}}</a>
                             <!-- <button class="btn btn-default btn-sm" ng-click="relShips[key].setKey = true; contentSets[key].setKey = true">{{liItem.setName}}</button> -->
              </li>
               
               
              <!--  <button class="btn btn-default btn-sm" ng-click="tabs[1].active = true">Select third tab</button> -->



<!--                 <li><a href="#/mbrsites/mbrsiteconsole/#tab0001" data-toggle="tab">Blank 1</a></li>

                <li><a href="#/mbrsites/mbrsiteconsole/#tab0002" data-toggle="tab">Blank 2</a></li>
              
                <li><a href="#/mbrsites/mbrsiteconsole/#tab1-3" data-toggle="tab">Blank 3</a></li>
 -->
                <li><a href="#/mbrsites/mbrsiteconsole/#tab2-1" data-toggle="tab">Grid 1</a></li>

                <li><a href="#/mbrsites/mbrsiteconsole/#tab3-1" data-toggle="tab">Calendar</a></li>

                <li><a href="#/mbrsites/mbrsiteconsole/#tab3-2" data-toggle="tab">Google Map</a></li>

               
              </ul>

          </div> 
          

          
               
        </div>

        <div class="tab-content" style="margin-top:15px;"  ng-controller="MbrsiteAdminContentSetsCtrl" >
       
<!-- ******** TAB0000 ** NOTE: My Home is using profile data and contentSet data************ -->
           <!--   <span> --{{lupSet._id}}----myhome--{{setNdx}}</span> -->
           <!-- {{mine}}--{{deft}}--{{contentSets[deft]}}--{{tmplsrc}}-{{tabTypes[deft]}} -->
          <!-- ng-include="'component/partials/mbrsite-admin-blankone.html'">   -->
         <!--  <div class="tab-pane active fade in" id="tab0000"  >
            <contentset  contentset-nbr=0 >  
              --{{tabTypes[deft]}}--{{tabSets[deft].titleText}}--{{deft}}
              <div ng-switch on="tabTypes[deft]">
                <div ng-switch-when="blankone">  <ng-include  src="'component/partials/mbrsite-admin-blankone.html'"></ng-include> </div>
                <div ng-switch-when="blanktwo"> <ng-include  src="'component/partials/mbrsite-admin-blanktwo.html'"></ng-include> </div>
                <div ng-switch-when="blankthree"> <ng-include  src="'component/partials/mbrsite-admin-blankthree.html'"></ng-include> </div>
                <div ng-switch-when="myhome"> <ng-include  src="'component/partials/mbrsite-admin-myhome.html'"></ng-include> </div>
              </div>    
            </contentset> 

          </div>
          -->            

           <!-- <div ng-repeat="(key, tbSet) in tabSets">{{tbSet.setKey}}</div> ** active="tabSet.setKey" -->
           <tabset>
                  
                  <tab ng-repeat="(key, tabSet) in tabSets"  active="tabSet.setKey"  disable="tabSet.isActive" > 
                      **first**{{tabSet.modelName}}**{{tabSet.setKey}}**{{$first}}
                      <div ng-switch on="tabTypes[key]">
                        <div ng-switch-when="blankone"> <ng-include  src="'component/partials/mbrsite-admin-blankone.html'"></ng-include> </div>
                        <div ng-switch-when="blanktwo"> <ng-include  src="'component/partials/mbrsite-admin-blanktwo.html'"></ng-include> </div>
                        <div ng-switch-when="blankthree"> <ng-include  src="'component/partials/mbrsite-admin-blankthree.html'"></ng-include> </div>
                        <div ng-switch-when="myhome"> <ng-include  src="'component/partials/mbrsite-admin-myhome.html'"></ng-include> </div>
                      </div>  
                  </tab>
                  <!--  <tab heading="Start Here" disable="true" >Helpful Content</tab> -->
          </tabset>





<!-- ******* TAB0001 *********************************** -->
            
     <!--  <span> --{{lupSet._id}}--blankone--{{setNdx}}--</span> -->       
            
         <!--  <div class="tab-pane fade" id="tab0001" style="min-height:300px;"  >
            <contentset  contentset-nbr=1 >  
              --{{tabTypes[deft]}}--{{tabSets[deft].titleText}}--{{deft}}
              <div ng-switch on="tabTypes[deft]">
                <div ng-switch-when="blankone">  <ng-include  src="'component/partials/mbrsite-admin-blankone.html'"></ng-include> </div>
                <div ng-switch-when="blanktwo"> <ng-include  src="'component/partials/mbrsite-admin-blanktwo.html'"></ng-include> </div>
                <div ng-switch-when="blankthree"> <ng-include  src="'component/partials/mbrsite-admin-blankthree.html'"></ng-include> </div>
                <div ng-switch-when="myhome"> <ng-include  src="'component/partials/mbrsite-admin-myhome.html'"></ng-include> </div>
              </div>    
            </contentset> 
          </div>
                  -->
                  
<!-- ***** TAB0002 *********************************** -->
          
          <!-- <div class="tab-pane fade" id="tab0002" style="min-height:300px;" >
             <contentset  contentset-nbr=2 >  
              --{{tabTypes[deft]}}--{{tabSets[deft].titleText}}--{{deft}}
              <div ng-switch on="tabTypes[deft]">
                <div ng-switch-when="blankone">  <ng-include  src="'component/partials/mbrsite-admin-blankone.html'"></ng-include> </div>
                <div ng-switch-when="blanktwo"> <ng-include  src="'component/partials/mbrsite-admin-blanktwo.html'"></ng-include> </div>
                <div ng-switch-when="blankthree"> <ng-include  src="'component/partials/mbrsite-admin-blankthree.html'"></ng-include> </div>
                <div ng-switch-when="myhome"> <ng-include  src="'component/partials/mbrsite-admin-myhome.html'"></ng-include> </div>
              </div>    
            </contentset> 
          </div> -->

<!-- **** TAB1-3 *********************************** -->

          <!-- <div class="tab-pane fade"id="tab0003" style="min-height:300px;">
            <contentset  contentset-nbr=3 >  
              --{{tabTypes[deft]}}--{{tabSets[deft].titleText}}--{{deft}}
              <div ng-switch on="tabTypes[deft]">
                <div ng-switch-when="blankone">  <ng-include  src="'component/partials/mbrsite-admin-blankone.html'"></ng-include> </div>
                <div ng-switch-when="blanktwo"> <ng-include  src="'component/partials/mbrsite-admin-blanktwo.html'"></ng-include> </div>
                <div ng-switch-when="blankthree"> <ng-include  src="'component/partials/mbrsite-admin-blankthree.html'"></ng-include> </div>
                <div ng-switch-when="myhome"> <ng-include  src="'component/partials/mbrsite-admin-myhome.html'"></ng-include> </div>
              </div>    
            </contentset> 
          </div>
 -->

<!-- ******* TAB2-1 *********************************** -->
          <div class="tab-pane fade" id="tab2-1" style="min-height:300px;">
          <h1>Grid One</h1>
            <div class="row"> 
              <div class="col-md-12"> 
                <div class="well well2" style="border:1px solid #999999;padding:8px;">
            
                  <table width="100%" style="border:1px solid #bbbbbb;font-size:12px;">

                    <tr class="messageBar" style="height:23px;">
                      <td class="cent">On/Off</td>
                       <td class="cent">Order</td>
                       <td class="cent">Button</td>
                      <td class="cent">Name</td>
                      <td class="cent">Status</td>
                      <td class="cent">Edit</td>
                      <td class="cent">Del</td>
                    </tr>

                    <tr style="height:23px;padding:2px;background-color:#ccddee;border-bottom:1px solid #bbbbbb;">
                      <td class="cent">ON</td>
                      <td class="cent">1</td>
                      <td class="cent">My Home</td>
                      <td class="cent"><span ng-bind="whichUser()"></span> Home Page</td>
                      <td class="cent">Pub</td>
                      <td class="cent"><a href="#"><i class="fa fa-edit"></i></a></td>
                      <td>&nbsp;</td>
                    </tr>

                    <tr style="height:23px;padding:2px;border-bottom:1px solid #bbbbbb;" class="row-hilite">
                      <td class="cent"><input type="checkbox" name="services" checked></td>
                      <td class="cent">2</td>
                      <td class="cent">Services</td>
                      <td class="cent">My Services</td>
                      <td class="cent">Pub</td>
                      <td class="cent"><a href="#"><i class="fa fa-edit"></i></a></td>
                      <td class="cent"><a href="#"><i class="fa fa-times dltred"></i></a></td>
                    </tr>

                    <tr style="height:23px;background-color:#eeeeee;padding:2px;border-bottom:1px solid #bbbbbb;">
                      <td class="cent"><input type="checkbox" name="services" checked></td>
                      <td class="cent">3</td>
                      <td class="cent">Products</td>
                      <td class="cent">My Products</td>
                      <td class="cent">Pub</td>
                      <td class="cent"><a href="#"><i class="fa fa-edit"></i></a></td>
                      <td class="cent"><a href="#"><i class="fa fa-times dltred"></i></a></td>
                    </tr>

                    <tr style="height:23px;background-color:#ffffff;padding:2px;border-bottom:1px solid #bbbbbb;">
                      <td class="cent"><input type="checkbox" name="services" checked></td>
                      <td class="cent">4</td>
                      <td class="cent">Staff</td>
                      <td class="cent">Staff</td>
                      <td class="cent">Int</td>
                      <td class="cent"><a href="#"><i class="fa fa-edit"></i></a></td>
                      <td class="cent"><a href="#"><i class="fa fa-times dltred"></i></a></td>
                    </tr>

                    <tr style="height:23px;background-color:#eeeeee;padding:2px;border-bottom:1px solid #bbbbbb;">
                      <td class="cent"><input type="checkbox" name="services" checked></td>
                      <td class="cent">5</td>
                      <td class="cent">Map</td>
                      <td class="cent">My Location</td>
                      <td class="cent">Pub</td>
                      <td class="cent"><a href="#"><i class="fa fa-edit"></i></a></td>
                      <td class="cent"><a href="#"><i class="fa fa-times dltred"></i></a></td>
                    </tr>

                    <tr style="height:23px;background-color:#ffffff;padding:2px;border-bottom:1px solid #bbbbbb;">
                      <td class="cent"><input type="checkbox" name="services" checked></td>
                      <td class="cent">6</td>
                      <td class="cent">Projects</td>
                      <td class="cent">My Projects</td>
                      <td class="cent">Pri</td>
                      <td class="cent"><a href="#"><i class="fa fa-edit"></i></a></td>
                      <td class="cent"><a href="#"><i class="fa fa-times dltred"></i></a></td>
                    </tr>

                  </table>

                </div>
              </div>
            </div>
            <div class="row"> 
              <div class="col-md-12"> 
                <div class="well well2">

                  <h3>Information <a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></h3>

                  <span class="pull-right"><a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></span>
                    <p>Phasellus at sagittis lectus. Vestibulum scelerisque libero eget efficitur venenatis. Etiam nunc magna, maximus vel vehicula eget, bibendum eu urna. Phasellus quis turpis id lacus mollis dictum. Ut dui elit, efficitur vel orci eu, elementum interdum erat. Cras at leo volutpat, commodo metus in, dictum justo. Cras id vulputate ex. Nullam et aliquet arcu, id elementum magna. Phasellus faucibus sapien at dolor ultrices pellentesque.</p>
                      
                  </div>
                </div>
              </div>
          </div>


<!-- ******* TAB3-1 *********************************** -->
          <div class="tab-pane fade" id="tab3-1" style="min-height:300px;">
          <h1>My Calendar</h1>
            <div class="row"> 
              <div class="col-md-12"> 
                <div class="well well2" style="border:1px solid #999999;padding:8px;">

                 <!--   TEMP COMMENTED OUT FOR TROUBLE SHOOTING 

                    <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=sj%40middleofnowhere.com&amp;color=%232952A3&amp;ctz=America%2FNew_York" style=" border-width:0 " width="100%" height="600" frameborder="0" scrolling="no"></iframe>
                  -->
                </div>
              </div>
            </div>
            <div class="row"> 
              <div class="col-md-12"> 
                <div class="well well2">

                  <h3>Information <a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></h3>

                  <span class="pull-right"><a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></span>
                    <p>Phasellus at sagittis lectus. Vestibulum scelerisque libero eget efficitur venenatis. Etiam nunc magna, maximus vel vehicula eget, bibendum eu urna. Phasellus quis turpis id lacus mollis dictum. Ut dui elit, efficitur vel orci eu, elementum interdum erat. Cras at leo volutpat, commodo metus in, dictum justo. Cras id vulputate ex. Nullam et aliquet arcu, id elementum magna. Phasellus faucibus sapien at dolor ultrices pellentesque.</p>
                      
                  </div>
                </div>
              </div>
          </div>

<!-- ******* TAB3-2 *********************************** -->
          <div class="tab-pane fade" id="tab3-2" style="min-height:300px;">
          <h1>My Map</h1>
            <div class="row"> 
              <div class="col-md-12"> 
                <div class="well well2 silver" style="border:1px solid #999999;padding:8px;">
                
                  <!--   TEMP COMMENTED OUT FOR TROUBLE SHOOTING   
                    <iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="padding:0px; background:#ffffff; border: 1px solid #999999; -webkit-border-radius:7px; -moz-border-radius:7px; -o-border-radius:7px; " src="https://www.google.com/maps?t=m&amp;sll=35.112417,-83.0978629&amp;sspn=0.0269616,0.0439464&amp;q=Cashiers,+NC&amp;ie=UTF8&amp;hq=&amp;hnear=Cashiers,+North+Carolina&amp;ll=35.111906,-83.099635&amp;spn=0.038826,0.09553&amp;z=14&amp;output=embed"></iframe>
                  --> 
                  
                </div>
              </div>
            </div>
            <div class="row"> 
              <div class="col-md-12"> 
                <div class="well well2">

                  <span class="pull-right"><a href="#">Edit&nbsp;<i class="fa fa-edit"></i></a></span>
                  <h3>Information <a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></h3>

                  <span class="pull-right"><a href="#" class="editor"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-times timer"></i></a></span>
                    <p>Phasellus at sagittis lectus. Vestibulum scelerisque libero eget efficitur venenatis. Etiam nunc magna, maximus vel vehicula eget, bibendum eu urna. Phasellus quis turpis id lacus mollis dictum. Ut dui elit, efficitur vel orci eu, elementum interdum erat. Cras at leo volutpat, commodo metus in, dictum justo. Cras id vulputate ex. Nullam et aliquet arcu, id elementum magna. Phasellus faucibus sapien at dolor ultrices pellentesque.</p>
                      
                  </div>
                </div>
              </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
