<!-- myhome -->
  <div ng-switch on="isAuthorized">
    <div ng-switch-when="support">
        <h1><span e-id='text_0000' e-name='text_0000' editable-text="tabSet.text_0000" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content" onaftersave="updateThis( key, 'text_0000', $data )">
           {{tabSet.text_0000 || 'enter page title' }}  </span>
        <button class="fa fa-pencil editPencil" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button></h1>
    </div>
    <div ng-switch-default>
       <h3>{{tabSet.text_0000}}</h3>
    </div>
  </div>
  <div   class="row"  > 
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div id="editArea" class="well well2"> 
       
        <div ng-switch on="isAuthorized">
                <div ng-switch-when="support" >  
                  <img ng-src="{{tabSet.imag_0000}}" class="photoPage" alt="" >
                  <!-- <input class="bottom-marg-15" type="file" name="file" file  onaftersave="updateThis( key, 'imag_0000', $data)"  ></input>  -->
                   <div  ng-controller="contentSetImgCtrl" >
                          <!-- <input type="file" fileread="fileNameUploaded" ></input> -->
                          watching model:
                          <div id="imag_0000" class="button" ngf-select ng-model="files" >Upload using model $watch</div>
                          <div class="button" ngf-select ngf-change="upload($files, key, 'imag_0000' )">Upload on file change</div>
                          Drop File:
                          <div ngf-drop ng-model="files" class="drop-box" 
                              ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
                              ngf-accept="'image/*,application/pdf'">Drop Images or PDFs files here</div>
                          <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                          
                          <!-- Image thumbnail: <img ngf-src="files[0]" ngf-default-src="'../../common/uploads/hereweare_f1fb06bb9835a13b2b2da6ffb39fbbe7.jpg'" ngf-accept="'image/*'"> -->
                          Audio preview: <audio controls ngf-src="files[0]" ngf-accept="'audio/*'"></audio>
                          Video preview: <video controls ngf-src="files[0]" ngf-accept="'video/*'"></video>
                      
                  </div> 
      
                 <!--  <span class="pull-right">                        
                    <a class="btn btn-primary rcs" ng-click="updateThis( key, 'imag_0000', 'fileNameUploaded' )" >Upload</a>
                  </span> -->
                </div>
                <div ng-switch-default>
                  <img ng-src="{{tabSet.imag_0000}}" class="photoPage" alt="" >
                </div>
            </div>   

        <!-- <img src="../../../common/images/homepage-photo3.jpg" class="homepage-photo" alt="" > -->
<!--        ng-click="updateThis( key, 'imag_0000', 'fileNameUploaded' )" -->


        <br />
        <div class="row" style="margin-top:20px;">
          <div class="col-md-8 col-sm-7 col-xs-12" >
              <div ng-switch on="isAuthorized">
                   <div ng-switch-when="support">
                      <h3><span e-id='text_0001' e-name='text_0001' editable-text="tabSet.text_0001" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content"  onaftersave="updateThis( key, 'text_0001' , $data )">
                            {{tabSet.text_0001 || 'Text Area Title' }}
                             </span>
                           <button class="fa fa-pencil editPencil" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button>
                      </h3>
                    </div>
                    <div ng-switch-default>  <h3>{{tabSet.text_0001}}</h3>  </div>
              </div>
              <div ng-switch on="isAuthorized">
                  <div ng-switch-when="support" class="pMin">
                      <span e-id='area_0000' e-name='area_0000' editable-textarea="tabSet.area_0000" e-rows="10" cols="50" e-form="textBtnForm" e-style="color: green" e-required e-placeholder="Enter content"  onaftersave="updateThis( key, 'area_0000', $data )">
                         <button class="fa fa-pencil editPencil pull-right" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"></button>
                          <pre>{{tabSet.area_0000 || 'empty' }}  </pre> </span>
                      
                   </div>   
                   <div ng-switch-default class="pMin">
                    <p>{{tabSet.area_0000}}</p>
                   </div>
              </div>
          </div>

          <div class="col-md-4 col-sm-5 col-xs-12"> 
            <div class="well">
              <div>
                  
                  <button class="btn btn-primary wide rcs" style="margin-bottom:10px;">Visit Our Website</button>
                  <button class="btn btn-primary wide rcs" style="margin-bottom:10px;">Send Us An Email</button>
                  
              </div>
              <div><h4><span >{{ profileItem.name}}</span></h4></div>

              <div><label>Address</label>&nbsp;&nbsp;&nbsp;<span >{{ profileItem.street}}</span></div>
              <div><label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><span >{{ profileItem.street2 || ''}}</span> </div>
              <div><label>City</label>&nbsp;&nbsp;&nbsp;<span >{{ profileItem.city}}</span></div>
              <div><label>State Zip</label>&nbsp;&nbsp;&nbsp;<span >{{ profileItem.state}}&nbsp;{{ profileItem.state}}</span></div>
              <div><label>Phone</label>&nbsp;&nbsp;&nbsp;<span >{{ profileItem.phone}}</span></div>
            
            </div> 
          </div>


        </div>
      </div>  
    </div>
  </div >
