<div ng-controller="MbrsiteAdminPageManagerCtrl"  >      
  <div class="col-md-12">  
    <div class="well well2 well3" id="tab1-9" style="min-height:300px;">
      <!-- <div class="tab-pane fade" id="tab1-9" style="min-height:300px;"> -->
      <h1>Page Manager</h1>
      <div class="row"> 
        <div class="col-md-12"> 
            <!--<div class="well well2">-->
            <div id="pageMgrAdd" class="collapse">
              <div class="row" style="margin-bottom:15px;"> 
                  <div class="col-md-12">
                      <a class="btn btn-primary btn-sm rcs pull-right" data-toggle="collapse" data-target="#pageMgrAdd">Close&nbsp;<i class="fa fa-times"></i></a>
                      <h4>Add New Page </h4>
                      <div class-"row">
                          <div class="col-md-6 col-sm-5 col-xs-12">
                              <div class="subSubR">Default New Page Status: Private/Off</div>
                              <div class="subSub">1. Select Page Template</div>
                              <br />
                              <ul style="list-style-type:none; margin-left:0px;">
                                <li style="display:inline-block;width:100px;margin-bottom:7px;"><input type="radio" name="layout"><img src="common/images/template1.png" class="rcs" alt="" /></li>
                                <li style="display:inline-block;width:100px;margin-bottom:7px;"><input type="radio" name="layout"><img src="common/images/template2.png" class="rcs" alt="" /></li>

                                <li style="display:inline-block;width:100px;margin-bottom:7px;"><input type="radio" name="layout"><img src="common/images/templateMap.png" class="rcs" alt="" /></li>

                                <li style="display:inline-block;width:100px;margin-bottom:7px;"><input type="radio" name="layout"><img src="common/images/templateCalendar.png" class="rcs" alt="" /></li>
                              </ul>
                          </div>

                          <div class="col-md-6 col-sm-7 col-xs-12">
                              <div class="subSub">2. Set Button Name and Page Name</div>
                              <div class="pad" style="margin-bottom:10px;margin-top:15px;"><input type="text" ng-model="usersEditItem.buttonName" >&nbsp;<label>New Button Name</label><br /></div>
                              <div class="pad" style="margin-bottom:20px;"><input type="text" ng-model="usersEditItem.pageTitle" >&nbsp;<label>New Page Title</label><br /></div>
                              <div class="pad">
                                  <button data-toggle="collapse" data-target="#pageMgrAdd" class="btn btn-success rcs" ng-click="save()" >Create New Page</button>
                                  <button data-toggle="collapse" data-target="#pageMgrAdd" class="btn btn-primary rcs" ng-click="cancel()" >Cancel</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>

            <div id="pageMgrHelp" class="collapse" style="margin-top:15px;">
              <div class="row"> 
                <div class="col-md-12"> 
                <div class="well">
                  <a class="btn btn-primary btn-sm rcs pull-right" data-toggle="collapse" data-target="#pageMgrHelp">Close&nbsp;<i class="fa fa-times"></i></a>
                <h4>Page Manager Help </h4>
                  <p>Cashiers, a beautiful village in western North Carolina known as "The Heart Of The Blue Ridge Mountains", is located in the southern end of Jackson County. Sitting at 3,487 feet in elevation at the crossroads of Highways 107 and 64, there is a little bit of everything here to enjoy for native families, visitors, and part-time residents alike. Our singularly unique geography boasts hundreds of waterfalls, quiet lakes, stone mountains and amazingly beautiful forests.</p>

                </div>
                </div>
              </div>
            </div>

            <div style="height:40px;">
              <span class="pull-right">
                <!--&nbsp;<a class="btn btn-primary btn-sm rcs pull-right" data-toggle="collapse" data-target="#pageMgrHelp">Help&nbsp;<i class="fa fa-question"></i></a>&nbsp;-->
                <a class="btn btn-primary btn-sm rcs pull-right" data-toggle="collapse" data-target="#pageMgrAdd">Add Page&nbsp;<i class="fa fa-plus"></i></a>&nbsp;
              </span>
            </div>


            <div class="row well well5" style="margin-bottom:5px;">

                <div class="col-md-4 col-sm-4 col-xs-12 pad bolder">
                    Page Name: Home Page
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 pad">
                    Button Name: Home
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 pad">
                    Template Name: Home
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 pad">
                    <span class="pull-left">Always On</span>
                </div>
               
                <div class="col-md-4 col-sm-4 col-xs-6 pad">               
                    Publish Status: Public
               </div>
                
                <div class="col-md-4 col-sm-4 col-xs-6 pad">
                  <span class="pull-right"><button class="btn btn-primary btn-sm rcs">Edit</button>
                  </span>
                </div>

            </div>


            <div class="row well well5" style="margin-bottom:5px;">

                <div class="col-md-4 col-sm-4 col-xs-12 pad bolder">
                    Page Name: My Page
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 pad">
                    Button Name: Home
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 pad">
                    Template Name: 2
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 pad">
                    <span class="pull-left"><input type="checkbox" name="services" checked > On</span>
                </div>
               
                <div class="col-md-4 col-sm-4 col-xs-6 pad">
                  <div class="dropdown">
                    <button class="btn btn-primary btn-sm rcs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        Select Publish Status
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Public</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Internal Only</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Private</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Inactive</a></li>
                    </ul>
                  </div>
               </div>
                
                <div class="col-md-4 col-sm-4 col-xs-6 pad">
                  <span class="pull-right"><button class="btn btn-primary btn-sm rcs">Edit</button>
                  <button class="btn btn-danger btn-sm rcs">Del</button></span>
                </div>

            </div>


            <div class="row well well5" style="margin-bottom:5px;">

                <div class="col-md-4 col-sm-4 col-xs-12 pad bolder">
                    Page Name: Fun Page
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 pad">
                    Button Name: Page 2
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 pad">
                    Template Name: 2
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 pad">
                    <span class="pull-left"><input type="checkbox" name="services" checked > On</span>
                </div>
               
                <div class="col-md-4 col-sm-4 col-xs-6 pad">
                  <div class="dropdown">
                    <button class="btn btn-primary btn-sm rcs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        Select Publish Status
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Public</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Internal Only</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Private</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Inactive</a></li>
                    </ul>
                  </div>
               </div>
                
                <div class="col-md-4 col-sm-4 col-xs-6 pad">
                  <span class="pull-right"><button class="btn btn-primary btn-sm rcs">Edit</button>
                  <button class="btn btn-danger btn-sm rcs">Del</button></span>
                </div>
            </div>
        </div>
      </div>  
    </div>
  </div>  
</div>
      